﻿@model InventoryMS.Models.ItemCategory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StageLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StageLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildernCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildernCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultFactoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultFactoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultCCId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultCCId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasureUnitList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureUnitList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityUnitList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityUnitList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultMUnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultMUnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultQUnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultQUnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPurchaseable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPurchaseable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSaleable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSaleable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFixedAsset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFixedAsset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConsumable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConsumable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStockable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStockable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeAccId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeAccId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseAccId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseAccId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockInputAccId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockInputAccId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockOutputAccId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockOutputAccId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockValAccId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockValAccId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockJournalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockJournalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
