﻿@model InventoryMS.Models.ItemCategory

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>ItemCategory Details</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Index")" class="btn btn-success btn-icon glyphicons list"><i></i>View List</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons"></h4>
        </div>
        <div class="widget-body">
            <div class="details-info details-info-striped">
				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CategoryCode) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CategoryCode)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CategoryName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CategoryName)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ParentId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ParentId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ParentCode) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ParentCode)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.StageLevel) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.StageLevel)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ChildernCount) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ChildernCount)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.DefaultFactoryId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.DefaultFactoryId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.DefaultCCId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.DefaultCCId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.MeasureUnitList) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.MeasureUnitList)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.QuantityUnitList) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.QuantityUnitList)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.DefaultMUnitId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.DefaultMUnitId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.DefaultQUnitId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.DefaultQUnitId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsPurchaseable) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsPurchaseable)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsSaleable) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsSaleable)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsExpense) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsExpense)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsFixedAsset) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsFixedAsset)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsConsumable) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsConsumable)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsStockable) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsStockable)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IncomeAccId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IncomeAccId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ExpenseAccId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ExpenseAccId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.StockInputAccId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.StockInputAccId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.StockOutputAccId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.StockOutputAccId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.StockValAccId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.StockValAccId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.StockJournalId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.StockJournalId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsActive) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsActive)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RankId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RankId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.UpdatedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.UpdatedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.UpdateTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.UpdateTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.PCName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.PCName)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IPAddress) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IPAddress)
						</span>
					</div>
				</div>

			</div>
        </div>
    </div>
    <br />
</div>


    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
