﻿@model InventoryMS.Models.Category

@{
    ViewBag.Title = Html.DisplayNameForModel();
}
<section class="content-header">
    <h1>
        New :: Category
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Category</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Category List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            <ul id="yw5" class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Create")">New Category</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CategoryId })">View Category</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.CategoryId)

                            @Html.EditorFor(model => model.CategoryName, "StringH")

                            <div class="form-group">
                                @Html.LabelFor(model => model.ParentId, "Parent Category", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("ParentId", null, string.Empty, new { @class = "form-control mcselect", @style = "width: 100%;" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Prefix, "StringH")

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.DefaultFactoryId, "Default Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultFactoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>*@

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.DefaultCCId, "Default Cost Center", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultCCId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "CollTypeChange(this.value)" })
                                </div>
                            </div>*@

                            @Html.Action("UnitList", new { id = 0, MUnitList = Model.MUnitList, QUnitList = Model.QUnitList })

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.DefaultMUnitId, "Default Measure Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultMUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultQUnitId, "Default Qty Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultQUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Activity)

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-11">
                                @Html.Action("FactoryWiseVariant")
                                @*@if (Model == null || Model.FactoryList == null || Model.FactoryList.Count == 0)
                                    {
                                        @Html.Action("FactoryWiseVariant", new { id = 0, SFactory = new string[] { }, SVariant = new string[] { } })
                                    }
                                    else if (Model != null && Model.FactoryList != null)
                                    {
                                        for (int rIndex = 0; rIndex < Model.FactoryList.Count; rIndex++)
                                        {
                                            string[] SVariant = new string[] { };
                                            if (Model.VariantList != null && Model.VariantList.Count != 0 && Model.VariantList.ToList()[rIndex] != null)
                                            {
                                                SVariant = Model.VariantList.ToList()[rIndex];
                                            }
                                            @Html.Action("FactoryWiseVariant", new { id = rIndex, SFactory = Model.FactoryList.ToList()[rIndex], SVariant = SVariant });
                                        }
                                    }*@
                            </div>
                            <div class="col-md-offset-0 col-md-1" style="padding-left: 0px; margin-left: -4px;">
                                <input type="button" id="btnAdd" class="btn btn-success" style='padding: 15.5px 10px;' value="Add" />
                            </div>

                            <table id="tblCWFV" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            SL #
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            FID List
                                        </th>
                                        <th style="text-align: center;">
                                            Factory List
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            VID List
                                        </th>
                                        <th style="text-align: center;">
                                            Variant List
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.factoryVariant == null || Model.factoryVariant.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="6"></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        for (int rIndex = 0; rIndex < Model.factoryVariant.Count; rIndex++)
                                        {
                                            <tr>
                                                <td style="text-align: center;">@((rIndex + 1).ToString("000"))</td>
                                                <td style="text-align: center; display: none;">@Model.factoryVariant.ToList()[rIndex].FIDs</td>
                                                <td>@Model.factoryVariant.ToList()[rIndex].SFactory</td>
                                                <td style="text-align: center; display: none;">@Model.factoryVariant.ToList()[rIndex].VIDs</td>
                                                <td>@Model.factoryVariant.ToList()[rIndex].SVariant</td>
                                                <td style="text-align: center;">
                                                    @if (InventoryMS.Models.clsMain.IsPermitted("Category", "Edit"))
                                                    {
                                                        <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    }
                                                    @if (InventoryMS.Models.clsMain.IsPermitted("Category", "Delete"))
                                                    {
                                                        <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="6"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div id="FV"></div>
                            <div id="TS"><input type="hidden" id="tableContent" name="tableContent" value="" /></div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="button" id="btnSave" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('select.mcselect').select2({
            placeholder: "Select or Type . . .",
            dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-4 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-4 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                '<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                          '</div>';
                var $result = $(row);
                return $result;
            },
            templateSelection: function (data) {
                var r = data.text.split(' >> ');
                var $result = r[0];
                return $result;
            }
        });

        $(".mselect").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);

            if ($(this).find(":selected").length > 1) {
                var $second = $(this).find(":selected").eq(-1);
                $second.after($element);
            } else {
                $element.detach();
                $(this).prepend($element);
            }

            $(this).trigger("change");
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        $("#btnAdd").click(function () {
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblCWFV>tbody>tr').length;
            }

            if ($('#FactoryList_0').val().length == 0) {
                alert("Factory have to select.");
                return false;
            }
            if ($('#VariantList_0').val().length == 0) {
                alert("Variant have to select.");
                return false;
            }

            $.ajax({
                url: "@Url.Action("RowTemplate")?id=" + rn + "&FIDs=" + $("#FactoryList_0").val() +
                    "&SFactory=" + $("#FactoryList_0 option:selected").map(function () { return $(this).text(); }).get().join(', ') +
                    "&VIDs=" + $("#VariantList_0").val() +
                    "&SVariant=" + $("#VariantList_0 option:selected").map(function () { return $(this).text(); }).get().join(', '),
                success: function (data) {
                    if (isEdit) {
                        $('#tblCWFV tr:eq(' + rn + ')').after(data);
                        $('#tblCWFV tr:eq(' + rn + ')').remove();
                    }
                    else {
                        $('#tblCWFV tr:last').before(data);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#btnAdd').removeClass('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            var fid = $('#tblCWFV tr:eq(' + rn + ') td:eq(1)').html();
            var vlist = $('#tblCWFV tr:eq(' + rn + ') td:eq(3)').html();
            var vslist = vlist.toString().replace(/\ /g, '').split(',', 15);

            for (var i = 0; i < vslist.length; i++) {
                $('#VariantList_0 option[value=' + vslist[i] + ']').insertBefore($('#VariantList_0 option:eq(' + i + ')'));
            }
            //alert(vlist.toString().replace(/\ /g, '').split(',', 15));

            $('#FactoryList_0').val(fid).trigger("change");
            $('#VariantList_0').val(vlist.toString().replace(/\ /g, '').split(',', 15)).trigger("change");
            
            $('#btnAdd').addClass('change');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblCWFV tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblCWFV tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });
        };

        //$('#frm').submit(function () {
        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var FactoryVariant = [];

            var tbl = $('table#tblCWFV').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length == 6) {
                    var arrayOfThisRow = { SLNo: FactoryVariant.length + 1, FIDs: tableData[1], SFactory: tableData[2], VIDs: tableData[3], SVariant: tableData[4] };
                    //alert(arrayOfThisRow);
                    FactoryVariant.push(arrayOfThisRow);
                }
            }).get();

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("FactoryVariantDetails")',
                data: JSON.stringify(FactoryVariant),
                success: function (msg) {
                    $('#FV').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    $('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    return false;
                }
            });
        });
    </script>
}

@section CSS {

}