﻿<div class="form-group">
    @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.DropDownList("FactoryList", null, string.Empty, new { @Name = "FactoryList[" + "0" + "]", @Id = "FactoryList_" + "0" + "", @class = "form-control select", @style = "width: 100%;" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Variant", new { @class = "col-common col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.DropDownList("VariantList", null, string.Empty, new { @Name = "VariantList[" + "0" + "]", @Id = "VariantList_" + "0" + "", @class = "form-control select mselect", @multiple = "multiple", @style = "width: 100%;" })
    </div>
</div>
