﻿@model string[]

<tr>
    <td style="text-align: center;">@int.Parse(Model[0].Trim()).ToString("000")</td>
    <td style="display: none;">@Model[1]</td>
    <td>@Model[2]</td>
    <td style="display: none;">@Model[3]</td>
    <td>@Model[4]</td>
    <td style="text-align: center;">
        @if (InventoryMS.Models.clsMain.IsPermitted("Category", "Edit"))
        {
            <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil edit"></i></a>
        }
        else
        {
            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
        }
        @if (InventoryMS.Models.clsMain.IsPermitted("Category", "Delete"))
        {
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        }
        else
        {
            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
        }
    </td>
</tr>

