﻿@model short?
@*<div class="form-group">
    @Html.Label("Measure Unit", new { @class = "col-common col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.DropDownList("MUList", null, string.Empty, new { @Name = "MUnitList", @class = "form-control select mselect", @multiple = "multiple", @style = "width: 100%;" })
    </div>
</div>*@

<div class="form-group">
    @Html.Label("Quantity Unit", new { @class = "col-common col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.DropDownList("QUList", null, string.Empty, new { @Name = "QUnitList", @class = "form-control select mselect", @multiple = "multiple", @style = "width: 100%;" })
    </div>
</div>
