﻿@model InventoryMS.Models.PIView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: PI
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> PI</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">PI List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-5">
                            @Html.HiddenFor(model => model.PIFileId)

                            @Html.HiddenFor(model => model.PIFileNo)

                            @Html.EditorFor(model => model.PINo)

                            @Html.EditorFor(model => model.PIDate)

                            @*@Html.EditorFor(model => model.ApprovalRef)*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.BeneficiaryId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getQAList(this.value)" })

                                    @Html.ValidationMessage("BeneficiaryId", null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.LocationId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierId, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getQAList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.SupplierId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LocalAgentId, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.LocalAgentId, (SelectList)ViewBag.LocalAgent, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.LocalAgentId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OriginCountryId, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.OriginCountryId, (SelectList)ViewBag.OriginCountry, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.OriginCountryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.POLId, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.POLId, (SelectList)ViewBag.POL, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.POLId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.LeadTime)

                            @Html.EditorFor(model => model.RequisitionDate)
                        </div>

                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PIReceiveDateFromSourcing, "Forward To Finance", new { @class = "col-common col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.PIReceiveDateFromSourcing, "DateTimeWOL", new { @Value = ((DateTime)ViewBag.CurrentDate).ToString("dd-MMM-yyyy"), @readonly = "readonly" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.ShipmentDate)

                            <div class="form-group">
                               @Html.LabelFor(model => model.ETS, "ETS", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.ETS, "DateTimeWOL")
                                </div>
                               @Html.LabelFor(model => model.ETP, "ETP", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.ETP, "DateTimeWOL")
                                </div>
                            </div>

                            @Html.EditorFor(model => model.ExpireDate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Tenure, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.Tenure, "Int16WOL", new { @class = "tsd" })

                                    @Html.ValidationMessageFor(model => model.PaymentTerms, null, new { @class = "control-label" })
                                </div>
                                @Html.LabelFor(model => model.PaymentTerms, new { @class = "col-common col-sm-2 control-label" }, true)
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.PaymentTerms, (SelectList)ViewBag.TenureTerms, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.PaymentTerms, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PIAmount, new { @class = "col-common col-sm-3 control-label" }, true)

                                <div class="col-sm-6">
                                    <div class="form-group" style="margin-bottom: 0px !important;">
                                        <div class="col-sm-3" style="padding-left: 15px; padding-right: 1px;">
                                            @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.CurrencyType, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "true" })
                                        </div>
                                        <div class="col-sm-4" style="padding-left: 0px; padding-right: 0px; text-align: right;">
                                            @Html.EditorFor(model => model.PIAmount, "DecimalWOL", new { @class = "piamt" })
                                        </div>
                                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 3px; text-align: right;">
                                            @Html.Label("", "@", new { @class = "col-common control-label" })
                                        </div>                                        
                                        <div class="col-sm-3" style="padding-left: 0px; padding-right: 5px; text-align: right;">
                                            @Html.EditorFor(model => model.BDTRate, "DecimalWOL", new { @class = "piamt" })
                                        </div>
                                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 5px; text-align: right;">
                                            @Html.Label("", "BDT", new { @class = "col-common control-label" })
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.AmountInBDT, "DecimalWOL", new { @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AmountInUSD, new { @class = "col-common col-sm-3 control-label" }, true)

                                <div class="col-sm-6">
                                    <div class="form-group" style="margin-bottom: 0px !important;">
                                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 3px; text-align: right;">
                                            @Html.Label("", "@", new { @class = "col-common control-label" })
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 0px; padding-right: 5px; text-align: right;">
                                            @Html.EditorFor(model => model.USDRate, "DecimalWOL", new { @class = "piamt" })
                                        </div>
                                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 5px; text-align: right;">
                                            @Html.Label("", "USD", new { @class = "col-common control-label" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.AmountInUSD, "DecimalWOL", new { @readonly = "readonly" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Remarks, new { rows = 3 })

                            <input type="hidden" id="e7" name="e7" value="" class="span12" />
                        </div>

                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Product Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.Label("", "Q Approval Ref.", new { @class = "col-common col-sm-2 control-label" })
                                            <div id="divQA" class="col-sm-10">
                                                @Html.DropDownList("QAList", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;", @onchange = "getDetails(this.value)" })

                                                @Html.ValidationMessage("QAList", null, new { @class = "control-label" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2500px;">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        SL #
                                                    </th>
                                                    <th>
                                                        Req No
                                                    </th>
                                                    <th>
                                                        Req Date
                                                    </th>
                                                    <th>
                                                        Product
                                                    </th>
                                                    <th>
                                                        Cur. Stock
                                                    </th>
                                                    <th>
                                                        Pipeline
                                                    </th>
                                                    <th>
                                                        Pend Req
                                                    </th>
                                                    <th>
                                                        Total Stock
                                                    </th>
                                                    <th>
                                                        Avg Consm/Day
                                                    </th>
                                                    <th>
                                                        Days With T S
                                                    </th>
                                                    <th>
                                                        Hist. Period
                                                    </th>
                                                    <th>
                                                        Hist. Consm
                                                    </th>
                                                    <th>
                                                        L3M Avg Csm LY
                                                    </th>
                                                    <th>
                                                        L3M Avg Csm CY
                                                    </th>
                                                    <th style="display: none;">
                                                        Supplier Id
                                                    </th>
                                                    <th style="display: none;">
                                                        Supplier
                                                    </th>
                                                    <th style="display: none;">
                                                        Brand Id
                                                    </th>
                                                    <th>
                                                        Brand
                                                    </th>
                                                    <th>
                                                        L T E O
                                                    </th>
                                                    <th>
                                                        Lead Time
                                                    </th>
                                                    <th>
                                                        Ft. ETA
                                                    </th>
                                                    <th style="display: none;">
                                                        Quotation ID
                                                    </th>
                                                    <th style="display: none;">
                                                        PR Sub ID
                                                    </th>
                                                    <th style="display: none;">
                                                        PO Sub ID
                                                    </th>
                                                    <th style="display: none;">
                                                        Category Id
                                                    </th>
                                                    <th style="display: none;">
                                                        Product Id
                                                    </th>
                                                    <th style="text-align: center;">
                                                        Req. Qty
                                                    </th>
                                                    <th style="display: none;">
                                                        Unit Id
                                                    </th>
                                                    <th style="text-align: center;">
                                                        R App Qty
                                                    </th>
                                                    <th style="text-align: center;">
                                                        PI Qty
                                                    </th>
                                                    <th style="text-align: center;">
                                                        Unit
                                                    </th>
                                                    <th style="display: none;">
                                                        App. Q S ID
                                                    </th>
                                                    <th style="text-align: center;">
                                                        Price/Unit
                                                    </th>
                                                    <th style="text-align: center;">
                                                        Amount
                                                    </th>
                                                    <th style="text-align: center;">

                                                    </th>
                                                    <th style="display: none;">
                                                        P S ID
                                                    </th>
                                                    <th style="display: none;">
                                                        L S ID
                                                    </th>
                                                    <th style="display: none;">
                                                        PL S ID
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                @*@Html.Action("RowTemplate", new { id = 0, type = "PA" })*@
                                            </tbody>
                                        </table>

                                        <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 3px !important;">
                                            <thead>
                                                <tr>
                                                    <th style="height: 5px;">

                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: right; width: 90%; border-top:none !important;">
                                                        Total Qty :
                                                    </td>
                                                    <td style="text-align: right; font-weight: bolder; border-top:none !important;">
                                                        <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: right; width: 90%; border-top:none !important;">
                                                        Total Amount :
                                                    </td>
                                                    <td style="text-align: right; font-weight: bolder; border-top:none !important;">
                                                        <span id="totalamt" style="border-bottom: double; text-align: right;">0.00</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="POSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                <label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        var table, editor; toTable();

        function toTable() {
            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    scrollX: "2500px",
                    //scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false,
                    columnDefs: [
                        { className: "dt-center", targets: "_all" },
                        { width: 35, targets: 0 },
                        { width: 120, targets: 1 },
                        { width: 70, targets: 2 },
                        { width: 200, targets: 3 },
                        { width: 80, targets: 4 },
                        { width: 80, targets: 5 },
                        { width: 80, targets: 6 },
                        { width: 80, targets: 7 },
                        { width: 80, targets: 8 },
                        { width: 80, targets: 9 },
                        { width: 160, targets: 10 },
                        { width: 80, targets: 11 },
                        { width: 100, targets: 12 },
                        { width: 100, targets: 13 },
                        //{ width: 100, targets: 14 },
                        //{ width: 120, targets: 15 },
                        //{ width: 100, targets: 16 },
                        { width: 100, targets: 17 },
                        { width: 60, targets: 18 },
                        { width: 70, targets: 19 },
                        { width: 80, targets: 20 },
                        { width: 60, targets: 26 },
                        { width: 60, targets: 28 },
                        { width: 60, targets: 29 },
                        { width: 50, targets: 30 },
                        { width: 60, targets: 32 },
                        { width: 75, targets: 33 },
                        { width: 25, targets: 34 }
                    ]//,
                    //fixedColumns: true
                }
            );
            new $.fn.dataTable.FixedColumns(table, {
                leftColumns: 0,
                rightColumns: 10,
                //fnDrawCallback:function(){
                //    clone_grid_init();
                //}
            });
        }
        $('#tblSum').DataTable({
            destroy: true,
            scrollCollapse: false,
            paging: false,
            filter: false,
            info: false,
            ordering: false,
            //columnDefs: [
            //    { width: 35, targets: 0 },
            //    { width: 120, targets: 1 },
            //    { width: 70, targets: 2 }
            //]
        });

        $('.piamt').change(function () {
            ////alert('a');
            ////if (isNaN(eval($(this).val()))) $(this).val(0);
            //var tamt = eval($('#PIAmount').val().replace(/\,/g, '')) * eval($('#USDRate').val().replace(/\,/g, ''));
            ////var tlcamt = eval($('#PIFileAmount').val().replace(/\,/g, '')) * eval($('#PISubs_' + n + '__BookingQuantity').val().replace(/\,/g, ''));
            ////alert(tamt);
            //if (isNaN(tamt)) {
            //    tamt = "0.00";
            //};

            //$('#AmountInBDT').val((new Number(tamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            var num = new Number(eval($('#USDRate').val().replace(/\,/g, '')) * eval($('#PIAmount').val().replace(/\,/g, '')));
            $('#AmountInUSD').val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            num = new Number(eval($('#BDTRate').val().replace(/\,/g, '')) * eval($('#PIAmount').val().replace(/\,/g, '')));
            $('#AmountInBDT').val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        function getQAList(e) {
            if ($('#BeneficiaryId').val() == '' || $('#SupplierId').val() == '')
                return;

            //alert(e);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PendingRequsition")",
                data: JSON.stringify({ id: $('#BeneficiaryId').val(), supid: $('#SupplierId').val() }),
                success: function (data) {
                    $('#divQA').html(data);

                    $('#divQA select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    //$('#PONo').html($('#pno').val());
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getDetails(e) {
            //alert(JSON.stringify({ id: $('#QAList').val(), supid: $('#SupplierId').val() }));
            if ($('#QAList').val() == '' || $('#QAList').val() == null)
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify({ id: $('#QAList').val(), supid: $('#SupplierId').val() }),
                success: function (data) {

                    table.destroy();
                    //alert(data);
                    $('#tbody').html(data);

                    $('#totalamt').html($('#TAmt').val());
                    $('#totalqty').html($('#TQty').val());
                    $('#CurrencyId').val($('#CCode').val()).trigger("change");
                    $("#CurrencyId").prop("disabled", true);

                    toTable();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function setQty(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    //error = true;
                    //alert($(this).closest('tr').html());
                    //if (eval($(t).parent().children(0).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                        var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");

                        table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                        var up = eval($('#up' + $(t).attr('id')).html().replace(/\,/g, ''));
                        //var pamt = eval($(t).parent().children(5).html().replace(/\,/g, ''));
                        var amt = up * eval(newContent.replace(/\,/g, ''));
                        table.cell($('#amt' + $(t).attr('id'))).data(amt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();

                        var tAmt = 0.00, tQty = 0;
                        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                            var tableData = this.data();

                            tQty += eval(tableData[29].replace(/\,/g, ''));
                            tAmt += eval(tableData[33].replace(/\,/g, ''));
                        });

                        $('#totalamt').html(tAmt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#totalqty').html(tQty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    //}
                    //else {
                    //    error = true;
                    //    alert('Invalid quantity.');
                    //    e.preventDefault();
                    //}
                }
                else {
                    return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;
            table.destroy();

            $('#tblSub>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#tblSub>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            toTable();

            var tAmt = 0.00, tQty = 0;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                tQty += eval(tableData[29].replace(/\,/g, ''));
                tAmt += eval(tableData[33].replace(/\,/g, ''));
            });

            $('#totalamt').html(tAmt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $('#totalqty').html(tQty.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        $('#btnSave').click(function () {
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            if (eval($('#PIAmount').val().replace(/\,/g, '')) != eval($('#totalamt').html().replace(/\,/g, ''))) {
                alert('PI amount and total amount is not same.');
                //alert(eval($('#PIFileAmount').val()) + ' # ' + eval($('#totalamt').html()));
                return;
            };

            var isValid = true;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (Date.parse(tableData[2]) > Date.parse($('#PIDate').val())) {
                    isValid = false;
                }
            });

            let diff = new Date(new Date($('#ETP').val()) - new Date($('#PIDate').val()));
            let days = Math.ceil(diff / 1000 / 60 / 60 / 24);

            //if (days > 40) {
            //    alert('ETP can\'t be more than 40 days later from PI date.');
            //    $('#ETP').focus();
            //    return;
            //}

            diff = new Date(new Date($('#ETS').val()) - new Date($('#ETP').val()));
            days = Math.ceil(diff / 1000 / 60 / 60 / 24);

            //if (days > 10) {
            //    alert('ETS can\'t be more than 10 days later from ETP.');
            //    $('#ETS').focus();
            //    return;
            //}

            if (!isValid) {
                alert('PI date can\'t be before requisition date.');
                $('#PIDate').focus();
                return;
            }
            //alert('Ok');
            //return;

            //alert(table.rows().data().length);
            var isValid = true, ctl;
            $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
                if ($(this).val() == '') {
                    //alert($(this).attr('data-val-required'));
                    if (ctl == null)
                        ctl = $(this);
                    $(this).closest('.form-group').addClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                    $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                    $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                    //return;

                    isValid = false;
                }
            });

            if (!isValid) {
                ctl.focus();
                return;
            }

            //return;
            if ($('#QAList').val() == '' || $('#QAList').val() == null) {
                alert('Select approval no.');
                return;
            }
            else if (table.rows().data().length <= 0) {
                alert('No details information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var qasub = [], rn = 0, pimain = {
                    PINo: $('#PINo').val(), PIDate: $('#PIDate').val(), BeneficiaryId: $('#BeneficiaryId').val(), LocationId: $('#LocationId').val(),
                    SupplierId: $('#SupplierId').val(), LocalAgentId: $('#LocalAgentId').val(), OriginCountryId: $('#OriginCountryId').val(), POLId: $('#POLId').val(),
                    ETD: $('#ETD').val(), ETA: $('#ETA').val(), ShipmentDate: $('#ShipmentDate').val(), ExpireDate: $('#ExpireDate').val(), Tenure: $('#Tenure').val(),
                    PaymentTerms: $('#PaymentTerms').val(), LeadTime: $('#LeadTime').val(), PIReceiveDateFromSourcing: $('#PIReceiveDateFromSourcing').val(),
                    PIAmount: $('#PIAmount').val().replace(/\,/g, ''), CurrencyId: $('#CurrencyId').val(), CurrencyType: $('#CurrencyId').select2("data")[0].text,
                    USDRate: $('#USDRate').val(), BDTRate: $('#BDTRate').val(), AmountInBDT: $('#AmountInBDT').val().replace(/\,/g, ''),
                    ApprovalRef: $('#QAList').select2("data")[0].text, Remarks: $('#Remarks').val(), ETP: $('#ETP').val(), ETS: $('#ETS').val()
                };
            
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 33) {
                    var arrayOfThisRow = {
                        PApprovalSubId: tableData[31], QApprovalSubId: tableData[25], PRSubId: tableData[22], POSubId: tableData[23], 
                        CurrentStock: tableData[4], StockInTransit: tableData[5], TotalStockArrangement: tableData[7], PDRequirement: tableData[8],
                        TotalStockForDay: tableData[9], QuantityUnitId: tableData[27], PIQuantity: tableData[29].replace(/\,/g, ''),
                        UnitPrice: tableData[32].replace(/\,/g, ''), Amount: tableData[33].replace(/\,/g, ''), USDRate: 0, AmountInUSD: 0,
                        IsCapex: 0, RowNo: rn++
                    };
                    //alert(arrayOfThisRow);
                    qasub.push(arrayOfThisRow);
                }
            });

            //alert(JSON.stringify({ poSub: prList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ piview: pimain, pisub: qasub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html("PI save successful.");
                        $('#vtext').html("PI #");
                        $('#vno').html(msg.pino);

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}

