﻿@model LCManagement.Models.PIMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>PI Forward To Bank</h3>
    <div class="btn-group btn-block pull-right" style="max-width: 200px; padding-right:15px;">
        <div class="btn-group btn-block">
            <div class="leadcontainer">
                <a href="@Url.Action("PIInHand")" class="btn dropdown-lead btn-success btn-icon glyphicons list"><i></i>View List</a>
            </div>
            <span class="btn btn-success dropdown-toggle"><span class="caret"></span> </span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    <div class="innerLR">
        <div align="center" class="widget" style="margin-top: -1px; min-height:80%;">
            <!-- Widget heading -->
            <div class="widget-head">
                <h4 class="heading"><i></i>PI # @Model.PINo</h4>
            </div>
            <!-- // Widget heading END -->

            <div class="widget-body" style="text-align: left;">
                @Html.ValidationSummary(true)
                <div class="row-fluid" style="width: 50%">
                    <div class="span12">
                        @Html.HiddenFor(model => model.PIFileId, new { @Id = "id" })

                        @Html.EditorFor(model => model.ForwardToBankDate)

                        <div class="row-fluid">
                            @Html.Label("", "Bank", new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("ForwardBankId", null, string.Empty, new { @class = "select span12", onchange = "bankchange()" })

                                @Html.ValidationMessageFor(model => model.ForwardBankId, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="row-fluid">
                            @Html.Label("", "Branch", new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("ForwardBranchId", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.ForwardBranchId, null, new { @class = "help-block" })
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span3" style="float:right;">
                                <input type="submit" value="Forward" class="btn btn-block btn-success span12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }
    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('select.selectwos').select2({
        placeholder: "Select . . .",
        minimumResultsForSearch: -1
    });
    function bankchange() {
        //alert($("#ForwardBankId").val());
        $.ajax({
            url: "@Url.Action("BranchList", "LC")?bankid=" + $("#ForwardBankId").val(),
            success: function (data) {
                $("#ForwardBranchId").html(data);
                $('#ForwardBranchId').select2({
                    placeholder: "Select or Type . . ."
                });
            }
        });
    };

    if ($('.datepicker').length) $('.datepicker').datepicker({ showOtherMonths: true, dateFormat: "yy-mm-dd" });

    $('#frm').submit(function () {
        if ($('#ForwardToBankDate').val().length != 10) {
            alert('Invalid forward date.');
            return false;
        }
        else if ($('#ForwardBankId').val() == null || $('#ForwardBankId').val() == 0) {
            alert('Select forward bank.');
            return false;
        }
        else if ($('#ForwardBranchId').val() == null || $('#ForwardBranchId').val() == 0) {
            alert('Select forward branch.');
            return false;
        }
        else{
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });
            return true;
        }
            });
        
    </script>
}

@section CSS {

}
