﻿@model LCManagement.Models.PISub

@*<div class="innerLR">
    <div align="center" class="widget" style="margin-top: -1px; min-height:80%;">
        <div class="widget-body">
            @Html.ValidationSummary(true)

			<div class="span6">*@
				@Html.HiddenFor(model => model.PIFileId)
                @Html.HiddenFor(model => model.PIFileSubId)
				
				<div class="row-fluid">
					@Html.LabelFor(model => model.FactoryId, new { @class = "span3 lb-rg-md" })
					<div class="span9 lb-lt">
						@Html.DropDownList("FactoryId", null, string.Empty, new { @class = "select span12" })
							
						@Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "help-block" })
					</div>
				</div>

                @Html.EditorFor(model => model.ProductId, new { @class = "lb-lt-md" })

				@*<div class="row-fluid">
					@Html.LabelFor(model => model.ProductId, new { @class = "span3 lb-rg-md" })
					<div class="span9 lb-lt">
						@Html.DropDownList("ProductId", null, string.Empty, new { @class = "select span12" })
							
						@Html.ValidationMessageFor(model => model.ProductId, null, new { @class = "help-block" })
					</div>
				</div>*@

				@Html.EditorFor(model => model.CurrentStock, "Quantity", new { @class = "stock" })

				@Html.EditorFor(model => model.StockInTransit, "Quantity", new { @class = "stock" })

                @Html.EditorFor(model => model.TotalStockArrangement, "Quantity", new { @class = "tsa stock", @readonly = "readonly", @labelcaption = "Total Stock Arr." })

				@Html.EditorFor(model => model.PDRequirement, "Quantity", new { @class = "pdr stock", @labelcaption = "Per Day Req." })

				@Html.EditorFor(model => model.TotalStockForDay, "Quantity", new { @class = "tsfd stock", @readonly = "readonly" })
                    
				@Html.EditorFor(model => model.BookingQuantity, "Quantity2D")

                <div class="row-fluid">
					@Html.LabelFor(model => model.QuantityUnitId, new { @class = "span3 lb-rg-md" })
					<div class="span9 lb-lt">
						@Html.DropDownList("QuantityUnitId", null, string.Empty, new { @class = "select span12" })
							
						@Html.ValidationMessageFor(model => model.QuantityUnitId, null, new { @class = "help-block" })
					</div>
				</div>

                @Html.EditorFor(model => model.UnitPrice, "UnitPrice", new { NoCurrencyCode = "Y" })

                @Html.EditorFor(model => model.Amount, new { NoCurrencyCode = "Y" })

                @Html.EditorFor(model => model.Capex)

				@Html.HiddenFor(model => model.RowNo)

			@*</div>
        </div>
    </div>
</div>*@

