﻿@model InventoryMS.Models.ItemView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Item Details
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Item</li>
    </ol>
</section>

<section class="invoice" style="margin: 10px 14px;">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                @*<i class="fa fa-"></i> *@Code # <b>@Model.ItemCode</b>
                <small class="pull-right"></small>
            </h2>
        </div><!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-md-6">
            <b>Code :</b> @Html.DisplayFor(model => model.ItemCode)<br>
            <b>Systemic Name :</b> @Html.DisplayFor(model => model.SystemName)<br>
            <b>Category :</b> @Html.DisplayFor(model => model.CategoryName)<br>
            <b>Factory :</b> @ViewBag.factory
        </div>

        <div class="col-md-6">
            <b>Short Name :</b> @Html.DisplayFor(model => model.ShortName)<br>
            <b>Item Name :</b> @Html.DisplayFor(model => model.ItemName)<br>
            <b>Bond Name :</b> @Html.DisplayFor(model => model.BondName)<br>
            <b>HS Code :</b> @Html.DisplayFor(model => model.HSCode)<br>
            <b>Quantity Unit :</b> @Html.DisplayFor(model => model.QuantityUnitList)<br>
            @*<b>Active Status :</b> @Model.IsActive ? "ACTIVE" : "INACTIVE"*@
        </div>
    </div><!-- /.row -->
</section>

@section Scripts {
    <script>
    </script>
}

@section CSS {
}