﻿@model InventoryMS.Models.ItemView
@using InventoryMS.Models

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		Edit :: Item
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Item</a></li>
        <li class="active">Edit</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Item List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
								<ul id="yw5" class="dropdown-menu">
									<li>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Create"))
                                        {
                                            <a tabindex="-1" href="@Url.Action("Create")">New Item</a>
                                        }
                                        else
                                        {
                                            <a tabindex="-1" onclick="alert('You are not authorized');">Create Item</a>
                                        }
                                        
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.ItemId })">View Item</a>
                                    </li>
                                    <li>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Delete"))
                                        { 
                                            <a tabindex="-1" href="@Url.Action("Delete", new { id = Model.ItemId })">Delete Item</a>
                                        }
                                        else
                                        {
                                            <a tabindex="-1" onclick="alert('You are not authorized');">Delete ItemInfo</a>
                                        }
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.ItemId)

                            @Html.EditorFor(model => model.SystemName, new { @readonly = "readonly" })

                            <div class="form-group">
                                @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("FList", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, string.Empty, new { @class = "form-control mcselect", @style = "width: 100%;", @onchange = "VariantList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultFactoryId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultFactoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "VariantList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.DefaultFactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="divVD">
                                @Html.Action("VariantListInit", new { itemVariant = Model.itemVariant })
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ItemName)

                            @Html.EditorFor(model => model.ShortName)

                            @Html.EditorFor(model => model.BondName)

                            @Html.EditorFor(model => model.HSCode)

                            <div class="form-group">
                                @Html.LabelFor(model => model.QuantityUnitList, "Quantity Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("QuantityUnitId", (SelectList)ViewBag.QUnitId, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.Label("KG/Unit", new { @class = "col-common col-sm-3 control-label" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.Editor("KGPerUnit", "DecimalWOL")
                                </div>
                                <div class="col-sm-1" style="padding-left: 0px;">
                                    <input id="btnAdd" type="button" style="padding: 1px 8px;" class="btn btn-success" value="Add" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9" style="float: right;">
                                    @Html.Hidden("ItemUnitId")
                                    <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 10%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Q U Id
                                                </th>
                                                <th style="text-align: center; width: 25%;">
                                                    Qty Unit
                                                </th>
                                                <th style="text-align: center; width: 25%;">
                                                    KG/Unit
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    I U Id
                                                </th>
                                                <th style="text-align: center; width: 10%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @if (Model != null && Model.itemUnit != null)
                                            {
                                                for (int ri = 0; ri < Model.itemUnit.Count; ri++)
                                                {
                                                    ItemUnitView iuv = Model.itemUnit.ToList()[ri];
                                                    <tr>
                                                        <td style='text-align: center;'>@((ri + 1).ToString("000"))</td>
                                                        <td style='display: none;'>@iuv.UnitId</td>
                                                        <td style='text-align: left;'>@iuv.UnitName</td>
                                                        <td style='text-align: right;'>@iuv.KGProportion.Value.ToString("##,##0.00#####")</td>
                                                        <td style='display: none;'>@iuv.ItemUnitId</td> 
                                                        <td style='text-align: center;'>
                                                            <a id='btnEdit' class='edit' title='data-toggle=tooltip' data-original-title='Update' onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                            <a id="btnDel" class="del" title="data-toggle=tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td colspan="5"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultQUnitId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultQUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.DefaultQUnitId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @*@Html.EditorFor(model => model.ReOrderLevel)

                            @Html.EditorFor(model => model.ReOrderQuantity)

                            @Html.EditorFor(model => model.SafetyStockQtyStd)*@

                            @Html.EditorFor(model => model.Activity)
                        </div>

                        <div id="FV"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("Item Code : ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "itemcode", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //tags: true,
            //dropdownAutoWidth: true
        });

        $('select.mcselect').select2({
            placeholder: "Select or Type . . .",
            dropdownAutoWidth: true,
            //templateResult: function (data) {
            //    var r = data.text.split('|');
            //    var $result = $(
            //        '<div class="row">' +
            //            '<div class="col-md-4 ab">' + r[0] + '</div>' +
            //            '<div class="col-md-4 ab">' + r[1] + '</div>' +
            //            '<div class="col-md-4 ab">' + r[2] + '</div>' +
            //        '</div>'
            //    );
            //    return $result;
            //},
            templateSelection: function (data) {
                var r = data.text.split(' >> ');
                var $result = r[0];
                return $result;
            }
        });

        var fl = '@ViewBag.fl'.split(',', 10).filter(function (v) { return v !== '' });
        $('#FList').val(fl).trigger('change');

        //$(".mselect").on("select2:select", function (evt) {
        //    var element = evt.params.data.element;
        //    var $element = $(element);

        //    if ($(this).find(":selected").length > 1) {
        //        var $second = $(this).find(":selected").eq(-1);
        //        $second.after($element);
        //    } else {
        //        $element.detach();
        //        $(this).prepend($element);
        //    }

        //    $(this).trigger("change");
        //});

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function VariantList(e) {
            var catId = $('#CategoryId').val();
            var factoryId = $('#DefaultFactoryId').val();

            //alert($('#DefaultFactoryId').select2("data")[0].text)

            if (catId > 0 && factoryId > 0) {
            }
            else
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("VariantList")',
                data: JSON.stringify({ id: catId, factoryId: factoryId }),
                success: function (msg) {
                    $('#divVD').html(msg);
                    $('#divVD .select').select2({
                        placeholder: "Select or Type . . .",
                    });

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function VariantString() {
            var namelist = [], varidlist = [], varvaluelist = [], cross = '';
            //$('.varnamelist').each(function () {
            //    namelist.push($(this).html());
            //});
            $('.varlist').each(function () {
                if ($(this).attr('type') == 'text') {
                    varvaluelist.push(cross + $(this).val());
                    cross = ' X ';
                    varidlist.push($(this).attr('id'));
                }
                else {
                    varvaluelist.push($(this).select2("data")[0].text);
                    cross = '';
                    varidlist.push($(this).val());
                }
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("VariantString")',
                data: JSON.stringify({ id: $('#CategoryId').val(), varidlist: varidlist, varvaluelist: varvaluelist }),
                success: function (varString) {
                    $('#SystemName').val(varString);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            //var varString = $('#CategoryId').select2("data")[0].text + '';
            //for (var i = 0; i < namelist.length; i++) {
            //    if (varvaluelist[i].length > 0) {
            //        varString += ' ' + varvaluelist[i] + ' ' + namelist[i];
            //    }
            //}

            //$('#ItemName').val(varString);
            //alert(JSON.stringify({ nl: namelist, ni: varidlist, nv: varvaluelist }));
        };

        var rn = 0;
        $("#btnAdd").click(function () {
            if ($.trim($('#QuantityUnitId').val()) == '') {
                alert('Enter quantity unit.');
                return;
            }
            if ($.trim($('#KGPerUnit').val()) == '') {
                alert('Enter kg/unit.');
                return;
            }
            //if (eval($.trim($('#KGPerUnit').val()).replace(/\,/g, '')) == 0) {
            //    alert('KG/Unit can\'n be zero.');
            //    return;
            //}

            var dup = false;
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                $('#tblSub').find('tr').not(':first').not(':last').not(':eq(' + (rn - 1) + ')').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#QuantityUnitId').val()) {
                        alert('Duplicate quantity unit.');
                        dup = true;
                        return;
                    }
                });

                isEdit = true;
            }
            else {

                $('#tblSub').find('tr').not(':first').not(':last').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#QuantityUnitId').val()) {
                        alert('Duplicate quantity unit.');
                        dup = true;
                        return;
                    }
                });

                rn = $('#tblSub>tbody>tr').length;
            }

            if (dup)
                return;

            var row = "<tr><td style='text-align: center;'>" + ("000" + rn).substring(1, 4) + "</td>" +
                "<td style='display: none;'>" + $('#QuantityUnitId').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#QuantityUnitId').select2("data")[0].text + "</td>" +
                "<td style='text-align: right;'>" + $('#KGPerUnit').val() + "</td>" +
                "<td style='display: none;'>" + $('#ItemUnitId').val() + "</td>" +
                '<td style="text-align: center;">' +
                    '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblSub tr:eq(' + rn + ')').after(row);
                $('#tblSub tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblSub tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');

            var option = new Option($('#QuantityUnitId').select2("data")[0].text, $('#QuantityUnitId').val());
            //option.selected = true;

            $("#DefaultQUnitId").append(option);
            $("#DefaultQUnitId").trigger("change");
            //$("#DefaultQUnitId").append("<option value='" +  + "' selected>" +  + "</option>");
            //$('#DefaultQUnitId').trigger('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#ItemUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(4)').html());
            $('#QuantityUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html()).trigger("change");
            $('#KGPerUnit').val($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var itemVariant = [], isEdit = true;

            $('.varlist').each(function () {
                var arrayOfThisRow = { ItemId: $('#ItemId').val(), VariantId: $(this).attr('id'), VariantValue: ($(this).attr('type') == 'text' ? $(this).val() : $(this).select2("data")[0].text), IsActive: 1 };
                itemVariant.push(arrayOfThisRow);
                isEdit = false;
            });

            if (isEdit) {
                $('#SystemName').val($('#ItemName').val());
            }

            var itemView = {
                ItemId: $('#ItemId').val(),
                SystemName: $('#SystemName').val(), ItemName: $('#ItemName').val(),
                ShortName: $('#ShortName').val(), BondName: $('#BondName').val(),
                CategoryId: $('#CategoryId').val(), HSCode: $('#HSCode').val(),
                DefaultFactoryId: $('#DefaultFactoryId').val(), FList: $('#FList').val(),
                QUnitList: $('#QUList').val(), DefaultQUnitId: $('#DefaultQUnitId').val(),
                Activity: $('#Activity').val()
            };
            //alert(JSON.stringify(itemVariant));
            //return;
            var itemUnit = [], itemFactory = []; var FList = $('#FList').val().toString().replace(', ', ',').split(',');

            for (var i = 0; i < FList.length; i++) {
                var arrayOfThisRow = { ItemId: $('#ItemId').val(), FactoryId: FList[i] };
                itemFactory.push(arrayOfThisRow);
            };

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 5) {
                    var arrayOfThisRow = {
                        ItemUnitId: tableData[4], ItemId: $('#ItemId').val(), UnitId: tableData[1], KGProportion: tableData[3].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    itemUnit.push(arrayOfThisRow);
                }
            }).get();

            var FactoryVariant = { itemView: itemView, itemFactoryView: itemFactory, itemVariantView: itemVariant, itemUnitView: itemUnit };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Update")',
                data: JSON.stringify(FactoryVariant),
                success: function (msg) {
                    $('#itemcode').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    return false;
                }
            });
        });
    </script>
}

@section CSS {

}

