﻿@model InventoryMS.Models.ItemView

<!-- .box-header -->
<div class="box-header with-border">
    <h3 class="box-title">Search Infomation</h3>
    <div class="btn-group">
        <a class="btn btnsm btn-primary" target="_blank" href="@Url.Action("Edit", new { id = Model.ItemId })"><i class="glyphicon glyphicon-pencil">Edit</i></a>
        @*<a href="@Url.Action("Edit", new { id = Model.ItemId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil">Edit</i></a>*@
    </div>
</div>
<!-- /.box-header -->
<!-- form start -->
<div class="box-body">
    <div class="col-md-6">
        <b>ID :</b> @Html.DisplayFor(model => model.ItemId)<br>
        <b>Code :</b> @Html.DisplayFor(model => model.ItemCode)<br>
        <b>Systemic Name :</b> @Html.DisplayFor(model => model.SystemName)<br>
        <b>Category :</b> @Html.DisplayFor(model => model.CategoryName)<br>
        <b>Factory :</b> @ViewBag.factory
    </div>

    <div class="col-md-6">
        <b>Short Name :</b> @Html.DisplayFor(model => model.ShortName)<br>
        <b>Item Name :</b> @Html.DisplayFor(model => model.ItemName)<br>
        <b>Bond Name :</b> @Html.DisplayFor(model => model.BondName)<br>
        <b>HS Code :</b> @Html.DisplayFor(model => model.HSCode)<br>
        <b>Quantity Unit :</b> @Html.DisplayFor(model => model.QuantityUnitList)<br>
        <b>Active Status :</b> @(Model.IsActive == 1 ? "ACTIVE" : "INACTIVE")
    </div>
</div>
<div class="box-footer">
</div>