﻿@model IEnumerable<InventoryMS.Models.ItemView>

<table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
    <thead>
        <tr>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.BondName)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(c => c.CategoryName).ThenBy(c => c.ItemName.Length).ThenBy(c => c.ItemName))
        {
            <tr class="selectable">
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>
                <td style="text-align: center">
                    <a href="@Url.Action("Details", new { id = item.ItemId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                    @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Edit"))
                    {
                        <a href="@Url.Action("Edit", new { id = item.ItemId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                    }
                    else
                    {
                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                    }
                    @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Delete"))
                    {
                        <a href="@Url.Action("Delete", new { id = item.ItemId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                    }
                    else
                    {
                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
