﻿@model InventoryMS.Models.ItemView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Item
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Item</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Item List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                        @*<div class="btn-group" style="width: 37.6%; padding-right: 22px;">
                            <div class="form-group">
                                @Html.Label("Search", new { @class = "col-common col-sm-3 control-label", @style = "background-color: #008d4c; color: white;" })
                                <div id="itemlist" class="col-sm-9">
                                    @Html.DropDownList("items", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemInfo(this.value);" })
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-5">
                            @Html.HiddenFor(model => model.ItemCode)

                            @Html.EditorFor(model => model.SystemName, new { @readonly = "readonly" })

                            <div class="form-group">
                                @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("FList", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, string.Empty, new { @class = "form-control mcselect", @style = "width: 100%;", @onchange = "VariantList(this.value); ItemList(this.value);" })

                                    @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
                                </div>
                            </div>
                            @Html.EditorFor(model => model.HSCode)

                            <div class="form-group">
                                @Html.LabelFor(model => model.QuantityUnitList, "Quantity Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("QuantityUnitId", (SelectList)ViewBag.DefaultQUnitId, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-2" >
                                    @Html.Label("KG/Unit", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-2 offset-left">
                                    @Html.Editor("KGPerUnit", "DecimalWOL")
                                </div>
                                <div class="col-sm-1" style="padding-left: 0px; margin-left: -5px;">
                                    <input id="btnAdd" type="button" style="padding: 1px 8px;" class="btn btn-success" value="Add" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9" style="float: right;">
                                    <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 10%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Q U Id
                                                </th>
                                                <th style="text-align: center; width: 25%;">
                                                    Qty Unit
                                                </th>
                                                <th style="text-align: center; width: 25%;">
                                                    KG/Unit
                                                </th>
                                                <th style="text-align: center; width: 10%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <tr>
                                                <td colspan="5"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultQUnitId, "Def. Qty Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultQUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.DefaultQUnitId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Activity)
                        </div>

                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultFactoryId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultFactoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "VariantList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.DefaultFactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="divVD">
                                @Html.Action("VariantListInit", new { itemVariant = Model.itemVariant })
                            </div>

                            <div class="form-group">
                                @Html.Label("License", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPeriod(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Bond Period", new { @class = "col-common col-sm-3 control-label" })
                                <div id="bpid" class="col-sm-9">
                                    @Html.DropDownList("BondPeriodId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "CapacityDetails(this.value);" })

                                    @Html.ValidationMessage("BondPeriodId", null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="caplist" class="form-group">
                                @Html.Label("Bond SL #", new { @class = "col-common col-sm-3 control-label" })
                                <div id="bslist" class="col-sm-8 offset-right">
                                    @Html.DropDownList("CapacityId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProductsList(this.value)" })
                                </div>
                                <div class="col-sm-1" style="margin-left: -5px !important;">
                                    <input id="btnAddBond" type="button" style="padding: 1px 12px;" class="btn btn-success" value="Add" />
                                    @*<a title="" data-toggle="tooltip" data-original-title="Add Bond Details" onclick="variantEntry(this);"><i class="glyphicon glyphicon-plus-sign" style="cursor: pointer;"></i><span style="color: white; padding-left: 5px; cursor: pointer;">Add</span></a>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12" style="float: right;">
                                    <table id="tblBond" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; display: none;">
                                                    Capacity Id
                                                </th>
                                                <th style="text-align: center; width: 20%;">
                                                    License #
                                                </th>
                                                <th style="text-align: center; width: 25%;">
                                                    Period
                                                </th>
                                                <th style="text-align: center; width: 48%;">
                                                    Serial & RM Title
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Bond Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Period Id
                                                </th>
                                                <th style="text-align: center; width: 7%;">
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <tr>
                                                <td colspan="8"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="FV"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
                <!-- general form elements -->
                <div id="sinfo" class="box box-primary">

                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("Item Code : ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "itemcode", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        var bp_id = 0, cap_id = 0;

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //tags: true,
            //dropdownAutoWidth: true
        });

        $('select.mcselect').select2({
            placeholder: "Select or Type . . .",
            dropdownAutoWidth: true,
            //templateResult: function (data) {
            //    var r = data.text.split('|');
            //    var $result = $(
            //        '<div class="row">' +
            //            '<div class="col-md-4 ab">' + r[0] + '</div>' +
            //            '<div class="col-md-4 ab">' + r[1] + '</div>' +
            //            '<div class="col-md-4 ab">' + r[2] + '</div>' +
            //        '</div>'
            //    );
            //    return $result;
            //},
            templateSelection: function (data) {
                var r = data.text.split(' >> ');
                var $result = r[0];
                return $result;
            }
        });

        $('#DefaultQUnitId').empty();
        
        function getPeriod(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    if (bp_id > 0)
                        $('#BondPeriodId').val(bp_id).trigger('change');
                    bp_id = 0;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function CapacityDetails(e) {
            //alert(e);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CapacityList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bslist').html(data);

                    $('#bslist select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    if (cap_id > 0)
                        $('#CapacityId').val(cap_id).trigger('change');
                    cap_id = 0;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProductsList(e) {
            return true;
        };

        function getProducts(e) {
            return true;
        };
        
        var fl = '@ViewBag.fl'.split(',', 10).filter(function (v) { return v !== '' });
        $('#FList').val(fl).trigger('change');

        //$(".mselect").on("select2:select", function (evt) {
        //    var element = evt.params.data.element;
        //    var $element = $(element);

        //    if ($(this).find(":selected").length > 1) {
        //        var $second = $(this).find(":selected").eq(-1);
        //        $second.after($element);
        //    } else {
        //        $element.detach();
        //        $(this).prepend($element);
        //    }

        //    $(this).trigger("change");
        //});

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();


        function variantEntry(e) {

            $('.varlist').each(function () {
                var arrayOfThisRow = { ItemId: 0, VariantId: $(this).attr('id'), VariantValue: ($(this).attr('type') == 'text' ? $(this).val() : $(this).select2("data")[0].text), IsActive: 1 };
                itemVariant.push(arrayOfThisRow);
            });
        };

        function ItemList(e) {
            if (e > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("CWItemList")',
                    data: JSON.stringify({ id: e }),
                    success: function (msg) {
                        $('#itemlist').html(msg);
                        $('#itemlist .select').select2({
                            placeholder: "Select or Type . . .",
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            };
        };

        function ItemInfo(e) {
            if (e > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ItemDetails")',
                    data: JSON.stringify({ id: e }),
                    success: function (msg) {
                        $('#sinfo').html(msg);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            };
        };

        function VariantList(e) {
            var catId = $('#CategoryId').val();
            var factoryId = $('#DefaultFactoryId').val();

            //alert($('#DefaultFactoryId').select2("data")[0].text)

            if (catId > 0 && factoryId > 0) {
            }
            else
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("VariantList")',
                data: JSON.stringify({ id: catId, factoryId: factoryId }),
                success: function (msg) {
                    $('#divVD').html(msg);
                    $("#6").attr("multiple", true);
                    $("#6").val(null);
                    $('#divVD .select').select2({
                        placeholder: "Select or Type . . .",
                    });

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("QUList")',
                data: JSON.stringify({ id: catId }),
                success: function (data) {
                    //$('#divVD').html(msg);
                    //$('#divVD .select').select2({
                    //    placeholder: "Select or Type . . .",
                    //});
                    var fl = data.qlist.replace(/\ /g, '').split(',', 10).filter(function (v) { return v !== '' });
                    $('#QUList').val(fl).trigger('change');
                    $('#DefaultQUnitId').val(data.qunit).trigger('change');
                    //alert(data.qlist);
                    //alert(data.qunit);

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function VariantString() {
            var namelist = [], varidlist = [], varvaluelist = [], cross = '';
            //$('.varnamelist').each(function () {
            //    namelist.push($(this).html());
            //});
            $('.varlist').each(function () {
                //alert($(this).attr('tag'));
                if ($(this).attr('type') == 'text') {
                    varvaluelist.push(cross + $(this).val());
                    cross = ' X ';
                    varidlist.push($(this).attr('id'));
                }
                else {
                    varvaluelist.push($(this).select2("data")[0].text);
                    cross = '';
                    varidlist.push($(this).val());
                }
            });

            //alert(JSON.stringify({ id: $('#CategoryId').val(), varidlist: varidlist, varvaluelist: varvaluelist }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("VariantString")',
                data: JSON.stringify({ id: $('#CategoryId').val(), varidlist: varidlist, varvaluelist: varvaluelist }),
                success: function (varString) {
                    $('#SystemName').val(varString);
                    $('#ItemName').val(varString);
                    $('#BondName').val(varString);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            //var varString = $('#CategoryId').select2("data")[0].text + '';
            //for (var i = 0; i < namelist.length; i++) {
            //    if (varvaluelist[i].length > 0) {
            //        varString += ' ' + varvaluelist[i] + ' ' + namelist[i];
            //    }
            //}

            //$('#ItemName').val(varString);
            //alert(JSON.stringify({ nl: namelist, ni: varidlist, nv: varvaluelist }));
        };

        var rn = 0;
        $("#btnAdd").click(function () {
            if ($.trim($('#QuantityUnitId').val()) == '') {
                alert('Enter quantity unit.');
                return;
            }
            if ($.trim($('#KGPerUnit').val()) == '') {
                alert('Enter kg/unit.');
                return;
            }
            //if (eval($.trim($('#KGPerUnit').val()).replace(/\,/g, '')) == 0) {
            //    alert('KG/Unit can\'n be zero.');
            //    return;
            //}

            var dup = false;
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                $('#tblSub').find('tr').not(':first').not(':last').not(':eq(' + (rn - 1) + ')').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#QuantityUnitId').val()) {
                        alert('Duplicate quantity unit.');
                        dup = true;
                        return;
                    }
                });

                isEdit = true;
            }
            else {

                $('#tblSub').find('tr').not(':first').not(':last').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#QuantityUnitId').val()) {
                        alert('Duplicate quantity unit.');
                        dup = true;
                        return;
                    }
                });

                rn = $('#tblSub>tbody>tr').length;
            }

            if (dup)
                return;

            var row = "<tr><td style='text-align: center;'>" + ("000" + rn).substring(1, 4) + "</td>" +
                "<td style='display: none;'>" + $('#QuantityUnitId').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#QuantityUnitId').select2("data")[0].text + "</td>" +
                "<td style='text-align: right;'>" + $('#KGPerUnit').val() + "</td>" +
                '<td style="text-align: center;">' +
                    '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblSub tr:eq(' + rn + ')').after(row);
                $('#tblSub tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblSub tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');

            var option = new Option($('#QuantityUnitId').select2("data")[0].text, $('#QuantityUnitId').val());
            //option.selected = true;

            $("#DefaultQUnitId").append(option);
            $("#DefaultQUnitId").trigger("change");
            //$("#DefaultQUnitId").append("<option value='" +  + "' selected>" +  + "</option>");
            //$('#DefaultQUnitId').trigger('change');
        });

        $("#btnAddBond").click(function () {
            if ($.trim($('#CapacityId').val()) == '') {
                alert('Select bond serial no.');
                return;
            }

            var dup = false;
            var isEdit = false;
            if ($('#btnAddBond').hasClass('change')) {
                $('#tblBond').find('tr').not(':first').not(':last').not(':eq(' + (rn - 1) + ')').each(function () {
                    if ($(this).find('td:eq(0)').html() == $('#CapacityId').val()) {
                        alert('Duplicate serial no.');
                        dup = true;
                        return;
                    }
                });

                isEdit = true;
            }
            else {

                $('#tblBond').find('tr').not(':first').not(':last').each(function () {
                    if ($(this).find('td:eq(0)').html() == $('#CapacityId').val()) {
                        alert('Duplicate serial no.');
                        dup = true;
                        return;
                    }
                });

                rn = $('#tblSub>tbody>tr').length;
            }

            if (dup)
                return;

            var row = "<tr><td style='display: none;'>" + $('#CapacityId').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#BondId').select2("data")[0].text + "</td>" +
                "<td style='text-align: left;'>" + $('#BondPeriodId').select2("data")[0].text + "</td>" +
                "<td style='text-align: left;'>" + $('#CapacityId').select2("data")[0].text + "</td>" +
                "<td style='display: none;'>" + $('#BondId').val() + "</td>" +
                "<td style='display: none;'>" + $('#BondPeriodId').val() + "</td>" +
                '<td style="text-align: center;">' +
                    '<a id="btnEditBond" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editbondrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDelBond" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delbondrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblBond tr:eq(' + rn + ')').after(row);
                $('#tblBond tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblBond tr:last').before(row);
            }

            $('#btnAddBond').val('Add');
            $('#btnAddBond').removeClass('change');

            var option = new Option($('#QuantityUnitId').select2("data")[0].text, $('#QuantityUnitId').val());
            //option.selected = true;
        });

        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#QuantityUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html()).trigger("change");
            $('#KGPerUnit').val($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        function editbondrow(e) {
            rn = $(e).closest('tr').index() + 1;

            bp_id = eval($('#tblBond tr:eq(' + rn + ') td:eq(5)').html());
            cap_id = eval($('#tblBond tr:eq(' + rn + ') td:eq(0)').html());

            $('#BondId').val($('#tblBond tr:eq(' + rn + ') td:eq(4)').html()).trigger("change");
            //while ($('#BondPeriodId option').length <= 0) {
            //    let a = 1;
            //}
            //$('#BondPeriodId').val($('#tblBond tr:eq(' + rn + ') td:eq(5)').html()).trigger("change");
            //while ($('#CapacityId option').length <= 0) {
            //    let a = 1;
            //}
            //$('#CapacityId').val($('#tblBond tr:eq(' + rn + ') td:eq(0)').html()).trigger("change");

            $('#btnAddBond').addClass('change');
            $('#btnAddBond').val('Rep');
        };

        function delbondrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblBond tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblBond tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAddBond').val('Add');
            $('#btnAddBond').removeClass('change');
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if ($('#SystemName').val() == '') {
                $('#SystemName').val($('#ItemName').val());
            }

            var itemVariant = [], itemUnit = [], itemBond = [], itemView = {
                //SystemName: $('#SystemName').val(), ItemName: $('#ItemName').val(),
                //ShortName: $('#ShortName').val(), BondName: $('#BondName').val(),
                CategoryId: $('#CategoryId').val(), HSCode: $('#HSCode').val(),
                DefaultFactoryId: $('#DefaultFactoryId').val(), FList: $('#FList').val(),
                QUnitList: $('#QUList').val(), DefaultQUnitId: $('#DefaultQUnitId').val(),
                Activity: $('#Activity').val()
            };

            //$("#6").val()

            $.each($("#6").val(), function (index, value) {
                if (value.length > 0) {
                    var arrayOfThisRow = { ItemId: 0, VariantId: 6, VariantValue: eval(value.split("_")[1]), IsActive: 1 };
                    itemVariant.push(arrayOfThisRow);
                }
            });
            itemVariant.push({ ItemId: 0, VariantId: 8, VariantValue: $("#8").select2("data")[0].text, IsActive: 1 });

            var itemFactory = []; var FList = $('#FList').val().toString().replace(', ', ',').split(',');

            for (var i = 0; i < FList.length; i++) {
                var arrayOfThisRow = { ItemId: 0, FactoryId: FList[i] };
                itemFactory.push(arrayOfThisRow);
            };

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 4) {
                    var arrayOfThisRow = {
                        ItemUnitId: 0, ItemId: 0, UnitId: tableData[1], KGProportion: tableData[3].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    itemUnit.push(arrayOfThisRow);
                }
            }).get();

            var tbl = $('table#tblBond').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 4) {
                    var arrayOfThisRow = {
                        BSPId: 0, ProductId: 0, CapacityId: tableData[0], CategoryId: $('#CategoryId').val()
                    };
                    //alert(arrayOfThisRow);
                    itemBond.push(arrayOfThisRow);
                }
            }).get();

            var FactoryVariant = {
                _itemView: itemView,
                itemFactoryView: itemFactory,
                itemVariantView: itemVariant,
                itemUnitView: itemUnit,
                bondProductView: itemBond
            };

            //alert(JSON.stringify(itemVariant));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save_Multiple")',
                data: JSON.stringify(FactoryVariant),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#itemcode').html(msg.itemid);
                        //$("#VariantId option[value='option1']").remove();
                        $('#mymodal').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}



