﻿@model IEnumerable<InventoryMS.Models.BondCapacity>

@{int rIndex = 1;
  InventoryMS.Models.ProductCubeEntities db = new InventoryMS.Models.ProductCubeEntities();
}

@if (Model == null || Model.Count() == 0)
{
    @Html.Hidden("SDate", (object)ViewBag.sdate)
    @Html.Hidden("EDate", (object)ViewBag.edate)
}

@foreach (var bcv in Model)
{
    <tr>
        <td style="text-align: center;">@rIndex.ToString("000")</td>
        <td style="display: none;">@bcv.CapacityId</td>
        <td style="text-align: center;">@bcv.BondSerialNo</td>
        <td>@bcv.RMTitle</td>
        <td>@bcv.HSCode</td>
        <td style='text-align: right;'>@bcv.Capacity</td>
        <td>@db.viewQuantityUnits.Where(l => l.QuantityUnitId == bcv.CapacityUnitId).FirstOrDefault().QuantityUnit</td>
        <td style="display: none;">@bcv.CapacityUnitId</td>
        <td style="text-align: center;">@bcv.StartDate.ToString("yyyy-MM-dd") - @bcv.EndDate.ToString("yyyy-MM-dd")</td>
        <td style="display: none;">@bcv.StartDate.ToString("yyyy-MM-dd")</td>
        <td style="display: none;">@bcv.EndDate.ToString("yyyy-MM-dd")</td>
        <td style="text-align: center;">@Html.CheckBox("A", bcv.IsActive == 1, new { @disabled = "disabled" })</td>
        <td style="text-align: center;">
            @if(rIndex == 1)
            { 
                @Html.Hidden("SDate", (object)ViewBag.sdate)
                @Html.Hidden("EDate", (object)ViewBag.edate)
            }
            <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>

    rIndex++;
}
<tr>
    <td colspan="13"></td>
</tr>
