﻿@model InventoryMS.Models.BondCapacity

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>BondCapacity Details</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Index")" class="btn btn-success btn-icon glyphicons list"><i></i>View List</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons"></h4>
        </div>
        <div class="widget-body">
            <div class="details-info details-info-striped">
				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.BondSerialId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.BondSerialId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.BondSerialNo) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.BondSerialNo)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RMTitle) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RMTitle)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.Capacity) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.Capacity)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ExpireDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ExpireDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.EndDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.EndDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IsActive) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IsActive)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RankId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RankId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.UpdatedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.UpdatedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.UpdateTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.UpdateTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.PCName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.PCName)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IPAddress) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IPAddress)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.Bond.BondCode) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.Bond.BondCode)
						</span>
					</div>
				</div>

			</div>
        </div>
    </div>
    <br />
</div>


    @Html.ActionLink("Edit", "Edit", new { id = Model.CapacityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
