﻿@model InventoryMS.Models.BondCapacityView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		Edit :: Bond Capacity
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Bond Capacity</a></li>
        <li class="active">Edit</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Capacity List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            <ul id="yw5" class="dropdown-menu">
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("BondCapacity", "Create"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Create")">New Capacity</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">New Capacity</a>
                                    }

                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CapacityId })">View Capacity</a>
                                </li>
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("BondCapacity", "Delete"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Delete", new { id = Model.CapacityId })">Delete Capacity</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">Delete Capacity</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.CapacityId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.BondId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.BondId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BondPeriodId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BondPeriodId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.BondPeriodId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.BondSerialNo)

                            @Html.EditorFor(model => model.RMTitle, new { rows = 3 })

                            @Html.EditorFor(model => model.HSCode, new { rows = 2 })

                            <div class="form-group">
                                @Html.LabelFor(model => model.LicensePeriod, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4" style="padding-right: 0px;">
                                    @Html.EditorFor(model => model.StartDate, "DateTimeWOL")
                                </div>
                                @Html.Label("-", new { @class = "col-sm-1 control-label", @style = "text-align: center;" })
                                <div class="col-sm-4" style="padding-left: 0px;">
                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Capacity, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-5" style="padding-right: 2px;">
                                    @Html.EditorFor(model => model.Capacity, "DecimalWOL")
                                </div>
                                <div class="col-sm-4" style="padding-left: 0px;">
                                    @Html.DropDownList("CapacityUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Activity)
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();
        
        $('#frm').submit(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            return true;
        });
    </script>
}

@section CSS {

}

