﻿@model IEnumerable<InventoryMS.Models.BondCapacityView>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        BondCapacity List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Bond Capacity</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                        @if (InventoryMS.Models.clsMain.IsPermitted("BondCapacity", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Capacity</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New Capacity</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }

                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.BondSerialNo)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.RMTitle)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Capacity)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.LicensePeriod)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Activity)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BondSerialNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RMTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Capacity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicensePeriod)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Activity)
                                    </td>
                                    <td style="text-align: center">
                                        <a href="@Url.Action("Manage", new { bondid = item.BondId, bondperiodid = item.BondPeriodId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("BondCapacity", "Edit"))
                                        {
                                            <a href="@Url.Action("Edit", new { id = item.CapacityId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        @if (InventoryMS.Models.clsMain.IsPermitted("BondCapacity", "Delete"))
                                        {
                                            <a href="@Url.Action("Delete", new { id = item.CapacityId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
            {
                'size': 'mini',
                'onText': 'Yes',
                'offText': 'No'
            });
        //$.fn.bootstrapSwitch.defaults.size = 'mini';
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

