﻿@model InventoryMS.Models.BondCapacityView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: Bond Capacity
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Bond Capacity</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Capacity List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-sm-12" style="margin: 0px; padding: 0px; margin-bottom: 20px;">
                            <div class="box-body" style="margin: 0px; padding: 0px;">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BondId, new { @class = "col-common col-sm-3 control-label" })
                                        <div class="col-sm-9">
                                            @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPeriod(this.value)" })

                                            @Html.ValidationMessageFor(model => model.BondId, null, new { @class = "control-label" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BondPeriodId, new { @class = "col-common col-sm-3 control-label" })
                                        <div id="bpid" class="col-sm-9">
                                            @Html.DropDownList("BondPeriodId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "CapacityDetails(this.value);" })

                                            @Html.ValidationMessageFor(model => model.BondPeriodId, null, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        @Html.Label("Company", new { @class = "col-common col-sm-2 control-label" })
                                        <div id="Company" class="col-sm-10">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            @Html.EditorFor(model => model.BondSerialNo)
                            @Html.Hidden("CapacityId", 0)

                            <div class="form-group">
                                @Html.LabelFor(model => model.LicensePeriod, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-3" style="padding-right: 0px; margin-right: -10px;">
                                    @Html.EditorFor(model => model.StartDate, "DateTimeWOL")
                                </div>
                                @Html.Label("-", new { @class = "col-sm-1 control-label", @style = "text-align: center;" })
                                <div class="col-sm-3" style="padding-left: 0px; margin-left: -10px; margin-right: -7px;">
                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL")
                                </div>
                                <div class="col-sm-2" style="padding-left: 0px; margin-left: 5px; margin-right: -28px;">
                                    @*<label class="">
                                        <div class="icheckbox_flat-green checked" aria-checked="false" aria-disabled="false" style="position: relative;">
                                            <input id="chkBondPeriod" type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            </ins>
                                        </div>
                                    </label>*@
                                    @Html.CheckBox("chkBondPeriod", new { @style = "margin-top: 6px;" }) <span>Bond Period?</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Capacity, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-5" style="padding-right: 2px;">
                                    @Html.EditorFor(model => model.Capacity, "DecimalWOL")
                                </div>
                                <div class="col-sm-4" style="padding-left: 0px;">
                                    @Html.DropDownList("CapacityUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Activity, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-5">
                                    @Html.EditorFor(model => model.Activity, "BooleanWOL")
                                </div>
                                <div class="col-sm-4" style="padding-left: 0px;">
                                    <input id="btnAdd" type="button" style="padding: 1px 10px; width: 100%;" class="btn btn-success" value="Add" />
                                </div>
                            </div>

                            <div class="col-sm-1" style="padding: 0px; text-align: right;">
                                
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RMTitle, new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.RMTitle, 2, 8, new { @class = "form-control input-block-level" })

                                    @Html.ValidationMessageFor(model => model.RMTitle, null, new { @class = "control-label" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.HSCode, new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.HSCode, 2, 8, new { @class = "form-control input-block-level" })

                                    @Html.ValidationMessageFor(model => model.HSCode, null, new { @class = "control-label" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding-right: 5px; padding-left: 5px;">
                            <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 4%;">
                                            SL #
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            Capacity Id
                                        </th>
                                        <th style="text-align: center; width: 6%;">
                                            Bond SL
                                        </th>
                                        <th style="text-align: center; width: 25%;">
                                            Material Name
                                        </th>
                                        <th style="text-align: center; width: 25%;">
                                            HS Code
                                        </th>
                                        <th colspan="2" style="text-align: center; width: 15%;">
                                            Capacity
                                        </th>
                                        <th style="display: none;">
                                            Cap Unit
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Period
                                        </th>
                                        <th style="display: none;">
                                            Start Date
                                        </th>
                                        <th style="display: none;">
                                            End Date
                                        </th>
                                        <th style="text-align: center; width: 6%;">
                                            Active ?
                                        </th>
                                        <th style="text-align: center; width: 6%;"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @if (ViewBag.bpid != null)
                                    {
                                        @Html.Action("CapacityDetails", new { id = ViewBag.bpid })
                                    }
                                    else
                                    { 
                                        <tr>
                                            <td colspan="13"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                            <div id="BPR"></div>
                        </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init], #chkBondPeriod").bootstrapSwitch();

        $("#chkBondPeriod").change(function () {
            if (this.checked) {
                $('#StartDate').val($('#SDate').val());
                $('#EndDate').val($('#EDate').val());
            }
        });

        function getPeriod(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
  
        function CapacityDetails(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CapacityDetails")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#tbody').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $("#btnAdd").click(function () {
            if ($.trim($('#BondSerialNo').val()) == '') {
                alert('Enter bond serial');
                return;
            }
            if ($.trim($('#RMTitle').val()) == '') {
                alert('Enter material description');
                return;
            }
            if ($.trim($('#HSCode').val()) == '') {
                alert('Enter hs code.');
                return;
            }
            if ($.trim($('#StartDate').val()) == '') {
                alert('Enter start date.');
                return;
            }
            if ($.trim($('#EndDate').val()) == '') {
                alert('Enter end date.');
                return;
            } 
            if ($.trim($('#Capacity').val()) == '' || eval($('#Capacity').val()) < 0) {
                alert('Enter capacity.');
                return;
            }
            if ($('#CapacityUnitId').val() == 0) {
                alert('Select capacity unit.');
                return;
            } 

            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblSub>tbody>tr').length;
            }

            $('#divSC input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            let capacity = eval($('#Capacity').val().replace(/\,/g, '')).toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            capacity = capacity.split(".");
            capacity[1] = capacity[1].replace(/\,/g, '');
            capacity = capacity.join(".");

            var row = "<tr><td style='text-align: center;'>" + ("000" + rn).substring(1, 4) + "</td>" +
                "<td style='display: none;'>" + $('#CapacityId').val() + "</td>" +
                "<td style='text-align: center;'>" + $('#BondSerialNo').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#RMTitle').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#HSCode').val() + "</td>" +
                "<td style='text-align: right;'>" + capacity + "</td>" +
                "<td style='text-align: left;'>" + $('#CapacityUnitId').select2("data")[0].text + "</td>" +
                "<td style='display: none;'>" + $('#CapacityUnitId').val() + "</td>" +
                "<td style='text-align: center;'>" + $('#StartDate').val() + ' - ' + $('#EndDate').val() + "</td>" +
                "<td style='display: none;'>" + $('#StartDate').val() + "</td>" +
                "<td style='display: none;'>" + $('#EndDate').val() + "</td>" +
                '<td style="text-align: center;">' + ($("#Activity").bootstrapSwitch('state') ? '@Html.CheckBox("A", true, new { @disabled = "disabled" })' : '@Html.CheckBox("A", false, new { @disabled = "disabled" })') + '</td>' +
                '<td style="text-align: center;">' +
                    '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblSub tr:eq(' + rn + ')').after(row);
                $('#tblSub tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblSub tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;
            //alert(rn);
            //alert($('#tblSub tr:eq(' + 1 + ') td:eq(3)').html());

            $('#CapacityId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html());
            $('#BondSerialNo').val($('#tblSub tr:eq(' + rn + ') td:eq(2)').html());
            $('#RMTitle').val($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());
            $('#HSCode').val($('#tblSub tr:eq(' + rn + ') td:eq(4)').html());
            $('#Capacity').val($('#tblSub tr:eq(' + rn + ') td:eq(5)').html());
            $('#CapacityUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(7)').html()).trigger('change');
            $('#StartDate').val($('#tblSub tr:eq(' + rn + ') td:eq(9)').html());
            $('#EndDate').val($('#tblSub tr:eq(' + rn + ') td:eq(10)').html());
            $('#Activity').bootstrapSwitch('state', $('#tblSub tr:eq(' + rn + ') td:eq(11)').find('#A').is(":checked"));

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            if ($('#BondId').val() == 0) {
                alert('Select bond license');
                return;
            }
            if ($('#BondPeriodId').val() == 0) {
                alert('Select bond period');
                return;
            }
            if ($('#tblSub>tbody>tr').length < 2) {
                alert('No capacity information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var bondCapacityView = []; rn = 0;

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var ri = 0;
                var tableData = $(this).find('td').map(function () {
                    ri++;
                    if (ri == 12) {
                        return $(this).find('#A').is(":checked");
                    }
                    else {
                        return $(this).html();
                    }
                }).get();

                if (tableData.length >= 5) {
                    var arrayOfThisRow = {
                        BondId: $('#BondId').val(), BondPeriodId: $('#BondPeriodId').val(), CapacityId: tableData[1],
                        BondSerialNo: tableData[2], RMTitle: tableData[3], HSCode: tableData[4], Capacity: tableData[5].replace(/\,/g, ''),
                        CapacityUnitId: tableData[7], StartDate: tableData[9], EndDate: tableData[10],
                        Activity: tableData[11], RankId: tableData[0] 
                    };
                    //alert(arrayOfThisRow);
                    bondCapacityView.push(arrayOfThisRow);
                }
            }).get();

            //alert(JSON.stringify({ requisitionSub: requisitionSub }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ BondId: $('#BondId').val(), BondPeriodId: $('#BondPeriodId').val(), bondCapacityView: bondCapacityView }),
                success: function (msg) {
                    alert("save successfull.");

                    window.location.href = '@Url.Action("Manage")';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {

}

