﻿@model IEnumerable<InventoryMS.Models.PlanDetails>

@{int RowNo = 0;}
@foreach (var item in Model.OrderBy(c => c.ProductName).ThenBy(c => c.ProductName.Length))
{
    RowNo++;
    <tr>
        <td style="text-align: center; width: 3%;">@RowNo.ToString("000")</td>
        <td style="text-align: center; display: none;">@item.SRRPlanId</td> @*SRRPlanId*@
        <td style="text-align: center; display: none;">@item.PlanId</td> @*PlanId*@
        <td style="text-align: center; display: none;">@item.BookingId</td>
        <td style="text-align: center; display: none;">@item.BookingSubId</td>
        <td style="text-align: center; display: none;">@item.ProductId</td>
        @*@if (RowNo == 1)
        {
            <td style="text-align: center; vertical-align:middle; width: 8%;" rowspan="@Model.Count()">@item.PlanDate.ToString("dd-MMM-yyyy")</td>
            <td style="text-align: left; vertical-align:middle; width: 15%;" rowspan="@Model.Count()">@item.CustomerName</td>
            <td style="text-align: left; vertical-align:middle; width: 8%;" rowspan="@Model.Count()">@item.RepresentativeName</td>
            <td style="text-align: center; vertical-align:middle; width: 10%;" rowspan="@Model.Count()">@item.BookingNo</td>
        }*@
        <td style="text-align: center; width: 6%;">@item.PlanDate.ToString("dd-MMM-yyyy")</td>
        <td style="text-align: left; width: 17%;">@item.CustomerName</td>
        <td style="text-align: left; width: 7%;">@item.RepresentativeName</td>
        <td style="text-align: center; width: 8%;">@item.BookingNo</td>
        <td style="text-align: left; width: 10%;">@item.ProductName</td>
        <td style="text-align: left; width: 17%;">@item.Measurement</td>
        <td style="text-align: left; width: 17%;">@item.PaperCombination</td>
        <td style="text-align: right; width: 8%;">@item.BalanceQty.ToString("##,##0.00") @item.QuantityUnit</td>
        <td style="text-align: right; width: 7%;" ondblclick="setQty(this, 2);">@item.BalanceQty.ToString("##,##0.00")</td>
        <td style="text-align: center; width: 8%; display: none;">@item.QuantityUnit</td>
        <td style="text-align: center; display: none;">@item.QuantityUnitId</td>@*UnitId*@
        <td style="text-align: center; width: 8%; display: none;">@item.BalanceQty.ToString("##,##0.00")</td>
        <td style="text-align: center; width: 6%">
            <a id="btnAdd" class="edit" title="" data-toggle="tooltip" data-original-title="Add" onclick="addtoplan(this);"><i class="glyphicon glyphicon-arrow-down"></i></a>
        </td>
    </tr>
}