﻿@model InventoryMS.Models.SRRMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Requisiton For Other Purpose
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> SRR</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Issue List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.SRRId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRNo, "Req. #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.SRRNo, "StringWOL", new { @readonly = "readonly", @Value = @ViewBag.SRRNo })

                                    @Html.ValidationMessageFor(model => model.SRRNo, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.SRRDate, "Req Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.SRRDate, "DateTimeWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.SRRDate, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Material Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.MaterialTypeId, (SelectList)ViewBag.MaterialType, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "$('#proddetails>tbody').html('');" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Applicant Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getTransferList(this.value)" })
                                </div>
                                @*@Html.LabelFor(model => model.SRRId, "Store", new { @class = "col-common col-sm-1 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("Store", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>*@
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Req. Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.SRRTypeId, (SelectList)ViewBag.RequisitionType, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "RequisitionTypeChange(this.value)" })
                                </div>
                            </div>

                            <div id="transfer_div" class="form-group">
                                @Html.LabelFor(model => model.ReferenceId, "Transfer From", new { @id = "lbl_transfer", @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("TransferFactory", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "$('#proddetails>tbody').html('');" })
                                </div>
                                <div style="display:none;">
                                    @Html.DropDownList("FactoryList", null, string.Empty)
                                </div>
                            </div>

                            <div id="lender_div" class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Lender", new { @id = "lbl_lender", @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownList("Lender", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-1">
                                    <a id="add_lender" title="" data-toggle="tooltip" data-original-title="Add"><i class="glyphicon glyphicon-plus-sign" style="height: 25px; display:table-cell; vertical-align: middle; cursor: pointer;"></i></a>
                                </div>
                            </div>

                            <div id="customer_div" class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Customer", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("Customer", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div id="issuer" class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Purpose", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("Purpose", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { rows = 3 })
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <div class="form-group row">
                                            <div class="col-sm-5">
                                                <span class="username username_lte">
                                                    <a href="#">Raw Material Details</a>
                                                </span>
                                            </div>
                                            <div class="col-sm-7 pull-right text-right">
                                                <span style="color: maroon; padding-right: 10px; font-weight: bold;">*** Stock Quantity = Actual Store Available Qantity - Pending Requisition Quantity</span>
                                            </div>
                                        </div>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="proddetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Org Cat Id
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Org Prod Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Category
                                                </th>
                                                <th style="text-align: center;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Brand
                                                </th>
                                                <th id="f1stock" style="text-align: center;">
                                                    Stock
                                                </th>
                                                <th id="f2stock" style="text-align: center; display: none;">
                                                    F2 Stock
                                                </th>
                                                <th id="srr_qty" style="text-align: center;">
                                                    Required Qty
                                                </th>
                                                <th style="display: none;">
                                                    Floor Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Required Date
                                                </th>
                                                <th id="issueqty" style="display: none;">
                                                    Net Req<br />Quantity
                                                </th>
                                                <th id="receiveqty" style="text-align: center; display: none;">
                                                    Quantity
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblpbody"></tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 1px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 64.5%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; width: 13%; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;"></td>
                                            </tr>
                                            @*<tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a id="btnBlank" class="new" title="Add New Row" style="text-decoration: underline; cursor: pointer;" data-toggle=" tooltip" data-original-title="Add" onclick="AddBlankRow();"><i class="glyphicon glyphicon-plus"></i> Add another row</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                        <input id="btnEmail" type="button" class="btn btn-primary" value="Test Email" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="modal_warehouse" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Warehouse Entry</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-7" style="padding-right: 5px;">
                            <div class="form-group">
                                @Html.Label("Warehouse", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.Editor("WarehouseName", "StringWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Bond", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Location", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.DropDownList("LocationId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                <span id="e_w_msg" style="color: red; font-weight: bold;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btnclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="bond_save();">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal_lender" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Lender Entry</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-7" style="padding-right: 5px;">
                            <div class="form-group">
                                @Html.Label("Full Name", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.Editor("LenderName", "StringWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Short Name", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.Editor("ShortName", "StringWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                <span id="e_l_msg" style="color: red; font-weight: bold;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btnclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="lender_save();">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('#add_bond').click(function () {
        $('#modal_warehouse').modal('show');
    });

    $('#add_lender').click(function () {
        $('#modal_lender').modal('show');
    });

    $('#SRRDate').datepicker({
        format: 'dd-M-yyyy',
        startDate: '-@(Model.SRRDate.Day <= (Session["UserName"].ToString() == "XDP4610-18" || Session["UserName"].ToString() == "XDP05711-22" ? 31 : 6) ? (((Model.SRRDate.Month == 1 ? 365 : 0) + Model.SRRDate.DayOfYear) - DateTime.Parse(Model.SRRDate.Date.AddMonths(-1).ToString("01-MMM-yyyy")).DayOfYear) : (Model.SRRDate.Day - 1))d',
        //minDate: new Date('@DateTime.Today.AddDays(30).ToString("01-MMM-yyyy")'),
        autoclose: true
    });

    function bond_save() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save", "Warehouse")',
            data: JSON.stringify({ WarehouseName: $('#WarehouseName').val().toUpperCase(), BondId: $('#BondId').val(), LocationId: $('#LocationId').val() }),
            success: function (data) {
                if (data.status == 'success') {
                    var option = new Option(data.name, data.id, true, true);
                    $("#TransferFactory").append(option).trigger('change');

                    $('#modal_warehouse').modal('hide');
                } else {
                    console.log(data.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                console.log("Save failed, Try again later.");
            }
        });
    };

    function lender_save() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save", "Payers")',
            data: JSON.stringify({ PayerName: $('#LenderName').val().toUpperCase(), ShortName: $('#ShortName').val().toUpperCase(), PayerTypeId: 1 }),
            success: function (data) {
                if (data.status == 'success') {
                    var option = new Option(data.name, data.id, true, true);
                    $("#Lender").append(option).trigger('change');

                    $('#modal_lender').modal('hide');
                } else {
                    console.log(data.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                console.log("Save failed, Try again later.");
            }
        });
    };

    $('select.select').not('#Purpose').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('#Purpose').select2({
        placeholder: "Select or Type . . .",
        tags: true,
        createTag: function (params) {
            var term = $.trim(params.term).toUpperCase();

            if (term === '') {
                return null;
            }

            return {
                id: term,
                text: term
            }
        }
    });

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    $('#customer_div').hide();
    $('#lender_div').hide();

    function RequisitionTypeChange(e) {
        $('#proddetails>tbody').html('');
        $('#srr_qty').show();
        $('#issueqty').hide();

        if (e == 65) {
            $('#f1stock').html('Applicant Stock');
            $('#f2stock').html('Source Stock');
            $('#receiveqty').hide();
            $('#f2stock').show();
            $('#transfer_div').show();
            $('#customer_div').hide();
            $('#lender_div').hide();

            $('#lbl_transfer').html("Transfer From");
        }
        else if (e == 62) {
            $('#f1stock').html('Applicant Stock');
            $('#f2stock').html('Source Stock');
            $('#receiveqty').hide();
            $('#f2stock').show();
            $('#transfer_div').show();
            $('#customer_div').hide();
            $('#lender_div').hide();

            $('#lbl_transfer').html("Loan From");
        }
        else if (e == 60) {
            $('#f1stock').html('Stock');
            //$('#f2stock').html('F2 Stock');
            $('#receiveqty').hide();
            $('#f2stock').hide();
            $('#transfer_div').hide();
            $('#customer_div').hide();
            $('#lender_div').show();

            $('#lbl_lender').html("Source");
        }
        else if (e == 63) {
            $('#f1stock').html('Stock');
            //$('#f2stock').html('F2 Stock');
            $('#receiveqty').hide();
            $('#f2stock').hide();
            $('#transfer_div').hide();
            $('#customer_div').hide();
            $('#lender_div').show();

            $('#lbl_lender').html("Lender");
        }
        else if (e == 61) {
            $('#f1stock').html('Stock');
            //$('#f2stock').html('F2 Stock');
            $('#srr_qty').hide();
            $('#issueqty').show();
            $('#issueqty').html("Receive Qty");
            $('#receiveqty').show();
            $('#receiveqty').html("Given Qty");
            $('#f2stock').hide();
            $('#transfer_div').hide();
            $('#customer_div').hide();
            $('#lender_div').show();
        }
        else {
            $('#f1stock').html('Stock');
            //$('#f2stock').html('F2 Stock');
            $('#receiveqty').hide();
            $('#f2stock').hide();
            $('#transfer_div').hide();
            $('#customer_div').show();
            $('#lender_div').hide();
        }
    };

    function delrow(e) {
        if (confirm('Are you sure want to delete?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        rn = $(e).closest('tr').index() + 1;

        $('#proddetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;

        $('table#proddetails>tbody>tr td:first-child').each(function () {
            $(this).text((rn + 1000).toString().slice(-2));
            rn++;
        });

        set_total_qunatity();
    };

    function AddBlankRow() {
        if ($('#MaterialTypeId').val() == '' || $('#MaterialTypeId').val() == 0) {
            alert("Select Material Type.");
            return;
        }
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == 0) {
            alert("Select Applicant Unit.");
            return;
        }
        if ($('#SRRTypeId').val() == 65 && ($('#TransferFactory').val() == '' || $('#TransferFactory').val() == 0)) {
            alert("Select Source Unit.");
            return;
        }
        if ($('#SRRTypeId').val() == '' || $('#SRRTypeId').val() == 0) {
            alert("Select Req. Type.");
            return;
        }

        rn = $('#proddetails>tbody>tr').length + 1;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("RequistionProduct")',
            data: JSON.stringify({ planlist: [], rowno: rn, srrtype: $('#SRRTypeId').val(), mat_type_id: $('#MaterialTypeId').val(), factory_id: $('#FactoryId').val(), transfer_from: $('#TransferFactory').val() }),
            success: function (msg) {
                $('#proddetails>tbody').append(msg);

                //$('#proddetails>tbody>tr:last').children('td:eq(0)').html((rn + 1000).toString().slice(-3))

                $('#proddetails>tbody>tr:last .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                $('#proddetails>tbody .date').datepicker({
                    format: 'dd-M-yyyy',
                    autoclose: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

        function getTransferList(e) {
            $('#proddetails>tbody').html('');
            $('#totalqty').html('');
            $('#TransferFactory').select2('destroy');
            var $options = $("#FactoryList > option").clone();
            $('#TransferFactory').find('option').remove().end().append($options);
            $('#TransferFactory option[value=' + e + ']').remove();
            $('#TransferFactory').select2({
                placeholder: "Select or Type . . .",
                //dropdownAutoWidth: true
            });
            var Prefix = '###';
            if ($('#MaterialTypeId').val() != null) {
                if ($('#MaterialTypeId').val() == 89) {
                    Prefix = 'TSS'
                }
                else {
                    Prefix = 'TSR'
                }
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryDetails")",
                data: JSON.stringify({ id: $('#FactoryId').val(), srrdate: $('#SRRDate').val(), type: Prefix }),
                success: function (data) {
                    $('#SRRNo').val(data.srrno);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        };

    function GetProductList(id, sb) {
        if (id == '' || id == '0')
            return;
        if ($('#Factory').val() == '') {
            alert('Please select unit.')
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductList")',
            data: JSON.stringify({ id: id, facid: $('#Factory').val(), rowno: eval($(sb).attr('id').split("_").pop()) }),
            success: function (msg) {
                row = $(sb).closest('tr');

                $(row).find('td:eq(1)').html(id);
                $(row).find('td:eq(2)').html(0);
                $(row).find('td:eq(4)').html(msg);
                $(row).find('td:eq(13)').html(0);
                $(row).find('td:eq(14)').html('');

                $('#ProductId_' + $(sb).attr('id').split("_").pop()).select2({
                    placeholder: "Select or Type . . .",
                    //allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function GetProductList(id, sb) {
        if (id == '' || id == '0')
            return;
        if ($('#Factory').val() == '') {
            alert('Please select unit.')
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductList")',
            data: JSON.stringify({ id: id, facid: $('#FactoryId').val(), rowno: eval($(sb).attr('id').split("_").pop()) }),
            success: function (msg) {
                row = $(sb).closest('tr');

                $(row).find('td:eq(2)').html(id);
                $(row).find('td:eq(3)').html(id);
                $(row).find('td:eq(4)').html(0);
                $(row).find('td:eq(5)').html(0);
                $(row).find('td:eq(7)').html(msg);
                $(row).find('td:eq(16)').html(0);
                $(row).find('td:eq(17)').html('');

                console.log($(sb).attr('id'));

                $('#ProductId_' + $(sb).attr('id').split("_").pop()).select2({
                    placeholder: "Select or Type . . .",
                    //allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function GetProductDetails(id, sb) {
        if (id == '' || id == '0')
            //alert(id);
            return;
        //alert(id);
        let facid2 = 0;
        if ($('#SRRTypeId').val() == "62" || $('#SRRTypeId').val() == "65")
            facid2 = $('#TransferFactory').val();

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductDetails")',
            data: JSON.stringify({ id: id, type: $('#SRRTypeId').val(), facid: $('#FactoryId').val(), facid2: facid2 }),
            success: function (msg) {
                //alert(msg);
                row = $(sb).closest('tr');

                $(row).find('td:eq(5)').html(id);
                $(row).find('td:eq(9)').html(msg.stock1_qty);
                $(row).find('td:eq(10)').html(msg.stock2_qty);
                $(row).find('td:eq(12)').html(msg.floor_stock1);
                $(row).find('td:eq(16)').html(msg.unitid);
                $(row).find('td:eq(17)').html(msg.unit);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function setQty(t, dn) {
        dn = dn || 0;
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                let stock_qty = parseFloat($(t).closest('tr').find('td:eq(9)').html().replace(/\,/g, ''));
                if ($('#SRRTypeId').val() == 62 || $('#SRRTypeId').val() == 65) {
                    stock_qty = parseFloat($(t).closest('tr').find('td:eq(10)').html().replace(/\,/g, ''));
                }
                let fac_id = ['2', '3', '4', '9', '15', '16'];
                if (fac_id.indexOf($('#FactoryId').val()) == -1) {
                    stock_qty = 10000000;
                }
                //console.log('stock qty ->', stock_qty);
                if (stock_qty >= parseFloat($(this).val().replace(/\,/g, '')) || $('#SRRTypeId').val() == 60) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    newContent = newContent.split(".");
                    newContent[1] = newContent[1].replace(/\,/g, '');
                    newContent = newContent.join(".");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    set_total_qunatity();
                } else {
                    alert('You have not enough stock quantity in your store to issue.');
                    e.preventDefault();
                }
            }
            else {
                return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function set_total_qunatity() {
        let tQty = 0;
        $('table#proddetails').find('tbody tr').map(function () {
            rn = 0;
            var tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            tQty += eval(tableData[11].replace(/\,/g, ''));
        }).get();

        let net_qty = (new Number(tQty)).toFixed(4).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        net_qty = net_qty.split(".");
        net_qty[1] = net_qty[1].replace(/\,/g, '');
        net_qty = net_qty.join(".");

        $('#totalqty').html(net_qty);
    }

    $('#btnEmail').click(function () {
        let srr_id = 47841;
        //debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("TestEmail")',
            data: JSON.stringify({ id: srr_id }),
            success: function (msg) {
                //$('#APVSub').html(msg);
                //$('#tableContent').val($('#tblCWFV tbody').html());
                //$('table#tblCWFV tbody').html(msg);
                console.log(msg);

                @*if (msg != 'Duplicate SRR No.')
                    window.location = '@Url.Action("Create")';*@
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Save failed. try later.');
            }
        });
    });

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        if ($('#proddetails>tbody>tr').length < 1) {
            alert('No requisiton details information.');
            return;
        };

        var isValid = true, ctl;
        let prod_list = [];
        $('table#proddetails>tbody>tr td:eq(5)').each(function () {
            if (prod_list.includes($(this).text())) {
                isValid = false;
                return;
            } else {
                prod_list.push($(this).text());
            }
        });

        if (!isValid) {
            alert('Duplicate product added. please remove duplicate one.');
            return;
        }

        $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
            if ($(this).val() == '') {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                //return;

                isValid = false;
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }

        let ref_id = 0;

        if ($('#SRRTypeId').val() == 62 || $('#SRRTypeId').val() == 65) {
            ref_id = $('#TransferFactory').val();
        } else if ($('#SRRTypeId').val() == 60 || $('#SRRTypeId').val() == 61 || $('#SRRTypeId').val() == 63) {
            ref_id = $('#Lender').val();
        } else if ($('#SRRTypeId').val() == 64) {
            ref_id = $('#Customer').val();
        }

        var SRRView = {
            SRRId: $('#SRRId').val(),
            SRRNo: $('#SRRNo').val(),
            SRRDate: $('#SRRDate').val(),
            FactoryId: $('#FactoryId').val(),
            SRRTypeId: $('#SRRTypeId').val(),
            MaterialTypeId: $('#MaterialTypeId').val(),
            ReferenceId: ref_id,
            Purpose: $('#Purpose').val(),
            Remarks: $('#Remarks').val()
        };
        var SRRSubView = [];

        rn = 0;
        let invalid = false;
        var tbl = $('table#proddetails').find('tbody tr').map(function () {
            rn = rn + 1;
            let tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            if (eval(tableData[11].replace(/\,/g, '')) == 0 || tableData[16].length == 0 || tableData[5].length == 0) {
                invalid = true;
            }

            if (tableData.length >= 11) {
                //console.log(tableData);
                let arrayOfThisRow = {
                    SRRId: $('#SRRId').val(),
                    SRRSubId: tableData[1],
                    OriginCategoryId: tableData[2],
                    CategoryId: tableData[3],
                    OriginProductId: tableData[4],
                    ProductId: tableData[5],
                    CurrentStock1: tableData[9].replace(/\,/g, ''),
                    CurrentStock2: tableData[10].replace(/\,/g, ''),
                    SRRQuantity: tableData[11].replace(/\,/g, ''),
                    FloorStock: tableData[12].replace(/\,/g, ''),
                    RequiredDate: $('#RequiredDate_' + (rn + 1000).toString().slice(-2)).val(), // '18-Jul-2020', //tableData[13],
                    NetQuantity: tableData[11].replace(/\,/g, ''),
                    BrandId: $('#BrandId_' + (rn + 1000).toString().slice(-2)).val(),
                    UnitId: tableData[16],
                    Status: 1,
                    Remarks: '',
                    RowNo: eval(tableData[0])
                };
                console.log(arrayOfThisRow);
                //console.log($('#BrandId_' + (rn + 1000).toString().slice(-2)).val())
                SRRSubView.push(arrayOfThisRow);
            }
        }).get();

        if (invalid == true) {
            alert('Some item has no selected product or requistion quantity or quantity unit.');
            return;
        }

        //alert(JSON.stringify({ IssueView: IssueView, IssueSubView: IssueSubView }));
        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ srrView: SRRView, srrSubView: SRRSubView }),
            success: function (msg) {
                //$('#APVSub').html(msg);
                //$('#tableContent').val($('#tblCWFV tbody').html());
                //$('table#tblCWFV tbody').html(msg);
                alert(msg);

                if (msg != 'Duplicate SRR No.')
                    window.location = '@Url.Action("Create")';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Save failed. try later.');
            }
        });
    });
    </script>
}

@section CSS {

}

