﻿@model IEnumerable<InventoryMS.Models.MenuType>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Dashboard
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12" style="text-align: center;">
                <!-- general form elements -->
                <div class="box box-success">
                </div>
                <h2 style="color: green; margin-top: 200px;">Welcome To <b>Inventory &amp; Procurement</b> Managing System</h2>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script>
        console.log(@ViewBag.ActionList);
    </script>
}