﻿@model IEnumerable<InventoryMS.Models.Requisition>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Pending Requisition List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Pending Requisition</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    @*<div class="btn-group">
                        @if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Requisition</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New Requisition</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }

                    </div>*@
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.PRNo)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.PRDate)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.FactoryId)
                                </th>
                                <th colspan="2" style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.TotalQuantity)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FactoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuantityUnit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Activity)
                                    </td>
                                    <td style="text-align: center">
                                        @if ((ViewBag.is_mnsp == null || ViewBag.is_mnsp == 0) && InventoryMS.Models.clsMain.IsPermitted("Requisition", "Details"))
                                        {
                                            <a href="@Url.Action("Details", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="Details"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        }
                                        else if (ViewBag.is_mnsp != null && ViewBag.is_mnsp == 1 && InventoryMS.Models.clsMain.IsPermitted("Requisition", "Details_MNSP"))
                                        {
                                            <a href="@Url.Action("Details_MNSP", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="Details"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Details"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

