﻿@model InventoryMS.Models.RequisitionSub
@using InventoryMS.Models

@{
    var dbProd = new ProductCubeEntities();
    var cat = dbProd.ItemCategories.Find(Model.CategoryId);
}

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                        <div class="col-sm-9">
                            @cat.CategoryName
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductId, new { @class = "col-common col-sm-3 control-label" }, false)
                        <div id="pid" class="col-sm-9">
                            @Model.ProductName
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentStock, new { @class = "col-common col-sm-3 control-label" })
                        <div class="col-sm-3" style="padding-right: 2px;">
                            @Model.CurrentStock.Value.ToString("##,##0.00")
                        </div>
                        <div class="col-sm-3" style="padding: 0px; text-align: right;">
                            @Html.LabelFor(model => model.PendingRequisitionQuanity, "Pend Req Qty", new { @class = "col-common control-label" })
                        </div>
                        <div class="col-sm-3">
                            @Model.PendingRequisitionQuanity.Value.ToString("##,##0.00")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StockInTransit, new { @class = "col-common col-sm-3 control-label" })
                        <div class="col-sm-3" style="padding-right: 2px;">
                            @Model.StockInTransit.Value.ToString("##,##0.00")
                        </div>
                        <div class="col-sm-3" style="padding: 0px; text-align: right;">
                            @Html.LabelFor(model => model.PendingRequisitionQuanity, "Total Stock", new { @class = "col-common control-label" })
                        </div>
                        <div class="col-sm-3">
                            @Model.TotalStock.Value.ToString("##,##0.00")
                        </div>
                    </div>

                    <div id="pld" class="form-group">
                        <div class="col-sm-0">
                        </div>
                        <div class="col-sm-12">
                            <table class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width: 37%;">LC No</th>
                                        <th style="width: 25%;">ETA</th>
                                        <th style="width: 38%;">PL Qty</th>
                                    </tr>
                                </thead>
                                <tbody id="tblbody">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.Label("Period Consumtion", new { @class = "col-common col-sm-4 control-label" })
                        <div class="col-sm-5" style="padding-right: 2px;">
                            @Html.Editor("daterange", "StringWOL", new { @Value = Model.HistoricalPeriod, @readonly = "readonly", @class = "ccnormal" })
                            @Html.Hidden("HistoricalPeriod")
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px">
                            @Html.EditorFor(model => model.HistoricalConsumption, "DecimalWOL", new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Next3MonthAvgConsumptionLastYear, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-2" style="padding-right: 0px;">
                            @Model.Next3MonthAvgConsumptionLastYear
                        </div>
                        <div class="col-sm-3" style="padding: 0px;">
                            @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, "N 6 M Avg Consm L Y", new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.EditorFor(model => model.AvgConsmPerMonth, "DecimalWOL", new { @Id = "AvgConsmPerMonth", @readonly = "readonly" })
                        </div>
                    </div>

                    @Html.EditorFor(model => model.Next3MonthAvgConsumptionLastYear, "DecimalH", new { @readonly = "readonly" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, new { @class = "col-common col-sm-4 control-label n3macc" }, false)
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @Html.EditorFor(model => model.Next3MonthAvgConsumptionCurrentYear, "DecimalWOL")
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, "Consm/Day", new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.EditorFor(model => model.AvgConsmPerDayN3M, "DecimalWOL", new { @Id = "AvgConsmPerDayN", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PreferredSupplierId, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-8">
                            @Model.SupplierName
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandId, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @Model.BrandName
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.LeadTime, new { @class = "col-common col-sm-12 control-label" }, false)
                        </div>
                        <div class="col-sm-3" style="text-align: right; padding-right: 15px;">
                            @Model.LeadTime
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @Model.Quantity.Value.ToString("##,##0.00") @Model.QuantityUnit
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.FactoryETA, new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="text-align: right; padding-right: 15px;">
                            @Model.FactoryETA.Value.ToString("dd-MMM-yyyy")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.field-validation-error').each(function () {
        $(this).addClass('field-validation-valid');
        $(this).removeClass('field-validation-error');
        $(this).html('');
    })

    $('#daterange').dateRangePicker({
        separator: ' - ',
        format: 'DD-MMM-YYYY',
        autoClose: true,
        setValue: function (s) {
            if (!$(this).is(':disabled') && s != $(this).val()) {
                $(this).val(s);
                $('#HistoricalPeriod').val(s);
                $('#HistoricalConsumtion').val('0.00');

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    //datatype: 'json',
                    url: "@Url.Action("ItemDetails")",
                    data: JSON.stringify({ id: $('#ProductId').val(), facid: $('#FactoryId').val(), fdate: s.split(' - ')[0], tdate: s.split(' - ')[1] }),
                    success: function (data) {
                        //alert(JSON.stringify(data));
                        $('#HistoricalConsumption').val(data.items.P3MonthConsm);
                        $('#AvgConsmPerDay').val(data.items.AvgConsmPerDay);
                        $('#AvgConsmPerMonth').val(data.items.AvgConsmPerMonth);
                        $('#DaysWithTotalStock').val(data.items.DaysWithTotalStock);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }
        //locale: {
        //    format: 'DD-MMM-YYYY'
        //},
        //autoClose: true,
        ////startDate: moment(),
        ////endDate: moment()
    //},
    //function (startDate, endDate) {
    //    //$('#daterange span').html(startDate.format('DD-MMM-YYYY') + ' - ' + endDate.format('DD-MMM-YYYY'));
    });

    $('#daterange').on('apply.daterangepicker', function (ev, picker) {
        alert('Here1');
        //console.log(picker.startDate.format('YYYY-MM-DD'));
        //console.log(picker.endDate.format('YYYY-MM-DD'));
        $('#HistoricalPeriod').val(picker.startDate.format('DD-MMM-YYYY') + ' - ' + picker.endDate.format('DD-MMM-YYYY'));
        $('#HistoricalConsumtion').val('0.00');
    });

    $('.date').not('[readonly]').datepicker({
        format: 'dd-M-yyyy',
        autoclose: true
        //onSelect: etaCheck()
        //onSelect: function () {
        //    alert('c');
        //    var oldValue = $(this).data('oldValue') || "";
        //    if (dateText !== oldValue) {
        //        alert('b');
        //        etaCheck(dateText, datePickerInstance);
        //    }
        //}
    });

    var supchange = false;
    function getSupDetails(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //datatype: 'json',
            url: "@Url.Action("SupplierDetails")",
            data: JSON.stringify({ id: e, reqDate: $('#PRDate').val(), facid: $('#FactoryId').val() }),
            success: function (data) {
                //alert(data.supplier.LeadTime);
                $('#BrandId').val(data.BrandId).trigger('change');

                supchange = true;
                if (data.LeadTime == 0) {
                    $('#LeadTime').val($('#AvgLeadTimeEarlierOrders').val());
                    $('#CETA').val($('#CETA').val());
                    $('#FactoryETA').datepicker('setDate', $('#CETA').val());
                }
                else {
                    $('#LeadTime').val(data.LeadTime);
                    //$('#AvgLeadTimeEarlierOrders').val(data.AvgLeadTime);
                    $('#CETA').val(data.CETA);
                    $('#FactoryETA').datepicker('setDate', data.FETA);
                }
                if (e == 0 || eval($('#LeadTime').val()) == 0) {
                    //alert(e);
                    $('#LeadTime').attr('readonly', false);
                }
                else {
                    $('#LeadTime').attr('readonly', true);
                }

                supchange = false;

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    $("#LeadTime").blur(function () {
        if ($("#LeadTime").val() == '') {
            $("#LeadTime").val('0');
        }
    });

    $("#LeadTime").change(function () {
        if ($("#LeadTime").val() != '') {
            var prdate = $('#PRDate').val().toLowerCase().split('-');
            var ceta = new Date(prdate[1] + " " + prdate[0] + ", " + prdate[2]);
            ceta.setDate(ceta.getDate() + eval($('#LeadTime').val()));
            $('#CETA').val(getFormatedDate(ceta));
            $('#FactoryETA').datepicker('setDate', $('#CETA').val());
        }
    });

    $("#Next3MonthAvgConsumptionCurrentYear").blur(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#AvgConsmPerDayN').val((eval($(this).val().replace(/\,/g, '')) / 90.00).toFixed(2));
    });

    $("#FactoryETA").change(function () {
        if(!supchange)
            etaCheck();
    });

    function etaCheck() {
        var feta = $('#FactoryETA').val().toLowerCase().split('-');
        var ceta = $('#CETA').val().toLowerCase().split('-');
        var blsd = $('#BLSDate').val().toLowerCase().split('-');
        var bled = $('#BLEDate').val().toLowerCase().split('-');

        if (new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime() >= new Date(blsd[1] + " " + blsd[0] + ", " + blsd[2]).getTime()
            && new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime() < new Date(bled[1] + " " + bled[0] + ", " + bled[2]).getTime()) {
            //alert($("#FactoryETA").val());
            alert('Bond license will be expire in ' + $('#BLSDate').val() + '.\nSo, Factory ETA must have to 45 days later than expire.');
            $("#FactoryETA").datepicker('setDate', $('#BLEDate').val());
        }
        else if (new Date(ceta[1] + " " + ceta[0] + ", " + ceta[2]).getTime() > new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime()) {
            //alert($("#FactoryETA").val());
            alert('Factory ETA must be greater than or equal to C ETA.');
            $("#FactoryETA").datepicker('setDate', $('#CETA').val());
        }
    };

    function getItemDetails(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //datatype: 'json',
            url: "@Url.Action("ItemDetails")",
            data: JSON.stringify({ id: e, facid: $('#FactoryId').val(), prsubid: $('#PRSubId').val() }),
            success: function (data) {
                //alert(JSON.stringify(data));
                $('#CurrentStock').val(data.items.PresentStock);
                $('#Next3MonthAvgConsumptionLastYear').val(data.items.N3MonthConsmLY);
                $('#HistoricalConsumption').val(data.items.P3MonthConsm);
                $('#StockInTransit').val(data.items.Pipeline);
                $('#PendingRequisitionQuanity').val(data.items.ReqPendingQuantity);
                $('#TotalStock').val(data.items.TotalStock);
                $('#CapacityId').val(data.items.CapacityId);
                $('#BondBalance').val(data.items.BondBalance);
                $('#AvgConsmPerDay').val(data.items.AvgConsmPerDay);
                $('#AvgConsmPerMonth').val(data.items.AvgConsmPerMonth);
                $('#DaysWithTotalStock').val(data.items.DaysWithTotalStock);
                $('#HistoricalPeriod').val(data.items.FDate + ' - ' + data.items.TDate);
                $('#daterange').val($('#HistoricalPeriod').val());
                $('#AvgLeadTimeEarlierOrders').val(data.lt);

                if ($('#PRSubId').val() == '' || eval($('#PRSubId').val()) == 0) {
                    $('#LeadTime').val(data.lt);
                    $('#CETA').val(data.feta);
                    $('#FETA').val(data.feta);
                    $('#FactoryETA').datepicker('setDate', data.feta);
                    $('#PreferredSupplierId').val('0').trigger('change');
                }
                //$('#pld').attr('style', 'display: block');

                var row = "";
                for (var i = 0; i < data.pl.length; i++) {
                    row += "<tr>" +
                                "<td>" + data.pl[i].LCNo + "</td>" +
                                "<td style='text-align: center;'>" + data.pl[i].ETA + "</td>" +
                                "<td style='text-align: right;'>" + data.pl[i].PLQty + " " + data.pl[i].QUnit + "</td>" +
                            "</tr>"
                };

                $('#tblbody').html(row);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };
</script>