﻿@model InventoryMS.Models.Requisition
@using InventoryMS.Models
@{ProductCubeEntities db = new ProductCubeEntities();}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Requisition
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Requisition</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Requisition List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Requisition Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("FactoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCompanyName(this.value)" })

                                                @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Company", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9" id="CompanyId">
                                                -
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.PRDate)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Remarks)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Product Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @*@Html.Action("RequisitionTemplate")*@
                                    </div>

                                    <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 4%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Category Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center; width: 20%;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Cur. Stock
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Pipeline
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm LY
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Avg LTEO
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Ft. ETA
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Supplier Id
                                                </th>
                                                <th style="text-align: center; width: 14%;">
                                                    Supplier
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Brand Id
                                                </th>
                                                <th style="text-align: center; width: 12%;">
                                                    Brand
                                                </th>
                                                <th colspan="2" style="text-align: center; width: 20%;">
                                                    Req. Quantity
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Quantity Unit
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Sub ID
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    <a title="" data-toggle="tooltip" data-original-title="Add Product" onclick="itemEntry(this);"><i class="glyphicon glyphicon-plus-sign" style="color: white; cursor: pointer;"></i><span style="color: white; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.requisitionSub == null || Model.requisitionSub.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="19">No details available.</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                int rIndex = 0;
                                                //for (int rIndex = 0; rIndex < Model.requisitionSub.Count; rIndex++)
                                                foreach (var v in Model.requisitionSub)
                                                {
                                                    rIndex++;
                                                    <tr>
                                                        <td style="text-align: center;">@((rIndex).ToString("000"))</td>
                                                        <td style="display: none;">@v.CategoryId</td>
                                                        <td style="display: none;">@v.ProductId</td>
                                                        <td style="text-align: left;">@v.ProductName</td>
                                                        <td style ="text-align: right;">@v.CurrentStock</td>
                                                        <td style ="text-align: right;">@v.StockInTransit</td>
                                                        <td style="display: none;">@v.Last3MonthAvgConsumtion</td>
                                                        <td style="display: none;">@v.Next3MonthAvgConsumtionLastYear</td>
                                                        <td style="display: none;">@v.Next3MonthAvgConsumtionCurrentYear</td>
                                                        <td style="display: none;">@v.AvgLeadTimeEarlierOrders</td>
                                                        <td style ="text-align: center;">@v.FactoryETA</td>
                                                        <td style="display: none;">@v.PreferredSupplierId</td>
                                                        <td style="text-align: left;">@v.SupplierName</td>
                                                        <td style="display: none;">@v.BrandId</td>
                                                        <td style="text-align: left;">@v.BrandName</td>
                                                        <td style = "text-align: right;">@v.Quantity</td>
                                                        <td style="text-align: left;">@v.QuantityUnit</td>
                                                        <td style="display: none;">@v.QuantityUnitId</td>
                                                        <td style="display: none;">@v.PRSubId</td>
                                                        <td style="text-align: center;">
                                                            <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="19"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="RQSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Details</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="btnAdd" type="button" class="btn btn-success" onclick="quoteSave();" >Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function itemEntry(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RequisitionTemplate")',
                //data: JSON.stringify({ supPrice: supPrice }),
                success: function (msg) {
                    $('#padetails').html(msg);

                    $('#padetails select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#daterange').daterangepicker(
                        {
                            "locale": { "format": "DD-MMM-YYYY" },
                            ranges: {
                                //'Today': [moment(), moment()],
                                //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                //'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                //'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last 1 Month': [moment().subtract(1, 'month'), moment().subtract(1, 'days')],
                                'Last 3 Month': [moment().subtract(3, 'month'), moment().subtract(1, 'days')],
                                'Last 6 Month': [moment().subtract(6, 'month'), moment().subtract(1, 'days')]
                            },
                            "alwaysShowCalendars": true,
                            "startDate": moment().subtract(3, 'month'),
                            "endDate": moment()
                        },
                        function (start, end) {
                            //$('#daterange').html(start.format('DD-MMM-YYYY') + ' - ' + end.format('DD-MMM-YYYY'));
                            //alert(start + ' - ' + end);
                        }
                    );

                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getCompanyName(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CompanyInfo")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#CompanyId').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
        }

        function getProduct(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ProductList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#pid').html(data);
                    $('#pid .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getQuantityUnit(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("QuantityUnitList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#qulist').html(data);
                    $('#qulist .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $("#btnAdd").click(function () {
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblSub>tbody>tr').length;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('#divSC input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var rowData = {
                PRSubId: 0, CategoryId: $('#CategoryId').val(), ProductId: $('#ProductId').val(), ProductName: $('#ProductId').select2("data")[0].text,
                CurrentStock: $('#CurrentStock').val(), StockInTransit: $('#StockInTransit').val(), Last3MonthAvgConsumtion: $('#Last3MonthAvgConsumtion').val(),
                Next3MonthAvgConsumtionLastYear: $('#Next3MonthAvgConsumtionLastYear').val(), Next3MonthAvgConsumtionCurrentYear: $('#Next3MonthAvgConsumtionCurrentYear').val(),
                AvgLeadTimeEarlierOrders: $('#AvgLeadTimeEarlierOrders').val(), FactoryETA: $('#FactoryETA').val(), PreferredSupplierId: $('#PreferredSupplierId').val(),
                SupplierName: $('#PreferredSupplierId').select2("data")[0].text, BrandId: $('#BrandId').val(), BrandName: $('#BrandId').select2("data")[0].text,
                Quantity: $('#Quantity').val(), QuantityUnitId: $('#QuantityUnitId').val(), QuantityUnit: $('#QuantityUnitId').select2("data")[0].text
            };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify(rowData),
                success: function (data) {
                    if (isEdit) {
                        $('#tblSub tr:eq(' + rn + ')').after(data);
                        $('#tblSub tr:eq(' + rn + ')').remove();
                        //$("#tblSub tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                        //    {
                        //        'size': 'mini',
                        //        'onText': 'Yes',
                        //        'offText': 'No'
                        //    });
                    }
                    else {
                        $('#tblSub tr:last').before(data);
                        //$("#tblSub tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                        //    {
                        //        'size': 'mini',
                        //        'onText': 'Yes',
                        //        'offText': 'No'
                        //    });
                    }

                    $('#mymodal').modal('hide');
                    $('#btnAdd').val('Save changes');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#btnAdd').removeClass('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#CategoryId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html()).trigger("change");
            $('#ProductId').val($('#tblSub tr:eq(' + rn + ') td:eq(2)').html()).trigger("change");
            $('#CurrentStock').val($('#tblSub tr:eq(' + rn + ') td:eq(5)').html());
            $('#StockInTransit').val($('#tblSub tr:eq(' + rn + ') td:eq(5)').html());
            $('#Last3MonthAvgConsumtion').val($('#tblSub tr:eq(' + rn + ') td:eq(6)').html());
            $('#Next3MonthAvgConsumtionLastYear').val($('#tblSub tr:eq(' + rn + ') td:eq(7)').html());
            $('#Next3MonthAvgConsumtionCurrentYear').val($('#tblSub tr:eq(' + rn + ') td:eq(8)').html());
            $('#AvgLeadTimeEarlierOrders').val($('#tblSub tr:eq(' + rn + ') td:eq(9)').html());
            $('#FactoryETA').val($('#tblSub tr:eq(' + rn + ') td:eq(10)').html());
            $('#PreferredSupplierId').val($('#tblSub tr:eq(' + rn + ') td:eq(11)').html()).trigger("change");
            $('#BrandId').val($('#tblSub tr:eq(' + rn + ') td:eq(13)').html()).trigger("change");
            $('#Quantity').val($('#tblSub tr:eq(' + rn + ') td:eq(14)').html());
            $('#QuantityUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(18)').html()).trigger("change");

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Update changes');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Save changes');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var requisitionSub = []; rn = 0;

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                //alert(tableData.length);

                if (tableData.length >= 19) {
                    var arrayOfThisRow = {
                        ProductId: tableData[2], PreferredSupplierId: tableData[11], BrandId: tableData[13],
                        CurrentStock: tableData[4], StockInTransit: tableData[5], Last3MonthAvgConsumtion: tableData[6],
                        Next3MonthAvgConsumtionLastYear: tableData[7], Next3MonthAvgConsumtionCurrentYear: tableData[8],
                        AvgLeadTimeEarlierOrders: tableData[9], FactoryETA: tableData[10], Quantity: tableData[15],
                        QuantityUnitId: tableData[17], PRSubId: tableData[18], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    requisitionSub.push(arrayOfThisRow);
                }
            }).get();

            //alert(JSON.stringify({ requisitionSub: requisitionSub }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RequisitionDetails")',
                data: JSON.stringify({ requisitionSub: requisitionSub }),
                success: function (msg) {
                    $('#RQSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    $('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {

}

