﻿@model InventoryMS.Models.Requisition
@using InventoryMS.Models
@{ProductCubeEntities db = new ProductCubeEntities();}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Requisition
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Requisition</a></li>
        <li class="active">New</li>
    </ol>
</section>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Requisition List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Requisition Details</a><a style="float: right;">Requisition # <span id="rqno" style="color:red;">PR/####/0000-00/00</span></a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-6">
                                        @Html.Hidden("BLSDate")

                                        @Html.Hidden("BLEDate")

                                        @Html.Hidden("BPDate")

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCompanyName(this.value)" })

                                                @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                            </div>
                                            @Html.LabelFor(model => model.PRMonth, "Order Month", new { @class = "col-common col-sm-2 control-label" })
                                            <div class="col-sm-3">
                                                @Html.EditorFor(model => model.PRMonth, "DateTimeWOL", new { @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Company", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9" id="CompanyId">
                                                -
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.PRDate, new { @onchange = "getCompanyName(this.value)", @readonly = "readonly" })

                                        <div class="form-group" style="display: none;">
                                            @Html.Label("LeadTime:", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-4" id="AvgLeadTime">
                                                -
                                            </div>
                                            @Html.Label("Factory ETA:", new { @class = "col-common col-sm-2 control-label" })
                                            <div class="col-sm-3" id="AvgFETA">
                                                -
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Remarks)
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Product Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @*@Html.Action("RequisitionTemplate")*@
                                    </div>

                                    <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2000px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Cur. Stock
                                                </th>
                                                <th>
                                                    Pipeline
                                                </th>
                                                <th>
                                                    Pend Req
                                                </th>
                                                <th>
                                                    Total Stock
                                                </th>
                                                <th>
                                                    Avg Consm/Day
                                                </th>
                                                <th>
                                                    Days With T S
                                                </th>
                                                <th>
                                                    Hist. Period
                                                </th>
                                                <th>
                                                    Hist. Consm
                                                </th>
                                                <th>
                                                    L3M Avg Csm LY
                                                </th>
                                                <th>
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="display: none;">
                                                    Supplier Id
                                                </th>
                                                <th>
                                                    Supplier
                                                </th>
                                                <th style="display: none;">
                                                    Brand Id
                                                </th>
                                                <th>
                                                    Brand
                                                </th>
                                                <th>
                                                    L T E O
                                                </th>
                                                <th>
                                                    Lead Time
                                                </th>
                                                <th>
                                                    Ft. ETA
                                                </th>
                                                <th style="text-align: center;">
                                                    Req. Quantity
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="display: none;">
                                                    Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    Cap Id
                                                </th>
                                                <th style="display: none;">
                                                    Bond Bal
                                                </th>
                                                <th style="display: none;">
                                                    Qty In KG
                                                </th>
                                                <th style="display: none;">
                                                    KG/Unit
                                                </th>
                                                <th style="display: none;">
                                                    With Duty?
                                                </th>
                                                <th style="display: none;">
                                                    Bond Capacity Check?
                                                </th>
                                                <th style="display: none;">
                                                    Pend Qty Bond
                                                </th>
                                                <th style="display: none;">
                                                    Bond Capacity Source
                                                </th>
                                                <th style="text-align: center;">
                                                    <a title="" data-toggle="tooltip" data-original-title="Add Product" onclick="itemEntry(this);"><i class="glyphicon glyphicon-plus-sign" style="color: white; cursor: pointer;"></i><span style="color: white; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.requisitionSub == null || Model.requisitionSub.Count == 0)
                                            {
                                                @*@Html.Action("RowTemplate");*@
                                            }
                                            else
                                            {
                                                foreach (var v in Model.requisitionSub)
                                                {
                                                    Html.Action("RowTemplate", new { requisitionSub = v });
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 5px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 71%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; width: 15%;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; width: 14%; border-top:none !important;">
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="RQSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                        @*<input id="btnTest" type="button" class="btn btn-success" value="Create" />
                        <input id="btnTest1" type="button" class="btn btn-success" value="Destroy" />*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Details
                    <span aria-hidden="true" class="pull-right" style="padding-right: 50px; display: block;">
                        <span id="group2">
                            <input type="radio" value="0" checked="checked" name="bond_limit"><span style="font-size: large; font-weight: bold; color: red;">  Regular Limit</span>
                            @*<input type="radio" value="1" id="IsWithDuty" name="bond_limit"><span style="font-size: large; font-weight: bold; color: red;">  With Duty</span>
                            
                            <input type="radio" value="3" id="Next_bond_limit" name="bond_limit" disabled=""><span style="font-size: large; font-weight: bold; color: red;">  Next Bond / Interim License</span>*@

                            @*<input type="radio" value="2" name="bond_limit"><span style="font-size: large; font-weight: bold; color: red;">  Subject to Further Allocation</span>*@

                            @*<input type="radio" value="4" name="bond_limit"><span style="font-size: large; font-weight: bold; color: red;">  Local Source</span>*@
                        </span>
                    </span>
                    <span class="pull-right text-danger" id="pbond_status" style="padding-right: 13%; font-weight: bold; color: mediumvioletred;"></span>
                </h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="btnAdd" type="button" class="btn btn-success" @*onclick="quoteSave();"*@>Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title">Requsition Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center; white-space: pre-wrap;" })
                                @Html.Label("Requsition # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "reqno", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/common/theme/plugins/iCheck/icheck.min.js"></script>

    <script>

    $(document).ready(function () {
    $('#FactoryId').change(function () {
        let factoryId = $(this).val(); // Get the factoryId value here

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMaxBondate")',
            data: { FactoryId: factoryId },
            success: function (data) {
                let bpDate = new Date(data.maxDate);

                // Adjust BPDate based on FactoryId
                if (parseInt(factoryId) === 1 || parseInt(factoryId) === 5) {
                    bpDate.setDate(bpDate.getDate() - 150);
                }
                //for change Next_bond_limit by factory
                else if (parseInt(factoryId) === 16) {
                    bpDate.setDate(bpDate.getDate() - 180);
                }
                else {
                    bpDate.setDate(bpDate.getDate() - 90);
                }

                $('#BPDate').val(bpDate.toISOString().split('T')[0]); // Format date as yyyy-mm-dd

                // Enable radio button if currentDate is greater than adjusted bpDate (#Next_bond_limit)
                let currentDate = new Date();

                if (currentDate > bpDate) {
                    $("#Next_bond_limit").prop('disabled', false);
                } else {
                    $("#Next_bond_limit").prop('disabled', true);
                }

            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });

    $("input[name='bond_limit']").click(function () {
        let currentDate = new Date();
        let bpDate = new Date($('#BPDate').val());

        if (currentDate > bpDate) {
            //alert('BondPeriod Date ' + $('#BPDate').val() + ' is greater than Current date');
            console.log('The next bond option is activated from ' + $('#BPDate').val() + ', Between (150 days for packaging and 90 days for others) before to till Bond period expiry date');

        } else {
            //alert('BondPeriod Date ' + $('#BPDate').val() + ' is less than Current date');
            console.log('The next bond option will active from ' + $('#BPDate').val() + ' (150 days for packaging and 90 days for others) To Bond period expiry date');

        }
    });
    });




        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        //$.contextMenu({
        //    selector: 'span.context-menu',
        //    accesskey: 'a'
        //    callback: function(itemKey, opt){
        //    alert('I pressed a!');
        //}
        //});

        $('[for="PRDate"]').html($('[for="PRDate"]').html().replace('Date', 'Entry Date'));

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        // $('#PRMonth').data('datepicker').remove();

        let prmonth = $('#PRDate').val();
        $('#PRMonth').removeAttr('readonly');
        $('#PRMonth').datepicker({
            format: 'MM-yyyy',
            autoclose: true,
            viewMode: "months",
            minViewMode: "months"
        });

        $('#PRMonth').datepicker('setDate', convertStrToDate(prmonth));

        //$('#IsWithDuty').iCheck({
        //    checkboxClass: 'icheckbox_flat-green',
        //    radioClass: 'iradio_flat-green'
        //})

        //$("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        var table; toTable();

        function toTable() {
            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    scrollX: "2000px",
                    //scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false,
                    columnDefs: [
                        { className: "dt-center", targets: "_all" },
                        { width: 50, targets: 0 },
                        { width: 180, targets: 3 },
                        { width: 100, targets: 4 },
                        { width: 100, targets: 5 },
                        { width: 100, targets: 6 },
                        { width: 100, targets: 7 },
                        { width: 100, targets: 8 },
                        { width: 100, targets: 9 },
                        { width: 200, targets: 10 },
                        { width: 100, targets: 11 },
                        { width: 110, targets: 12 },
                        { width: 110, targets: 13 },
                        //{ width: 100, targets: 14 },
                        { width: 140, targets: 15 },
                        //{ width: 100, targets: 16 },
                        { width: 120, targets: 17 },
                        { width: 70, targets: 18 },
                        { width: 70, targets: 19 },
                        { width: 90, targets: 20 },
                        { width: 100, targets: 21 },
                        { width: 80, targets: 22 },
                        { width: 0, targets: 29 },
                        { width: 0, targets: 30 },
                        { width: 0, targets: 31 },
                        { width: 0, targets: 32 },
                        { width: 70, targets: 33 }
                    ]//,
                    //fixedColumns: true
                }
            );
            new $.fn.dataTable.FixedColumns(table, {
                leftColumns: 0,
                rightColumns: 13
            });
        }

        $('#tblSum').DataTable({
            destroy: true,
            scrollCollapse: false,
            paging: false,
            filter: false,
            info: false,
            ordering: false,
            //columnDefs: [
            //    { width: 35, targets: 0 },
            //    { width: 120, targets: 1 },
            //    { width: 70, targets: 2 }
            //]
        });

        function itemEntry(e) {
            //alert($('#FactoryId').val());
            if ($('#FactoryId').val() == '' || $('#FactoryId').val() == '0') {
                alert('Select factory.');
                return;
            }
            //table.destroy();
            //return;
            edit_qty = 0;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RequisitionTemplate")',
                data: JSON.stringify({ facid: $('#FactoryId').val() }),
                success: function (msg) {
                    $('#padetails').html(msg);

                    $('#padetails select.select').not('#CategoryId').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#CategoryId').select2({});

                    //$('#daterange').daterangepicker(
                    //    {
                    //        "locale": { "format": "DD-MMM-YYYY" },
                    //        //ranges: {
                    //        //    //'Today': [moment(), moment()],
                    //        //    //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    //        //    //'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    //        //    //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    //        //    //'This Month': [moment().startOf('month'), moment().endOf('month')],
                    //        //    'Last 1 Month': [moment().subtract(1, 'month'), moment().subtract(1, 'days')],
                    //        //    'Last 3 Month': [moment().subtract(3, 'month'), moment().subtract(1, 'days')],
                    //        //    'Last 6 Month': [moment().subtract(6, 'month'), moment().subtract(1, 'days')]
                    //        //},
                    //        "alwaysShowCalendars": true,
                    //        //"startDate": moment().subtract(3, 'month'),
                    //        //"endDate": moment()
                    //    },
                    //    function (start, end) {
                    //        $('#HistoricalPeriod').val(start.format('DD-MMM-YYYY') + ' - ' + end.format('DD-MMM-YYYY'));
                    //        //alert(start + ' - ' + end);
                    //    }
                    //);
                    //console.log(JSON.stringify({data: msg}));

                    //$('#IsWithDuty').prop('checked', false);
                    $("input[name='bond_limit'][value=0]").prop('checked', true);
                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(JSON.stringify({jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown});
                    alert(errorThrown);
                }
            });
        };

        function getCompanyName(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryDetails")",
                data: JSON.stringify({ id: $('#FactoryId').val(), rqdate: $('#PRDate').val() }),
                success: function (data) {
                    //alert(data);
                    $('#CompanyId').html(data.comname);
                    $('#BLSDate').val(data.blsdate);
                    $('#BLEDate').val(data.bledate);
                    $('#rqno').html(data.rqno);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
        }

        function getProduct(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ProductList")",
                data: JSON.stringify({ id: e, facid: $('#FactoryId').val() }),
                success: function (data) {
                    $('#pid').html(data);
                    $('#pid .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var qty_unit_list = {};

        function getQuantityUnit(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("QuantityUnitList")",
                //async: false,
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#qulist').html(data);
                    $('#qulist .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#pld').attr('style', 'display: block');

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("QuantityUnitListInJson")",
                        async: false,
                        data: JSON.stringify({ id: e }),
                        success: function (data) {
                            //console.log(JSON.parse('{"41":1.000000, "42":1000.000000}'));
                            qty_unit_list = JSON.parse('{' + data + '}');
                            //console.log(qty_unit_list);
                            //console.log('QuantityUnitId ->', $('#QuantityUnitId').val(), qty_unit_list['41']);

                            getKGPerUnit($('#QuantityUnitId').val());

                            //if ($('#QuantityUnitId').val().length > 0) {
                            //    $('#KGPerUnit').val((new Number(qty_unit_list[$('#QuantityUnitId').val()])).toFixed(6));
                            //} else {
                            //    $('#KGPerUnit').val(0.000000);
                            //}
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getKGPerUnit(id) {
            //console.log(id);
            if (id.length > 0) {
                $("#RB_UNIT").prop("checked", "checked");
                if (["41"].indexOf(id) > -1) {
                    $("#KGPerUnit").prop('readonly', true);
                    $("#QuantityInKG").prop('readonly', true);
                    $('#KGPerUnit').val((new Number("1")).toFixed(6));
                } else {
                    $("#KGPerUnit").prop('readonly', false);
                    $('#KGPerUnit').val((new Number(qty_unit_list[id])).toFixed(6));
                }
                setKGPerUnit();
            } else {
                $('#KGPerUnit').val(0.000000);
            }
        }

        $(document).on('change', 'input[type=radio][name=RB_TOTAL_UNIT]', function (event) {
        //$('input[type=radio][name=RB_TOTAL_UNIT]').on('change', function() {
            //console.log($(this).val());
            if (["41"].indexOf($('#QuantityUnitId').val()) > -1) {
                //console.log("Test");
                $("#RB_UNIT").prop("checked", "checked");
                $("#KGPerUnit").prop('readonly', true);
                $("#QuantityInKG").prop('readonly', true);
            }
            else if ($(this).val() == "RB_KG") {
                console.log("Test1", $('#QuantityUnitId').val());
                $("#KGPerUnit").prop('readonly', true);
                $("#QuantityInKG").prop('readonly', false);
            } else {
                console.log("Test2", $('#QuantityUnitId').val());
                $("#QuantityInKG").prop('readonly', true);
                $("#KGPerUnit").prop('readonly', false);
            }
        });


        $("#btnAdd").click(function () {
            if ($('#pbond_status').html() == 'NON-BOND ITEM') {
                alert('Non-Bonded product is not valid for requistion.\nCantact with Mr. Farhad Azam(HOD-BOND) to include this item to bond list.');
                return;
            }

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();
                if (tableData[3] == $('#ProductId').val()) {
                    alert('Duplicate product.');
                    return;
                }
            });

            var isValid = true, ctl;
            $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
                if ($(this).val() == '') {
                    //alert($(this).attr('data-val-required'));
                    if (ctl == null)
                        ctl = $(this);
                    $(this).closest('.form-group').addClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                    $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                    $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                    //return;

                    isValid = false;
                }
            });

            if (!isValid) {
                ctl.focus();
                return;
            }

            if ($('#LeadTime').val() == '' || eval($('#LeadTime').val()) == 0) {
                alert('Lead time must not be blank or zero.');
                $('#LeadTime').focus();
                return;
            }

            if ($('#QuantityUnitId').val() != '41' && $('#QuantityUnitId').val() != '42') {
                alert('Please update KG conversion carefully.\nOtherwise bond balance will be provided wrong.');
            }

            var feta = $('#FactoryETA').val().toLowerCase().split('-');
            var ceta = $('#CETA').val().toLowerCase().split('-');
            if (new Date(ceta[1] + " " + ceta[0] + ", " + ceta[2]).getTime() > new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime()) {
                alert('Factory ETA must be greater than or equal to C ETA.');
                $('#FactoryETA').focus();
                return;
            }
            else if ($('#Next3MonthAvgConsumptionCurrentYear').val() == '' || eval($('#Next3MonthAvgConsumptionCurrentYear').val().replace(/\,/g, '')) <= 0) {
                alert('N 3 M Avg Consm C Y must not be blank or zero.');
                $('#Next3MonthAvgConsumptionCurrentYear').focus();
                return;
            }

            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = table.data().length + 1;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            //if ($('#CategoryId').val() == '' || $('#CategoryId').val() == '0') {
            //    alert('Select category.');
            //    return;
            //}
            //else if ($('#ProductId').val() == '' || $('#ProductId').val() == '0') {
            //    alert('Select product.');
            //    return;
            //}
            //else if ($('#FactoryId').val() == '' || $('#FactoryId').val() == '0') {
            //    alert('Select factory.');
            //    return;
            //}
            //else if ($('#PreferredSupplierId').val() == '' || $('#PreferredSupplierId').val() == '0') {
            //    alert('Select supplier.');
            //    return;
            //}
            //else if ($('#BrandId').val() == '' || $('#BrandId').val() == '0') {
            //    alert('Select brand.');
            //    return;
            //}
            //else if ($('#LeadTime').val() == '') {
            //    alert('Lead time must not be blank.');
            //    return;
            //}
            //else
            if ($('#Quantity').val() == '' || eval($('#Quantity').val()) == 0) {
                alert('Quantity must be gretter than zero.');
                $('#Quantity').focus();
                return;
            }
            if ($('#QuantityInKG').val() == '' || eval($('#QuantityInKG').val()) == 0) {
                alert('Quantity In KG must be gretter than zero.');
                $('#Quantity').focus();
                return;
            }

            //if ($('#BondCapacityCheck').val() == 'true')
            //    console.log('BondCapacityCheck', $('#BondCapacityCheck').val());

            console.log('BondCapacityCheck', $('#BondCapacityCheck').val());

            let regular_bond_limit = $("input[name='bond_limit']:checked").val();

            if (regular_bond_limit == 0 && $('#BondCapacityCheck').val() == 'true') {
                //console.log($('#ItemCode').val().substring(0, 2));
                //console.log($('#PendingRequisitionQuanity').val());
                //console.log($('#BondBalance').val());

                let import_qty = 0;

                //if ($('#QuantityUnitId').select2("data")[0].text != "KGS") {
                //    import_qty = (eval($('#Quantity').val()) * eval($('#KGPerUnit').val()));
                //} else {
                //    import_qty = eval($('#Quantity').val());
                //}
                import_qty = eval($('#QuantityInKG').val());

                let bond_balance = (eval($('#BondBalance').val()) - eval($('#PendingRequisitionQuanity').val())) - import_qty;
                let inner_requsition_qty = 0;
                $("table#tblSub > tbody > tr").each(function (row, tr) {
                    if ($('td:eq(25)', this).html() == $('#CapacityId').val())
                    {
                        inner_requsition_qty += eval($('td:eq(27)', this).html().replace(/\,/g, ''));
                    }
                });
                bond_balance -= inner_requsition_qty;
                let max_import_qty = import_qty + bond_balance;
                console.log(bond_balance, max_import_qty, inner_requsition_qty);
                if (isEdit) {
                    if ($('#ItemCode').val().substring(0, 2) == "01" && bond_balance < 0) {
                        if (max_import_qty > 0)
                            alert('Bond has not enough balance for import. you can import only ' + max_import_qty + '.\nContact with sourcing dept for details info or you can select another option except regural limit.');
                        else
                            alert('Bond has not enough balance for import.\nContact with sourcing dept for details info or you can select another option except regural limit.');

                        $('#Quantity').focus();
                        return;
                    };
                } else {
                    if ($('#ItemCode').val().substring(0, 2) == "01" && bond_balance < 0) {
                        if (max_import_qty > 0)
                            alert('Bond has not enough balance for import. you can import only ' + max_import_qty + '.\nContact with sourcing dept for details info or you can select another option except regural limit.');
                        else
                            alert('Bond has not enough balance for import.\nContact with sourcing dept for details info or you can select another option except regural limit.');

                        $('#Quantity').focus();
                        return;
                    };
                };
            };

            //debugger;

            //if ($('#QuantityUnitId').select2('data')[0].text == 'KG') {
            //    $('#QuantityInKG').val($('#Quantity').val());
            //    $('#KGPerUnit').val('1.000000');
            //}

            $('#divSC input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var acpd = (eval($('#AvgConsmPerDay').val().replace(/\,/g, '')) > eval($('#AvgConsmPerDayN').val().replace(/\,/g, '')) ? $('#AvgConsmPerDay').val() : $('#AvgConsmPerDayN').val());
            var dwts = Math.ceil(eval($('#TotalStock').val()) / acpd);

            var rowData = {
                PRSubId: 0, CategoryId: $('#CategoryId').val(), ProductId: $('#ProductId').val(), ProductName: $('#ProductId').select2("data")[0].text,
                CurrentStock: $('#CurrentStock').val().replace(/\,/g, ''), StockInTransit: $('#StockInTransit').val().replace(/\,/g, ''),
                PendingRequisitionQuanityForItem: $('#PendingRequisitionQuanityForItem').val().replace(/\,/g, ''), PendingRequisitionQuanity: $('#PendingRequisitionQuanity').val().replace(/\,/g, ''),
                HistoricalPeriod: $('#HistoricalPeriod').val(), HistoricalConsumption: $('#HistoricalConsumption').val().replace(/\,/g, ''), AverageConsumptionPerDay: acpd,
                DaysWithTotalStock: dwts, Next3MonthAvgConsumptionLastYear: $('#Next3MonthAvgConsumptionLastYear').val().replace(/\,/g, ''), CapacityId: $('#CapacityId').val(),
                Next3MonthAvgConsumptionCurrentYear: $('#Next3MonthAvgConsumptionCurrentYear').val().replace(/\,/g, ''), LeadTime: $('#LeadTime').val(), BondBalance: $('#BondBalance').val(),
                AvgLeadTimeEarlierOrders: $('#AvgLeadTimeEarlierOrders').val(), FactoryETA: $('#FactoryETA').val(), PreferredSupplierId: $('#PreferredSupplierId').val(),
                SupplierName: $('#PreferredSupplierId').select2("data")[0].text, BrandId: $('#BrandId').val(), BrandName: $('#BrandId').select2("data")[0].text,
                Quantity: $('#Quantity').val().replace(/\,/g, ''), QuantityUnitId: $('#QuantityUnitId').val(), QuantityUnit: $('#QuantityUnitId').select2("data")[0].text,
                QuantityInKG: $('#QuantityInKG').val().replace(/\,/g, ''), KGPerUnit: $('#KGPerUnit').val().replace(/\,/g, ''), IsWithDuty: $('#IsWithDuty').is(':checked') ? 1 : 0,
                BondCapacityCheck: $('#BondCapacityCheck').val() == 'true' ? true : false, BondDeductSourceType: regular_bond_limit, RowNo: rn
            };

            //alert(JSON.stringify(rowData));

            var lstLeadTime = [];

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify({ requisitionSub: rowData, isbutton: true, iskgupdate: 0 }),
                success: function (data) {
                    //alert(table.data().length);

                    table.destroy();

                    if (isEdit) {
                        $('#tblSub>tbody>tr:eq(' + (rn-1) + ')').after(data);
                        $('#tblSub>tbody>tr:eq(' + (rn-1) + ')').remove();
                        //$("#tblSub tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                        //    {
                        //        'size': 'mini',
                        //        'onText': 'Yes',
                        //        'offText': 'No'
                        //    });
                    }
                    else {
                        //alert(trn);
                        //if (trn == 1) {
                            $('#tblSub>tbody').append(data);
                        //}
                        //else {
                        //    $('#tblSub>tbody>tr:last').before(data);
                        //}

                        //$("#tblSub tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                        //    {
                        //        'size': 'mini',
                        //        'onText': 'Yes',
                        //        'offText': 'No'
                        //    });
                    }

                    $('#mymodal').modal('hide');
                    $('#btnAdd').val('Save changes');

                    $("#FactoryId").prop("disabled", true);
                    toTable();

                    var tAmt = 0.00, tQty = 0;
                    table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var tableData = this.data();
                        //alert(tableData.length);
                        tQty += eval(tableData[21].replace(/\,/g, ''));
                    });

                    $('#totalqty').html(tQty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                },

                complete: function (data)
                {
                    $('#tblSub tbody tr').each
                        (
                            function (index,row)
                            {
                                //alert($(this).find('.leadtime').html());
                                lstLeadTime.push($(this).find('.leadtime').html());

                            }
                    );
                    //alert(Math.max.apply(null, lstLeadTime));
                    $('#AvgLeadTime').html(Math.max.apply(null, lstLeadTime));


                    $('#tblSub tbody tr').each
                        (
                            function (index, row)
                            {
                                if ($(this).find('.leadtime').html() == Math.max.apply(null, lstLeadTime))
                                {
                                    $('#AvgFETA').html($(this).find('.FETA').html());
                                    return;
                                }

                            }
                        );



                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#btnAdd').removeClass('change');
        });

        $("#btnTest").click(function () {
            //toTable();
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var d = this.data();
                alert(JSON.stringify(d));
            });
        })

        $("#btnTest1").click(function () {
            table.destroy();
        })

        var rn; var edit_qty = 0;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            edit_qty = $('#tblSub tr:eq(' + rn + ') td:eq(21)').html().replace(/\,/g, '');

            let bond_deduct_source_type = $('#tblSub tr:eq(' + rn + ') td:eq(32)').html();
            $("input[name='bond_limit'][value=" + bond_deduct_source_type + "]").prop('checked', true);

            //alert($('#tblSub tr:eq(' + rn + ') td:eq(1)').html());

            //return;
            var rowData = {
                PRSubId: $('#tblSub tr:eq(' + rn + ') td:eq(24)').html(),
                CategoryId: $('#tblSub tr:eq(' + rn + ') td:eq(1)').html(),
                ProductId: $('#tblSub tr:eq(' + rn + ') td:eq(2)').html(),
                ProductName: $('#tblSub tr:eq(' + rn + ') td:eq(3)').html(),
                CurrentStock: $('#tblSub tr:eq(' + rn + ') td:eq(4)').html().replace(/\,/g, ''),
                StockInTransit: $('#tblSub tr:eq(' + rn + ') td:eq(5)').html().replace(/\,/g, ''),
                PendingRequisitionQuanityForItem: $('#tblSub tr:eq(' + rn + ') td:eq(6)').html().replace(/\,/g, ''),
                AverageConsumptionPerDay: $('#tblSub tr:eq(' + rn + ') td:eq(8)').html().replace(/\,/g, ''),
                DaysWithTotalStock: $('#tblSub tr:eq(' + rn + ') td:eq(9)').html().replace(/\,/g, ''),
                HistoricalPeriod: $('#tblSub tr:eq(' + rn + ') td:eq(10)').html(),
                HistoricalConsumption: $('#tblSub tr:eq(' + rn + ') td:eq(11)').html().replace(/\,/g, ''),
                Next3MonthAvgConsumptionLastYear: $('#tblSub tr:eq(' + rn + ') td:eq(12)').html().replace(/\,/g, ''),
                Next3MonthAvgConsumptionCurrentYear: $('#tblSub tr:eq(' + rn + ') td:eq(13)').html().replace(/\,/g, ''),
                PreferredSupplierId: $('#tblSub tr:eq(' + rn + ') td:eq(14)').html(),
                BrandId: $('#tblSub tr:eq(' + rn + ') td:eq(16)').html(),
                AvgLeadTimeEarlierOrders: $('#tblSub tr:eq(' + rn + ') td:eq(18)').html(),
                LeadTime: $('#tblSub tr:eq(' + rn + ') td:eq(19)').html(),
                FactoryETA: $('#tblSub tr:eq(' + rn + ') td:eq(20)').html(),
                Quantity: $('#tblSub tr:eq(' + rn + ') td:eq(21)').html().replace(/\,/g, ''),
                QuantityUnitId: $('#tblSub tr:eq(' + rn + ') td:eq(23)').html(),
                CapacityId: $('#tblSub tr:eq(' + rn + ') td:eq(25)').html(),
                BondBalance: $('#tblSub tr:eq(' + rn + ') td:eq(26)').html(),
                QuantityInKG: $('#tblSub tr:eq(' + rn + ') td:eq(27)').html().replace(/\,/g, ''),
                KGPerUnit: $('#tblSub tr:eq(' + rn + ') td:eq(28)').html().replace(/\,/g, ''),
                IsWithDuty: $('#tblSub tr:eq(' + rn + ') td:eq(29)').html(),
                BondCapacityCheck: $('#tblSub tr:eq(' + rn + ') td:eq(30)').html(),
                PendingRequisitionQuanity: $('#tblSub tr:eq(' + rn + ') td:eq(31)').html().replace(/\,/g, ''),
                BondDeductSourceType: $('#tblSub tr:eq(' + rn + ') td:eq(32)').html().replace(/\,/g, ''),
                RowNo: rn + 1
            };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RequisitionTemplate")",
                data: JSON.stringify({ requisitionSub: rowData, facid: $('#FactoryId').val() }),
                success: function (msg) {
                    $('#padetails').html(msg);

                    $('#padetails select.select').not('#CategoryId').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#CategoryId').select2({});

                    //$('#daterange').daterangepicker(
                    //    {
                    //        "locale": { "format": "DD-MMM-YYYY" },
                    //        ranges: {
                    //            //'Today': [moment(), moment()],
                    //            //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    //            //'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    //            //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    //            //'This Month': [moment().startOf('month'), moment().endOf('month')],
                    //            //'Last 1 Month': [moment().subtract(1, 'month'), moment().subtract(1, 'days')],
                    //            //'Last 3 Month': [moment().subtract(3, 'month'), moment().subtract(1, 'days')],
                    //            //'Last 6 Month': [moment().subtract(6, 'month'), moment().subtract(1, 'days')]
                    //        },
                    //        "alwaysShowCalendars": true,
                    //        "startDate": moment().subtract(3, 'month'),
                    //        "endDate": moment()
                    //    },
                    //    function (start, end) {
                    //        $('#HistoricalPeriod').val(start.format('DD-MMM-YYYY') + ' - ' + end.format('DD-MMM-YYYY'));
                    //        //alert(start + ' - ' + end);
                    //    }
                    //);
                    //$('#IsWithDuty').prop('checked', $('#tblSub tr:eq(' + rn + ') td:eq(29)').html() == "1");
                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Update changes');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;
            table.destroy();

            $('#tblSub>tbody>tr:eq(' + (rn-1) + ')').remove();

            rn = 1;

            $('table#tblSub>tbody>tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Save changes');
            $('#btnAdd').removeClass('change');

            toTable();
            if(table.rows().data().length <= 1)
                $("#FactoryId").prop("disabled", false);

            var tAmt = 0.00, tQty = 0;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                tQty += eval(tableData[21].replace(/\,/g, ''));
            });

            $('#totalqty').html(tQty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        $('#btnSave').click(function () {
            if ($('#FactoryId').val() == '' || $('#FactoryId').val() == '0') {
                alert('Select factory.');
                return;
            }
            else if (table.data().length <= 0) {
                alert('No details information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var requisitionSub = []; rn = 0, requisition = { FactoryId: $('#FactoryId').val(), PRDate: $('#PRDate').val(),
                PRMonth: $('#PRMonth').val(), Remarks: $('#Remarks').val(), Activity: $('#Activity').val()
            };

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 19 && tableData[0] != '') {
                    var arrayOfThisRow = {
                        CategoryId: (tableData[1] == '' ? '0' : tableData[1]), ProductId: tableData[2], PreferredSupplierId: tableData[14], BrandId: tableData[16],
                        CurrentStock: tableData[4].replace(/\,/g, ''), StockInTransit: tableData[5].replace(/\,/g, ''), PendingRequisitionQuanity: tableData[6].replace(/\,/g, ''),
                        AverageConsumptionPerDay: tableData[8].replace(/\,/g, ''), DaysWithTotalStock: tableData[9], HistoricalPeriod: tableData[10], HistoricalConsumption: tableData[11].replace(/\,/g, ''),
                        Next3MonthAvgConsumptionLastYear: tableData[12].replace(/\,/g, ''), Next3MonthAvgConsumptionCurrentYear: tableData[13].replace(/\,/g, ''),
                        AvgLeadTimeEarlierOrders: tableData[18], LeadTime: tableData[19], FactoryETA: tableData[20], Quantity: tableData[21].replace(/\,/g, ''),
                        QuantityUnitId: tableData[23], PRSubId: tableData[24], CapacityId: tableData[25], BondBalance: tableData[26].replace(/\,/g, ''),
                        QuantityInKG: tableData[27].replace(/\,/g, ''), KGPerUnit: tableData[28].replace(/\,/g, ''), IsWithDuty: tableData[29],
                        BondCapacityCheck: tableData[30], BondDeductSourceType: tableData[32], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    requisitionSub.push(arrayOfThisRow);
                }
            });

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ requisition: requisition, requisitionSub: requisitionSub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html(msg.status);
                        $('#reqno').html(msg.rqno);
                        //$('form#frm').submit();
                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}

