﻿@model InventoryMS.Models.Requisition
@using InventoryMS.Models
@{ProductCubeEntities db = new ProductCubeEntities();
  InventoryCubeEntities dbInv = new InventoryCubeEntities();}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Approval :: Requisition Details
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Requisition</a></li>
        <li class="active"> Details</li>
    </ol>
</section>

<section class="invoice" style="margin: 10px 14px;">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> Requisition # @Model.PRNo
                <small class="pull-right"></small>
            </h2>
        </div><!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            @Html.HiddenFor(model => model.PRId)
            <b>Factory :</b> @db.Factories.Find(Model.FactoryId).FactoryName<br>
            <b>Company :</b> @db.Companies.Find(db.Factories.Find(Model.FactoryId).CompanyId).CompanyName<br>
            <b>Date :</b> @Model.PRMonth.Value.ToString("MMMM-yyyy")
            <b>Date :</b> @Model.PRDate.Value.ToString("dd-MMM-yyyy")
        </div><!-- /.col -->
        <div class="col-sm-6 invoice-col">
            <b>Remarks :</b> @Model.Remarks<br />

            @if (Model.ApprovedType == 1)
            { 
                <b>Approved By :</b> @dbInv.Sys_User_Name.Find(Model.ApprovedBy).UserTitle <br />
                <b>Approved At :</b> @Model.ApprovedTime.Value.ToString("dd-MMM-yyyy hh:mm tt")
            }
            else if (Model.ApprovedType == 2)
            {
                <b>Disapproved By :</b> @dbInv.Sys_User_Name.Find(Model.ApprovedBy).UserTitle <br />
                <b>Disapproved At :</b> @Model.ApprovedTime.Value.ToString("dd-MMM-yyyy hh:mm tt")
            }
        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- Table row -->
    <div class="col-md-12" style="padding: 0px; margin: 10px -5px; width: 101%;">
        <div class="box box-danger direct-chat-danger">
            <div class="box-header with-border">
                <div class="user-block">
                    <span class="username username_lte"><a href="#">Product Details</a></span>
                </div><!-- /.user-block -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2000px;">
                    <thead>
                        <tr>
                            <th>
                                SL #
                            </th>
                            <th style="display: none;">
                                Category Id
                            </th>
                            <th style="display: none;">
                                Product Id
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Cur. Stock
                            </th>
                            <th>
                                Pipeline
                            </th>
                            <th>
                                Pend Req
                            </th>
                            <th>
                                Total Stock
                            </th>
                            <th>
                                Avg Consm/Day
                            </th>
                            <th>
                                Days With T S
                            </th>
                            <th>
                                Hist. Period
                            </th>
                            <th>
                                Hist. Consm
                            </th>
                            <th>
                                L3M Avg Csm LY
                            </th>
                            <th>
                                L3M Avg Csm CY
                            </th>
                            <th style="display: none;">
                                Supplier Id
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th style="display: none;">
                                Brand Id
                            </th>
                            <th>
                                Brand
                            </th>
                            <th>
                                L T E O
                            </th>
                            <th>
                                Lead Time
                            </th>
                            <th>
                                Ft. ETA
                            </th>
                            <th style="text-align: center;">
                                Req. Quantity
                            </th>
                            <th style="text-align: center;">
                                Unit
                            </th>
                            <th style="display: none;">
                                Unit Id
                            </th>
                            <th style="display: none;">
                                Sub ID
                            </th>
                            <th style="display: none;">
                                Cap Id
                            </th>
                            <th style="display: none;">
                                Bond Bal
                            </th>
                            <th style="display: none;">
                                Qty In KG
                            </th>
                            <th style="display: none;">
                                KG/Unit
                            </th>
                            <th style="display: none;">
                                With Duty?
                            </th>
                            <th style="display: none;">
                                Bond Capacity Check?
                            </th>
                            <th style="display: none;">
                                Pend Qty Bond
                            </th>
                            <th style="display: none;">
                                Bond Capacity Source
                            </th>
                            <th style="text-align: center;">

                              </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.requisitionSub == null || Model.requisitionSub.Count == 0)
                        {
                            @*@Html.Action("RowTemplate");*@
                        }
                        else
                        {
                            foreach (var v in Model.requisitionSub)
                            {
                                @Html.Action("RowTemplate", new { requisitionSub = v, isbutton = false });
                            }
                        }
                    </tbody>
                </table>
                <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 5px !important;">
                    <thead>
                        <tr>
                            <th style="height: 5px;">

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: right; width: 80%; border-top:none !important;">
                                Total Qty :
                            </td>
                            <td style="text-align: right; font-weight: bolder; border-top:none !important; width: 11%;">
                                <span id="totalqty" style="border-bottom: double; text-align: right;">@Model.requisitionSub.Sum(c => c.Quantity.Value).ToString("##,##0.00")</span>
                            </td>
                            <td style="text-align: right; width: 9%; border-top:none !important;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            @if (Model.ApprovedType == 1)
            {
                <a href="invoice-print.html" target="_blank" class="btn btn-default pull-right"><i class="fa fa-print"></i> Print</a>
            }
            else if (Model.ApprovedType > 0)
            {
                <h4 class="modal-title" style="text-align: center !important; color: red;">Requistion already disapproved.</h4>
            }
            else //if (clsMain.IsActionEnabled("Requisition", "Approval"))
            {
                <button id="btnApv" class="btn btn-success pull-right"><i class="fa fa-check"></i> @(ViewBag.is_mnsp == 1 ? "Forward" : "Approve")</button>
                <button id="btnDApv" class="btn btn-success pull-right" style="margin-right: 5px;"><i class="fa fa-times"></i> Disapprove</button>
            }
        </div>
    </div>
</section>

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Details</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="alert" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Requsition Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center; white-space: pre-wrap;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action(ViewBag.is_mnsp == 1 ? "ApprovalPending" : "PendingApproval")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>

    <script>
    var table; toTable();

    function toTable() {
        table = $('#tblSub').DataTable(
            {
                destroy: true,
                scrollX: "2000px",
                //scrollX: true,
                scrollCollapse: true,
                paging: false,
                filter: false,
                info: false,
                ordering: false,
                columnDefs: [
                    { className: "dt-center", targets: "_all" },
                    { width: 50, targets: 0 },
                    { width: 180, targets: 3 },
                    { width: 100, targets: 4 },
                    { width: 100, targets: 5 },
                    { width: 100, targets: 6 },
                    { width: 100, targets: 7 },
                    { width: 100, targets: 8 },
                    { width: 100, targets: 9 },
                    { width: 200, targets: 10 },
                    { width: 100, targets: 11 },
                    { width: 110, targets: 12 },
                    { width: 110, targets: 13 },
                    //{ width: 100, targets: 14 },
                    { width: 140, targets: 15 },
                    //{ width: 100, targets: 16 },
                    { width: 120, targets: 17 },
                    { width: 70, targets: 18 },
                    { width: 70, targets: 19 },
                    { width: 90, targets: 20 },
                    { width: 100, targets: 21 },
                    { width: 60, targets: 22 },
                    { width: 0, targets: 29 },
                    { width: 0, targets: 30 },
                    { width: 0, targets: 31 },
                    { width: 0, targets: 32 },
                    { width: 20, targets: 33 }
                ]//,
                //fixedColumns: true
            }
        );
        new $.fn.dataTable.FixedColumns(table, {
            leftColumns: 0,
            rightColumns: 13
        });
    }

    $('#tblSum').DataTable({
        destroy: true,
        scrollCollapse: false,
        paging: false,
        filter: false,
        info: false,
        ordering: false
    });

    function setQty(t) {
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                //error = true;
                //alert(eval($(t).parent().children(0).html()) + ' ' + eval($(this).val()))
                //if (eval(OriginalContent.replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                var newContent = $(this).val();
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");

                table.cell($('#' + $(t).attr('id'))).data(newContent).draw();

                var tAmt = 0.00, tQty = 0;
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var tableData = this.data();

                    tQty += eval(tableData[21].replace(/\,/g, ''));
                });

                $('#totalqty').html(tQty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                //}
                //else {
                //    error = true;
                //    alert('Invalid quantity.');
                //    e.preventDefault();
                //}
            }
            else {
                return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function showconsumption(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ConsumptionTemplate")',
            data: JSON.stringify({ id: e }),
            success: function (msg) {
                $('#padetails').html(msg);

                $('#mymodal').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    $('#btnApv').click(function () {
        if (!confirm('Are you sure to @(ViewBag.is_mnsp == 1 ? "Forward" : "Approve")?')) {
            return;
        }

        var reqSub = [];

        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var tableData = this.data();

            if (tableData.length >= 19 && tableData[24] != '') {
                var arrayOfThisRow = {
                    PRSubId: tableData[24], Quantity: tableData[21].replace(/\,/g, '')
                };
                //alert(arrayOfThisRow);
                reqSub.push(arrayOfThisRow);
            }
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Approval")',
            data: JSON.stringify({ id: $('#PRId').val(), requisitionSub: reqSub, apvtype: 1, is_mnsp: @ViewBag.is_mnsp }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    alert(msg.message);
                }
                else {
                    $('#msg').html(msg.message);
                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $('#btnDApv').click(function () {
        if (confirm('Are you sure to disapprove?')) {

        }
        else {
            return;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Approval")',
            data: JSON.stringify({ id: $('#PRId').val(), requisitionSub: null, apvtype: 2, is_mnsp: @ViewBag.is_mnsp }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    alert(msg.message);
                }
                else {
                    $('#msg').html('Requisition # @Model.PRNo has disapproved successfully.');
                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
</script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}