﻿@model InventoryMS.Models.Requisition

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Edit :: Requisition
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Requisition</a></li>
        <li class="active">Edit</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Requisition List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            <ul id="yw5" class="dropdown-menu">
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "Create"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Create")">New Requisition</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">Create Requisition</a>
                                    }
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.PRId })">View Requisition</a>
                                </li>
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "Delete"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Delete", new { id = Model.PRId })">Delete Requisition</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">Delete Requisition</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Requisition Details # @Model.PRNo</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => model.PRId)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("FactoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            @Html.Label("Company", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.Label("", new { @id = "ComapnyId", @class = "col-common col-sm-12 control-label" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.PRDate)
                                    </div>
                                    <div class="col-md-6">

                                        @Html.EditorFor(model => model.Remarks)
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Product Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @Html.Action("RequisitionTemplate")
                                    </div>

                                    <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 5%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Category Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center; width: 20%;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Cur. Stock
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Pipeline
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm LY
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Avg LTEO
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Ft. ETA
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Supplier Id
                                                </th>
                                                <th style="text-align: center; width: 14%;">
                                                    Supplier
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Brand Id
                                                </th>
                                                <th style="text-align: center; width: 12%;">
                                                    Brand
                                                </th>
                                                <th colspan="2" style="text-align: center; width: 17%;">
                                                    Req. Quantity
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Quantity Unit
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Sub ID
                                                </th>
                                                <th style="text-align: center; width: 20px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.requisitionSub == null || Model.requisitionSub.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="19"></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                int rIndex = 0;
                                                //for (int rIndex = 0; rIndex < Model.requisitionSub.Count; rIndex++)
                                                foreach (var v in Model.requisitionSub)
                                                {
                                                    rIndex++;
                                                    <tr>
                                                        <td style="text-align: center;">@((rIndex).ToString("000"))</td>
                                                        <td style="display: none;">@v.CategoryId</td>
                                                        <td style="display: none;">@v.ProductId</td>
                                                        <td>@v.ProductName</td>
                                                        <td style="text-align: right;">@v.CurrentStock</td>
                                                        <td style="text-align: right;">@v.StockInTransit</td>
                                                        <td style="display: none;">@*@v.Last3MonthAvgConsumtion*@</td>
                                                        <td style="display: none;">@*@v.Next3MonthAvgConsumtionLastYear*@</td>
                                                        <td style="display: none;">@*@v.Next3MonthAvgConsumtionCurrentYear*@</td>
                                                        <td style="display: none;">@v.AvgLeadTimeEarlierOrders</td>
                                                        <td style="text-align: center;">@v.FactoryETA.Value.ToString("yyyy-MM-dd")</td>
                                                        <td style="display: none;">@v.PreferredSupplierId</td>
                                                        <td>@v.SupplierName</td>
                                                        <td style="display: none;">@v.BrandId</td>
                                                        <td>@v.BrandName</td>
                                                        <td style="text-align: right;">@v.Quantity</td>
                                                        <td>@v.QuantityUnit</td>
                                                        <td style="display: none;">@v.QuantityUnitId</td>
                                                        <td style="display: none;">@v.PRSubId</td>
                                                        <td style="text-align: center;">
                                                            <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="19"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="RQSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function getProduct(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ProductList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#pid').html(data);
                    $('#pid .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getQuantityUnit(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("QuantityUnitList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#qulist').html(data);
                    $('#qulist .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $("#btnAdd").click(function () {
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblSub>tbody>tr').length;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('#divSC input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var rowData = {
                PRSubId: 0, CategoryId: $('#CategoryId').val(), ProductId: $('#ProductId').val(), ProductName: $('#ProductId').select2("data")[0].text,
                CurrentStock: $('#CurrentStock').val(), StockInTransit: $('#StockInTransit').val(), Last3MonthAvgConsumtion: $('#Last3MonthAvgConsumtion').val(),
                Next3MonthAvgConsumtionLastYear: $('#Next3MonthAvgConsumtionLastYear').val(), Next3MonthAvgConsumtionCurrentYear: $('#Next3MonthAvgConsumtionCurrentYear').val(),
                AvgLeadTimeEarlierOrders: $('#AvgLeadTimeEarlierOrders').val(), FactoryETA: $('#FactoryETA').val(), PreferredSupplierId: $('#PreferredSupplierId').val(),
                SupplierName: $('#PreferredSupplierId').select2("data")[0].text, BrandId: $('#BrandId').val(), BrandName: $('#BrandId').select2("data")[0].text,
                Quantity: $('#Quantity').val(), QuantityUnitId: $('#QuantityUnitId').val(), QuantityUnit: $('#QuantityUnitId').select2("data")[0].text
            };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify(rowData),
                success: function (data) {
                    if (isEdit) {
                        $('#tblSub tr:eq(' + rn + ')').after(data);
                        $('#tblSub tr:eq(' + rn + ')').remove();
                        //$("#tblSub tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                        //    {
                        //        'size': 'mini',
                        //        'onText': 'Yes',
                        //        'offText': 'No'
                        //    });
                    }
                    else {
                        $('#tblSub tr:last').before(data);
                        //$("#tblSub tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                        //    {
                        //        'size': 'mini',
                        //        'onText': 'Yes',
                        //        'offText': 'No'
                        //    });
                    }

                    $('#btnAdd').val('Add');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#btnAdd').removeClass('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#CategoryId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html()).trigger("change");
            $('#ProductId').val($('#tblSub tr:eq(' + rn + ') td:eq(2)').html()).trigger("change");
            $('#CurrentStock').val($('#tblSub tr:eq(' + rn + ') td:eq(5)').html());
            $('#StockInTransit').val($('#tblSub tr:eq(' + rn + ') td:eq(5)').html());
            $('#Last3MonthAvgConsumtion').val($('#tblSub tr:eq(' + rn + ') td:eq(6)').html());
            $('#Next3MonthAvgConsumtionLastYear').val($('#tblSub tr:eq(' + rn + ') td:eq(7)').html());
            $('#Next3MonthAvgConsumtionCurrentYear').val($('#tblSub tr:eq(' + rn + ') td:eq(8)').html());
            $('#AvgLeadTimeEarlierOrders').val($('#tblSub tr:eq(' + rn + ') td:eq(9)').html());
            $('#FactoryETA').val($('#tblSub tr:eq(' + rn + ') td:eq(10)').html());
            $('#PreferredSupplierId').val($('#tblSub tr:eq(' + rn + ') td:eq(11)').html()).trigger("change");
            $('#BrandId').val($('#tblSub tr:eq(' + rn + ') td:eq(13)').html()).trigger("change");
            $('#Quantity').val($('#tblSub tr:eq(' + rn + ') td:eq(14)').html());
            $('#QuantityUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(18)').html()).trigger("change");

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var requisitionSub = []; rn = 0;

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length == 19) {
                    var arrayOfThisRow = {
                        ProductId: tableData[2], PreferredSupplierId: tableData[11], BrandId: tableData[13],
                        CurrentStock: tableData[4], StockInTransit: tableData[5], Last3MonthAvgConsumtion: tableData[6],
                        Next3MonthAvgConsumtionLastYear: tableData[7], Next3MonthAvgConsumtionCurrentYear: tableData[8],
                        AvgLeadTimeEarlierOrders: tableData[9], FactoryETA: tableData[10], Quantity: tableData[15],
                        QuantityUnitId: tableData[17], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    requisitionSub.push(arrayOfThisRow);
                }
            }).get();

            //alert(JSON.stringify({ requisitionSub: requisitionSub }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RequisitionDetails")',
                data: JSON.stringify({ requisitionSub: requisitionSub }),
                success: function (msg) {
                    $('#RQSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    $('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {

}