﻿@model InventoryMS.Models.Requisition
@using InventoryMS.Models
@{ProductCubeEntities db = new ProductCubeEntities();}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Edit :: Weight Update Requisition
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Requisition</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("PendingForKGUpdate", new { id = UrlParameter.Optional })">Queued Requisition List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Requisition Details</a><a style="float: right;">Requisition # <span id="rqno" style="color:red;">@Model.PRNo</span></a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    @Html.HiddenFor(model => model.PRId)

                                    @Html.Hidden("BLSDate", (object)ViewBag.BLSDate)

                                    @Html.Hidden("BLEDate", (object)ViewBag.BLEDate)

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })

                                                @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Company", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9" id="CompanyId">
                                                @db.Companies.Find(db.Factories.Find(Model.FactoryId).CompanyId).CompanyName
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.PRDate, new { @onchange = "getCompanyName(this.value)", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Remarks, new { @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Product Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @*@Html.Action("RequisitionTemplate")*@
                                    </div>

                                    <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2000px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Cur. Stock
                                                </th>
                                                <th>
                                                    Pipeline
                                                </th>
                                                <th>
                                                    Pend Req
                                                </th>
                                                <th>
                                                    Total Stock
                                                </th>
                                                <th>
                                                    Avg Consm/Day
                                                </th>
                                                <th>
                                                    Days With T S
                                                </th>
                                                <th>
                                                    Hist. Period
                                                </th>
                                                <th>
                                                    Hist. Consm
                                                </th>
                                                <th>
                                                    L3M Avg Csm LY
                                                </th>
                                                <th>
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="display: none;">
                                                    Supplier Id
                                                </th>
                                                <th>
                                                    Supplier
                                                </th>
                                                <th style="display: none;">
                                                    Brand Id
                                                </th>
                                                <th>
                                                    Brand
                                                </th>
                                                <th>
                                                    L T E O
                                                </th>
                                                <th>
                                                    Lead Time
                                                </th>
                                                <th>
                                                    Ft. ETA
                                                </th>
                                                <th style="text-align: center;">
                                                    Req. Quantity
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="display: none;">
                                                    Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    Cap Id
                                                </th>
                                                <th style="display: none;">
                                                    Bond Bal
                                                </th>
                                                <th>
                                                    Qty In KG
                                                </th>
                                                <th>
                                                    KG/Unit
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.requisitionSub == null || Model.requisitionSub.Count == 0)
                                            {
                                                @*@Html.Action("RowTemplate");*@
                                            }
                                            else
                                            {
                                                foreach (var v in Model.requisitionSub.OrderBy(c => c.RowNo))
                                                {
                                                    @Html.Action("RowTemplate", new { requisitionSub = v, isbutton = false, iskgupdate = 1 });
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 5px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 71%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; width: 15%;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; width: 14%; border-top:none !important;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right; width: 71%; border-top:none !important;">
                                                    Total Qty (KG) :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; width: 15%;">
                                                    <span id="totalqtykg" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; width: 14%; border-top:none !important;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="RQSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                        @*<input id="btnTest" type="button" class="btn btn-success" value="Create" />
                            <input id="btnTest1" type="button" class="btn btn-success" value="Destroy" />*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Details</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="btnAdd" type="button" class="btn btn-success" @*onclick="quoteSave();"*@>Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title">Weight Update Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center;" })
                                @Html.Label("Requsition # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "reqno", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("PendingForKGUpdate", new { id = UrlParameter.Optional })'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>

    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('[for="PRDate"]').html($('[for="PRDate"]').html().replace('Date', 'Entry Date'));

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        var table; toTable();

        function toTable() {
            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    scrollX: "2000px",
                    //scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false,
                    columnDefs: [
                        { className: "dt-center", targets: "_all" },
                        { width: 50, targets: 0 },
                        { width: 220, targets: 3 },
                        { width: 100, targets: 4 },
                        { width: 100, targets: 5 },
                        { width: 100, targets: 6 },
                        { width: 100, targets: 7 },
                        { width: 100, targets: 8 },
                        { width: 100, targets: 9 },
                        { width: 200, targets: 10 },
                        { width: 100, targets: 11 },
                        { width: 110, targets: 12 },
                        { width: 110, targets: 13 },
                        //{ width: 100, targets: 14 },
                        { width: 140, targets: 15 },
                        //{ width: 100, targets: 16 },
                        { width: 120, targets: 17 },
                        { width: 70, targets: 18 },
                        { width: 70, targets: 19 },
                        { width: 90, targets: 20 },
                        { width: 100, targets: 21 },
                        { width: 60, targets: 22 },
                        { width: 60, targets: 27 },
                        { width: 60, targets: 28 }
                    ]//,
                    //fixedColumns: true
                }
            );
            new $.fn.dataTable.FixedColumns(table, {
                leftColumns: 0,
                rightColumns: 8
            });
        }

        $('#tblSum').DataTable({
            destroy: true,
            scrollCollapse: false,
            paging: false,
            filter: false,
            info: false,
            ordering: false,
        });

        var tKG = 0.00, tQty = 0;
        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var tableData = this.data();

            tQty += eval(tableData[21].replace(/\,/g, ''));
            tKG += eval(tableData[27].replace(/\,/g, ''));
        });

        $('#totalqty').html(tQty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#totalqtykg').html(tKG.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

        function setKGQty(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                    var oqty = eval($('#edit' + $(t).attr('id')).html().replace(/\,/g, ''));
                    var kpu = eval(newContent.replace(/\,/g, '')) / oqty;
                    table.cell($('#kpu' + $(t).attr('id'))).data(kpu.toFixed(6)).draw();

                    var tKG= 0.00, tQty = 0;
                    table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var tableData = this.data();

                        tKG += eval(tableData[27].replace(/\,/g, ''));
                    });

                    $('#totalqtykg').html(tKG.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        $('#btnSave').click(function () {
            //if ($('#totalqtykg').html() == '' || eval($('#totalqtykg').html().replace(/\,/g, '')) == 0) {
            //    alert('No weight update info available.');
            //    return;
            //}
            //else if (table.data().length <= 0) {
            //    alert('No details information.');
            //    return;
            //}

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var requisitionSub = [];

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 19 && tableData[0] != '') {
                    var arrayOfThisRow = {
                        PRSubId: tableData[24], QuantityInKG: tableData[27].replace(/\,/g, ''), KGPerUnit: tableData[28].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    requisitionSub.push(arrayOfThisRow);
                }
            });

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("WeightUpdate")',
                data: JSON.stringify({ requisitionSub: requisitionSub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html(msg.status);
                        $('#reqno').html(msg.rqno);
                        //$('form#frm').submit();
                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}

