﻿@model IEnumerable<InventoryMS.Models.Requisition>
@using InventoryMS.Models

@{
    ViewBag.Title = Html.DisplayNameForModel();

    ProductCubeEntities db = new ProductCubeEntities();
    InventoryCubeEntities dbInv = new InventoryCubeEntities();
}

<section class="content-header">
    <h1>
        Queued Requisition List (Weight Update)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Queued</a></li>
        <li class="active"> Requisition</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                        @if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Requisition</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New Requisition</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }

                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.PRNo)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.PRDate)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.FactoryId)
                                </th>
                                <th style="text-align: center;">
                                    Company
                                </th>
                                <th style="text-align: center;">
                                    Prepared By
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FactoryName)
                                    </td>
                                    <td>
                                        @db.Companies.Find(db.Factories.Find(item.FactoryId).CompanyId).CompanyName
                                    </td>
                                    <td>
                                        @*@dbInv.Sys_User_Name.Find(item.CreatedBy).UserName (@dbInv.Sys_User_Name.Find(item.CreatedBy).ShortName)*@
                                    </td>
                                    <td style="text-align: center">
                                        <a href="@Url.Action("Details", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "PendingForKGUpdate"))
                                        {
                                            <a href="@Url.Action("PendingForKGUpdate", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="Update Weight"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update Weight"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        @*@if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "Delete"))
                                            {
                                                <a href="@Url.Action("Delete", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                            }
                                            else
                                            {
                                                <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                            }*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}



