﻿@model InventoryMS.Models.RequisitionSub

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.PRSubId)
                        @Html.HiddenFor(model => model.ItemCode)
                        @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                        <div class="col-sm-9">
                            @Html.DropDownList("Category", null, "ALL", new { Id = "CategoryId", Name = "CategoryId", @class = "form-control select", @style = "width: 100%;", @onchange = "getProduct(this.value)" })

                            @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductId, new { @class = "col-common col-sm-3 control-label" }, false)
                        <div id="pid" class="col-sm-9">
                            @Html.DropDownListFor(model => model.ProductId, (SelectList)ViewBag.Product, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getItemDetails(this.value); getQuantityUnit(this.value);" })
                            
                            @Html.ValidationMessageFor(model => model.ProductId, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentStock, new { @class = "col-common col-sm-3 control-label" })
                        <div class="col-sm-3" style="padding-right: 2px;">
                            @Html.EditorFor(model => model.CurrentStock, "DecimalWOL", new { @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3" style="padding: 0px; text-align: right;">
                            @Html.LabelFor(model => model.PendingRequisitionQuanityForItem, "Pend Req Qty", new { @class = "col-common control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px">
                            @Html.EditorFor(model => model.PendingRequisitionQuanityForItem, "DecimalWOL", new { @readonly = "readonly" })
                            @Html.HiddenFor(model => model.PendingRequisitionQuanity)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StockInTransit, new { @class = "col-common col-sm-3 control-label" })
                        <div class="col-sm-3" style="padding-right: 2px;">
                            @Html.EditorFor(model => model.StockInTransit, "DecimalWOL", new { @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3" style="padding: 0px; text-align: right;">
                            @Html.LabelFor(model => model.PendingRequisitionQuanity, "Total Stock", new { @class = "col-common control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px">
                            @Html.EditorFor(model => model.TotalStock, "DecimalWOL", new { @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <div id="pld" class="form-group">
                        <div class="col-sm-0">
                        </div>
                        <div class="col-sm-12">
                            <table class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width: 37%;">LC No</th>
                                        <th style="width: 25%;">ETA</th>
                                        <th style="width: 38%;">PL Qty</th>
                                    </tr>
                                </thead>
                                <tbody id="tblbody">
                                    @*<tr>
                                        <td>L0001-17</td>
                                        <td>01-Jan-2017</td>
                                        <td style="text-align: right;">2,000 KG</td>
                                    </tr>
                                    <tr>
                                        <td>L0005-17</td>
                                        <td>03-Jan-2017</td>
                                        <td style="text-align: right;">2,000 KG</td>
                                    </tr>
                                    <tr>
                                        <td>L0013-17</td>
                                        <td>10-Jan-2017</td>
                                        <td style="text-align: right;">1,000 KG</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.Label("Period Consumtion", new { @class = "col-common col-sm-4 control-label" })
                        <div class="col-sm-5" style="padding-right: 2px;">
                            @Html.Editor("daterange", "StringWOL", new { @Value = Model.HistoricalPeriod, @readonly = "readonly", @class = "ccnormal" })
                            @Html.Hidden("HistoricalPeriod")
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px">
                            @Html.EditorFor(model => model.HistoricalConsumption, "DecimalWOL", new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AverageConsumptionPerDay, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-2" style="padding-right: 0px;">
                            @Html.EditorFor(model => model.AvgConsmPerDayHP, "DecimalWOL", new { @Id = "AvgConsmPerDay", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3" style="padding: 0px;">
                            @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, "Avg Consm/Month", new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.EditorFor(model => model.AvgConsmPerMonth, "DecimalWOL", new { @Id = "AvgConsmPerMonth", @readonly = "readonly" })
                        </div>
                    </div>

                    @*@Html.EditorFor(model => model.Next3MonthAvgConsumptionLastYear, "DecimalH", new { @readonly = "readonly" })*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Next3MonthAvgConsumptionLastYear, new { @class = "col-common col-sm-4 control-label n3macc" }, false)
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @Html.EditorFor(model => model.Next3MonthAvgConsumptionLastYear, "DecimalWOL", new { @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, "Re-Order Qty", new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.EditorFor(model => model.AvgConsmPerDayN3M, "DecimalWOL", new { @Id = "ReOrderQty", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, new { @class = "col-common col-sm-4 control-label n3macc" }, false)
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @Html.EditorFor(model => model.Next3MonthAvgConsumptionCurrentYear, "DecimalWOL")
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.Next3MonthAvgConsumptionCurrentYear, "Consm/Day", new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.EditorFor(model => model.AvgConsmPerDayN3M, "DecimalWOL", new { @Id = "AvgConsmPerDayN", @readonly = "readonly" })
                        </div>
                    </div>
                    
                    @Html.Hidden("CapacityId")
                    
                    @Html.Hidden("BondBalance")

                    @Html.Hidden("DaysWithTotalStock")

                    @Html.Hidden("BondCapacityCheck")

                    <div class="form-group">
                        @Html.LabelFor(model => model.PreferredSupplierId, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.PreferredSupplierId, (SelectList)ViewBag.Supplier, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getSupDetails(this.value)", @disabled = "disabled" })

                            @Html.ValidationMessageFor(model => model.PreferredSupplierId, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandId, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.BrandId, (SelectList)ViewBag.Brand, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })

                            @Html.ValidationMessageFor(model => model.BrandId, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LeadTime, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @if(@Model.PreferredSupplierId == 0 || @Model.LeadTime == 0)
                            {
                                @Html.EditorFor(model => model.LeadTime, "Int16WOL")
                            }
                            else
                            {
                                @Html.EditorFor(model => model.LeadTime, "Int16WOL", new { @readonly = "readonly" })
                            }
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.AvgLeadTimeEarlierOrders, new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.EditorFor(model => model.AvgLeadTimeEarlierOrders, "Int16WOL", new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FactoryETA, new { @class = "col-common col-sm-4 control-label" })
                        <div class="col-sm-3" style="padding-right: 0px;">
                            @Html.EditorFor(model => model.FactoryETA, "DateTimeWOL")
                            @Html.Hidden("FETA")
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            @Html.LabelFor(model => model.AvgLeadTimeEarlierOrders, "C ETA", new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            @Html.Hidden("CalculatedQuantity")
                            @Html.EditorFor(model => model.CETA, "DateTimeWOL", new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, new { @class = "col-common col-sm-4 control-label" }, false)
                        <div class="col-sm-5" style="padding-right: 2px;">
                            @Html.EditorFor(model => model.Quantity, "DecimalWOL", new { @class = "kgperunit" })
                        </div>
                        <div id="qulist" class="col-sm-3" style="padding-left: 0px;">
                            @Html.DropDownListFor(model => model.QuantityUnitId, (SelectList)ViewBag.QuantityUnit, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                        </div>
                    </div>

                    <div style="" class="form-group">
                        @Html.LabelFor(model => model.QuantityInKG, new { @class = "col-common col-sm-4 control-label" })
                        <div class="col-sm-3" style="padding-right: 0px;">
                            <div class="form-group" style="margin-left: -10px;">
                                <div class="col-sm-2">
                                    @Html.RadioButton("RB_TOTAL_UNIT", "RB_KG", new { @Id = "RB_KG" })
                                </div>
                                <div class="col-sm-10" style="padding-left: 0px; padding-right: 15px;">
                                    @Html.EditorFor(model => model.QuantityInKG, "DecimalWOL", new { @class = "kgperunit" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" style="padding: 2px;">
                            @Html.LabelFor(model => model.KGPerUnit, new { @class = "col-common col-sm-12 control-label" })
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px;">
                            <div class="form-group" style="margin-left: -10px;">
                                <div class="col-sm-2">
                                    @Html.RadioButton("RB_TOTAL_UNIT", "RB_UNIT", new { @Id = "RB_UNIT", @checked = "checked" })
                                </div>
                                <div class="col-sm-10" style="padding-left: 0px; padding-right: 15px;">
                                    @Html.EditorFor(model => model.KGPerUnit, "DecimalWOL", new { @readonly = "readonly", @class = "kgperunit" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $('.only-currency').not('#KGPerUnit').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.field-validation-error').each(function () {
        $(this).addClass('field-validation-valid');
        $(this).removeClass('field-validation-error');
        $(this).html('');
    })

    $('#daterange').dateRangePicker({
        separator: ' - ',
        format: 'DD-MMM-YYYY',
        autoClose: true,
        setValue: function (s) {
            if (!$(this).is(':disabled') && s != $(this).val()) {
                $(this).val(s);
                $('#HistoricalPeriod').val(s);
                $('#HistoricalConsumtion').val('0.00');

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    //datatype: 'json',
                    url: "@Url.Action("ItemDetails")",
                    data: JSON.stringify({ id: $('#ProductId').val(), facid: $('#FactoryId').val(), fdate: s.split(' - ')[0], tdate: s.split(' - ')[1] }),
                    success: function (data) {
                        //alert(JSON.stringify(data));
                        $('#HistoricalConsumption').val(data.items.P3MonthConsm);
                        $('#AvgConsmPerDay').val(data.items.AvgConsmPerDay);
                        $('#AvgConsmPerMonth').val(data.items.AvgConsmPerMonth);
                        $('#DaysWithTotalStock').val(data.items.DaysWithTotalStock);

                        setReOrderQty();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }
        //locale: {
        //    format: 'DD-MMM-YYYY'
        //},
        //autoClose: true,
        ////startDate: moment(),
        ////endDate: moment()
    //},
    //function (startDate, endDate) {
    //    //$('#daterange span').html(startDate.format('DD-MMM-YYYY') + ' - ' + endDate.format('DD-MMM-YYYY'));
    });

    $('#daterange').on('apply.daterangepicker', function (ev, picker) {
        alert('Here1');
        //console.log(picker.startDate.format('YYYY-MM-DD'));
        //console.log(picker.endDate.format('YYYY-MM-DD'));
        $('#HistoricalPeriod').val(picker.startDate.format('DD-MMM-YYYY') + ' - ' + picker.endDate.format('DD-MMM-YYYY'));
        $('#HistoricalConsumtion').val('0.00');
    });

    $('.date').not('[readonly]').datepicker({
        format: 'dd-M-yyyy',
        autoclose: true
        //onSelect: etaCheck()
        //onSelect: function () {
        //    alert('c');
        //    var oldValue = $(this).data('oldValue') || "";
        //    if (dateText !== oldValue) {
        //        alert('b');
        //        etaCheck(dateText, datePickerInstance);
        //    }
        //}
    });

    var supchange = false;
    function getSupDetails(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //datatype: 'json',
            url: "@Url.Action("SupplierDetails")",
            data: JSON.stringify({ id: e, reqDate: $('#PRDate').val(), facid: $('#FactoryId').val() }),
            success: function (data) {
                //alert(data.supplier.LeadTime);
                $('#BrandId').val(data.BrandId).trigger('change');

                supchange = true;
                if (data.LeadTime == 0) {

                    alert($('#AvgLeadTimeEarlierOrders').val());

                    $('#LeadTime').val($('#AvgLeadTimeEarlierOrders').val());
                    $('#CETA').val($('#CETA').val());
                    $('#FactoryETA').datepicker('setDate', $('#CETA').val());

                }
                else {
                    if (e!=0)
                    {
                        $('#LeadTime').val(data.LeadTime);
                    }

                    //$('#AvgLeadTimeEarlierOrders').val(data.AvgLeadTime);
                    $('#CETA').val(data.CETA);
                    $('#FactoryETA').datepicker('setDate', data.FETA);
                    
                }
                //if (e == 0 || eval($('#LeadTime').val()) == 0) {
                //    //alert(e);
                //    $('#LeadTime').attr('readonly', false);
                //}
                //else {
                    $('#LeadTime').attr('readonly', true);
                //}

                setReOrderQty();

                supchange = false;

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    $(".kgperunit").change(function () {
        setKGPerUnit();
    })

    function setKGPerUnit() {
        let qty = eval($('#Quantity').val().replace(/\,/g, ''));
        let qtyinkg = eval($('#QuantityInKG').val().replace(/\,/g, ''));
        let kgperunit = eval($('#KGPerUnit').val().replace(/\,/g, ''));

        if ($('input[name=RB_TOTAL_UNIT]:checked').val() == "RB_KG") {
            let result = qty == 0 ? 0 : qtyinkg / qty;
            $('#KGPerUnit').removeClass('kgperunit');
            $('#KGPerUnit').val(result.toFixed(6))
            $('#KGPerUnit').addClass('kgperunit');
            $('#QuantityInKG').val(qtyinkg.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        } else {
            let result = kgperunit * qty;
            $('#QuantityInKG').removeClass('kgperunit');
            $('#QuantityInKG').val(result.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $('#QuantityInKG').addClass('kgperunit');
        }
        $('#Quantity').val(qty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","))
    }

    $("#LeadTime").blur(function () {
        if ($("#LeadTime").val() == '') {
            $("#LeadTime").val('0');
        }
    });

    $("#LeadTime").change(function () {
        if ($("#LeadTime").val() != '') {
            var prdate = $('#PRDate').val().toLowerCase().split('-');
            var ceta = new Date(prdate[1] + " " + prdate[0] + ", " + prdate[2]);
            ceta.setDate(ceta.getDate() + eval($('#LeadTime').val()));
            $('#CETA').val(getFormatedDate(ceta));
            $('#FactoryETA').datepicker('setDate', $('#CETA').val());

            setReOrderQty();

            var LeadTime = $("#LeadTime").val();
            var prDate = $('#PRDate').val();

            var FactoryDate = new Date(prDate);

            var FormatedDate = FactoryDate.setDate(FactoryDate.getDate() + LeadTime);

            
        }
    });

    $("#Next3MonthAvgConsumptionCurrentYear").blur(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#AvgConsmPerDayN').val((eval($(this).val().replace(/\,/g, '')) / 90.00).toFixed(2));

        setReOrderQty();
    });

    $("input[name='bond_limit']").change(function () {
        if ($("input[name='bond_limit']:checked").val() == 3) {
            var feta = $('#FactoryETA').val().toLowerCase().split('-');
            var ceta = $('#CETA').val().toLowerCase().split('-');
            var blsd = $('#BLSDate').val().toLowerCase().split('-');
            var bled = $('#BLEDate').val().toLowerCase().split('-');

            if (new Date(ceta[1] + " " + ceta[0] + ", " + ceta[2]).getTime() < new Date(bled[1] + " " + bled[0] + ", " + bled[2]).getTime()) {
                $("#CETA").val($('#BLEDate').val());
                ceta = $('#CETA').val().toLowerCase().split('-');
            }

            if (new Date(ceta[1] + " " + ceta[0] + ", " + ceta[2]).getTime() > new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime()) {
                //alert($("#FactoryETA").val());
                //alert('Factory ETA must be greater than or equal to C ETA.');
                $("#FactoryETA").datepicker('setDate', $('#CETA').val());
            }
        }
    });

    function GetLeadTime()
    {
        var category = 0;
        if ($('#CategoryId').find('option:selected').text()!='ALL')
        {
            category = $('#CategoryId').val();
        }

       $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    url: "@Url.Action("GetLeadTime")",
          // data: { id: $('#ProductId').val(), categoryId: $('#CategoryId').find('option:selected').text() == 'ALL' ? 0 : $('#CategoryId').val() },
           data: { id: $('#ProductId').val(), categoryId: category },
           success: function (data)
           {

               $('#LeadTime').val(data);
               $('#LeadTime').trigger("change");
                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

    }


    $("#FactoryETA").change(function () {
        if (!supchange)
            etaCheck();
    });

    function etaCheck() {
        var feta = $('#FactoryETA').val().toLowerCase().split('-');
        var ceta = $('#CETA').val().toLowerCase().split('-');
        var blsd = $('#BLSDate').val().toLowerCase().split('-');
        var bled = $('#BLEDate').val().toLowerCase().split('-');

        if (new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime() >= new Date(blsd[1] + " " + blsd[0] + ", " + blsd[2]).getTime()
            && new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime() < new Date(bled[1] + " " + bled[0] + ", " + bled[2]).getTime()) {
            //alert($("#FactoryETA").val());
            alert('Bond license will be expire in ' + $('#BLSDate').val() + '.\nSo, Factory ETA must have to 15 days later than expire.');
            $("#FactoryETA").datepicker('setDate', $('#BLEDate').val());
        }
        else if (new Date(ceta[1] + " " + ceta[0] + ", " + ceta[2]).getTime() > new Date(feta[1] + " " + feta[0] + ", " + feta[2]).getTime()) {
            //alert($("#FactoryETA").val());
            alert('Factory ETA must be greater than or equal to C ETA.');
            $("#FactoryETA").datepicker('setDate', $('#CETA').val());
        }
    };

    function getItemDetails(e) {
        $('#pbond_status').hide();
        GetLeadTime();

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //datatype: 'json',
            url: "@Url.Action("ItemDetails")",
            data: JSON.stringify({ id: e, facid: $('#FactoryId').val(), prsubid: $('#PRSubId').val() }),
            success: function (data) {
                //alert(JSON.stringify(data));
                $('#CurrentStock').val(data.items.PresentStock);
                $('#Next3MonthAvgConsumptionLastYear').val(data.items.N3MonthConsmLY);
                $('#HistoricalConsumption').val(data.items.P3MonthConsm);
                $('#StockInTransit').val(data.items.Pipeline);
                $('#PendingRequisitionQuanity').val(data.items.ReqPendingQuantity);
                $('#TotalStock').val(data.items.TotalStock);
                $('#CapacityId').val(data.items.CapacityId);
                $('#BondBalance').val(data.items.BondBalance);
                $('#AvgConsmPerDay').val(data.items.AvgConsmPerDay);
                $('#AvgConsmPerMonth').val(data.items.AvgConsmPerMonth);
                $('#DaysWithTotalStock').val(data.items.DaysWithTotalStock);
                $('#HistoricalPeriod').val(data.items.FDate + ' - ' + data.items.TDate);
                $('#daterange').val($('#HistoricalPeriod').val());
                $('#AvgLeadTimeEarlierOrders').val(data.lt);
                $('#ItemCode').val(data.items.ItemCode);
                $('#BondCapacityCheck').val(data.items.BondCapacityCheck);

                if (data.items.CapacityId == 0) {
                    $('#pbond_status').show();
                    let item_type_code = data.items.ItemCode.substring(0, 2);
                    if (item_type_code == '01') {
                        $('#pbond_status').html('NON-BOND ITEM');
                    }
                    else if (item_type_code == '02') {
                        $('#pbond_status').html('STORE & SPARE');
                    }
                    else {
                        $('#pbond_status').html('MACHINERIES');
                    }
                } else {
                    $('#pbond_status').show();
                    $('#pbond_status').html('BONDED ITEM');
                }

                if ($('#PRSubId').val() == '' || eval($('#PRSubId').val()) == 0) {
                   // $('#LeadTime').val(data.lt);
                    $('#CETA').val(data.feta);
                    $('#FETA').val(data.feta);
                    $('#FactoryETA').datepicker('setDate', data.feta);
                    $('#PreferredSupplierId').val('0').trigger('change');
                }
                //$('#pld').attr('style', 'display: block');

                var row = "";
                for (var i = 0; i < data.pl.length; i++) {
                    row += "<tr>" +
                                "<td>" + data.pl[i].LCNo + "</td>" +
                                "<td style='text-align: center;'>" + data.pl[i].ETA + "</td>" +
                                "<td style='text-align: right;'>" + data.pl[i].PLQty + " " + data.pl[i].QUnit + "</td>" +
                            "</tr>"
                };

                $('#tblbody').html(row);

                setReOrderQty();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function setReOrderQty() {
        var acpd, lt, ts, roq;
        //alert($('#AvgConsmPerDay').val().replace(/\,/g, ''));
        acpd = eval($('#AvgConsmPerDay').val().replace(/\,/g, ''));
        lt = eval($('#LeadTime').val().replace(/\,/g, ''));
        ts = eval($('#TotalStock').val().replace(/\,/g, ''));

        //alert(acpd + ", " + lt + ", " + ts);

        roq = (acpd * ((lt + 30) * 2)) - ts;

        $('#ReOrderQty').val(roq.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    }
</script>