﻿@model InventoryMS.Models.RequisitionSub

@{
    decimal? total = Model.PendingRequisitionQuanityForItem + Model.StockInTransit + Model.CurrentStock;
}
<tr>
    <td style="text-align: center;">@(Model.RowNo.HasValue ? Model.RowNo.Value.ToString("000") : "")</td>
    <td style="display: none;">@Model.CategoryId</td>
    <td style="display: none;">@Model.ProductId</td>
    <td style="text-align: left;">@Model.ProductName</td>
    <td style="text-align: right;">@Model.CurrentStock.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@Model.StockInTransit.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@Model.PendingRequisitionQuanityForItem.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@total.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@Model.AverageConsumptionPerDay.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@Model.DaysWithTotalStock</td>
    <td style="text-align: center;">@Model.HistoricalPeriod</td>
    <td style="text-align: right;">@Model.HistoricalConsumption.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@Model.Next3MonthAvgConsumptionLastYear.Value.ToString("##,##0.00")</td>
    <td style="text-align: right;">@Model.Next3MonthAvgConsumptionCurrentYear.Value.ToString("##,##0.00")</td>
    <td style="display: none;">@Model.PreferredSupplierId</td>
    <td style="text-align: left;">@Model.SupplierName</td>
    <td style="display: none;">@Model.BrandId</td>
    <td style="text-align: left;">@Model.BrandName</td>
    <td style="text-align: right;">@Model.AvgLeadTimeEarlierOrders</td>
    <td style="text-align: right;" class="leadtime">@Model.LeadTime</td>
    <td style="text-align: center;" class="FETA" >@(Model.FactoryETA.HasValue ? Model.FactoryETA.Value.ToString("dd-MMM-yyyy") : "")</td>
    <td id="edit_@Model.RowNo" style="text-align: right;" ondblclick="setQty(this)">@Model.Quantity.Value.ToString("##,##0.00")</td>
    <td style="text-align: left;">@Model.QuantityUnit</td>
    <td style="display: none;">@Model.QuantityUnitId</td>
    <td style="display: none;">@Model.PRSubId</td>
    <td style="display: none;">@Model.CapacityId</td>
    <td style="display: none;">@Model.BondBalance</td>

    @if (ViewBag.isbutton != null && ViewBag.isbutton)
    {
        <td id="_@Model.RowNo" style="display: none;" ondblclick="setKGQty(this)">@Model.QuantityInKG.Value.ToString("##,##0.00")</td>
        <td id="kpu_@Model.RowNo" style="display: none;">@Model.KGPerUnit.Value.ToString("####0.000000")</td>
        <td style="display: none;">@Model.IsWithDuty</td>
        <td style="display: none;">@Model.BondCapacityCheck</td>
        <td style="display: none;">@Model.PendingRequisitionQuanity.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@Model.BondDeductSourceType</td>
        <td style="text-align: center;">
            @if (Model.PRSubId.HasValue)
            { 
                <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
            }
        </td>
    }
    else if (ViewBag.isbutton != null && ViewBag.iskgupdate == null && ViewBag.iskgupdate <= 0)
    {
        <td id="_@Model.RowNo" style="display: none;" ondblclick="setKGQty(this)">@Model.QuantityInKG.Value.ToString("##,##0.00")</td>
        <td id="kpu_@Model.RowNo" style="display: none;">@Model.KGPerUnit.Value.ToString("####0.000000")</td>
        <td style="display: none;">@Model.IsWithDuty</td>
        <td style="display: none;">@Model.BondCapacityCheck</td>
        <td style="display: none;">@Model.PendingRequisitionQuanity.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@Model.BondDeductSourceType</td>
        <td style="text-align: center;">
            <a id="btnshow" class="show" title="" data-toggle="tooltip" data-original-title="Show" onclick="showconsumption(@Model.PRSubId);"><i class="glyphicon glyphicon-eye-open"></i></a>
        </td>
    }
    else if (ViewBag.isbutton != null && !ViewBag.isbutton && ViewBag.iskgupdate == null)
    {
        <td style="display: none;">@Model.QuantityInKG.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@Model.KGPerUnit.Value.ToString("####0.000000")</td>
        <td style="display: none;">@Model.IsWithDuty</td>
        <td style="display: none;">@Model.BondCapacityCheck</td>
        <td style="display: none;">@Model.PendingRequisitionQuanity.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@Model.BondDeductSourceType</td>
        <td style="text-align: center;">
            <a id="btnshow" class="show" title="" data-toggle="tooltip" data-original-title="Show" onclick="showconsumption(@Model.PRSubId);"><i class="glyphicon glyphicon-eye-open"></i></a>
        </td>
    }
    else if (ViewBag.iskgupdate != null && ViewBag.iskgupdate == 1)
    {
        <td id="_@Model.RowNo" style="text-align: right;" ondblclick="setKGQty(this)">@Model.QuantityInKG.Value.ToString("##,##0.00")</td>
        <td id="kpu_@Model.RowNo" style="text-align: right;">@Model.KGPerUnit.Value.ToString("####0.000000")</td>
        <td style="display: none;">@Model.IsWithDuty</td>
        <td style="display: none;">@Model.BondCapacityCheck</td>
        <td style="display: none;">@Model.PendingRequisitionQuanity.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@Model.BondDeductSourceType</td>
    }
</tr>


