﻿@model IEnumerable<InventoryMS.Models.ItemList>


                    <table id="tblProd" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
							<tr>
								<th style="display: none;">
									ID
								</th>
								<th style="text-align: center;">
									Product
								</th>
                                <th style="text-align: center;">
                                    Category
                                </th>
								<th></th>	
							</tr>	
				</thead>
                <tbody>
                    @foreach (var item in Model)
                    {
							<tr class="selectable">
                                <td style="display: none;">
                                    @Html.DisplayFor(modelItem => item.ItemId)
                                </td>
								<td>
									@Html.DisplayFor(modelItem => item.ItemName)
								</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatName)
                                </td>
								<td style="text-align: center">
                                    @if (InventoryMS.Models.clsMain.IsPermitted("BondProduct", "Delete"))
                                    {
                                        <a onclick="if (confirm('Are you sure to parmanently remove?')) del(this, @item.BSPId);" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    }
                                    else
                                    {
                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    }
								</td>
							</tr>
					}
						</tbody>
                    </table>
