﻿@model IEnumerable<InventoryMS.Models.BondProduct>
@using InventoryMS.Models;

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: Bond Wise Product
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Bond Product</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    ProductCubeEntities db = new ProductCubeEntities();
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            @*<a class="btn btnsm btn-default" href="@Url.Action("Index")">BondProduct List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("License", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPeriod(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Bond Period", new { @class = "col-common col-sm-3 control-label" })
                                <div id="bpid" class="col-sm-9">
                                    @Html.DropDownList("BondPeriodId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "CapacityDetails(this.value);" })

                                    @Html.ValidationMessage("BondPeriodId", null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="caplist" class="form-group">
                                @Html.Label("Bond SL #", new { @class = "col-common col-sm-3 control-label" })
                                <div id="bslist" class="col-sm-9">
                                    @Html.DropDownList("CapacityId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProductsList(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catlist" class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProducts(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3" style="text-align: right; margin-top: 10px;">
                                    <span>Select All</span>@Html.CheckBox("chkAll", new { @onchange = "SelectAll(this);", @style = "margin-left: 5px; margin-top: 2px;" }) 
                                </div>
                                <div id="pList" class="col-sm-9">
                                </div>
                            </div>
                        </div>
                        <div id="tblData" class="col-md-6">
                            @Html.Action("Index")
                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-common col-sm-12 control-label" style="text-align: center; color: green;">Update Successful.</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        //ajaxindicatorstart('loading data.. please wait..');
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        //$("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();
        function SelectAll(e) {
                $('#pList .item').each(function () {
                    $(this).prop('checked', $(e).prop('checked'));
                });
        }

        function getPeriod(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function CapacityDetails(e) {
            //alert(e);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CapacityList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#caplist').html(data);
                    $('#caplist select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    getProductsList(0);

                    getProducts(0);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProductsList(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CapProductList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#tblData').html(data);

                    table = $('#tblProd').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProducts(e) {
            //alert($('#CapacityId').val());
            if ($('#CapacityId').val() <= 0) {
                //alert('Select Bond Serial No.');
                return;
            }
            if ($('#CategoryId').val() <= 0) {
                //alert('Select Product Category.');
                return;
            }

            $('#chkAll').prop('checked', false);

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ProductList")",
                data: JSON.stringify({ id: $('#CategoryId').val(), capid: $('#CapacityId').val() }),
                success: function (data) {
                    //alert(data);
                    $('#pList').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var table = $('#tblProd').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });

        $('#tblProd tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
        function del(e, b) {
            alert(JSON.stringify({ id: b }));
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: b }),
                success: function (data) {
                    //alert(data);
                    $(e).closest('tr').addClass('selected');
                    table.row('.selected').remove().draw(false);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var itemList = [], rn = 0;

            var tbl = $('#pList .item').each(function () {
                //alert($(this).attr('id').replace('ItemId_', ''));
                    var arrayOfThisRow = {
                        ItemId: $(this).attr('id').replace('ItemId_', ''), isChecked: $(this).prop('checked')
                    };
                    //alert(arrayOfThisRow);
                    itemList.push(arrayOfThisRow);
            });

            //alert(JSON.stringify({ catid: $('#CategoryId').val(), capid: $('#CapacityId').val(), itemList: itemList }));

            //console.log(JSON.stringify({ catid: $('#CategoryId').val(), capid: $('#CapacityId').val(), itemList: itemList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateProduct")',
                data: JSON.stringify({ itemList: itemList, catid: $('#CategoryId').val(), capid: $('#CapacityId').val() }),
                success: function (msg) {
                    $('#tblData').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);

                    table = $('#tblProd').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false
                    });

                    $('#alert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR: ' + JSON.stringify(jqXHR));
                    console.log('\ntextStatus: ' + textStatus);
                    console.log('\nerrorThrown: ' + errorThrown);
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <style>
        .ckcontainer { border:2px solid #ccc; width:100%; height: 200px; overflow-y: scroll; padding: 5px; }
    </style>
}

