﻿@model IEnumerable <InventoryMS.Models.ItemList>
@using InventoryMS.Models

<div class="form-group ckcontainer" style="text-align: left; margin-left: 0px;">    
    @foreach (ItemList item in Model)
    {
        <div class="col-sm-12">
            <div style="float:left;">@Html.CheckBox("ItemId_" + item.ItemId++ + "", item.isChecked, new { @class = "item" })</div>
            <span style="padding-left: 5px;">@item.ItemName</span>
        </div>
    }
</div>
