﻿@model InventoryMS.Models.CategoryFactory

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Factory Wise Category List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Category</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Criteria</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptCategoryList")
                            @Html.Hidden("title", "Category Register")
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, null, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>
                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . ."
        });

        $('#frm').submit(function () {
            if ($('#FactoryId').val().length == 0) {
                alert('Select factory.');
                return false;
            }

            return true;
        });
    </script>
}

@section CSS{

}
