﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Import Document Retirement
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Document Retirement</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    @*<div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                </li>
                            </ul>
                        </div>*@
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5" style="margin-top: 50px; margin-bottom: 50px;">
                        <!-- general form elements -->
                        <div class="box box-danger">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Document Retired Register</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptDocumentRetiredRegister")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.FactoryId, (MultiSelectList)ViewBag.Factory, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategories(this.value);" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="catid" class="col-sm-9">
                                                @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(1 - DateTime.Today.Day).AddMonths(-1).ToString("dd-MMM-yyyy") })
                                            </div>
                                            <div class="col-sm-1" style="text-align: center;">
                                                @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                            </div>
                                        </div>

                                        <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">

                    </div>

                    <div class="col-md-4" style="margin-top: 50px; margin-bottom: 50px;">
                        <!-- general form elements -->
                        <div class="box box-danger">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Pending Document For Retire</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptDocumentRetiredPending")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.FactoryId, (MultiSelectList)ViewBag.Factory, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategories(this.value);" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="catid" class="col-sm-9">
                                                @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.Label("As On Date", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(model => model.AsOnDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                            </div>
                                        </div>

                                        <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            //placeholder: "Select or Type . . ."
        });

        function getCategories(e) {
            return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CategoryList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#catid').html(data);
                    $('#catid .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getDetails(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        //$('#frm').submit(function () {
        //    //if ($('#FromDate').val().substring(7, 11) == $('#ToDate').val().substring(7, 11)) {
        //    //    $('#fn').val('rptPriceComparative_Month');
        //    //}
        //    //else
        //    //    $('#fn').val('rptPriceComparative');
        //    return true;
        //});
    </script>
}

@section CSS{

}




