﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Goods Receive Register
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Goods Receive</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Criteria</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptGoodsReceiveRegister")
                            @Html.Hidden("title", "Goods Receive Register")
                            @Html.Hidden("FactoryId", "")
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, "ALL", new { @Id = "Factory", @Name = "Factory", @class = "form-control select", @style = "width: 100%;", @onchange = "getSupplier(this.value);" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Category, "ALL", new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="suplist" class="form-group">
                                @Html.LabelFor(model => model.SupplierId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, "ALL", new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.SupplierId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Date Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <select class="form-control select" id="DateType" name="DateType" style="width: 100%;">
                                        <option value="RECEIVE DATE">RECEIVE DATE</option>
                                        <option value="FACTORY ETA">FACTORY ETA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                </div>
                                <div class="col-sm-1" style="text-align: center;">
                                    @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Order Month", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.ToDate, "DateTimeWOL", new { @readonly = "readonly", Id = "OMonth", Name = "OMonth" })
                                    @Html.Hidden("OrderMonth")
                                    @*@Html.TextBoxFor(model => model.ToDate, "{0:MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Id = "OrderMonth", Name = "OrderMonth", @Value = DateTime.Today.ToString("MMM-yyyy") })*@
                                </div>
                                <div class="col-sm-1 control-label">
                                    @Html.CheckBox("IsOMWise")
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-5">
                                    @Html.CheckBox("IsFTAWise", false)  <span style="font-size: large; font-weight: bold;">FETA Wise</span>
                                </div>
                                <div class="col-sm-4">
                                    @Html.CheckBox("IsLotWise", false)  <span style="font-size: large; font-weight: bold;">LOT Wise</span>
                                </div>
                            </div>

                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/common/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        $('select.select').select2({
            //placeholder: "Select or Type . . ."
        });

        let prmonth = "01-Jan-1900";
        $('#OMonth').removeAttr('readonly');
        $('#OMonth').datepicker({
            format: 'MM-yyyy',
            autoclose: true,
            viewMode: "months",
            minViewMode: "months"
        });

        $('#OMonth').datepicker('setDate', convertStrToDate(prmonth));
        $('#OMonth').datepicker('remove');
        $('#OMonth').attr('disabled', true);

        $('#IsOMWise').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        function getSupplier(e) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SupplierList")',
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#suplist').html(data);
                    $('#suplist select.select').select2({
                        //placeholder: "Select or Type . . ."
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#IsFTAWise').change(function () {
            //$("#Factory").val(null).trigger('change');
            $("#Factory").select2("destroy");
            $("#DateType").select2("destroy");

            if (this.checked) {
                $("#Factory option:contains('ALL')").remove();
                $("#Factory").prepend("<option value></option>");
                $('#Factory').attr('multiple', 'multiple');
                $('#Factory').select2({
                    placeholder: "Select or Type . . ."
                });
                $("#Factory").val([]).trigger('change');
                $("#DateType").attr('disabled', true);
            }
            else {
                $("#Factory option[value='']").remove();
                $('#Factory option:selected').removeAttr('selected');
                $("#Factory").prepend("<option value selected='selected'>ALL</option>");
                $('#Factory').removeAttr('multiple');
                $('#Factory').select2({
                    //placeholder: "Select or Type . . ."
                });
                $("#DateType").removeAttr('disabled');
            }
            $('#DateType').select2({
                //placeholder: "Select or Type . . ."
            });
        });

        $('#IsOMWise').on('ifChanged', function () {
            if ($(this).is(":checked")) {
                prmonth = '@DateTime.Today.ToString("dd-MMM-yyyy")';

                $('#OMonth').removeAttr('disabled');
                $('#OMonth').datepicker({
                    format: 'MM-yyyy',
                    autoclose: true,
                    viewMode: "months",
                    minViewMode: "months"
                });

                $('#OMonth').datepicker('setDate', convertStrToDate(prmonth));
            }
            else {
                prmonth = "01-Jan-1900";

                $('#OMonth').datepicker('setDate', convertStrToDate(prmonth));
                $('#OMonth').datepicker('remove');
                $('#OMonth').attr('disabled', true);
                //console.log($('#OMonth').val());
            }
        });

        $('#frm').submit(function () {
            //if ($('#FactoryId').val().length == 0) {
            //    $('#fn').val('rptGoodsReceiveRegister');
            //}
            //else if ($('#FactoryId').val().length > 0) {
            //    $('#fn').val('rptSupplierList_FW');
            //}

            var comma = "", flist = "";

            if ($('#IsFTAWise').is(':checked')) {
                $('#fn').val('rptGoodsReceive_OFTA');

                if ($('#Factory').val() != null) {
                    $.each($('#Factory').val(), function (index, value) {
                        flist = flist + comma + value;
                        comma = ",";
                    });

                    $("#FactoryId").val(flist);
                }
                else
                    $("#FactoryId").val('');
            }
            else {
                if ($('#IsLotWise').is(':checked')) {
                    $('#fn').val('rptGoodsReceiveRegister_LOT');
                }
                else {
                    $('#fn').val('rptGoodsReceiveRegister');
                }

                $("#FactoryId").val($('#Factory').val());
            }

            if ($('#FactoryId').val() == '' && $('#IsFTAWise').is(':checked')) {
                alert('Select factory.');
                return false;
            }

            if ($('#IsOMWise').is(":checked")) {
                $('#OrderMonth').val('01-' + $('#OMonth').val());
            }
            else {
                $('#OrderMonth').val('01-Jan-1900');
            }

            return true;
        });
    </script>
}

@section CSS{
    <link rel="stylesheet" href="~/common/theme/plugins/iCheck/all.css">
}




