﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Issue Profile & Details
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Issue</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">Report Criteria</h3>
                    @*<div class="btn-group">
                        <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                            </li>
                        </ul>
                    </div>*@
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <div class="box box-success">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Issue Profile</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("MRR", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm_profile", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptIssueProfile")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-4">
                                                @Html.DropDownList("FactoryId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getIssueList(this.value);" })
                                            </div>
                                            @Html.Label("Year", new { @class = "col-common col-sm-2 control-label" })
                                            <div class="col-sm-3">
                                                @Html.DropDownList("Year", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getIssueList(this.value);" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Requisition #", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="Issuelist" class="col-sm-9">
                                                @Html.DropDownList("IssueId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getDetails(this.value)" })
                                            </div>
                                        </div>

                                        <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="box box-success">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Issue Register</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("MRR", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm_register", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptIssueRegister")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("FactoryId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategoryList(this.value);" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaterialTypeId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("MaterialTypeId", (SelectList)ViewBag.MaterialType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessage("MaterialTypeId", null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Issue For", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("IssueTypeId", (SelectList)ViewBag.IssueType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="cat_list" class="col-sm-9">
                                                @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProductList(this.value);" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Product", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="item_list" class="col-sm-9">
                                                @Html.DropDownList("ItemId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                            </div>
                                            <div class="col-sm-1" style="text-align: center;">
                                                @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                            </div>
                                        </div>

                                        <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('#frm_register select.select').not('#frm_register #FactoryId').select2({
            //placeholder: "Select or Type . . ."
        });

        $('#frm_register #FactoryId, #frm_profile select.select').select2({
            placeholder: "Select or Type . . ."
        });

        function getIssueList(e) {
            if ($('#frm_profile #FactoryId').val() == '') {
                alert('Select factory.');
                return;
            }
            else if ($('#frm_profile #Year').val() == '') {
                //alert('Select requisition year.');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("IssueList")",
                data: JSON.stringify({ id: $('#frm_profile #FactoryId').val(), year: $('#frm_profile #Year').val() }),
                success: function (data) {
                    console.log(data);
                    $('#frm_profile #Issuelist').html(data);

                    $('#frm_profile #IssueId').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
        
        function getCategoryList(e) {
            if ($('#frm_register #FactoryId').val() == '') {
                alert('Select factory.');
                return;
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryCategoryList")",
                data: JSON.stringify({ facid: $('#frm_register #FactoryId').val() }),
                success: function (data) {
                    //console.log(data);
                    $('#frm_register #cat_list').html(data);

                    $('#frm_register #CategoryId').select2({
                        //placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProductList(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryCategoryProductList")",
                data: JSON.stringify({ facid: $('#frm_register #FactoryId').val(), catid: $('#frm_register #CategoryId').val() }),
                success: function (data) {
                    //console.log(data);
                    $('#frm_register #item_list').html(data);

                    $('#frm_register #ItemId').select2({
                        //placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getDetails(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm_profile').submit(function () {
            if ($('#IssueId').val().length == 0) {
                alert('Select issue no.');
                return false;
            }

            return true;
        });

        $('#frm_register').submit(function () {
            if ($('#frm_register #FactoryId').val().length == 0) {
                alert('Select factory.');
                return false;
            }

            return true;
        });
    </script>
}

@section CSS{

}