﻿
@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Item Ledger
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Ledger</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Criteria</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-3">

                        </div>

                        <div class="col-md-6">
                            @*@Html.Hidden("fn", "rptItemLedger")*@
                            @Html.Hidden("title", "Item Ledger")
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategories(this.value); getProduct();" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Category, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, "Item Name", new { @class = "col-common col-sm-3 control-label" })
                                <div id="prodid" class="col-sm-9">
                                    @Html.DropDownList("ItemId", (SelectList)ViewBag.Product, null, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                </div>
                                <div class="col-sm-1" style="text-align: center;">
                                    @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Report Type", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    <select class="form-control select" id="fn" name="fn" style="width: 100%;">
                                        <option value="rptItemLedger">Both Inventory & Floor</option>
                                        <option selected value="rptItemLedger_INV">Only Inventory</option>
                                        <option value="rptItemLedger_FLR">Only Floor</option>
                                        <option value="rptItemLedger_Store_INV">STORE & SPARES</option>
                                    </select>
                                </div>
                            </div>

                            @*<div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-5">
                                    @Html.CheckBox("IsStore&Spares", false)  <span style="font-size: medium; font-weight: bold;">STORE & SPARES</span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                </div>
                            </div>*@

                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            //placeholder: "Select or Type . . ."
        });

        $(document).on('change', '#CategoryId', function () {
            getProduct($(this).val());
        })

        function getCategories(e) {
            console.log('Here');
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CategoryList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#catid').html(data);
                    $('#catid .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProduct(e) {
            if ($('#FactoryId').val().length == 0) {
                alert('Select factory.');
                return false;
            }
            let catid = $('#CategoryId').val();
            if (catid == undefined || catid.length == 0){
                catid = '0';
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryCategoryProductList")",
                data: JSON.stringify({ facid: $('#FactoryId').val(), catid: catid }),
                success: function (data) {
                    $('#prodid').html(data);
                    $('#prodid .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm').submit(function () {
            //if ($('#BondId').val().length == 0) {
            //    alert('Select bond license.');
            //    return false;
            //}
            //else if ($('#BondPeriodId').val().length == 0) {
            //    alert('Select bond license period.');
            //    return false;
            //}

            return true;
        });
    </script>
}

@section CSS{

}


