﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Material Arriving Status By Order Month
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Material Arriving Status By Order Month</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()


    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptMaterialArrivingStatusOM")

                            <div class="form-group">
                                @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("FactoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategories(this.value);" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Order Month", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ToDate, "DateTimeWOL", new { @readonly = "readonly", Id = "OrderMonth", Name = "OrderMonth" })
                                    @*@Html.Hidden("OrderMonth")*@
                                    @*@Html.TextBoxFor(model => model.ToDate, "{0:MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Id = "OrderMonth", Name = "OrderMonth", @Value = DateTime.Today.ToString("MMM-yyyy") })*@
                                </div>

                            </div>



                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . ."
        });

        function getCategories(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CategoryList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#catid').html(data);
                    $('#catid .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }



        function CapacityDetails(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CapacityList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {

                    //alert(data);
                    $('#caplist').html(data);
                    $('#caplist select.select').select2({
                        //placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        //let prmonth = "01-Jan-1900";
         let prmonth = '@DateTime.Today.ToString("dd-MMM-yyyy")';
        $('#OrderMonth').removeAttr('readonly');
        $('#OrderMonth').datepicker({
            format: 'MM-yyyy',
            //format: 'dd-MM-yyyy',
            autoclose: true,
            viewMode: "months",
            minViewMode: "months"
        });
        $('#OrderMonth').datepicker('setDate', convertStrToDate(prmonth));

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm').submit(function ()
        {


            return true;
        });
    </script>
}

@section CSS{

}
