﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Material Requistion Requirement & Consumption Pattern Analysis (Paper)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> MRR Analysis</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Criteria</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @*@Html.Hidden("fn", "rptMRRAnalysis")*@
                            @Html.Hidden("title", "RM Requirement Analysis & Comsumption Pattern")
                            @Html.Hidden("CategoryId", "")
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategories(this.value);" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownList("CategoryId", (MultiSelectList)ViewBag.Category, String.Empty, new { @Id = "Category", @Name = "Category", @class = "form-control multiple-select", @multiple = "multiple", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Supplier", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownList("SupplierId", (SelectList)ViewBag.Supplier, String.Empty, new { @Id = "SupplierId", @Name = "SupplierId", @class = "form-control multiple-select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Brand", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownList("BrandId", (SelectList)ViewBag.Brand, String.Empty, new { @Id = "BrandId", @Name = "BrandId", @class = "form-control multiple-select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("As On", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "AsOnDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Report Type", new { @class = "col-common col-sm-3 control-label" })
                                <div id="fnid" class="col-sm-9">
                                    <select class="form-control select" id="fn" name="fn" style="width: 100%;">
                                        <option selected="selected" value="rptMRRAnalysis">RM Requirement Analysis</option>
                                        <option value="rptConsumptionPattern_L4M">Comsumption Pattern For Last 4 Month</option>
                                        <option value="rptConsumptionPattern_N4M">Comsumption Pattern For Next 4 Month</option>
                                    </select>

                                    @Html.ValidationMessage("fn", null, new { @class = "control-label" })
                                </div>
                            </div>

                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . ."
        });

        $('select.multiple-select').select2({
            //placeholder: "Select or Type . . ."
        });

        function getCategories(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("CategoryList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#catid').html(data);
                    $('#catid .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function getProduct(e) {

        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm').submit(function () {
            //if ($('#BondId').val().length == 0) {
            //    alert('Select bond license.');
            //    return false;
            //}
            //else if ($('#BondPeriodId').val().length == 0) {
            //    alert('Select bond license period.');
            //    return false;
            //}

            var comma = "", flist = "";

            if ($('#Category').val() != null) {
                $.each($('#Category').val(), function (index, value) {
                    flist = flist + comma + value;
                    comma = ",";
                });

                $("#CategoryId").val(flist);
            }
            else
                $("#CategoryId").val('');

            if ($('#CategoryId').val() == '') {
                alert('Select category.');
                return false;
            }

            return true;
        });
    </script>
}

@section CSS{

}






