﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Pipeline Status
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Pipeline Status</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptPipelineStatus")

                            @Html.Hidden("FactoryId", "")
                            @Html.Hidden("PRId", "")
                            @Html.Hidden("DateType", "")
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (MultiSelectList)ViewBag.Factory, String.Empty, new { @Id = "Factory", @Name = "Factory", @class = "form-control select", @multiple = "multiple", @style = "width: 100%;", @onchange = "getCategories(this.value);" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Supplier", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("SupplierId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, "Requistion #", new { @class = "col-common col-sm-3 control-label" })
                                <div id="prlist" class="col-sm-8 offset-right">
                                    @Html.DropDownList("PRList", null, String.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-1 control-label">
                                    @Html.CheckBox("IsPRWise")
                                </div>
                            </div>

                            <div class="form-group" id="asOndate">
                                @Html.Label("As On Date", new { @class = "col-common col-sm-3 control-label" })
                                @*<div class="col-sm-4">
                @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
            </div>
            <div class="col-sm-1" style="text-align: center;">
                @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
            </div>*@
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Id = "AsOnDate", Name = "AsOnDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Order Month", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-5">
                                    @Html.EditorFor(model => model.ToDate, "DateTimeWOL", new { @readonly = "readonly", Id = "OMonth", Name = "OMonth" })
                                    @Html.Hidden("OrderMonth")
                                    @*@Html.TextBoxFor(model => model.ToDate, "{0:MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Id = "OrderMonth", Name = "OrderMonth", @Value = DateTime.Today.ToString("MMM-yyyy") })*@
                                </div>
                                <div class="col-sm-1 control-label">
                                    @Html.CheckBox("IsOMWise")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Pending Type", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-7">
                                    @*@Html.DropDownList("PendingType", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })*@
                                    <select class="form-control select" id="PendingType" name="PendingType" style="width: 100%;" onchange="changePendingType(this.value)">
                                        <option value="">ALL</option>
                                        @*<option value="">All Without Value</option>*@
                                        <option value="">ALL (Supplier Wise)</option>
                                        <option value="Pending For Qty Approval">Pending For Qty Approval</option>
                                        <option value="Pending For Price Approval">Pending For Price Approval</option>
                                        <option value="Forward For LC Opening">Forward For LC Opening</option>
                                        <option value="Pending For L/C">Pending For L/C</option>
                                        <option value="L/C Open But Not Received">L/C Open But Not Received</option>
                                        <option value="Pipeline Pending Over Factory ETA">Pipeline Pending Over Factory ETA</option>
                                        <option value="Pipeline Arrival Earlier Than Factory ETA">Pipeline Arrival Earlier Than Factory ETA</option>
                                        <option value="Pipeline arriving after 15 days of bond expiry">Pipeline arriving after 15 days of bond expiry</option>
                                        <option value="Consignments already in port but not yet cleared">Consignments already in port but not yet cleared</option>
                                        <option value="At Port &amp; Port Arrival">At Port &amp; Port Arrival</option>
                                        <option value="At Port &amp; Port Arrival Within Date Range">At Port &amp; Port Arrival Within Date Range</option>
                                        <option value="Pending or over ETP">Pending or over ETP</option>
                                        <option value="ETP vs ETS vs BL Report">ETP vs ETS vs BL Report</option>
                                        <option value="Month & Due ETP but not yet BL">Month & Due ETP but not yet BL</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    @Html.CheckBox("WOValue") Only Qty
                                </div>
                            </div>

                            <div class="form-group" style="display:none" id="dtRange">
                                @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                </div>
                                <div class="col-sm-1" style="text-align: center;">
                                    @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">
                                    @Html.CheckBox("IsSummary", true)  <span style="font-size: medium; font-weight: bold;">Summary View</span>
                                </div>
                                <div class="col-sm-3">
                                   
                                </div>
                                <div class="col-sm-3">
                                    @Html.CheckBox("SupplierCopy", false)  <span style="font-size: medium; font-weight: bold;">Supplier Copy</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">

                                </div>

                                <div class="col-sm-3">
                                    @Html.CheckBox("ReelSizePA", false)  <span style="font-size: medium; font-weight: bold;">ReelSize</span>
                                </div>
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">
                                    @Html.CheckBox("ReelSizeFull", false)  <span style="font-size: medium; font-weight: bold; ">ReelSize Full</span>
                                </div>
                            </div>
                            <br />
                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/common/theme/plugins/iCheck/icheck.min.js"></script>

    <script>
        $('select.select').not('#CategoryId').select2({
            //placeholder: "Select or Type . . ."
        });

        let prmonth = "01-Jan-1900";
        $('#OMonth').removeAttr('readonly');
        $('#OMonth').datepicker({
            format: 'MM-yyyy',
            autoclose: true,
            viewMode: "months",
            minViewMode: "months"
        });

        $('#OMonth').datepicker('setDate', convertStrToDate(prmonth));
        $('#OMonth').datepicker('remove');
        $('#OMonth').attr('disabled', true);

        $('input[type=checkbox]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })

        $('#CategoryId').select2({
            //placeholder: "Select or Type . . ."
            sorter: function (results) {
                var query = $('.select2-search__field').val().toLowerCase();
                return results.sort(function (a, b) {
                    return a.text.toLowerCase().indexOf(query) -
                      b.text.toLowerCase().indexOf(query);
                });
            }
        });

        $('#IsPRWise').on('ifChanged', function () {
            if ($(this).is(":checked")) {
                getCategories($('#CategoryId').val());
            }
            else
                $('#prlist .select').empty().trigger("change");
        });

        $('#IsOMWise').on('ifChanged', function () {
            if ($(this).is(":checked")) {
                prmonth = $('#AsOnDate').val();

                $('#OMonth').removeAttr('disabled');
                $('#OMonth').datepicker({
                    format: 'MM-yyyy',
                    autoclose: true,
                    viewMode: "months",
                    minViewMode: "months"
                });

                $('#OMonth').datepicker('setDate', convertStrToDate(prmonth));

                //console.log($('#OMonth').val());
            }
            else {
                prmonth = "01-Jan-1900";

                $('#OMonth').datepicker('setDate', convertStrToDate(prmonth));
                $('#OMonth').datepicker('remove');
                $('#OMonth').attr('disabled', true);
                //console.log($('#OMonth').val());
            }
        });

        //Requistion List
        function getCategories(e) {
            if ($('#IsPRWise').is(":checked") == false) {
                return;
            };

            var facid = [];

            if ($('#Factory').val() != null) {
                $.each($('#Factory').val(), function (index, value) {
                    facid.push(value);
                });
            }
            //alert($('#Factory').val().split(','));
            //alert(JSON.stringify({ facid: facid }));
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PipelineRequisitionList")",
                data: JSON.stringify({ facid: facid, catid: $('#CategoryId').val() }),
                success: function (data) {
                    $('#prlist').html(data);
                    $('#prlist .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getDetails(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@
        };

        function changePendingType(thisValue) {
            //console.log(thisValue);
            if (thisValue == 'At Port & Port Arrival Within Date Range') {
                $("#dtRange").show();
                $("#asOndate").hide();
            }
            else {
                $("#dtRange").hide();
                $("#asOndate").show();
            }
        }

        $('#frm').submit(function () {
            var comma = "", flist = "", prlist = "";

            if ($('#Factory').val() != null) {
                comma = "";
                $.each($('#Factory').val(), function (index, value) {
                    flist = flist + comma + value;
                    comma = ",";
                });

                $("#FactoryId").val(flist);
            }
            else {
                $("#FactoryId").val('0');
            }

            if ($('#FactoryId').val() == '' || flist == '') {
                alert('Select factory.');
                return false;
            }

            if ($('#PRList').val() != null) {
                comma = "";
                $.each($('#PRList').val(), function (index, value) {
                    prlist = prlist + comma + value.trim();
                    comma = ",";
                });

                $("#PRId").val(prlist);
            }
            else
                $("#PRId").val('0');

            if ($('#SupplierId').val() == null || $('#SupplierId').val() == '') 
                $("#SupplierId").val('0');

            if ($('#IsSummary').is(':checked')) {
                if ($('#PendingType').val() == '') {
                    if ($('#PendingType').select2('data')[0].text == 'ALL') {
                        if ($('#ReelSizePA').is(':checked')) {
                            $('#fn').val('rptPipelineStatus_IDET_ReelSize');
                        }

                        else if ($('#ReelSizeFull').is(':checked')) {
                            $('#fn').val('rptPipelineStatus_ReelSize_WithFullCoverage');
                        }

                        else {
                            $('#fn').val('rptPipelineStatus_CTW');
                        }
                    }
                    else if ($('#PendingType').select2('data')[0].text == 'All Without Value')
                        $('#fn').val('rptPipelineStatus_CTW_QTY');
                    else if ($('#PendingType').select2('data')[0].text == 'ALL (Supplier Wise)')
                        $('#fn').val('rptPipelineStatus_SUP_CTW');
                }
                else if ($('#PendingType').val() == 'At Port & Port Arrival') {
                    $('#fn').val('rptPipelineAtPort_CTW');
                }
                else if ($('#PendingType').val() == 'At Port & Port Arrival Within Date Range') {
                    $('#fn').val('rptPipelineAtPort_CTW_DR');
                }
                else if ($('#PendingType').val() == 'Pending or over ETP') {
                    $('#fn').val('rptPendingListOETP_CTW');
                    $("#DateType").val('BL');
                }
                else if ($('#PendingType').val() == 'ETP vs ETS vs BL Report' || $('#PendingType').val() == 'Month & Due ETP but not yet BL') {
                    if ($('#SupplierCopy').is(':checked')) {
                        $('#fn').val('rptPendingListDUE_OETP_CTW_SUP');
                    } else {
                        $('#fn').val('rptPendingListDUE_OETP_CTW');
                    }
                    $("#DateType").val('BL');
                }
                else {
                    if ($('#SupplierCopy').is(':checked')) {
                        $('#fn').val('rptPendingList_CTW_SUP');
                    } else {
                        $('#fn').val('rptPendingList_CTW');
                    }

                    if ($('#PendingType').val() == 'Pending For Qty Approval') {
                        $("#DateType").val('Req.');
                    }
                    else if ($('#PendingType').val() == 'Pending For Price Approval') {
                        $("#DateType").val('Q. App.');
                    }
                    else if ($('#PendingType').val() == 'Forward For LC Opening') {
                        $("#DateType").val('P. App.');
                    }
                    else if ($('#PendingType').val() == 'Pending For L/C') {
                        $("#DateType").val('PI');
                    }
                    else if ($('#PendingType').val() == 'Pipeline Pending Over Factory ETA') {
                        $("#DateType").val('BL');
                    }
                    else if ($('#PendingType').val() == 'Pipeline Arrival Earlier Than Factory ETA') {
                        $("#DateType").val('BL');
                    }
                    else {
                        $("#DateType").val('BL');
                    }
                }
            }
            else {
                if ($('#PendingType').select2('data')[0].text == 'All Without Value')
                    $('#fn').val('rptPipelineStatus_IDET_QTY');
                else
                    $('#fn').val('rptPipelineStatus_IDET');
            }

            if ($('#WOValue').is(":checked") == true || $('#SupplierCopy').is(":checked") == true) {
                $('#fn').val($('#fn').val() + '_QTY');
            };

            if ($('#IsOMWise').is(":checked")) {
                $('#OrderMonth').val('01-' + $('#OMonth').val());
            }
            else {
                $('#OrderMonth').val('01-Jan-1900');
            }

            return true;
        });
    </script>
}

@section CSS{
    <link rel="stylesheet" href="~/common/theme/plugins/iCheck/all.css">
}


