﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Requisition Register
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Requisition</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptMRR")

                            <div class="form-group">
                                @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("FactoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPOList(this.value);" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                <div id="catid" class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>


                            <div class="form-group" id="dropdownHolder">
                                @Html.Label("Date Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <select class="form-control select" id="DateType" name="DateType" style="width: 100%;">
                                        <option value="REQUISITION DATE">REQUISITION DATE</option>
                                        <option value="FACTORY ETA">FACTORY ETA</option>
                                        <option value="CANCEL DATE">CANCEL DATE</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                </div>
                                <div class="col-sm-1" style="text-align: center;">
                                    @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9">

                                    <input type="checkbox" id="ReportType" name="ReportType" value="0" /><span style="font-size: large; font-weight: bold;" onchange="valueChanged()"> Cancelled Requisition</span>
                                </div>
                            </div>


                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            //placeholder: "Select or Type . . ."
        });

        function getPOList(e) {
            @*if ($('#FactoryId').val() == '') {
                alert('Select factory.');
                return;
            }
            //else if ($('#Year').val() == '') {
            //    //alert('Select requisition year.');
            //    return;
            //}

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("POList", "PurchaseOrder")",
                data: JSON.stringify({ fid: $('#FactoryId').val(), fdate: $('#FDate').val(), tdate: $('#TDate').val() }),
                success: function (data) {
                    //alert(data);
                    $('#polist').html(data);

                    $('#POId').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function getDetails(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#ReportType').click(function () {
            if ($('#ReportType').is(':checked')) {
                $('#fn').val('rptCancelMRR');
                $("#ReportType").val('1');
                $('#DateType').hide();
            }
            else {
                $('#fn').val('rptMRR');
                $("#ReportType").val('0');


            }
        })

        //$('#frm').submit(function () {
        //    //if ($('#FactoryId').val().length == 0) {
        //    //    alert('Select factory.');
        //    //    return false;
        //    //}



        //    return true;
        //});



        //$(function () {
        //    var selected = $('#dropdownHolder option:selected'),
        //        $ReportType = $('#ReportType'),
        //        $dropdown = $('#dropdownHolder');

        //    $ReportType.change(function () {
        //        if ($ReportType.prop('checked')) {
        //            $dropdown.blur().hide();
        //        } else {

        //            $dropdown.show().focus().click();
        //        }
        //    });

        //    $ReportType.change();
        //});

    </script>
}

@section CSS{

}