﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Requisition Profile
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Requisition Profile</li>
    </ol>
</section>

@using (Html.BeginForm("MRR", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptRequisitionProfile")

                            <div class="form-group">
                                @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("FactoryId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPRList(this.value);" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Year", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("Year", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPRList(this.value);" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Requisition #", new { @class = "col-common col-sm-3 control-label" })
                                <div id="prlist" class="col-sm-9">
                                    @Html.DropDownList("PRId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getDetails(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9">
                                    @Html.CheckBox("IsCustomer")  <span style="font-size: large; font-weight: bold;">For Supplier</span>
                                </div>
                            </div>

                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . ."
        });

        function getPRList(e) {
            if ($('#FactoryId').val() == '') {
                alert('Select factory.');
                return;
            }
            else if ($('#Year').val() == '') {
                //alert('Select requisition year.');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PRList", "Requisition")",
                data: JSON.stringify({ fid: $('#FactoryId').val(), year: $('#Year').val() }),
                success: function (data) {
                    //alert(data);
                    $('#prlist').html(data);

                    $('#PRId').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getDetails(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm').submit(function () {
            if ($('#PRId').val().length == 0) {
                alert('Select requisition no.');
                return false;
            }
            var selectedYear = parseInt($('#Year').val()); 

            // Check if the checkbox with ID 'IsCustomer' is checked
            if ($('#IsCustomer').is(':checked')) {
                if (selectedYear <= 2023) {
                    $('#fn').val('rptRequisitionForSupplier2023');
                } else {
                    $('#fn').val('rptRequisitionForSupplier');
                }

            } else {
                //var selectedYear = parseInt($('#Year').val()); 
                if (selectedYear <= 2023) {
                    $('#fn').val('rptRequisitionProfileWSupp');
                } else {
                    $('#fn').val('rptRequisitionProfile');
                }
            }

            return true;
        });



    </script>
}

@section CSS{

}