﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Issue Requisition
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Requisition</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">Report Criteria</h3>
                    @*<div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                </li>
                            </ul>
                        </div>*@
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <div class="box box-success">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Requisition Profile</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("MRR", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm_profile", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptSRRProfile")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-4">
                                                @Html.DropDownList("FactoryId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getSRRList(this.value);" })
                                            </div>
                                            @Html.Label("Year", new { @class = "col-common col-sm-2 control-label" })
                                            <div class="col-sm-3">
                                                @Html.DropDownList("Year", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getSRRList(this.value);" })
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            @Html.Label("Requisition #", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="SRRlist" class="col-sm-9">
                                                @Html.DropDownList("SRRId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getDetails(this.value)" })
                                            </div>
                                        </div>

                                        <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 9% !important">
                        <div class="box box-success">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Requisition Register</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("MRR", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm_register", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptSRRRegister")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("FactoryId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategoryList(this.value);" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaterialTypeId, new { @class = "col-common col-sm-3 control-label" })
                                            <div id="catid" class="col-sm-9">
                                                @Html.DropDownList("MaterialTypeId", (SelectList)ViewBag.MaterialType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessage("MaterialTypeId", null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Requistion For", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("SRRTypeId", (SelectList)ViewBag.SRRType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="cat_list" class="col-sm-9">
                                                @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProductList(this.value);" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Product", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="item_list" class="col-sm-9">
                                                @Html.DropDownList("ItemId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                            </div>
                                            <div class="col-sm-1" style="text-align: center;">
                                                @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3">

                                            </div>
                                            <div class="col-sm-4">
                                                @Html.CheckBox("IsExchange")  <span style="font-size: medium; font-weight: bold;">Exchange Details</span>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5" style="margin-top: 50px !important;">
                        <div class="box box-success">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Pending Issue Requisition Register</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("MRR", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm_pending_register", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("fn", "rptSRRPendingRegister")

                                        <div class="form-group">
                                            @Html.Label("Factory", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("FactoryId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getCategoryList(this.value, 'pir');" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaterialTypeId, new { @class = "col-common col-sm-3 control-label" })
                                            <div id="catid" class="col-sm-9">
                                                @Html.DropDownList("MaterialTypeId", (SelectList)ViewBag.MaterialType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessage("MaterialTypeId", null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Requistion For", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("SRRTypeId", (SelectList)ViewBag.SRRType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Category", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="pir_cat_list" class="col-sm-9">
                                                @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProductList(this.value, 'pir');" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Product", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="pir_item_list" class="col-sm-9">
                                                @Html.DropDownList("ItemId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("As On", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "AsOnDate", Id = "AsOnDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                            </div>
                                        </div>

                                        <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . ."
        });

        function getSRRList(e) {
            if ($('#frm_profile #FactoryId').val() == '') {
                alert('Select factory.');
                return;
            }
            else if ($('#frm_profile #Year').val() == '') {
                //alert('Select requisition year.');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("SRRList")",
                data: JSON.stringify({ id: $('#frm_profile #FactoryId').val(), year: $('#frm_profile #Year').val() }),
                success: function (data) {
                    console.log(data);
                    $('#frm_profile #SRRlist').html(data);

                    $('#frm_profile #SRRId').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
        
        function getCategoryList(e, _type) {
            if ($('#frm' + (_type == 'pir' ? '_pending' : '') + '_register #FactoryId').val() == '') {
                alert('Select factory.');
                return;
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryCategoryList")",
                data: JSON.stringify({ facid: $('#frm' + (_type == 'pir' ? '_pending' : '') + '_register #FactoryId').val() }),
                success: function (data) {
                    //console.log(data);
                    if (_type == 'pir') {
                        $('#frm_pending_register #pir_cat_list').html(data);

                        $('#frm_pending_register #CategoryId').select2({
                            //placeholder: "Select or Type . . .",
                            //dropdownAutoWidth: true
                        });
                    } else {
                        $('#frm_register #cat_list').html(data);

                        $('#frm_register #CategoryId').select2({
                            //placeholder: "Select or Type . . .",
                            //dropdownAutoWidth: true
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProductList(id, e) {
            let _type = $(e).closest('form').attr('id') == 'frm_pending_register' ? 'pir' : '';
            //debugger;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryCategoryProductList")",
                data: JSON.stringify({ facid: $('#frm' + (_type == 'pir' ? '_pending' : '') + '_register #FactoryId').val(), catid: $('#frm' + (_type == 'pir' ? '_pending' : '') + '_register #CategoryId').val() }),
                success: function (data) {
                    //console.log(data);
                    if (_type == 'pir') {
                        $('#frm_pending_register #pir_item_list').html(data);

                        $('#frm_pending_register #ItemId').select2({
                            //placeholder: "Select or Type . . .",
                            //dropdownAutoWidth: true
                        });
                    } else {
                        $('#frm_register #item_list').html(data);

                        $('#frm_register #ItemId').select2({
                            //placeholder: "Select or Type . . .",
                            //dropdownAutoWidth: true
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getDetails(e) {
            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PeriodList", "BondCapacity")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    //alert(data);
                    $('#bpid').html(data);

                    $('#bpid select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm_profile').submit(function () {
            if ($('#SRRId').val().length == 0) {
                alert('Select SRR no.');
                return false;
            }

            return true;
        });

        $('#frm_register').submit(function () {
            // Check if FactoryId is empty
            if ($('#frm_register #FactoryId').val().length == 0) {
                alert('Select factory.');
                return false;
            }

            //Check if need to Exchange Register record
            if ($('#IsExchange').is(':checked')) {
                $('input[name="fn"][value="rptSRRRegister"]').val('rptExchangeRegister');
            } else {
                $('input[name="fn"][value="rptExchangeRegister"]').val('rptSRRRegister');
            }

            return true;
        });



        $('#frm_pending_register').submit(function () {
            if ($('#frm_pending_register #FactoryId').val().length == 0) {
                alert('Select factory.');
                return false;
            }

            return true;
        });
    </script>
}

@section CSS{

}