﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Supplier Evaluations (FSC)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Supplier Evaluations (FSC)</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Criteria</h3>
                        @*<div class="btn-group">
                                <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Collection</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button><ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.CollQId })">View Collection</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">Collection List</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptSupplierEvaluation")
                            

                            <div class="form-group">
                                @Html.Label("Period", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "FDate", @Value = DateTime.Today.AddDays(-DateTime.Today.Day + 1).ToString("dd-MMM-yyyy") })
                                </div>
                                <div class="col-sm-1" style="text-align: center;">
                                    @Html.LabelFor(model => model.FromDate, "To", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @style = "text-align: center;", @class = "form-control date ccnormal", Name = "TDate", @Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                </div>
                            </div>

                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            //placeholder: "Select or Type . . ."
        });

        function getSupplier(e) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SupplierList")',
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#suplist').html(data);
                    $('#suplist select.select').select2({
                        //placeholder: "Select or Type . . ."
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm').submit(function () {
            //var comma = "", flist = "";

            //if ($('#Factory').val() != null) {
            //    $.each($('#Factory').val(), function (index, value) {
            //        flist = flist + comma + value;
            //        comma = ",";
            //    });

            //    $("#FactoryId").val(flist);
            //}
            //else
            //    $("#FactoryId").val('');

            //if ($('#FactoryId').val().length == 0) {
            //    $('#fn').val('rptSupplierEvaluation');
            //}
            //else if ($('#FactoryId').val().length > 0) {
            //    $('#fn').val('rptSupplierEvaluation');
            //}

            return true;
        });
    </script>
}

@section CSS{

}


