﻿@model InventoryMS.Models.clsReport

@{
    ViewBag.Title = "Criteria";
}

<section class="content-header">
    <h1>
        Report :: Print Uniform Label
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Report</a></li>
        <li class="active"> Uniform Label</li>
    </ol>
</section>

@using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Criteria</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.Hidden("fn", "rptFileLabel")
                            @Html.Hidden("title", "Print Uniform Label")
                            @Html.Hidden("RefId")

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList();" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <select id="RefType" name="RefType" class="form-control select" style="width: 100%;" onchange="getRefList();">
                                        <option value="RQ">Requisition</option>
                                        <option value="PO">Purchase Order</option>
                                        @*<option value="QA">Quantity Approval</option>
                                        <option value="PA">Price Approval</option>*@
                                        <option value="LC" selected>LC</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("LC No", new { @class = "col-common col-sm-3 control-label", @id = "RefLabelId" })
                                <div id="reflist" class="col-sm-9">
                                    @Html.DropDownList("RefIds", (SelectList)ViewBag.RefNo, String.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <input type="submit" onclick="//showreport();" class="btn btn-success ccnormal" style="float: right;" value="Show" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/common/theme/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . ."
        });

        $('select.multiple-select').select2({
            //placeholder: "Select or Type . . ."
        });

        function getRefList() {
            let fac_id = $('#FactoryId').val();
            let ref_type = $('#RefType').val();
            if (fac_id.length == 0 || ref_type.length == 0) return;

            $("#RefLabelId").html($('#RefType').select2('data')[0].text);

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ReferenceList")",
                data: JSON.stringify({ fac_id: fac_id, ref_type: ref_type }),
                success: function (data) {
                    // console.log(data);
                    $('#reflist').html(data);
                    $('#reflist .select').select2({});

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getProduct(e) {

        };

        function showreport() {
            @*window.location = "@Url.Action("MRR", "Report")" + "?FDate=" + $('#FromDate').val() + "&TDate=" + $('#ToDate').val() + "",*@

        };

        $('#frm').submit(function () {
            if ($('#RefIds').val() == null || $('#RefIds').val().length == 0) {
                alert('Select ' + $("#rptFileLabel").html() + '.');
                return false;
            }
            //else if ($('#BondPeriodId').val().length == 0) {
            //    alert('Select bond license period.');
            //    return false;
            //}
            else {
                let comma = "", flist = "", prlist = "";

                if ($('#RefType').val() != "LC") {
                    $.each($('#RefIds').val(), function (index, value) {
                        prlist = prlist + comma + value.trim();
                        comma = ",";
                    });

                    $("#RefId").val(prlist);
                } else {
                    $("#RefId").val($('#RefIds').val());
                }
            }

            return true;
        });
    </script>
}

@section CSS{

}




