﻿@model InventoryMS.Models.MailSend

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    @Html.HiddenFor(model => model.MailId)

                    @Html.EditorFor(model => model.MailAddressee, new { @class = "ccnormal" })

                    @Html.EditorFor(model => model.MailTo, new { @class = "ccnormal", @readonly = "readonly" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.MailCC, new { @class = "col-common col-sm-3 control-label" }, true)
                        <div id="pid" class="col-sm-9">
                            @Html.TextAreaFor(model => model.MailCC, 6, 8, new { @class = "form-control input-block-level ccnormal", @readonly = "readonly" })
                        </div>
                    </div>

                    @Html.EditorFor(model => model.Remarks, new { @class = "ccnormal" })
                </div>

                <div class="col-sm-6">
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "col-common col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.file, new { @class = "form-control", @type = "file", @onchange = "attachList(this);" })
                            @Html.ValidationMessageFor(model => model.file, null, new { @class = "control-label" })
                        </div>
                    </div>*@ 

                    <table id="tblfile" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 100%; margin-top: 10px;">
                        <thead>
                            <tr>
                                <th style="width: 70%">
                                    File Name
                                </th>
                                <th style="text-align: center; width: 30%">
                                    Att. Type
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">

                        </tbody>
                    </table>

                    @*<div class="form-group">
                        <input id="btnTest" type="button" value="Test" />
                    </div>*@
                    
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    //$('select.select').select2({
    //    placeholder: "Select or Type . . .",
    //    //dropdownAutoWidth: true
    //});

    $('.field-validation-error').each(function () {
        $(this).addClass('field-validation-valid');
        $(this).removeClass('field-validation-error');
        $(this).html('');
    })

    function MailSend() {
        var isValid = true, ctl;
        $('#maildetails [data-val="true"]').each(function () {
            if ($(this).val() == '' || $(this).val() == null) {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                //return;

                isValid = false;
            }
            else {
                $(this).closest('.form-group').removeClass('has-error');
                $(this).closest('.form-group').find('.field-validation-error').html('');
                $(this).closest('.form-group').find('.field-validation-error').addClass('field-validation-valid');
                $(this).closest('.form-group').find('.field-validation-error').removeClass('field-validation-error');
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }
        
    }

    var fileData1 = new FormData();

    function attachList(e) {
        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;
        for (var i = 0; i < files.length; i++) {
            //alert(files[i].name);
            fileData1.append(files[i].name, files[i]);
            //alert('1');
            $('#tblfile>tbody').append('<tr><td style="width: 90%">' + files[i].name + '</td><td style="text-align: center; width: 10%"><a class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delAttachment(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>');
        }
    }
    
    function delAttachment(e) {
        rn = $(e).closest('tr').index();

        fileData1.delete($('#tblfile>tbody>tr:eq(' + (rn) + ')>td:eq(0)').html());

        $('#tblfile>tbody>tr:eq(' + (rn) + ')').remove();
    }

    function SendMail() {
        if ($('#PLEId').val() == '') {
            alert('Please select pipline lot.')
            return;
        }
        //if ($('#PLEId').val() == '') {
        //    alert('Please select pipline lot.')
        //    return;
        //}

        let formData = new FormData();

        //formData.forEach(function (val, key, fD) {
        //    // here you can add filtering conditions
        //    //alert(key);
        //    formData.delete(key)
        //});

        //formData = fileData1;


        //var to = '', cc = '';

        //if ($('#MailTo').val() != null) {
        //    $('#MailTo').val().forEach(function (val) {
        //        to = to + "," + val;
        //    });
        //}

        //if ($('#MailCC').val() != null) {
        //    $('#MailCC').val().forEach(function (val) {
        //        cc = cc + "," + val;
        //    });
        //}

        //formData.set("MailTo", to);
        //formData.set("MailCC", cc);
        formData.set("MailAddressee", $('#MailAddressee').val())
        //formData.append("PortDeliveryDate", '10-May-2018')
        formData.set("PLEId", $('#PLEId').val())
        formData.set("Remarks", $('#Remarks').val())
        //return;
        $.ajax({
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            //contentType: false, //"application/json; charset=utf-8",
            url: '@Url.Action("MailSend")',
            data: formData, //JSON.stringify({ file: $('#file').val() }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    alert(msg.message);
                }
                else {
                    alert(msg.message);
                    $('#mailmodal').modal('hide');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Mail sending failed.\nSee log for more information.");
            }
        });
    };
</script>