﻿@model IEnumerable<InventoryMS.Models.PackingListView>
@using InventoryMS.Models

@{
    ProductCubeEntities db = new ProductCubeEntities();
    int rIndex = 0; decimal tQty = 0; 
 }
@foreach (var item in Model.OrderBy(c => c.PLECId).ThenBy(c => c.TypeId))
{
    ++rIndex; tQty += item.Quantity;
    var sizeList = new SelectList(db.CustomTypes.Where(l => l.Flag.Equals("CONTAINERSIZE")), "TypeId", "TypeName", item.TypeId);
    <tr>
        <td style="text-align: center; width: 10%;">@rIndex.ToString("000")</td>
        <td style="display: none;">@item.PLECId</td>
        <td id="tid_@ViewBag.SLNo" style="display: none;">@item.TypeId</td>
        <td style="text-align: left; width: 35%;">@Html.DropDownList("Size", sizeList, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "document.getElementById('tid_" + ViewBag.SLNo + "').innerHTML = this.value;" })</td>
        <td style="text-align: right; width: 14%;" ondblclick="setUQty(this)">@item.Quantity</td>
        <td style="text-align: right; width: 14%;" ondblclick="setUQty(this)">@item.LCLQuantity</td>
        <td style="text-align: right; width: 14%;" ondblclick="setUQty(this)">@item.FCLQuantity</td>
        <td style="text-align: center; width: 13%;">
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="$(this).closest('tr').remove();"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

<script>
    //$('select.select').select2({
    //    placeholder: "Select or Type . . .",
    //    //dropdownAutoWidth: true
    //});
</script>