﻿@model InventoryMS.Models.PackingListView

    <tr>
        <td style="text-align: center; width: 10%;">@ViewBag.SLNo</td>
        <td style="display: none;">@Model.PLECId</td>
        <td id="tid_@ViewBag.SLNo" style="display: none;">@Model.TypeId</td>
        <td style="text-align: left; width: 35%;">@Html.DropDownList("Size", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "document.getElementById('tid_" + ViewBag.SLNo + "').innerHTML = this.value;" })</td>
        <td style="text-align: right; width: 14%;" ondblclick="setUQty(this)">@Model.Quantity</td>
        <td style="text-align: right; width: 14%;" ondblclick="setUQty(this)">@Model.LCLQuantity</td>
        <td style="text-align: right; width: 14%;" ondblclick="setUQty(this)">@Model.FCLQuantity</td>
        <td style="text-align: center; width: 13%;">
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="$(this).closest('tr').remove();"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>

<script>
</script>