﻿@model InventoryMS.Models.PipelineView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Pipeline Entry
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Pipeline </a></li>
        <li class="active">Entry</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Pipeline Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-sm-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LCFileId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LCFile, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LCDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LotNo, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div id="lot" class="col-sm-5">
                                    @Html.DropDownListFor(model => model.LotNo, (SelectList)ViewBag.LotNos, String.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-4" style="padding: 1px;">
                                    @Html.CheckBox("IsLastLot") Is Last Lot?
                                </div>
                            </div>

                            @*<div id="lot">
                                @Html.EditorFor(model => model.LotNo)
                            </div>*@

                            @Html.EditorFor(model => model.ShipmentDate)

                            @Html.EditorFor(model => model.BLDate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.POLId, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.POLId, (SelectList)ViewBag.POL, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.POLId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.PortArivalDate)

                            @Html.EditorFor(model => model.StoreArivalDate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.LotReceivedDate, new { @class = "col-common col-sm-3 control-label" }, true)
                                <div id="lot" class="col-sm-4">
                                    @Html.EditorFor(model => model.LotReceivedDate, "DateTimeWOL", new { @readonly = "readonly" })
                                </div>
                                <div class="col-sm-5" style="padding: 1px;">
                                    @Html.CheckBox("IsLotReceived") Store Received?
                                </div>
                            </div>

                            @Html.EditorFor(model => model.DocArrivalAtBankDate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.CommercialInvoiceDate, new { @class = "col-common col-sm-3 control-label" })
                                <div id="lot" class="col-sm-4">
                                    @Html.EditorFor(model => model.CommercialInvoiceDate, "DateTimeWOL")
                                </div>
                                <div class="col-sm-1">
                                    @Html.LabelFor(model => model.CommercialInvoiceNo, "No", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.CommercialInvoiceNo, "StringWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BillOfEntryDate, new { @class = "col-common col-sm-3 control-label" })
                                <div id="lot" class="col-sm-4">
                                    @Html.EditorFor(model => model.BillOfEntryDate, "DateTimeWOL")
                                </div>
                                <div class="col-sm-1">
                                    @Html.LabelFor(model => model.BillOfEntryNo, "No", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.BillOfEntryNo, "StringWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BillOfEntryValue, new { @class = "col-common col-sm-3 control-label" })
                                <div id="lot" class="col-sm-3">
                                    @Html.EditorFor(model => model.BillOfEntryValue, "DecimalWOL")
                                </div>
                                <div class="col-sm-2" style="padding: 0px;">
                                    @Html.LabelFor(model => model.PackageCount, "Pack Qty", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-2" style="padding-right: 1px;">
                                    @Html.EditorFor(model => model.PackageCount, "DecimalWOL")
                                </div>
                                <div class="col-sm-2" style="padding-left: 0px;">
                                    @Html.DropDownListFor(model => model.PackageUnitId, (SelectList)ViewBag.PackageUnit, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.CurrentLocation)

                            @Html.EditorFor(model => model.Remarks, "MultilineText")

                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.Label("", "Packing List", new { @class = "col-common col-sm-12 control-label", @style = "margin-top: 10px !important; text-align: center; background-color: yellowgreen !important; margin-bottom: 1.5px !important;" })
                                </div>
                                <div class="col-sm-12">
                                    <table id="tblPacking" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 100%; border-color: #20590a !important">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    PLEC Id
                                                </th>
                                                <th style="display: none;">
                                                    Size Id
                                                </th>
                                                <th style="text-align: center; width: 35%;">
                                                    Container Size
                                                </th>
                                                <th style="text-align: center; width: 14%;">
                                                    Tot. Qty
                                                </th>
                                                <th style="text-align: center; width: 14%;">
                                                    LCL Qty
                                                </th>
                                                <th style="text-align: center; width: 14%;">
                                                    FCL Qty
                                                </th>
                                                <th style="text-align: center; width: 13%;">
                                                    <a title="" data-toggle="tooltip" data-original-title="Add Product" onclick="itemEntry(this);"><i class="glyphicon glyphicon-plus-sign" style="color: white; cursor: pointer;"></i><span style="color: white; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblPackbody">
                                            @if (Model == null || Model.PackingListViews == null || Model.PackingListViews.Count == 0)
                                            {
                                                @Html.Action("PackingTemplate")
                                            }
                                            else
                                            {
                                                Html.Action("PackingTemplate", new { id = Model.PLEId });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Pipeline Product Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="user-block">
                                        <span class="username username_lte"><a>Requisition(s)</a> # <span id="requisition_list"></span></span>
                                    </div><!-- /.user-block -->
                                    <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Factory ETA
                                                </th>
                                                <th style="text-align: center;">
                                                    Bal Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">
                                                    PL Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="display: none;">
                                                    PL ID
                                                </th>
                                                <th style="display: none;">
                                                    PL Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    LC Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    PI Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    Unit Price
                                                </th>
                                                <th style="display: none;">
                                                    Value
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            @if (Model == null || Model.PipelineSubViews == null || Model.PipelineSubViews.Count == 0)
                                            {
                                                @*@Html.Action("RowTemplate");*@
                                            }
                                            else
                                            {
                                                Html.Action("RowTemplate", new { pipelineSubView = Model.PipelineSubViews });
                                            }
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: -7px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 50px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 50px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                <label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = '@Url.Action("Pipeline", new { id = "create" })'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Quotation</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="quoteSave" type="button" class="btn btn-success" onclick="saveQoute()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>

    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
    {
        'size': 'mini',
        'onText': 'Yes',
        //'width': '180',
        'offText': 'No'

    });

    var table; toTable();

    function toTable() {
        table = $('#tblSub').DataTable(
            {
                destroy: true,
                //scrollX: "2000px",
                ////scrollX: true,
                //scrollCollapse: true,
                paging: false,
                filter: false,
                info: false,
                ordering: false,
                columnDefs: [
                    { className: "dt-center", targets: "_all" },
                    { width: 5, targets: 0 },
                    { width: 125, targets: 3 },
                    { width: 54, targets: 4 },
                    { width: 38, targets: 5 },
                    { width: 30, targets: 6 },
                    { width: 38, targets: 7 },
                    { width: 10, targets: 15 }
                ]//,
                //fixedColumns: true
            }
        );
    }

    $('#tblSum').DataTable({
        destroy: true,
        scrollCollapse: false,
        paging: false,
        filter: false,
        info: false,
        ordering: false,
        //columnDefs: [
        //    { width: 35, targets: 0 },
        //    { width: 120, targets: 1 },
        //    { width: 70, targets: 2 }
        //]
    });

    function setQty(t) {
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 50%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            //alert(e.which);
            error = false;
            if (e.which == 13) {
                //error = true;
                //alert($(t).parent().find('td:eq(3)').html() + ' ' + eval($(this).val()))
                //if (eval($(t).parent().find('td:eq(4)').html()) >= eval($(this).val())) {
                var newContent = $(this).val();
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");

                table.cell($('#' + $(t).attr('id'))).data(newContent).draw();

                var tAmt = 0.00, tQty = 0;
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var tableData = this.data();

                    tQty += eval(tableData[7].replace(/\,/g, ''));
                    tAmt += eval(tableData[7].replace(/\,/g, '')) * eval(tableData[13].replace(/\,/g, ''));
                });

                $('#totalqty').html(tQty.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#totalval').html(tAmt.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                //}
                //else {
                //    error = true;
                //    alert('Invalid quantity.');
                //    e.preventDefault();
                //}
            }
            else {
                return (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function setUQty(t) {
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 50%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                var newContent = $(this).val();
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");
            }
            else {
                return (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function LotDetails(e) {
    }

    $("#PortArivalDate").change(function () {
        var pad = $('#PortArivalDate').val().toLowerCase().split('-');
        var sad = new Date(pad[1] + " " + pad[0] + ", " + pad[2]);
        sad.setDate(sad.getDate() + 7);

        $("#StoreArivalDate").datepicker('setDate', getFormatedDate(sad));
    });

    $('#IsLotReceived').on('switchChange.bootstrapSwitch', function (event, state) {
        if (state) {
            $('#LotReceivedDate').removeAttr("readonly");
            $('#LotReceivedDate').not('[readonly]').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true
            });
        }
        else {
            $('#LotReceivedDate').attr("readonly", "readonly");
            $("#LotReceivedDate").datepicker("remove");
        }
    });

    function LCDetails(e) {
        $('.date').each(function () {
            $(this).val('');
        });
        $('#CurrentLocation').val('');
        $('#IsLastLot').bootstrapSwitch('state', false);
        $('#IsLotReceived').bootstrapSwitch('state', false);
        $('#Remarks').val('');
        $('#requisition_list').html('');

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotList")',
            data: JSON.stringify({ id: $('#LCFileId').val(), type: "create" }),
            success: function (data) {
                $('#lot').html(data);

                $('#lot select.select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                $.ajax({
                    type: "POST",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ItemDetails")',
                    data: JSON.stringify({ id: e }),
                    success: function (data) {
                        //alert(data);
                        table.destroy();

                        $('#tblbody').html(data);

                        $('#requisition_list').html($('#PRList').val());

                        $('#totalqty').html($('#TQty').val());
                        $('#totalval').html($('#TAmt').val());

                        $('#POLId').val($('#PortId').val()).trigger('change');

                        toTable();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        @*$.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LCDetails")',
                data: JSON.stringify({ id: e }),
                success: function (data) {

                    //$('#ShipmentDate').val(data.ShipmentDate);
                    //$('#BLDate').val(data.BLDate);
                    //$('#APVSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(JSON.stringify(data));
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            table.row($(e).closest('tr')).remove().draw();

            var tAmt = 0.00, tQty = 0;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                tQty += eval(tableData[7].replace(/\,/g, ''));
                tAmt += eval(tableData[7].replace(/\,/g, '')) * eval(tableData[13].replace(/\,/g, ''));
            });

            $('#totalqty').html(tQty.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $('#totalval').html(tAmt.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        function itemEntry(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PackingTemplate")',
                data: JSON.stringify({ slNo: $('#tblPacking >tbody >tr').length + 1 }),
                success: function (data) {
                    $('#tblPacking>tbody').append(data);

                    $('#tblPacking .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $('#btnSave').click(function () {
            if ($.trim($('#LCFileId').val()) == '') {
                alert('Select lc no for pipepine');
                return;
            }
            else if ($.trim($('#LotNo').val()) == '') {
                alert('Select lot no for pipeline');
                return;
            }
            else if ($.trim($('#ShipmentDate').val()) == '' && $.trim($('#BLDate').val()) == '' && $.trim($('#PortArivalDate').val()) == '' && $.trim($('#StoreArivalDate').val()) == '') {
                alert('No information for pipeline');
                return;
            }
            else if (eval($('#totalqty').html().replace(/\,/g, '')) <= 0) {
                alert('No item information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var plsub = [], packlist = []; rn = 0, plview = {
                PLEId: 0, LCFileId: $('#LCFileId').val(), POLId: $('#POLId').val(),
                LotNo: $('#LotNo').val(), ShipmentDate: $('#ShipmentDate').val(),
                BLDate: $('#BLDate').val(), PortArivalDate: $('#PortArivalDate').val(),
                StoreArivalDate: $('#StoreArivalDate').val(),
                CommercialInvoiceDate: $('#CommercialInvoiceDate').val(),
                CommercialInvoiceNo: $('#CommercialInvoiceNo').val(),
                BillOfEntryDate: $('#BillOfEntryDate').val(),
                BillOfEntryNo: $('#BillOfEntryNo').val(),
                BillOfEntryValue: $('#BillOfEntryValue').val().replace(/\,/g, ''),
                PackageCount: $('#PackageCount').val().replace(/\,/g, ''), 
                PackageUnitId: $('#PackageUnitId').val(), 
                DocArrivalAtBankDate: $('#DocArrivalAtBankDate').val(),
                LotReceivedDate: $('#LotReceivedDate').val(),
                DocumentSubmitToCNFDate: $('#DocumentSubmitToCNFDate').val(),
                CurrentLocation: $('#CurrentLocation').val(),
                Remarks: $('#Remarks').val(), lastLot: $('#IsLastLot').prop('checked'),
                LotReceived: $('#IsLotReceived').prop('checked')
            };

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 12) {
                    var arrayOfThisRow = {
                        PLEId: 0, PLESubId: 0, ItemId: tableData[2],
                        StockInTransit: tableData[7].replace(/\,/g, ''), QuantityUnitId: tableData[8],
                        LCFileSubId: tableData[11], PIFileSubId: tableData[12], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    plsub.push(arrayOfThisRow);
                }
            });

            var dtable = $('#tblPacking').DataTable();
            dtable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 5 && eval(tableData[2]) > 0 && eval(tableData[4]) > 0 
                        && (eval(tableData[5]) > 0 || eval(tableData[6]) > 0)) {
                    var arrayOfThisRow = {
                        PLEId: 0, PLECId: 0, TypeId: tableData[2],
                        Quantity: tableData[4].replace(/\,/g, ''), LCLQuantity: tableData[5], FCLQuantity: tableData[6]
                    };
                    //alert(arrayOfThisRow);
                    packlist.push(arrayOfThisRow);
                }
            });
            dtable.destroy();

            //alert(JSON.stringify({ pipelineView: plview, pipelineSubView: plsub, packingListView: packlist }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ pipelineView: plview, pipelineSubView: plsub, packingListView: packlist }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html("Pipleline entry for " + $('#LotNo').select2("data")[0].text + " lot of lc # " + $('#LCFileId').select2("data")[0].text + " is successful.");
                        $('#vtext').html("Pipeline #");
                        $('#vno').html(msg.plno);

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}

