﻿@model IEnumerable<InventoryMS.Models.PipelineSubView>

@{int rIndex = 0; decimal tQty = 0, tAmt = 0; }
@foreach (var item in Model.OrderBy(c => c.CategoryId).ThenBy(c => c.ItemName.Length).ThenBy(c => c.ItemName))
{
    ++rIndex; tQty += item.StockInTransit; tAmt += item.PipelineValue;
    <tr>
        <td style="text-align: center;">@rIndex.ToString("000")</td>
        <td style="display: none;">@item.CategoryId</td>
        <td style="display: none;">@item.ItemId</td>
        <td style="text-align: left;">@item.ItemName</td>
        @if(item.FactoryETA < DateTime.Today)
        { 
            <td style="text-align: center; color: red;">@item.FactoryETA.ToString("dd-MMM-yyyy")</td>
        }
        else
        {
            <td style="text-align: center;">@item.FactoryETA.ToString("dd-MMM-yyyy")</td>
        }
        <td style="text-align: right;">@item.LCQuantity.ToString("##,##0.00")</td>
        <td style="text-align: left;">@item.QuantityUnit</td>
        <td id="sit_@rIndex" style="text-align: right;" ondblclick="setQty(this)">@item.StockInTransit.ToString("##,##0.000")</td>
        <td style="display: none;">@item.QuantityUnitId</td>
        <td style="display: none;">@item.PLEId</td>
        <td style="display: none;">@item.PLESubId</td>
        <td style="display: none;">@item.LCFileSubId</td>
        <td style="display: none;">@item.PIFileSubId</td>
        <td style="display: none;">@item.UnitPrice</td>
        <td style="display: none;">@item.PipelineValue</td>
        <td style="text-align: center;">
                <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

@Html.Hidden("PortId", (object)ViewBag.polid)
@Html.Hidden("TQty", tQty.ToString("##,##0.000"))
@Html.Hidden("TAmt", tAmt.ToString("##,##0.000"))
@if (ViewBag.requisition_list != null)
{ 
    @Html.Hidden("PRList", (string)ViewBag.requisition_list)
}
