﻿@model InventoryMS.Models.WharfRentAttatchModel

@{
    //ViewBag.Title = "WharfRent";
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        WharfRent Update Info
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="~/lc/wharfrent"> WharfRent List</a></li>
        <li class="active">Update</li>
    </ol>
</section>


@*@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()*@

@using (Html.BeginForm("UploadWF", "LC", FormMethod.Post, new { enctype = "multipart/form-data", name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <!-- .box-header -->
                            <div class="box-header with-border">
                                <div class="box-body">
                                    @*<span style="padding-left: 5px; padding-right: 15px;" class="username username_lte"><a href="#">WhrafRent Info</a><a style="float: right;"></a></span>*@
                                </div>


                                <div class="user-block">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-7">

                                        <div class="box-body">
                                            <div class="form-group row">
                                                @Html.HiddenFor(x => x.WharfrentId)

                                                @Html.LabelFor(model => model.LcFileId, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.DropDownListFor(Model => Model.LcFileId, ViewBag.LcList as SelectList, "Please Select", new { @class = "form-control select", @required = "", @style = "width: 100%;", @disabled = "disabled" })
                                                </div>

                                                @Html.LabelFor(model => model.LotNo, new { @class = "col-sm-2 control-label" })
                                                <div id="lotlist" class="col-sm-4 offset-left-1 controls">
                                                    @Html.DropDownListFor(Model => Model.LotNo, new SelectList(new List<SelectListItem>(), "Value", "Text"), string.Empty, new { @class = "form-control select", @required = "", @style = "width: 10%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BillDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.BillDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.BrethingDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-4 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.BrethingDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PortLandingDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.PortLandingDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.DeliveryDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-4 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.DeliveryDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="box box-success">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">Wharf Rent</h4>
                                            </div>
                                            <div class="box-body">
                                                <!-- Wharf Rent Fields -->
                                                @Html.LabelFor(model => model.WhrafRentFromDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.WhrafRentFromDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.WhrafRentToDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.WhrafRentToDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.WhrafRentAmount, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-2 offset-right-1 controls">
                                                    @Html.EditorFor(model => model.WhrafRentAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="box box-success">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">Container Demurrage Charges</h4>
                                            </div>
                                            <div class="box-body">
                                                <!-- Wharf Rent Fields -->
                                                @Html.LabelFor(model => model.DetentionFromDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.DetentionFromDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.DetentionToDate, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.DetentionToDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.ContainerDetentionCharge, new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-2 offset-right-1 controls">
                                                    @Html.EditorFor(model => model.ContainerDetentionCharge, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Remarks, new { @class = "col-sm-2 control-label" }, true)
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", rows = 3, placeholder = "Enter remarks here..." })
                                                </div>
                                            </div>
                                        </div>



                                        <div class="box box-success">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">WharfRent File Attachment</h4>
                                            </div>
                                            <div class="box-body">
                                                <!-- Your file attachment content goes here -->

                                                @Html.LabelFor(model => model.Remarks, "File", htmlAttributes: new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-4 offset-left-1">
                                                    <input name="file_name" id="file_name" type="file" accept=".pdf" class="form-control" />

                                                    @*@Html.TextBoxFor(model => model.file_name, new { @class = "form-control", @type = "file" })*@
                                                </div>
                                                <div class="col-sm-1">
                                                    @Html.Label("Type", htmlAttributes: new { @class = "col-sm-2 control-label" })
                                                </div>
                                                <div class="col-sm-3 offset-right-1 controls">
                                                    <select id="file_type">
                                                        <option value="WHARFRENT">WHARFRENT</option>
                                                    </select>
                                                </div>


                                                <div class="col-sm-2 offset-right-1 controls">
                                                    <input id="btn_upload" type="button" value="Upload" onclick="upload_file()" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="box-body">
                                            <div class="col-sm-12">
                                                <div class="table-responsive">
                                                    <table id="tblattachment" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 60%">File Name</th>
                                                                <th style="width: 30%">Attachment Type</th>
                                                                <th style="width: 10%">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblbody">
                                                            <tr>
                                                                <td style="width: 70%"><a target="_blank" href="~/attachments/@(ViewBag.FileName)">@(ViewBag.FileName)</a></td>
                                                                <td style="width: 30%">WHARFRENT</td>
                                                                <td style="text-align: center; width: 10%"><a class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="attachemnt_remove(this);"><i class="glyphicon glyphicon-trash"></i></a></td>

                                                            </tr>
                                                            <!-- Add table rows dynamically here -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="form-actions right">*@
                                        <div class="box-footer text-right">
                                            <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                            <button type="button" id="btnSave" class="btn btn-success">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="display: none;">
            <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
        </div>

    </section>
}

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>

    <script>


    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

     $('select.select').not('#IssueTo').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
     });


        $(document).ready(function ()
        {
            $('#LcFileId').trigger('change');

        });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    function upload_file() {
        var formData = new FormData();

        var fileUpload = $("#file_name").get(0);
        var files = fileUpload.files;
        if (files.length <= 0) {
            alert('Nothing selected for upload.')
            return;
        }
        //for (var i = 0; i < files.length; i++) {
        //    let file_name = $('#WharfrentId').val() + "_" + $("#file_type").val() + "." + files[i].name.split('.').slice(-1)[0];
        //    $('#tblattachment>tbody>tr').each(function(row){
        //        if ($(row).find('td:eq(0)').html() == file_name) {
        //            formData.append(file_name, files[i]);
        //            //formData.append(files[i].name, files[i]);
        //        }
        //    })
        //}
        let duplicate_file = false, file_name = $('#WharfrentId').val() + "_" + $("#file_type").val() + "." + files[0].name.split('.').slice(-1)[0];
        $('#tblattachment>tbody>tr').each(function (row) {
            if ($(row).find('td:eq(0)').html() == file_name) {
                duplicate_file = true;
            }
        })

        if (duplicate_file == false) {
            formData.append(file_name, files[0]);
        } else {
            alert("Duplicate file");
            return;
        }




        //return;
        $.ajax({
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            //contentType: false, //"application/json; charset=utf-8",
            url: '@Url.Action("UploadWF")',
                data: formData, //JSON.stringify({ file: $('#file').val() }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#tblattachment>tbody').empty();
                       /* alert(msg.attachment_base_url)
                        alert(msg.message);*/
                        //$('#tblattachment>tbody').append('<tr><td style="width: 60%"><a target="_blank" href="' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/attachments/' + msg.file_name + '">' + msg.file_name + '</a></td><td style="width: 30%">' + $("#file_type option:selected").text() + '</td><td style="text-align: center; width: 10%"><a class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="attachemnt_remove(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>');
                        $('#tblattachment>tbody').append('<tr><td style="width: 60%"><a target="_blank" href="' + msg.attachment_base_url + msg.file_name + '">' + msg.file_name + '</a></td><td style="width: 30%">' + $("#file_type option:selected").text() + '</td><td style="text-align: center; width: 10%"><a class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="attachemnt_remove(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>');
                        if ($("#file_type").val() == 'WHARFRENT') {
                            $('#tblfile>tbody').empty();
                            $('#tblfile>tbody').append('<tr><td style="width: 70%"><a target="_blank" href="' + msg.attachment_base_url + msg.file_name + '">' + msg.file_name + '</a></td><td style="width: 30%">' + $("#file_type option:selected").text() + '</td></tr>');
                        }
                        $('#file_name').val(null);

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Mail sending failed.\nSee log for more information.");
                }
            });
        };


        $(document).on('change', '#LcFileId', function ()
        {

        if ($(this).val() == '' || $(this).val() == '0')
                return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LoadLotNo")',
            data: JSON.stringify({ lcno: $(this).val()}),
            success: function (msg)
            {



                $('#lotlist').html(msg);
                $('#LotNo').val('@Model.LotNo');
                $('#LotNo').select2({
                    placeholder: "Select or Type . . .",
                    allowClear: true,
                });

            },

            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });




        $('#btnCancel').click(function () {
            //alert($('#testtable').find("table:first").html());
            window.location.href = 'wharfrent';

        });

        $('#btnSave').click(function () {
            /*$("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?'))
            {
            } else {
                return;
            }*/


            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });


            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

/*            var Formdata = new FormData();
            Formdata.append('LcFileId', $('#LcFileId').val());
            Formdata.append('LotNo', $('#LotNo').val());
            Formdata.append('BillDate', $('#BillDate').val());
            Formdata.append('BrethingDate', $('#BrethingDate').val());
            Formdata.append('PortLandingDate', $('#PortLandingDate').val());
            Formdata.append('DeliveryDate', $('#DeliveryDate').val());
            Formdata.append('WhrafRentFromDate', $('#WhrafRentFromDate').val());
            Formdata.append('WhrafRentToDate', $('#WhrafRentToDate').val());
            Formdata.append('ContainerDetentionCharge', $('#ContainerDetentionCharge').val());
            Formdata.append('DetentionFromDate', $('#DetentionFromDate').val());
            Formdata.append('DetentionToDate', $('#DetentionToDate').val());
            Formdata.append('Remarks', $('#Remarks').val());
            Formdata.append('WharfrentId', $('#WharfrentId').val());
            */



            var wharfrent = {
                LcFileId: $('#LcFileId').val(),
                LotNo: $('#LotNo').val(),
                BillDate: $('#BillDate').val(),
                BrethingDate: $('#BrethingDate').val(),
                PortLandingDate: $('#PortLandingDate').val(),
                DeliveryDate: $('#DeliveryDate').val(),
                WhrafRentFromDate: $('#WhrafRentFromDate').val(),
                WhrafRentToDate: $('#WhrafRentToDate').val(),
                ContainerDetentionCharge: $('#ContainerDetentionCharge').val(),
                DetentionFromDate: $('#DetentionFromDate').val(),
                DetentionToDate: $('#DetentionToDate').val(),
                Remarks: $('#Remarks').val(),
                WharfrentId: $('#WharfrentId').val(),
                   }

            $.ajax({
                /*type: "POST",*/
                method: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("WharfRentEdit")',
                data: JSON.stringify({ wharfrent: wharfrent }),
                success: function (msg)
                {
                    if (msg == true)
                    {
                          alert('Update successfully');
                      window.location = '@Url.Action("WharfRent")'
                    }


                }

                /*error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(JSON.stringify({ jqModeModeLcFileIdFileIdloLcFileIdFileIddelHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }*/
            });

        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">

}
