﻿@model IEnumerable<InventoryMS.Models.WhrafRentViewModel>

@{
    ViewBag.Title = "WharfRent";
}


<section class="content-header">
    <h1>
        WharfRent List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li class="active"> WharfRent</li>
    </ol>
</section>

<!--<section class="content">
    <div class="row">-->
<!-- left column -->
<!--<div class="col-12">-->
<!-- general form elements -->
<!--<div class="card">
    <div class="card-content collapse show">
        <div class="card-body card-dashboard">
            <table class="table table-striped table-bordered compact table-primary">
                <thead>-->


<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                        @*@if (InventoryMS.Models.clsMain.IsPermitted("LC", "WharfRent"))
                                {
                                    <a class="btn btnsm btn-default" href="@Url.Action("WharfRent")">New WharfRent Entry</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                                }
                                else
                                {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New WharfRent Entry</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                                }*@

                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>


                            <tr>
                                <th style="text-align: center; width: 8%; ">
                                    LC No
                                </th>
                                <th style="text-align: center; width:8%;">
                                    LC Date
                                </th>
                                <th style="text-align: center; width:4%;">
                                    LotNo
                                </th>
                                <th style="text-align: center; width:8%;">
                                    BiLL Date
                                </th>
                                <th style="text-align: center; width:8%;">
                                    Port Landing Date
                                </th>
                                <th style="text-align: center; width:8%;">
                                    Delivery Date
                                </th>
                                <th style="text-align: center; width:5%;">
                                    WhrafRent Delayed Days
                                </th>
                                <th style="text-align: center; width:5%;">
                                    WhrafRent Amount
                                </th>
                                <th style="text-align: center; width:5%;">
                                    Dentaion Delayed Days
                                </th>
                                <th style="text-align: center; width:5%;">
                                    Dentaion Amount
                                </th>
                                <th>
                                    Remarks
                                </th>
                                @*<th style="display: none;">*@
                                <th style="text-align: center; ">
                                    File
                                </th>
                                <th>
                                    Action
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center; width:10%;">
                                        @item.LcNo
                                    </td>
                                    <td style="text-align: center;">
                                        @item.LcDate.ToString("dd-MM-yyyyy")
                                    </td>
                                    <td style="text-align: center;">
                                        @item.LotNo
                                    </td>
                                    <td style="text-align: center;">
                                        @item.BillDate.ToString("dd-MM-yyyy")
                                    </td>
                                    <td style="text-align: center;">
                                        @item.PortLandingDate.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td style="text-align: center;">
                                        @item.DeliveryDate.ToString("dd-MMM-yyyy")
                                    </td>

                                    <td style="text-align: center;">
                                        @((item.ToDate-item.FromDate).TotalDays)
                                    </td>
                                    <td style="text-align: center;">
                                        @item.WhrafRentAmount
                                    </td>
                                    <td style="text-align: center;">
                                        @((item.DetentionToDate-item.DetentionFromDate).TotalDays)
                                    </td>
                                    <td style="text-align: center;">
                                        @item.DetentionCharge.ToString("##,##0.00")
                                    </td>
                                    <td style="font-weight: normal; width: 250px;">
                                        @item.Remarks
                                    </td>
                                    @*<td style="display: none;">
                                        @item.FilePath
                                        </td>*@

                                <td style="text-align: center;">
                                    @*<a target="_blank" href="~/attachments/@item.FilePath">Show</a>*@
                                    @if (!string.IsNullOrEmpty(@item.FilePath))
                                    {
                                        <a target="_blank" href="~/attachments/@item.FilePath" class="glyphicon glyphicon-eye-open"></a>
                                    }
                                    else
                                    {
                                        <p></p>
                                    }

                                </td>
                                    <td style="text-align: center;">
                                        

                                        @*<a href="@Url.Action("WharfRentEdit", new { WharfrentId=item.WharfrentId })"><i class="fa ft-chevrons-right">Edit</i> </a>*@
                                        <a href="@Url.Action("WharfRentEdit", new { WharfrentId=item.WharfrentId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
    </div>
    @*</div>*@
</section>


@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
      @*  var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });*@
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

