﻿@model InventoryMS.Models.ItemAlia

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>Edit ItemAlia</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Index")" class="btn btn-success btn-icon glyphicons list"><i></i>View List</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{ 
    @Html.AntiForgeryToken()

    <div class="innerLR">
        <div align="center" class="widget" style="margin-top: -1px; min-height:80%;">
            <!-- Widget heading -->
            <div class="widget-head">
                <h4 class="heading glyphicons"><i></i></h4>
            </div>
            <!-- // Widget heading END -->

            <div class="widget-body">
                @Html.ValidationSummary(true)

				<div class="span6">
					@Html.HiddenFor(model => model.AliasId)

					@Html.EditorFor(model => model.ItemId)
					@Html.EditorFor(model => model.AliasName)
					@Html.EditorFor(model => model.IsActive)
					@Html.EditorFor(model => model.RankId)
					@Html.EditorFor(model => model.CreatedBy)
					@Html.EditorFor(model => model.CreatedTime)
					@Html.EditorFor(model => model.UpdatedBy)
					@Html.EditorFor(model => model.UpdateTime)
					@Html.EditorFor(model => model.PCName)
					@Html.EditorFor(model => model.IPAddress)
				</div>
				<div class="row-fluid">
                    <span class="span8"></span>
                    <div class="span3">
                        <input type="submit" value="Update" class="btn btn-block btn-success span12" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

