﻿@model InventoryMS.Models.SupplierEvaluation

@{
    ViewBag.Title = Html.DisplayNameForModel();
   
}

<section class="content-header">
    <h1>
		New :: Supplier Evaluation
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Supplier Evaluation</a></li>
        <li class="active">New</li>
    </ol>
</section>



@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- .box-header -->
                    @*<div class="box-header with-border">
                       
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">SupplierEvaluation List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>*@
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">

                        <div class="col-sm-5">
                            <div class="form-group">
                                @Html.Label("LC File No", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LCFile, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LoadSurvayData(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                               
                            </div>

                            <div class="form-group">
                                @Html.Label("LC Date:", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <div id="LCDt"> </div>
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.Label("Company:", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <div id="Com"> </div>
                                </div>

                            </div>



                        </div>

                        <div class="col-md-6">
                           
                              
                                    
                                   
                                        <div class="form-group">
                                            @Html.Label("Supplier:", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                <div id="Supp">    </div>
                                            </div>

                                        </div>

                                       
                                        <div class="form-group">
                                            @Html.Label("Country:", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                <div id="Cont">    </div>
                                            </div>

                                        </div>
                                        @*<div class="form-group">
                                            @Html.Label("ETA:", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                <div id="Eta">    </div>
                                            </div>

                                        </div>

                            <div class="form-group">
                                @Html.Label("Port Arrival:", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <div id="PEta">    </div>
                                </div>

                            </div>*@

                         
                                
                           
                              

                            <div class="form-group">
                                @Html.Label("Overall Rating:", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <div id="ORat">    </div>
                                </div>

                            </div>

                        </div>




                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-danger direct-chat-danger">
                                    <div class="box-header with-border">
                                        <div class="user-block">                                           
                                        </div><!-- /.user-block -->
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <div id="GetData"> </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                  


                    <div class="box-footer">
                        <div style="display: flex; justify-content: flex-end">
                            <input type="button" id="btnSave" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                        </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
        <script>
            if ($('#error').val().length > 0) {
                alert($('#error').val());
            }

            $('select.select').select2({
                placeholder: "Select or Type . . .",
                //dropdownAutoWidth: true
            });

            $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

            function LoadSurvayData(id) {
                $('#LCDt').html("");
                $('#Supp').html("");
                $('#Com').html("");

                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetLcInfo")',
                    data: { LCFileId: String(id) },
                    //async: false,
                    success: function (data) {
                        $('#Supp').html(data.LCinfo[0].SupplierName);
                        $('#Cont').html(data.LCinfo[0].CountryName);

                        var dateString = data.LCinfo[0].LCDate.substr(6);
                        var currentTime = new Date(parseInt(dateString));
                        var month = currentTime.getMonth() + 1;
                        var day = currentTime.getDate();
                        var year = currentTime.getFullYear();
                        var date = day + "/" + month + "/" + year;




                        $('#LCDt').html(date);
                        $('#Com').html(data.LCinfo[0].CompanyName);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                    }
                });





                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("DetailsTemplateAppData")',
                    data: JSON.stringify({ id: id }),
                    async: false,
                    success: function (msg) {

                        $('#GetData').html(msg);


                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                    }
                });


            }

            function RatingCalcultion(e,t,v,n) {
                totalQ = 0.00;
                cnt = 0.00;

                //$('input:radio[name=chkpar-'+ t +']').change(function() {


                    var rowValue = $(e).closest('tr').find('td.form-check').text();
                    var $row = $(e).closest('tr'); //get the current row
                    var x = $row.find('td').eq(5).text();
                    $row.find('td').eq(5).text(v);
                    $row.find('td').eq(6).text(n);



                //});



                $("table#tblSub > tbody > tr").each(function (row, tr) {
                    totalQ += parseFloat($(this).find('td:eq(5)').text().replace(/\,/g, ''));

                    cnt += 1;
                });
                totalQ = parseFloat(totalQ) / parseFloat(cnt)
                $('#ORat').text(totalQ);




            }



            $('#btnSave').click(function () {


                $('.only-number').each(function () {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                $('.only-currency').each(function () {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });

                $('input, textarea').each(function () {
                    if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                        $(this).val($(this).val().toString().toUpperCase());
                    }
                });

                var isValid = true, ctl;
                $('[data-val="true"]').not('#modal_prod [data-val="true"], [type=hidden], [readonly]').each(function () {
                    if ($(this).val() == '') {
                        //alert($(this).attr('data-val-required'));
                        if (ctl == null)
                            ctl = $(this);
                        $(this).closest('.form-group').addClass('has-error');
                        $(this).closest('.form-group').find('.field-validation-valid:first').html($(this).attr('data-val-required'));
                        $(this).closest('.form-group').find('.field-validation-valid:first').addClass('field-validation-error');
                        $(this).closest('.form-group').find('.field-validation-valid:first').removeClass('field-validation-valid');
                        //return;

                        isValid = false;
                    }
                });

                if (!isValid) {
                    ctl.focus();
                    console.log('error found @@ ' + $(ctl).attr('id'));
                    return;
                }






                let  kPIMarkSub = [];



                let tbl = $('table#tblSub').find('tbody tr').map(function () {
                    rn = 0;
                    var tableData = $(this).find('td').map(function () {
                        return $(this).html();
                    }).get();



                    if (tableData.length >= 1) {
                        var arrayOfThisRow = {
                            LCFileId: $('#LCFileId').val(),
                            RatingId: tableData[6]

                        };

                        kPIMarkSub.push(arrayOfThisRow);
                    }
                }).get();

                console.log(kPIMarkSub);

                if (kPIMarkSub.length <= 0) {
                    alert('No details information to save.');
                    return;
                }

                //alert(JSON.stringify({ bookingSub: bookingsub }));
                //return;

                $('.only-number').each(function () {
                    $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                });

                $('.only-currency').each(function () {
                    $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                });

                debugger;
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("Save")',
                    data: JSON.stringify({ supEval: kPIMarkSub }),
                    success: function (msg) {
                        if (msg.status == 'NotAuthorized') {
                            $('#loginpartial').modal('show');
                        }
                        else if (msg.status == 'Error') {
                            //alert(msg.message);
                            $('#alertdiv').removeClass('alert-success alert-danger');
                            $('#alertdiv').addClass('alert-danger');
                            $('#asummary').html('!!!Error!!!')
                            $('#atext').html('Save failed due to "' + msg.message + '".');
                            $('#btnAlert').attr('onclick', '');

                            $('#alert').modal('show');
                        }
                        else {
                             $('#alert_main_div').removeClass('alert-success alert-danger');
                            $('#alert_main_div').addClass('alert-success');
                            $('#asummary_main').html('Success!!')
                            $('#atext_main').html('Issue # ' + msg.issueno + ' save successfully.');
                            $('#btn_alert_main').attr('onclick', 'window.location = "@Url.Action("Create")"');

                            $('#alert_main').modal('show');
                        }






                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                        alert("Save failed.\nSee log for more information.");
                    }
                });
            });



        </script>
    }

  

@*@section Scripts {
        <script>
            if ($('#error').val().length > 0) {
                alert($('#error').val());
            }

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $(".date").inputmask("yyyy-mm-dd", { "placeholder": "yyyy-mm-dd" });//dd/mm/yyyy

            $('input.only-number').on('keypress', function (e) {
                return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
            });

            $('input.only-number').on('blur', function () {
                if (isNaN(eval($(this).val().replace(',', '')))) {
                    $(this).val(0);
                }
                else {
                    var num = new Number($(this).val().replace(/\,/g, ''));
                    $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                }
            });

            //$('input.only-currency').number(true, 2);
            $('.only-currency').on('keypress', function (e) {
                return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
            });

            $('input.only-currency').on('blur', function () {
                if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                    $(this).val("0.00");
                }
                else {
                    var num = new Number($(this).val().replace(/\,/g, ''));
                    $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                }
            });

            //$('input.only-currency').number(true, 2);
            $('input.only-price').on('keypress', function (e) {
                return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
            });

            $('input.only-price').on('blur', function () {
                if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                    $(this).val("0.000000");
                }
                else {
                    var num = new Number($(this).val().replace(/\,/g, ''));
                    var ades = num.toFixed(6).split('.')[1];
                    $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
                }
            });

            $('select.select').select2({
                placeholder: "Select or Type . . .",
                //dropdownAutoWidth: true
            });

            $('#frm').submit(function () {
                $('.only-number').each(function () {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                $('.only-currency').each(function () {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                $('input').each(function () {
                        if ($(this).attr('name') != '__RequestVerificationToken') {
                            $(this).val($(this).val().toString().toUpperCase());
                        }
                    });
                return true;
            });
        </script>
    }
*@