﻿
@model IEnumerable<InventoryMS.Models.Custom_Type>



<div class="form-group">
    <div class="col-md-12">

        <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        Supplier Evaluation 
                    </th>
                    <th style="text-align: center;">
                       1
                    </th>
                    <th style="text-align: center;">
                        2
                    </th>
                    <th style="text-align: center;">
                        3
                    </th>
                    <th style="text-align: center;">
                        4
                    </th>
                    <th style="text-align: center;">
                        Rating
                    </th>
                    <th style="display: none;">
                        RatingV
                    </th>
                </tr>
            </thead>
            <tbody>
                @{var i = 0;}
                @foreach (var itemGroup in Model.GroupBy(c => c.Flag))
                {
                    var itemList = itemGroup.ToList();
                    
                    <tr class="data_row">
                        <td class="text-left text-primary" style="background-color: #E8F1C3;"> @{i++;}@i.<b>@itemGroup.Key</b> </td>
                        @foreach (var item in itemList)
                        {
                            <td class="form-check" style="background-color: #E8F1C3;">
                                <input type=radio onchange="RatingCalcultion( this,'@item.Flag',@item.ShortName,@item.TypeId)" id=chkpar1 value=@item.TypeId name=chkpar-@item.Flag class=chkStatus /> @item.TypeName
                            </td>
                        }
                        <td class="text-left text-primary" style="background-color: #E8F1C3;"> 0 </td>
                        <td class="text-left text-primary" style="display: none;"> 0 </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>
</div>
