﻿@model InventoryMS.Models.SupplierEvaluation

@{
    ViewBag.Title = Html.DisplayNameForModel();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
		Edit :: SupplierEvaluation
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> SupplierEvaluation</a></li>
        <li class="active">Edit</li>
    </ol>
</section>



@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">SupplierEvaluation List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
								<ul id="yw5" class="dropdown-menu">
									<li>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("SupplierEvaluation", "Create"))
                                        {
                                            <a tabindex="-1" href="@Url.Action("Create")">New SupplierEvaluation</a>
                                        }
                                        else
                                        {
                                            <a tabindex="-1" onclick="alert('You are not authorized');">New SupplierEvaluation</a>
                                        }
                                        
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = Model.SupplierRatingId })">View SupplierEvaluation</a>
                                    </li>
                                    <li>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("SupplierEvaluation", "Delete"))
                                        { 
                                            <a tabindex="-1" href="@Url.Action("Delete", new { id = Model.SupplierRatingId })">Delete SupplierEvaluation</a>
                                        }
                                        else
                                        {
                                            <a tabindex="-1" onclick="alert('You are not authorized');">Delete SupplierEvaluation</a>
                                        }
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
							@Html.EditorFor(model => model.LCFileId)

							@Html.EditorFor(model => model.RatingId)

				</div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();
        
        $('#frm').submit(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            return true;
        });
    </script>
}

@section CSS {

}


@section Scripts {
    <script>
		if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $(".date").inputmask("yyyy-mm-dd", { "placeholder": "yyyy-mm-dd" });//dd/mm/yyyy

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

		$('#frm').submit(function () {
            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('input').each(function () {
                    if ($(this).attr('name') != '__RequestVerificationToken') {
                        $(this).val($(this).val().toString().toUpperCase());
                    }
                });
            return true;
        });
    </script>
}

@section CSS {
    
}
