﻿@model InventoryMS.Models.UserView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Change Password :: User
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Administration</a></li>
        <li class="active"> User</li>
    </ol>
</section>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">User Name # @Model.UserName</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@ViewBag.returnUrl">Previous</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            @*<ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Edit", new { id = 2 })">Edit SOF</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = 2 })">View SOF</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">SOF List</a>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-7">
                            <div class="col-md-6">
                                <div class="register-box" style="margin: 0px;">
                                    <div class="register-box-body">
                                        <div class="form-group has-feedback">
                                            <input id="returnUrl" name="returnUrl" type="hidden" class="form-control ccnormal" placeholder="User id" value="@ViewBag.rurl">
                                            <input id="UserId" name="UserId" type="hidden" class="form-control ccnormal" placeholder="User id" value="@Model.UserId">
                                            <input id="OldPassword" name="OldPassword" type="password" class="form-control ccnormal" placeholder="Old Password" value="@Model.OldPassword">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="New Password" value="@Model.UserPWD">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control ccnormal" placeholder="Confirm password" value="@Model.ConfirmPassword">
                                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success ccnormal" value="Change" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }
    </script>
}

@section CSS {

}
