﻿@model InventoryMS.Models.Sys_User_Name

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Edit :: User
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Administration</a></li>
        <li><a href="#"> User</a></li>
        <li class="active">Register</li>
    </ol>
</section>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Update a membership</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">User List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            @*<ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Edit", new { id = 2 })">Edit SOF</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = 2 })">View SOF</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">SOF List</a>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-7">
                            <div class="col-md-6">
                                <div class="register-box" style="margin: 0px;">
                                    <div class="register-box-body">
                                        <div class="form-group has-feedback">
                                            <input id="UserId" name="UserId" type="hidden" class="form-control ccnormal" placeholder="User id" value="@Model.UserId">
                                            <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User name" value="@Model.UserName">
                                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input id="UserTitle" name="UserTitle" type="text" class="form-control ccnormal" placeholder="Full name" value="@Model.UserTitle">
                                            <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input id="Email" name="Email" type="email" class="form-control ccnormal" placeholder="Email" value="@Model.eMail">
                                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input id="UserRPWD" name="UserRPWD" type="password" class="form-control ccnormal" placeholder="Retype password">
                                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8" style="padding-left: 0px;">
                                                <input id="IsAdmin" name="IsAdmin" type="hidden" class="form-control ccnormal" placeholder="User id" value="@Model.IsAdmin">
                                                <div class="checkbox icheck">
                                                    <label>
                                                        <input id="chkAdmin" name="chkAdmin" type="checkbox"> <span style="padding-left: 5px;">Is Admin?</span>
                                                    </label>
                                                </div>
                                            </div><!-- /.col -->
                                            <div class="col-xs-4">

                                            </div><!-- /.col -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success ccnormal" value="Update" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script src="~/common/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        if ($('#IsAdmin').val() == '1') {
            $('#chkAdmin').attr('checked', true);
        }
        else {
            $('#chkAdmin').attr('checked', false);
        }

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        //$('input').on('ifChanged', function (event) {
        //    alert($(this).prop('checked')); // alert value
        //});

        $('#frm').submit(function () {
            if ($('#chkAdmin').prop('checked') == true) {
                $('#IsAdmin').val('1');
            }
            else {
                $('#IsAdmin').val('0');
            }

            //$('input, textarea').each(function () {
            //    if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
            //        $(this).val($(this).val().toString().toUpperCase());
            //    }
            //});

            return true;
        });
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/common/theme/plugins/iCheck/square/blue.css">
}