﻿@model InventoryMS.Models.UserView

<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />*@

    <title>Login - Inventory Managing System</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/plugins/iCheck/square/blue.css">
    @Scripts.Render("~/common/headerscripts")

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a class="png" href="http://www.kdsaccessories.com/" title="KDS Accessories">
                <img src="~/common/theme/images/logo.png" style="height: 75px; width: 200px; margin: 5px; float: left;" />
                <span style="float: right; margin: 16px; color: white; font-weight: bold; font-size: larger;">IPMS</span>
            </a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            @using (Html.BeginForm("Login", "User", new { returnurl = ViewBag.returnurl }, FormMethod.Post, new { role = "form" }))
            {
                <div class="form-group has-feedback">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User ID">
                </div>
                <div class="form-group has-feedback">
                    <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input id="IsRemember" name="IsRemember" type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
                    </div><!-- /.col -->
                </div>
            }

        </div><!-- /.login-box-body -->
        <div style="padding:15px; background-color: floralwhite;">
            <span style="color:#f00;">
                <u><b>Attn.:</b></u>
            </span> Please use <span style="color:#000000;"><b>Chorme Browser (Latest Version)</b></span> for better user interface. Otherwise some user control may not support.
        </div>
    </div><!-- /.login-box -->
    @Scripts.Render("~/common/footerscripts")
    <script src="~/common/theme/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '0%' // optional
            });
        });
    </script>

</body>
</html>
