﻿@model IEnumerable<InventoryMS.Models.MenuType>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Access :: User Wise Permission
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Administration</a></li>
        <li><a href="#"> User</a></li>
        <li class="active">Permission</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">User List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("User", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("UserId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "userdetails(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Access type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("type", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })@*, @onchange = "userdetails(this.value)"*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Role", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("RoleId", null, string.Empty, new { @class = "form-control select mcselect", @multiple = "multiple", @style = "width: 100%;", @onchange = "roledetails(this.value)" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9" style="">
                                    <ul id="tree" style="list-style-type: none; padding: 10px; border: 1px solid #f4f4f4; margin-top: 10px;">
                                        @foreach (var item in Model.OrderBy(c => c.MenuTypeKey))
                                        {
                                            <li>
                                                @if (item.User_Controller.Where(l => l.IsActive == 1).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                                {
                                                    <a style="cursor: default; padding-right: 5px;" class="plus fa fa-plus"></a>
                                                }
                                                else
                                                {
                                                    <a style="cursor: default; padding-right: 16px;" class="fa"></a>
                                                }
                                                <label>
                                                    <input class="menutype" type="checkbox" />
                                                    @item.MenuTypeName
                                                </label>

                                                <ul style="list-style-type: none; display: none;">

                                                    @foreach (var uc in item.User_Controller.Where(l => l.IsActive == 1).OrderBy(c => c.RankId))
                                                    {
                                                        <li>
                                                            @if (uc.User_Action.Where(l => l.IsActive == 1).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                                            {
                                                                <a style="cursor: default; padding-right: 5px;" class="plus fa fa-plus"></a>
                                                            }
                                                            else
                                                            {
                                                                <a style="cursor: default; padding-right: 16px;" class="fa"></a>
                                                            }
                                                            <label>
                                                                <input class="ctrl" type="checkbox" />
                                                                @uc.ControllerName
                                                            </label>

                                                            <ul style="list-style-type: none; display: none;">

                                                                @foreach (var ua in uc.User_Action.Where(l => l.IsActive == 1).OrderBy(c => c.RankId))
                                                                {
                                                                    <li>
                                                                        <label>
                                                                            <input id="@ua.ActionId" class="action" type="checkbox" />
                                                                            @ua.ActionName
                                                                        </label>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                <label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = '@Url.Action("UserAccess")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script src="~/common/js/jquery-checktree.js"></script>
    <script>
    if ($('#error').val().length > 0) {
        //alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . ."
    });

    $('select.mcselect').select2({
        placeholder: "Select or Type . . .",
        dropdownAutoWidth: true
    });

    $('#tree').checktree();

    $('.plus').click(function (e) {
        if ($(this).closest('li').find('ul').css("display") == 'none') {
            $(this).closest('li').find('ul:first').css("display", "");
            $(this).addClass('fa-minus');
            $(this).removeClass('fa-plus');
        }
        else {
            $(this).closest('li').find('ul:first').css("display", "none");
            $(this).addClass('fa-plus');
            $(this).removeClass('fa-minus');
        }
    })

    function userdetails(e) {
        //$('#tree input[type="checkbox"]').each(function () {
        //    $(this).prop('checked', false);
        //})

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("UserRoleDetails")',
                data: JSON.stringify({ id: e }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#type').val(msg.type).trigger('change');

                        if (msg.type == 'Role') {
                            //if (msg.RoleId == 0)
                            //    $('#RoleId').val(0).trigger('change');
                            //else
                                $('#RoleId').val(msg.RoleId).trigger('change');
                        }
                        else {
                            $('#RoleId').val([]).trigger('change');
                            permissiondetails(e);
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('A');//textStatus
                }
            });
        }

        function permissiondetails(e) {
            //return;
            $('#tree input[type="checkbox"]').each(function () {
                $(this).prop('checked', false);
            })

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UserRoleDetails", "User")',
                data: JSON.stringify({ id: e }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        for (var ri = 0; ri < msg.alist.length; ri++) {
                            $('#' + msg.alist[ri]).prop('checked', true);
                            $('#' + msg.alist[ri]).closest('ul').parent().find('input.ctrl[type="checkbox"]').prop('checked', true);
                            $('#' + msg.alist[ri]).closest('ul').parent().closest('ul').parent().find('input.menutype[type="checkbox"]').prop('checked', true);
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }

        function roledetails(e) {
            //if (e == '')
            //alert($('#RoleId').val());
            if ($('#RoleId').val() == null || $('#RoleId').val() == '')
                return;
            $('#tree input[type="checkbox"]').each(function () {
                $(this).prop('checked', false);
            })

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Details", "Role")',
                data: JSON.stringify({ id: e }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        for (var ri = 0; ri < msg.data.length; ri++) {
                            $('#' + msg.data[ri].aid).prop('checked', true);
                            $('#' + msg.data[ri].aid).closest('ul').parent().find('input.ctrl[type="checkbox"]').prop('checked', true);
                            $('#' + msg.data[ri].aid).closest('ul').parent().closest('ul').parent().find('input.menutype[type="checkbox"]').prop('checked', true);
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        };

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var permission = [];

        if ($('#type').val() == 'Role') {
            for (var i = 0; i < $('#RoleId').val().length; i++) {
                //$('#RoleId').val().each(function () {
                permission.push({ UserId: $('#UserId').val(), RoleId: $('#RoleId').val()[i] });
            }
        }
        else {
            $('#tree input.action[type="checkbox"]:checked').each(function () {
                permission.push({ UserId: $('#UserId').val(), ActionId: $(this).attr('id') });
            })
        }
        //alert(JSON.stringify({ type: $('#type').val(), userPermission: permission }));
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("UserAccessSave")',
            data: JSON.stringify({ type: $('#type').val(), userPermission: permission }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    alert(msg.message);
                }
                else {
                    $('#msg').html("Save successful.");
                    $('#vtext').html('');
                    $('#vno').html('');

                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });
    </script>
}

@section CSS {

}
