﻿@using InventoryMS.Models
@using System.Linq
@using System.Collections.Generic;

<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/bs4/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2018 04:59:47 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico" />
    <title>Inventory & Procurement Managing System</title>

    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">

    <!-- App css -->
    @*<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />*@

    @Scripts.Render("~/common/headerscripts")
    <script>
        var pathName = window.location.pathname.substring(1);
        var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
    </script>
    
    @RenderSection("CSS", required: false)
</head>

<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="main-header">
                @{string emppicurl = "http://123.200.29.203/hris/Content/HRMImage/EmpImages/" + (@Session["UserName"] != null ? @Session["UserName"].ToString() == "monsur" ? "XHQ06613-22" : @Session["UserName"] : "XHQ06613-22") + ".jpg";}
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation" style="margin-left: 0px;">
                    <a href="@Url.Action("Index", "Home")" class="logo" style="padding-left: 105px;">
                        <img src="~/common/theme/images/ipms_white.png" style="height: 24px; width: 24px; vertical-align: sub;" />
                        <h3 id="header"><b>Inventory & Procurement</b> Managing System</h3>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img style="width: 25px; height: 25px;" src="@emppicurl" onerror="this.onerror = null; this.src = '/' + webName + '/common/theme/images/avatar.png'" class="user-image">
                                    @*<i class="fa fa-user"></i>*@
                                    <span class="hidden-xs">@Session["UserTitle"]</span>
                                    <i class="fa fa-angle-down pull-right" style="margin-top: 3px; padding-left: 5px;"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img style="width: 84px; height: 84px;" src="@emppicurl" onerror="this.onerror = null; this.src = '/' + webName + '/common/theme/images/avatar.png'" class="img-circle">
                                        <p>
                                            @Session["UserTitle"]
                                            <small>User since Nov. 2010</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="col-common col-xs-6 text-center">
                                            <a href="#">Lockout</a>
                                        </div>
                                        <div class="col-common col-xs-6 text-center">
                                            <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })">Change Password</a>
                                        </div>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btnsm btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="@Url.Action("LogOff", "User")" class="btn btnsm btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                        </ul>
                    </div>
                </nav>
            </div>

            @{
                InventoryCubeEntities db = new InventoryCubeEntities();
                List<string> catName = new List<string>() { "Home" };
                List<string> subCatName = new List<string>() { "Home" };
                string controllername = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
                string actionname = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
                var paramvalue = ViewContext.RouteData.Values;
                var querystring = Request.QueryString;

                var prmlist = (querystring.AllKeys.Count() > 0 ? querystring.AllKeys.Aggregate((i, j) => i + "," + j) : "");
                var prmvlist = new Dictionary<string, string>();
                for (int i = 0; i < querystring.Keys.Count; i++)
                {
                    prmvlist.Add(querystring.Keys[i], querystring[i]);
                }

                if (paramvalue != null && paramvalue["id"] != null)
                {
                    prmvlist.Add("id", paramvalue["id"].ToString());
                }

                var activemenucode = db.MenuWiseActions.Where(l => l.User_Action.ActionName == actionname && l.User_Action.User_Controller.ControllerName == controllername).Select(c => c.MenuDetail.MenuCode).DefaultIfEmpty("").FirstOrDefault();

                if (prmvlist.Count > 0)
                {
                    var activemenu = db.MenuWiseActions.Where(l => l.User_Action.ActionName == actionname && l.User_Action.User_Controller.ControllerName == controllername);

                    foreach (var am in activemenu)
                    {
                        var plist = new Dictionary<string, string>();
                        var pmlist = am.MenuDetail.DefaultParameter.Split(',');
                        var pmvlist = am.MenuDetail.DefaultParameterValue.Split(',');
                        for (int i = 0; i < pmlist.Count(); i++)
                        {
                            if (!string.IsNullOrEmpty(pmlist[i]) && pmvlist != null && pmvlist.Count() > i && !string.IsNullOrEmpty(pmvlist[i]))
                            {
                                plist.Add(pmlist[i], pmvlist[i]);
                            }
                        }

                        if (plist.Count == prmvlist.Count)
                        {
                            int cnt = 0;
                            foreach (var d in prmvlist)
                            {
                                if (!plist.ContainsKey(d.Key))
                                {
                                    break;
                                }
                                else if (plist.Where(l => l.Key == d.Key).First().Value.Equals(d.Value))
                                {
                                    cnt++;
                                }
                                else
                                {
                                    break;
                                }
                            }

                            if (cnt == plist.Count)
                            {
                                activemenucode = am.MenuDetail.MenuCode;
                                break;
                            }
                        }
                    }
                }

                var m = (from p in db.User_Permission.AsEnumerable()
                         join q in db.User_Role_Details.AsEnumerable() on p.RoleId equals q.RoleId into r
                         from s in r.DefaultIfEmpty()
                         join t in db.MenuWiseActions.AsEnumerable() on (s == null ? p.ActionId : s.ActionId) equals t.ActionId
                         where p.UserId == clsMain.getCurrentUser() // && t.MenuDetail.Versions == "2"
                         select new { MenuCode = t.MenuDetail.MenuCode, PCode = t.MenuDetail.MenuPCode }
                             ).Distinct().ToList();

                var menu = (from p in db.MenuDetails.AsEnumerable()
                            join r in db.User_Action.AsEnumerable() on p.DefaultActionId equals r.ActionId into t
                            from q in t.DefaultIfEmpty()
                            //join r in m.AsEnumerable() on p.MenuCode equals r.Substring(0, p.menucode)
                            where m.Select(c => (c.MenuCode.StartsWith(p.MenuCode) ? p.MenuCode : "")).Contains(p.MenuCode)
                            //m.Select(c => c.MenuCode).Contains(p.MenuCode) || m.Select(c => c.PCode).Contains(p.MenuCode)
                            //|| m.Select(c => (c.PCode.Length == 4 ? c.PCode.Substring(0, 2) : c.PCode)).Contains(p.MenuCode)
                            select new { p, q, css = (activemenucode != "" ? activemenucode.StartsWith(p.MenuCode) ? "active" : "" : "") }
                    ).ToList();
            }

            <div class="navbar-custom" style="background-color: #222d32;">
                <div class="container-fluid" style="text-align: center;">
                    <img src="~/common/theme/images/logo.png" style="height: 60px; width: 165px; float: left;" />
                    @*<div style="display: inline; float: none; vertical-align: middle;">
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="~/common/theme/images/ipms.png" style="height: 24px; width: 24px;" />
                            <h3 style="color: white; display: inline; vertical-align: middle;"><b>IPMS</b></h3>
                        </a>
                    </div>*@
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            @{
                                catName = new List<string>() { "User" };
                            }

                            <li class="has-submenu">
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="fa fa-home"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>

                            @foreach (var item in menu.Where(l => l.p.MenuPId == 0).OrderBy(c => c.p.RankId))
                            {
                                <li class="has-submenu">
                                    @if (menu.Where(l => l.p.MenuPId == item.p.MenuId).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                    {
                                        <a href="#">
                                            <i class="fa @item.p.CSSClass"></i>
                                            <span>@item.p.MenuTitle</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#">
                                            <i class="fa @item.p.CSSClass"></i>
                                            <span>@item.p.MenuTitle</span>
                                        </a>
                                    }

                                    @*<a href="#"><i class="fa fa-buysellads"></i><span> Inventory </span> </a>*@
                                    @{int menu_count = menu.Where(l => l.p.MenuPId == item.p.MenuId).Count(); int row_index = 0;}
                                    @if (menu_count > 15)
                                    {
                                        <ul class="submenu submenu-right megamenu">
                                            @while (menu_count > 0)
                                            {
                                                <li>
                                                    <ul>
                                                        @foreach (var uc in menu.Where(l => l.p.MenuPId == item.p.MenuId).OrderBy(c => c.p.MenuCode).Skip(row_index).Take(15))
                                                        {
                                                            if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() == 0 && uc.p.DefaultActionId > 0)
                                                            {
                                                                string param = "", sep = "", qt = "?", url = "";
                                                                var plist = uc.p.DefaultParameter.Split(',');
                                                                var pvlist = uc.p.DefaultParameterValue.Split(',');

                                                                if (pvlist.Count() > 0)
                                                                {
                                                                    for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                                                    {
                                                                        if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                                        {
                                                                            if (plist[ri].Trim() == "id")
                                                                            {
                                                                                url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                                            }
                                                                            else
                                                                            {
                                                                                param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                                                sep = "&"; qt = "";
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                if (url == "")
                                                                {
                                                                    url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName);
                                                                }

                                                                <li typeof="@uc.q.User_Controller.ControllerName" class="@uc.css"><a href="@url@param"><i class="fa fa-angle-double-right"></i>   @uc.p.MenuTitle</a></li>
                                                            }

                                                            menu_count--;
                                                            row_index++;

                                                            if (row_index % 15 == 0)
                                                            {
                                                                break;
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="submenu">
                                            @foreach (var uc in menu.Where(l => l.p.MenuPId == item.p.MenuId).OrderBy(c => c.p.MenuCode))
                                            {
                                                if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() == 0 && uc.p.DefaultActionId > 0)
                                                {
                                                    string param = "", sep = "", qt = "?", url = "";
                                                    var plist = uc.p.DefaultParameter.Split(',');
                                                    var pvlist = uc.p.DefaultParameterValue.Split(',');

                                                    if (pvlist.Count() > 0)
                                                    {
                                                        for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                                        {
                                                            if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                            {
                                                                if (plist[ri].Trim() == "id")
                                                                {
                                                                    url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                                }
                                                                else
                                                                {
                                                                    param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                                    sep = "&"; qt = "";
                                                                }
                                                            }
                                                        }
                                                    }

                                                    if (url == "")
                                                    {
                                                        url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName);
                                                    }

                                                    <li typeof="@uc.q.User_Controller.ControllerName" class="@uc.css"><a href="@url@param"><i class="fa fa-angle-double-right"></i>   @uc.p.MenuTitle</a></li>
                                                }
                                                else if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() > 0)
                                                {
                                                    <li class="has-submenu @uc.css">
                                                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i>   @uc.p.MenuTitle</a>
                                                        <ul class="submenu">
                                                            @foreach (var ucc in menu.Where(l => l.p.MenuPId == uc.p.MenuId).OrderBy(c => c.p.MenuId))
                                                            {
                                                                if (menu.Where(l => l.p.MenuPId == ucc.p.MenuId).Count() == 0 && ucc.p.DefaultActionId > 0)
                                                                {
                                                                    string param = "", sep = "", qt = "?", url = "";
                                                                    var plist = ucc.p.DefaultParameter.Split(',');
                                                                    var pvlist = ucc.p.DefaultParameterValue.Split(',');

                                                                    if (pvlist.Count() > 0)
                                                                    {
                                                                        for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                                                        {
                                                                            if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                                            {
                                                                                if (plist[ri].Trim() == "id")
                                                                                {
                                                                                    url = Url.Action(ucc.q.ActionName, ucc.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                                                }
                                                                                else
                                                                                {
                                                                                    param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                                                    sep = "&"; qt = "";
                                                                                }
                                                                            }
                                                                        }
                                                                    }

                                                                    if (url == "")
                                                                    {
                                                                        url = Url.Action(ucc.q.ActionName, ucc.q.User_Controller.ControllerName);
                                                                    }

                                                                    <li typeof="@ucc.q.User_Controller.ControllerName" class="@uc.css"><a href="@url@param"><i class="fa fa-angle-double-right"></i>   @ucc.p.MenuTitle</a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->

        <div id="loginpartial" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 50001 !important;">
            <div class="modal-dialog" style="width: 25%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3 class="modal-title" style="text-align: center;">LOGIN</h3>
                    </div>
                    <div id="user" class="modal-body" style="padding: 10px;">
                        <div class="login-box" style="margin: 0% auto; width: 320px;">
                            <div class="login-box-body">
                                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group has-feedback">
                                        <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User ID">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8" style="margin-top: 10px !important; padding-left: 14px;">
                                            <span id="lmsg" style="color: red;" data-valmsg-for="lmsg" data-valmsg-replace="true"></span>
                                        </div><!-- /.col -->
                                        <div class="col-xs-4" style="padding-right: 14px;">
                                            <button id="btnplogin" type="button" style="margin-top: 10px;" class="btn btn-success btn-block btn-flat">
                                                Sign In
                                            </button>
                                        </div><!-- /.col -->
                                    </div>
                                }
                            </div><!-- /.login-box-body -->
                        </div><!-- /.login-box -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Content Wrapper. Contains page content -->
        <div id="content" class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
                <!-- Modal -->
                <div class="modal fade text-left" id="alert_main" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="top: 35%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Alert</h4>
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>*@
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success" role="alert" id="alert_main_div">
                                    <span class="text-bold-600" id="asummary_main">text</span> <span id="atext_main">text</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn_alert_main" class="btn grey btn-outline-secondary" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="main-footer">
            <img src="~/common/theme/images/a.jpg" style="display: inline-block; margin-bottom: 7px; max-width: 100%;vertical-align: middle; border: 0;" class="theme-divider">
            <div class="pull-right hidden-xs" style="margin-right: 5px;">
                Version 3.0.0
            </div>
            <span style="margin-left: 5px;">Copyright &copy; 2015-2020 <a>KDS Accessories Ltd.</a> All rights reserved.</span>
        </footer>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    @Scripts.Render("~/common/footerscripts")
    @RenderSection("scripts", required: false)
    <script>
        @*alert(@ViewData["OpenAuthorizationPopup"]);*@
        if ($('#ut').html() == '') {
            //window.location.href = "@Url.Action("Login", "User")";
            $('#loginpartial').modal('show');
        };

        //$('.hasSubmenu').click(function () {
        //    $('.hasSubmenu').removeClass('active');
        //    $('.hasSubmenu').removeClass('active');
        //});

        $('#btnplogin').click(function () {
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });


        $('#mid').click(function () {
            return;
            var mlist = [], rn = 0, rn0 = 0, rn1 = 0, rn2 = 0, pid1 = 0, pcode1 = '', pid2 = 0, pcode2 = '';
            $('ul.sidebar-menu').find('.treeview').each(function () {
                //alert($(this).find('span').html());
                //console.log('treeview - >' + $.trim($(this).find('span').text()));//.replace(/<[^>]*>/g, "")
                var mid = ++rn; rn0++;
                var mcode = (rn0 + 100).toString().slice(-2);
                var arrayOfThisRow = {
                    MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).find('span').text()),
                    MenuTitle: $.trim($(this).find('span').text()), MenuPId: 0,
                    MenuPCode: '-', ModCatId: 0, MenuTypeId: 1,
                    MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                };
                mlist.push(arrayOfThisRow);

                if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                    pid1 = mid, pcode1 = mcode, rn1 = 0;
                }

                $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                    //alert($(this).find('a:first').html());
                    //console.log('   a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")var mcode = (rn + 100).toString().slice(-2);
                    mid = ++rn; rn1++;
                    mcode = pcode1 + (rn1 + 100).toString().slice(-2);
                    arrayOfThisRow = {
                        MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                        MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid1,
                        MenuPCode: pcode1, ModCatId: 0, MenuTypeId: 1,
                        MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                    };
                    mlist.push(arrayOfThisRow);
                    if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                        pid2 = mid; pcode2 = mcode, rn2 = 0;
                    }

                    $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                        //alert($(this).find('a:first').html());
                        //console.log('       a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")
                        mid = ++rn; rn2++;
                        mcode = pcode2 + (rn2 + 100).toString().slice(-2);
                        arrayOfThisRow = {
                            MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                            MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid2,
                            MenuPCode: pcode2, ModCatId: 0, MenuTypeId: 1,
                            MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                        };
                        mlist.push(arrayOfThisRow);
                    })
                })
            })

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuInsert")',
                data: JSON.stringify({ menuDetail: mlist }),
                success: function (msg) {
                    alert(msg.status);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            console.log(JSON.stringify(mlist));
        })

        //document.oncontextmenu = RightMouseDown;
        //document.onmousedown = mouseDown;

        //function mouseDown(e) {
        //    if (e.which == 3) {//righClick
        //        //alert("Disabled - do whatever you like here..");
        //    }
        //}
        //function RightMouseDown() { return false; }
    </script>


</body>



<!-- Mirrored from coderthemes.com/adminto/bs4/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2018 05:01:45 GMT -->
</html>