﻿@using InventoryMS.Models
@using System.Linq
@using System.Collections.Generic;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico" />
    <title>Inventory & Procurement Managing System</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    @Scripts.Render("~/common/headerscripts")

    <script>
        //window.location.hash="no-back-button";
        //window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        //window.onhashchange=function(){window.location.hash="no-back-button";}
        //$(document).unbind('keydown').bind('keydown', function (event) {
        //    var doPrevent = false;
        //    if (event.keyCode === 8) {
        //        var d = event.srcElement || event.target;
        //        if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'NUMBER' || d.type.toUpperCase() === 'PASSWORD' || d.type.toUpperCase() === 'FILE' || d.type.toUpperCase() === 'EMAIL' || d.type.toUpperCase() === 'SEARCH'))
        //             || d.tagName.toUpperCase() === 'TEXTAREA') {
        //            doPrevent = d.readOnly || d.disabled;
        //        }
        //        else {
        //            doPrevent = true;
        //        }
        //    }

        //    if (doPrevent) {
        //        event.preventDefault();
        //    }
        //});

        //var OSName = "Unknown";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.2") != -1) OSName="Windows 8";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.1") != -1) OSName="Windows 7";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.0") != -1) OSName="Windows Vista";
        //if (window.navigator.userAgent.indexOf("Windows NT 5.1") != -1) OSName="Windows XP";
        //if (window.navigator.userAgent.indexOf("Windows NT 5.0") != -1) OSName="Windows 2000";
        //if (window.navigator.userAgent.indexOf("Mac")!=-1) OSName="Mac/iOS";
        //if (window.navigator.userAgent.indexOf("X11")!=-1) OSName="UNIX";
        //if (window.navigator.userAgent.indexOf("Linux")!=-1) OSName="Linux";

        //var OSBit = "Unknown";
        //if (navigator.userAgent.indexOf("WOW64") != -1 ||
        //    navigator.userAgent.indexOf("Win64") != -1) {
        //    OSBit = "64";
        //}
        //else {
        //    OSBit = "32";
        //}

        //if ($.browser.msie && parseInt($.browser.version, 10) <= 8) {

        //    alert('Please upgrade your Internet Explorer to at least version 9. Click OK to proceed with download latest IE..');

        //    if (OSName == "Windows XP" && OSBit == "32") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows XP" && OSBit == "64") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows 7" && OSBit == "32") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows 7" && OSBit == "64") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //};
    </script>
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo" style="padding-left: 0px;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>IPMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="text-align: center;">
                    @*<img src="~/common/theme/images/caption.png" style="height: 35px; width: 215px; margin-top: -4px;" />*@
                    @*<span style="color: white"><b>Inventory & Procurement</b></span><br/> Managing System*@
                    <span style="color: white"><b>I P M S</b></span>
                </span>
            </a>
            @{string emppicurl = "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"] != null ? @Session["UserName"].ToString() == "noman" ? "XHQ1029-11" : @Session["UserName"] : "XHQ1029-11") + ".jpg";}
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img style="width: 25px; height: 25px;" src="@emppicurl" class="user-image" alt="User Image">
                                @*<i class="fa fa-user"></i>*@
                                <span class="hidden-xs">@Session["UserTitle"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img style="width: 84px; height: 84px;" src="@emppicurl" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["UserTitle"]
                                        <small>User since Nov. 2010</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="#">Lockout</a>
                                    </div>
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })">Change Password</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btnsm btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "User")" class="btn btnsm btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="margin-bottom: 0px;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel" style="padding: 0px;">
                    <img src="~/common/theme/images/logo.png" style="height: 75px; width: 205px; margin-top: 0px;" />
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                @{
                    InventoryCubeEntities db = new InventoryCubeEntities();
                    List<string> catName = new List<string>() { "Home" };
                    List<string> subCatName = new List<string>() { "Home" };
                    string controllername = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
                    string actionname = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
                    var paramvalue = ViewContext.RouteData.Values;
                    var querystring = Request.QueryString;

                    var prmlist = (querystring.AllKeys.Count() > 0 ? querystring.AllKeys.Aggregate((i, j) => i + "," + j) : "");
                    var prmvlist = new Dictionary<string, string>();
                    for (int i = 0; i < querystring.Keys.Count; i++)
                    {
                        prmvlist.Add(querystring.Keys[i], querystring[i]);
                    }

                    if (paramvalue != null && paramvalue["id"] != null)
                    {
                        prmvlist.Add("id", paramvalue["id"].ToString());
                    }

                    var activemenucode = db.MenuWiseActions.Where(l => l.User_Action.ActionName == actionname && l.User_Action.User_Controller.ControllerName == controllername).Select(c => c.MenuDetail.MenuCode).DefaultIfEmpty("").FirstOrDefault();

                    if (prmvlist.Count > 0)
                    {
                        var activemenu = db.MenuWiseActions.Where(l => l.User_Action.ActionName == actionname && l.User_Action.User_Controller.ControllerName == controllername);

                        foreach (var am in activemenu)
                        {
                            var plist = new Dictionary<string, string>();
                            var pmlist = am.MenuDetail.DefaultParameter.Split(',');
                            var pmvlist = am.MenuDetail.DefaultParameterValue.Split(',');
                            for (int i = 0; i < pmlist.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(pmlist[i]) && pmvlist != null && pmvlist.Count() > i && !string.IsNullOrEmpty(pmvlist[i]))
                                {
                                    plist.Add(pmlist[i], pmvlist[i]);
                                }
                            }

                            if (plist.Count == prmvlist.Count)
                            {
                                int cnt = 0;
                                foreach (var d in prmvlist)
                                {
                                    if (!plist.ContainsKey(d.Key))
                                    {
                                        break;
                                    }
                                    else if (plist.Where(l => l.Key == d.Key).First().Value.Equals(d.Value))
                                    {
                                        cnt++;
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }

                                if (cnt == plist.Count)
                                {
                                    activemenucode = am.MenuDetail.MenuCode;
                                    break;
                                }
                            }
                        }
                    }

                    var m = (from p in db.User_Permission.AsEnumerable()
                             join q in db.User_Role_Details.AsEnumerable() on p.RoleId equals q.RoleId into r
                             from s in r.DefaultIfEmpty()
                             join t in db.MenuWiseActions.AsEnumerable() on (s == null ? p.ActionId : s.ActionId) equals t.ActionId
                             where p.UserId == clsMain.getCurrentUser()
                             select new { MenuCode = t.MenuDetail.MenuCode, PCode = t.MenuDetail.MenuPCode }
                                 ).Distinct().ToList();

                    var menu = (from p in db.MenuDetails.AsEnumerable()
                                join r in db.User_Action.AsEnumerable() on p.DefaultActionId equals r.ActionId into t
                                from q in t.DefaultIfEmpty()
                                //join r in m.AsEnumerable() on p.MenuCode equals r.Substring(0, p.menucode)
                                where m.Select(c => (c.MenuCode.StartsWith(p.MenuCode) ? p.MenuCode : "")).Contains(p.MenuCode)
                                //m.Select(c => c.MenuCode).Contains(p.MenuCode) || m.Select(c => c.PCode).Contains(p.MenuCode)
                                //|| m.Select(c => (c.PCode.Length == 4 ? c.PCode.Substring(0, 2) : c.PCode)).Contains(p.MenuCode)
                                select new { p, q, css = (activemenucode != "" ? activemenucode.StartsWith(p.MenuCode) ? "active" : "" : "") }
                        ).ToList();
                }

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Inventory</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("Create", "GRR")"><i class="fa fa-circle-o"></i> MRR Entry</a></li>
                            @*<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>*@
                        </ul>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("Create", "SRR")"><i class="fa fa-circle-o"></i> Requition For Production</a></li>
                            @*<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>*@
                        </ul>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("SRRForOthers", "SRR")"><i class="fa fa-circle-o"></i> Requition For Other Purpose</a></li>
                            @*<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>*@
                        </ul>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("Create", "Issue")"><i class="fa fa-circle-o"></i> Material Issue</a></li>
                            @*<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>*@
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "User" };
                    }


                    @foreach (var item in menu.Where(l => l.p.MenuPId == 0).OrderBy(c => c.p.MenuId))
                    {
                        <li class="@item.css treeview">
                            @if (menu.Where(l => l.p.MenuPId == item.p.MenuId).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                            {
                                <a href="#">
                                    <i class="fa @item.p.CSSClass"></i>
                                    <span>@item.p.MenuTitle</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                            }
                            else
                            {
                                <a href="#">
                                    <i class="fa @item.p.CSSClass"></i>
                                    <span>@item.p.MenuTitle</span>
                                </a>
                            }

                            <ul class="treeview-menu">
                                @foreach (var uc in menu.Where(l => l.p.MenuPId == item.p.MenuId).OrderBy(c => c.p.MenuId))
                                {
                                    if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() == 0 && uc.p.DefaultActionId > 0)
                                    {
                                        string param = "", sep = "", qt = "?", url = "";
                                        var plist = uc.p.DefaultParameter.Split(',');
                                        var pvlist = uc.p.DefaultParameterValue.Split(',');

                                        if (pvlist.Count() > 0)
                                        {
                                            for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                            {
                                                if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                {
                                                    if (plist[ri].Trim() == "id")
                                                    {
                                                        url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                    }
                                                    else
                                                    {
                                                        param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                        sep = "&"; qt = "";
                                                    }
                                                }
                                            }
                                        }

                                        if (url == "")
                                        {
                                            url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName);
                                        }

                                        <li typeof="@uc.q.User_Controller.ControllerName" class="@uc.css"><a href="@url@param"><i class="fa fa-circle-o"></i> @uc.p.MenuTitle</a></li>
                                    }
                                    else if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() > 0)
                                    {
                                        <li class="@uc.css">
                                            <a href="#">
                                                <i class="fa fa-circle-o"></i> @uc.p.MenuTitle
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </a>
                                            <ul class="@(uc.css == "active" ? "menu-open" : "") treeview-menu" style="display: @(uc.css == "active" ? "block" : "none");">
                                                @foreach (var ua in menu.Where(l => l.p.MenuPId == uc.p.MenuId).OrderBy(c => c.p.MenuId))
                                                {
                                                    string param = "", sep = "", qt = "?", url = "";
                                                    var plist = ua.p.DefaultParameter.Split(',');
                                                    var pvlist = ua.p.DefaultParameterValue.Split(',');

                                                    if (pvlist.Count() > 0)
                                                    {
                                                        for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                                        {
                                                            if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                            {
                                                                if (plist[ri].Trim() == "id")
                                                                {
                                                                    url = Url.Action(ua.q.ActionName, ua.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                                }
                                                                else
                                                                {
                                                                    param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                                    sep = "&"; qt = "";
                                                                }
                                                            }
                                                        }
                                                    }

                                                    if (url == "")
                                                    {
                                                        url = Url.Action(ua.q.ActionName, ua.q.User_Controller.ControllerName);
                                                    }

                                                    <li typeof="@ua.q.User_Controller.ControllerName" class="@ua.css"><a href="@url@param"><i class="fa fa-caret-square-o-right"></i> @ua.p.MenuTitle</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div id="loginpartial" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 50001 !important;">
            <div class="modal-dialog" style="width: 25%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3 class="modal-title" style="text-align: center;">LOGIN</h3>
                    </div>
                    <div id="user" class="modal-body" style="padding: 10px;">
                        <div class="login-box" style="margin: 0% auto; width: 320px;">
                            <div class="login-box-body">
                                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group has-feedback">
                                        <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User ID">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8" style="margin-top: 10px !important; padding-left: 14px;">
                                            <span id="lmsg" style="color: red;" data-valmsg-for="lmsg" data-valmsg-replace="true"></span>
                                        </div><!-- /.col -->
                                        <div class="col-xs-4" style="padding-right: 14px;">
                                            <button id="btnplogin" type="button" style="margin-top: 10px;" class="btn btn-success btn-block btn-flat">
                                                Sign In
                                            </button>
                                        </div><!-- /.col -->
                                    </div>
                                }
                            </div><!-- /.login-box-body -->
                        </div><!-- /.login-box -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Content Wrapper. Contains page content -->
        <div id="content" class="content-wrapper" style="margin-bottom: 49px;">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <img src="~/common/theme/images/a.jpg" style="display: inline-block; margin-bottom: 7px; max-width: 100%;vertical-align: middle; border: 0;" class="theme-divider">
            <div class="pull-right hidden-xs" style="margin-right: 5px;">
                Version 2.1.0
            </div>
            <span style="margin-left: 5px;">Copyright &copy; 2015-2016 <a>KDS Accessories Ltd.</a> All rights reserved.</span>
        </footer>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- // Themer END -->
    @Scripts.Render("~/common/footerscripts")
    @RenderSection("scripts", required: false)
    @RenderSection("CSS", required: false)
    <script>
        @*alert(@ViewData["OpenAuthorizationPopup"]);*@
        if ($('#ut').html() == '') {
            //window.location.href = "@Url.Action("Login", "User")";
            $('#loginpartial').modal('show');
        };

        //$('.hasSubmenu').click(function () {
        //    $('.hasSubmenu').removeClass('active');
        //    $('.hasSubmenu').removeClass('active');
        //});

        $('#btnplogin').click(function () {
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });


        $('#mid').click(function () {
            return;
            var mlist = [], rn = 0, rn0 = 0, rn1 = 0, rn2 = 0, pid1 = 0, pcode1 = '', pid2 = 0, pcode2 = '';
            $('ul.sidebar-menu').find('.treeview').each(function () {
                //alert($(this).find('span').html());
                //console.log('treeview - >' + $.trim($(this).find('span').text()));//.replace(/<[^>]*>/g, "")
                var mid = ++rn; rn0++;
                var mcode = (rn0 + 100).toString().slice(-2);
                var arrayOfThisRow = {
                    MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).find('span').text()),
                    MenuTitle: $.trim($(this).find('span').text()), MenuPId: 0,
                    MenuPCode: '-', ModCatId: 0, MenuTypeId: 1,
                    MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                };
                mlist.push(arrayOfThisRow);

                if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                    pid1 = mid, pcode1 = mcode, rn1 = 0;
                }

                $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                    //alert($(this).find('a:first').html());
                    //console.log('   a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")var mcode = (rn + 100).toString().slice(-2);
                    mid = ++rn; rn1++;
                    mcode = pcode1 + (rn1 + 100).toString().slice(-2);
                    arrayOfThisRow = {
                        MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                        MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid1,
                        MenuPCode: pcode1, ModCatId: 0, MenuTypeId: 1,
                        MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                    };
                    mlist.push(arrayOfThisRow);
                    if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                        pid2 = mid; pcode2 = mcode, rn2 = 0;
                    }

                    $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                        //alert($(this).find('a:first').html());
                        //console.log('       a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")
                        mid = ++rn; rn2++;
                        mcode = pcode2 + (rn2 + 100).toString().slice(-2);
                        arrayOfThisRow = {
                            MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                            MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid2,
                            MenuPCode: pcode2, ModCatId: 0, MenuTypeId: 1,
                            MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                        };
                        mlist.push(arrayOfThisRow);
                    })
                })
            })

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuInsert")',
                data: JSON.stringify({ menuDetail: mlist }),
                success: function (msg) {
                    alert(msg.status);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            console.log(JSON.stringify(mlist));
        })

        document.oncontextmenu = RightMouseDown;
        document.onmousedown = mouseDown;

        function mouseDown(e) {
            if (e.which == 3) {//righClick
                //alert("Disabled - do whatever you like here..");
            }
        }
        function RightMouseDown() { return false; }
    </script>
</body>

</html>