﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

@*<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="author" content="PIXINVENT">
    <title>Fund Management System</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/fonts.css">
    @Styles.Render("~/vendor/css")
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/validation/form-validation.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/pickers/pickadate/pickadate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/pickers/daterange/daterange.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/animate/animate.css">
    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
</head>*@

@*<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="/ipms/common/theme/images/favicon.ico">
    <title>Inventory &amp; Procurement Managing System</title>
    <link href="/ipms/common/theme/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/ipms/common/theme/plugins/select2/select2.css" rel="stylesheet">
    <link href="/ipms/Common/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/ipms/common/theme/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/ipms/common/theme/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="/ipms/common/css/style.css" rel="stylesheet">
    <link href="/ipms/common/theme/plugins/bootstrap-swich/css/bootstrap-switch.css" rel="stylesheet">
    <link href="/ipms/common/theme/plugins/morris/morris.css" rel="stylesheet">
    <link href="/ipms/common/theme/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/ipms/common/theme/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/ipms/common/theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet">
    <link href="/ipms/common/theme/css/AdminLTE.css" rel="stylesheet">
    <link href="/ipms/common/theme/css/skins/_all-skins.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/ipms/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">

    <script src="/ipms/common/theme/plugins/jQuery/jQuery-2.1.4.min.js"></script>
</head>*@

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="/ims/common/theme/images/favicon.ico">
    <title>Inventroy & Procurement Management System</title>
    @*<link rel="apple-touch-icon" href="/ims/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="icon" href="/ims/Content/app-assets/images/ico/favicon.ico">*@
    <link rel="stylesheet" type="text/css" href="/ims/Content/app-assets/css/fonts.css">

    <link href="/ims/Content/app-assets/vendors/css/ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/ims/Content/app-assets/css/vendors.css" rel="stylesheet">
    <link href="/ims/Content/app-assets/css/app.css" rel="stylesheet">
    <link href="/ims/Content/app-assets/css/core/menu/menu-types/horizontal-top-icon-menu.css" rel="stylesheet">
    <link href="/ims/Content/app-assets/css/style.css" rel="stylesheet">

    @*<link href="/ims/common/theme/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/ims/common/theme/plugins/select2/select2.css" rel="stylesheet">
    <link href="/ims/Common/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/ims/common/theme/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/ims/common/theme/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="/ims/common/css/style.css" rel="stylesheet">
    <link href="/ims/common/theme/plugins/bootstrap-swich/css/bootstrap-switch.css" rel="stylesheet">
    <link href="/ims/common/theme/plugins/morris/morris.css" rel="stylesheet">
    <link href="/ims/common/theme/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/ims/common/theme/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/ims/common/theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet">
    <link href="/ims/common/theme/css/AdminLTE.css" rel="stylesheet">
    <link href="/ims/common/theme/css/skins/_all-skins.min.css" rel="stylesheet">*@

    <link rel="stylesheet" href="/ims/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">
    <!-- BEGIN VENDOR JS-->

    <script src="~/Content/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
</head>

<body class="horizontal-layout horizontal-top-icon-menu 2-columns menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-dark bg-blue-grey bg-lighten-1 navbar-border navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="index-2.html">
                            <img class="brand-logo" alt="robust admin logo" src="/fund/Content/app-assets/images/logo/logo-light-sm.png">
                            <h3 class="brand-text">Fund Management System</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item nav-search">
                            <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input class="input" type="text" placeholder="Explore Robust...">
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        @{string emppicurl = (@Session["UserName"] != null ? "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"].ToString().ToLower() == "noman" ? "XHQ1029-11" : @Session["UserName"]) + ".jpg" : "/fund/Content/app-assets/images/expire.png");}

                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar avatar-online"><img src="@emppicurl" alt=""><i></i></span><span class="user-name">@(Session["UserTitle"] == null ? "Session" + Environment.NewLine + "Expire" : @Session["UserTitle"])</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })"><i class="ft-user"></i> My Profile</a>
                                <a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })"><i class="ft-check-square"></i> Change Password</a>
                                <a class="dropdown-item" href=""><i class="ft-message-square"></i> Chats</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("LogOff", "User")"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Horizontal navigation-->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow navbar-brand-center navbar-dark" role="navigation" data-menu="menu-wrapper">
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content" data-menu="menu-container" style="width: 50% !important;">
            <!-- include ../../../includes/mixins-->
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="index-2.html" data-toggle="dropdown"><i class="icon-home"></i><span data-i18n="nav.dash.main">Dashboard</span></a>
                    <ul class="dropdown-menu">
                        <li class="active" data-menu="">
                            <a class="dropdown-item" href="#" data-toggle="dropdown">Dashboard 1</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle="dropdown">Dashboard 2</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-wrench"></i><span data-i18n="nav.templates.main">Setup</span></a>
                    <ul class="dropdown-menu">
                        <li class="" data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Banks")" data-toggle="dropdown">Bank</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "BankAccount")" data-toggle="dropdown">Bank Account</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Sanction")" data-toggle="dropdown">Sanction Details</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "MonthlyExpenses")" data-toggle="dropdown">Monthly Expenses</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "CashFlowShortages")" data-toggle="dropdown">Cash Flow Shortages</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Manage", "Budget", new { id = "amount" })" data-toggle="dropdown">Import Budget (Value)</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Manage", "Budget", new { id = "quantity" })" data-toggle="dropdown">Import Budget (Quantity)</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "DailyAccountPosition")" data-toggle="dropdown">Daily Uses Balance</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Cheque")" data-toggle="dropdown">Cheque Info</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.layouts.temp">Entry</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "GRR")" data-toggle="dropdown">GRR Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("CSForLC", "PI")" data-toggle="dropdown">CS For LC Opening</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LC")" data-toggle="dropdown">LC Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LCAcceptance")" data-toggle="dropdown">Acceptance Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Loan")" data-toggle="dropdown">Loan Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "OverDraft")" data-toggle="dropdown">Over Draft Info</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Manage", "OverDraft")" data-toggle="dropdown">OD Closing Balance</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Payment")" data-toggle="dropdown">Payment Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Adjustment")" data-toggle="dropdown">Adjustment Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction")" data-toggle="dropdown">Cheque Instruction</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("ApprovalPending", "ChequeInstruction")" data-toggle="dropdown">Cheque Instruction Approval</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("PendingInstruction", "ChequePayment")" data-toggle="dropdown">Cheque Payment</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Cancel", "Cheque")" data-toggle="dropdown">Cheque Cancel</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-grid"></i><span data-i18n="nav.layouts.temp">Option</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Settlement", "Loan")" data-toggle="dropdown">Loan Settlement</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Transfer", "Loan")" data-toggle="dropdown">Loan Transfer</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("InterestGenerate", "Loan")" data-toggle="dropdown">Generate Interest</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "CashFlow")" data-toggle="dropdown">Cash Flow Entry</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LiabilityReconciliation")" data-toggle="dropdown">Liability Reconciliation Entry</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "DailyFundPosition")" data-toggle="dropdown">Daily Fund Entry</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("LandedCosting", "LCAcceptance")" data-toggle="dropdown">Landed Costing</a>
                        </li>
                    </ul>
                </li>
                @*<li class="dropdown nav-item" data-menu="dropdown">*@
                <li class="dropdown mega-dropdown nav-item" data-menu="megamenu">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="fa fa-laptop"></i><span data-i18n="nav.category.support">Report</span></a>
                    <ul class="mega-dropdown-menu dropdown-menu row" style="margin: 0 !important;">
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PIInHand", "Report")" data-toggle="dropdown">PI In Hand</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CSProfile", "Report")" data-toggle="dropdown">Comparative Statement</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PIForward", "Report")" data-toggle="dropdown">PI Forward To Bank</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Bank", "Report")" data-toggle="dropdown">Bank Info</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LC", "Report")" data-toggle="dropdown">LC Reports</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Acceptance", "Report")" data-toggle="dropdown">Acceptance Reports</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanRegister", "Report")" data-toggle="dropdown">Loan Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanPosition", "Report")" data-toggle="dropdown">Loan Position</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("InterestDetails", "Report")" data-toggle="dropdown">Monthly Interest Details</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PaymentRegister", "Report")" data-toggle="dropdown">Payment Register</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PaymentForecasting", "Report")" data-toggle="dropdown">Next 6/12 Month Forecasting</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanRepayment", "Report")" data-toggle="dropdown">Daily Loan Repayment</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Adjustment", "Report")" data-toggle="dropdown">Adjustment Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("SanctionRegister", "Report")" data-toggle="dropdown">Sanction Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("ChequeRegister", "Report")" data-toggle="dropdown">Cheque Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("TotalChequeDue", "Report")" data-toggle="dropdown">Total Cheque Due</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("BusinessPerformance", "Report")" data-toggle="dropdown">Business Performance</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CashFlowForecast", "Report")" data-toggle="dropdown">Cash Flow Forecast</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LiabilityReconciliation", "Report")" data-toggle="dropdown">Liability Reconciliation Report</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("DailyFundPosition", "Report")" data-toggle="dropdown">Daily Fund Position</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LandedCosting", "Report")" data-toggle="dropdown">Landed Costing</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LiabilityCompare", "Report")" data-toggle="dropdown">Liability Compare</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("RatioAnalysis", "Report")" data-toggle="dropdown">Liability Ratio Analysis</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("UnUtilizeInsurance", "Report")" data-toggle="dropdown">Un Utilize Insurance Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("History", "Cheque")" data-toggle="dropdown">Cheque Wise Cheque History</a>
                                        </li>
                                        @*<li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Adjustment", "Report")" data-toggle="dropdown">Adjustment Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("SanctionRegister", "Report")" data-toggle="dropdown">Sanction Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("ChequeRegister", "Report")" data-toggle="dropdown">Cheque Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("TotalChequeDue", "Report")" data-toggle="dropdown">Total Cheque Due</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("BusinessPerformance", "Report")" data-toggle="dropdown">Business Performance</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CashFlowForecast", "Report")" data-toggle="dropdown">Cash Flow Forecast</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LiabilityReconciliation", "Report")" data-toggle="dropdown">Liability Reconciliation Report</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("DailyFundPosition", "Report")" data-toggle="dropdown">Daily Fund Position</a>
                                        </li>*@
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="fa fa-buysellads"></i><span data-i18n="nav.category.support">Administration</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "CustomType")" data-toggle="dropdown">Type</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LC")" data-toggle="dropdown">Role</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LCAcceptance")" data-toggle="dropdown">Role -> Permission</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Loan")" data-toggle="dropdown">Menu Tracking</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Loan")" data-toggle="dropdown">User -> Access</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Payment")" data-toggle="dropdown">Menu</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-container main-menu-content float-right" data-menu="menu-container" style="width: 50% !important;">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation" style="float: right;">
                <li class="dropdown nav-item" data-menu="dropdown">
                    <img src="/fund/Content/app-assets/images/logo.png" style="height: 60px; width: 165px; margin-top: 0px;">
                </li>
            </ul>
        </div>
        <!-- /horizontal menu content-->
    </div>
    <!-- Horizontal navigation-->

    <div class="skin-green sidebar-mini">
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div id="content" class="content-wrapper" style="margin-bottom: 49px;">
                @RenderBody()
            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                <img src="~/common/theme/images/a.jpg" style="display: inline-block; margin-bottom: 7px; max-width: 100%;vertical-align: middle; border: 0;" class="theme-divider">
                <div class="pull-right hidden-xs" style="margin-right: 5px;">
                    Version 2.1.0
                </div>
                <span style="margin-left: 5px;">Copyright &copy; 2015-2016 <a>KDS Accessories Ltd.</a> All rights reserved.</span>
            </footer>
            <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    </div>

    <!-- BEGIN PAGE VENDOR JS-->
    @*<script type="text/javascript" src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/Content/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript"></script>*@
    
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    @*<script type="text/javascript" src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/forms/validation/form-validation.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script type="text/javascript" src="~/Content/app-assets/js/myjs.js"></script>*@
    <!-- END PAGE LEVEL JS-->
    @RenderSection("Scripts", required: false)
    @RenderSection("CSS", required: false)


    <script>
        //$('#loginpartial').modal('show');

        function alertMesg() {
            alert("This ok function alerts my message!");
        }

        //alertMesg(); // alerts "This ok function alerts my message!"

        $('#btnpcancel').click(function () {
            //$("#btnplogin").trigger("click");

            // do whatever you want to the function here
            var temp = alertMesg.toString();
            temp = temp.replace('my', 'your');

            // now replace the original function
            alertMesg = new Function(temp.substring(temp.indexOf('{') + 1, temp.lastIndexOf('}')));

            alertMesg();
        });

        $('#btnplogin').click(function () {
            //alert('Here');
            //return;
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
</body>
</html>