﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LC Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script>
        $(document).unbind('keydown').bind('keydown', function (event) {
            var doPrevent = false;
            if (event.keyCode === 8) {
                var d = event.srcElement || event.target;
                if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'NUMBER' || d.type.toUpperCase() === 'PASSWORD' || d.type.toUpperCase() === 'FILE' || d.type.toUpperCase() === 'EMAIL'))
                     || d.tagName.toUpperCase() === 'TEXTAREA') {
                    doPrevent = d.readOnly || d.disabled;
                }
                else {
                    doPrevent = true;
                }
            }

            if (doPrevent) {
                event.preventDefault();
            }
        });
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-left:auto;margin-right:auto;">
        <div class="container">
            @*@Html.ActionLink("Application name", "Index", "TestTable", null, new { @class = "navbar-brand" })
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>*@
            <div><p>@Html.ActionLink("LC Management System", "Index", "TestTable", null, new { @class = "navbar-brand" })</p></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Maintanance</a>
                        @Html.Bootstrap().DropDownMenu().MenuItems(m =>
                            {
                                m.MenuItem(Html.ActionLink("Country", "Index", "Country"));
                                m.Divider();
                                m.MenuItem(Html.ActionLink("Category", "Index", "Category"));
                                m.MenuItem(Html.ActionLink("Product", "Index", "Product"));
                                m.Divider();
                                m.MenuItem(Html.ActionLink("Supplier", "Index", "Supplier"));
                                m.MenuItem(Html.ActionLink("Agent", "Index", "Agent"));
                                m.Divider();
                                m.MenuItem(Html.ActionLink("Port", "Index", "Port"));
                                m.Divider();
                                m.MenuItem(Html.ActionLink("Bank", "Index", "Bank"));
                                m.MenuItem(Html.ActionLink("Branch", "Index", "BankBranch"));
                                //m.Divider();
                                //m.MenuItem(Html.ActionLink("Country", "Index", "Country"));
                            })
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu1" data-toggle="dropdown">Entry</a>
                        @Html.Bootstrap().DropDownMenu().MenuItems(m =>
                            {
                                m.MenuItem(Html.ActionLink("LC Information", "Index", "LC"));
                                m.Divider();
                                m.MenuItem(Html.ActionLink("Test", "Index", "Test"));
                                //m.MenuItem(Html.ActionLink("Product", "Index", "Product"));
                                //m.Divider();
                                //m.MenuItem(Html.ActionLink("Supplier", "Index", "Supplier"));
                                //m.MenuItem(Html.ActionLink("Agent", "Index", "Agent"));
                                //m.Divider();
                                //m.MenuItem(Html.ActionLink("Port", "Index", "Port"));
                                //m.Divider();
                                //m.MenuItem(Html.ActionLink("Bank", "Index", "Bank"));
                                //m.MenuItem(Html.ActionLink("Branch", "Index", "BankBranch"));
                                //m.Divider();
                                //m.MenuItem(Html.ActionLink("Country", "Index", "Country"));
                            })
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("CSS", required: false)
</body>
</html>
