﻿@using InventoryMS.Models
@using System.Linq
@using System.Collections.Generic;

<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/bs4/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2018 04:59:47 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Adminto - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @Styles.Render("~/common/css")

    <!-- App css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/common/headerscripts")
</head>

<body>
    @{
        InventoryCubeEntities db = new InventoryCubeEntities();
        List<string> catName = new List<string>() { "Home" };
        List<string> subCatName = new List<string>() { "Home" };
        string controllername = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
        string actionname = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
        var paramvalue = ViewContext.RouteData.Values;
        var querystring = Request.QueryString;

        var prmlist = (querystring.AllKeys.Count() > 0 ? querystring.AllKeys.Aggregate((i, j) => i + "," + j) : "");
        var prmvlist = new Dictionary<string, string>();
        for (int i = 0; i < querystring.Keys.Count; i++)
        {
            prmvlist.Add(querystring.Keys[i], querystring[i]);
        }

        if (paramvalue != null && paramvalue["id"] != null)
        {
            prmvlist.Add("id", paramvalue["id"].ToString());
        }

        var activemenucode = db.MenuWiseActions.Where(l => l.User_Action.ActionName == actionname && l.User_Action.User_Controller.ControllerName == controllername).Select(c => c.MenuDetail.MenuCode).DefaultIfEmpty("").FirstOrDefault();

        if (prmvlist.Count > 0)
        {
            var activemenu = db.MenuWiseActions.Where(l => l.User_Action.ActionName == actionname && l.User_Action.User_Controller.ControllerName == controllername);

            foreach (var am in activemenu)
            {
                var plist = new Dictionary<string, string>();
                var pmlist = am.MenuDetail.DefaultParameter.Split(',');
                var pmvlist = am.MenuDetail.DefaultParameterValue.Split(',');
                for (int i = 0; i < pmlist.Count(); i++)
                {
                    if (!string.IsNullOrEmpty(pmlist[i]) && pmvlist != null && pmvlist.Count() > i && !string.IsNullOrEmpty(pmvlist[i]))
                    {
                        plist.Add(pmlist[i], pmvlist[i]);
                    }
                }

                if (plist.Count == prmvlist.Count)
                {
                    int cnt = 0;
                    foreach (var d in prmvlist)
                    {
                        if (!plist.ContainsKey(d.Key))
                        {
                            break;
                        }
                        else if (plist.Where(l => l.Key == d.Key).First().Value.Equals(d.Value))
                        {
                            cnt++;
                        }
                        else
                        {
                            break;
                        }
                    }

                    if (cnt == plist.Count)
                    {
                        activemenucode = am.MenuDetail.MenuCode;
                        break;
                    }
                }
            }
        }

        var m = (from p in db.User_Permission.AsEnumerable()
                 join q in db.User_Role_Details.AsEnumerable() on p.RoleId equals q.RoleId into r
                 from s in r.DefaultIfEmpty()
                 join t in db.MenuWiseActions.AsEnumerable() on (s == null ? p.ActionId : s.ActionId) equals t.ActionId
                 where p.UserId == clsMain.getCurrentUser()
                 select new { MenuCode = t.MenuDetail.MenuCode, PCode = t.MenuDetail.MenuPCode }
                     ).Distinct().ToList();

        var menu = (from p in db.MenuDetails.AsEnumerable()
                    join r in db.User_Action.AsEnumerable() on p.DefaultActionId equals r.ActionId into t
                    from q in t.DefaultIfEmpty()
                        //join r in m.AsEnumerable() on p.MenuCode equals r.Substring(0, p.menucode)
                    where m.Select(c => (c.MenuCode.StartsWith(p.MenuCode) ? p.MenuCode : "")).Contains(p.MenuCode)
                    //m.Select(c => c.MenuCode).Contains(p.MenuCode) || m.Select(c => c.PCode).Contains(p.MenuCode)
                    //|| m.Select(c => (c.PCode.Length == 4 ? c.PCode.Substring(0, 2) : c.PCode)).Contains(p.MenuCode)
                    select new { p, q, css = (activemenucode != "" ? activemenucode.StartsWith(p.MenuCode) ? "active" : "" : "") }
            ).ToList();
    }
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main" style="background:#00A65A;">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <!-- Image Logo -->
                    @*<a href="@Url.Action("Index", "Home")" class="logo" style="padding-left: 0px;">
                            <span class="logo-mini"><b>IPMS</b></span>
                        </a>*@
                    <a href="@Url.Action("Index", "Home")" class="logo" style="padding-left: 0px;">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        @*<span class="logo-mini"><b>IPMS</b></span>*@
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg" style="text-align: center;">
                            @*<img src="~/common/theme/images/caption.png" style="height: 35px; width: 215px; margin-top: -4px;" />*@
                            @*<span style="color: white"><b>Inventory & Procurement</b></span><br/> Managing System*@
                            <span style="color: white"><b>I P M S</b></span>
                        </span>
                    </a>

                </div>
                <!-- End Logo container-->


                <div class="menu-extras topbar-custom">

                    <ul class="list-unstyled topbar-right-menu float-right mb-0">

                        <li class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>

                        <li class="dropdown notification-list">
                            @{string emppicurl = "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"] != null ? @Session["UserName"].ToString() == "noman" ? "XHQ1029-11" : @Session["UserName"] : "XHQ1029-11") + ".jpg";}
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src=@emppicurl alt="user" class="rounded-circle">

                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ti-user m-r-5"></i> Profile
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ti-settings m-r-5"></i> Settings
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ti-lock m-r-5"></i> Lock screen
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ti-power-off m-r-5"></i> Logout
                                </a>

                            </div>
                        </li>

                    </ul>
                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="#"><i class="mdi mdi-invert-colors"></i> <span> Inventory </span> </a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href=@Url.Action("Create", "GRR")>MRR Entry</a></li>
                                        <li><a href=@Url.Action("Create", "SRR")>Requition For Production</a></li>
                                        <li><a href=@Url.Action("SRRForOthers", "SRR")>Requition For Other Purpose</a></li>
                                        <li><a href=@Url.Action("Create", "Issue")>Material Issue </a></li>
                                    </ul>
                                </li>
                                @*@{
                                    catName = new List<string>() { "User" };
                                }


                                @foreach (var item in menu.Where(l => l.p.MenuPId == 0).OrderBy(c => c.p.MenuId))
                                {
                                    <li class="@item.css treeview">
                                        @if (menu.Where(l => l.p.MenuPId == item.p.MenuId).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                        {
                                            <a href="#">
                                                <i class="fa @item.p.CSSClass"></i>
                                                <span>@item.p.MenuTitle</span>
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#">
                                                <i class="fa @item.p.CSSClass"></i>
                                                <span>@item.p.MenuTitle</span>
                                            </a>
                                        }

                                        <ul class="treeview-menu">
                                            @foreach (var uc in menu.Where(l => l.p.MenuPId == item.p.MenuId).OrderBy(c => c.p.MenuId))
                                            {
                                                if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() == 0 && uc.p.DefaultActionId > 0)
                                                {
                                                    string param = "", sep = "", qt = "?", url = "";
                                                    var plist = uc.p.DefaultParameter.Split(',');
                                                    var pvlist = uc.p.DefaultParameterValue.Split(',');

                                                    if (pvlist.Count() > 0)
                                                    {
                                                        for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                                        {
                                                            if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                            {
                                                                if (plist[ri].Trim() == "id")
                                                                {
                                                                    url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                                }
                                                                else
                                                                {
                                                                    param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                                    sep = "&"; qt = "";
                                                                }
                                                            }
                                                        }
                                                    }

                                                    if (url == "")
                                                    {
                                                        url = Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName);
                                                    }

                                                    <li typeof="@uc.q.User_Controller.ControllerName" class="@uc.css"><a href="@url@param"><i class="fa fa-circle-o"></i> @uc.p.MenuTitle</a></li>
                                                }
                                                else if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() > 0)
                                                {
                                                    <li class="@uc.css">
                                                        <a href="#">
                                                            <i class="fa fa-circle-o"></i> @uc.p.MenuTitle
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </a>
                                                        <ul class="@(uc.css == "active" ? "menu-open" : "") treeview-menu" style="display: @(uc.css == "active" ? "block" : "none");">
                                                            @foreach (var ua in menu.Where(l => l.p.MenuPId == uc.p.MenuId).OrderBy(c => c.p.MenuId))
                                                            {
                                                                string param = "", sep = "", qt = "?", url = "";
                                                                var plist = ua.p.DefaultParameter.Split(',');
                                                                var pvlist = ua.p.DefaultParameterValue.Split(',');

                                                                if (pvlist.Count() > 0)
                                                                {
                                                                    for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                                                    {
                                                                        if (pvlist.Length > ri && pvlist[ri] != null && !String.IsNullOrEmpty(pvlist[ri]))
                                                                        {
                                                                            if (plist[ri].Trim() == "id")
                                                                            {
                                                                                url = Url.Action(ua.q.ActionName, ua.q.User_Controller.ControllerName, new { id = pvlist[ri] });
                                                                            }
                                                                            else
                                                                            {
                                                                                param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                                                sep = "&"; qt = "";
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                if (url == "")
                                                                {
                                                                    url = Url.Action(ua.q.ActionName, ua.q.User_Controller.ControllerName);
                                                                }

                                                                <li typeof="@ua.q.User_Controller.ControllerName" class="@ua.css"><a href="@url@param"><i class="fa fa-caret-square-o-right"></i> @ua.p.MenuTitle</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }*@
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="mdi mdi-layers"></i><span>Extra Pages </span> </a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href="extras-projects.html">Projects</a></li>
                                        <li><a href="extras-tour.html">Tour</a></li>
                                        <li><a href="extras-taskboard.html">Taskboard</a></li>
                                        <li><a href="extras-inbox.html">Mail</a></li>
                                        <li><a href="extras-taskdetail.html">Task Detail</a></li>
                                        <li><a href="extras-maps.html">Maps</a></li>
                                        <li><a href="extras-calendar.html">Calendar</a></li>
                                        <li><a href="extras-contact.html">Contact list</a></li>
                                        <li><a href="extras-pricing.html">Pricing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="extras-timeline.html">Timeline</a></li>
                                        <li><a href="extras-invoice.html">Invoice</a></li>
                                        <li><a href="extras-profile.html">Profile</a></li>
                                        <li><a href="extras-faq.html">FAQ</a></li>
                                        <li><a href="extras-gallery.html">Gallery</a></li>
                                        <li><a href="extras-email-template.html">Email template</a></li>
                                        <li><a href="extras-maintenance.html">Maintenance</a></li>
                                        <li><a href="extras-comingsoon.html">Coming soon</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->


    <div class="wrapper">
        <div class="container-fluid">
            @RenderBody()

        </div>
    </div>
    <!-- end wrapper -->

    <div id="loginpartial" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 50001 !important;">
        <div class="modal-dialog" style="width: 25%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3 class="modal-title" style="text-align: center;">LOGIN</h3>
                </div>
                <div id="user" class="modal-body" style="padding: 10px;">
                    <div class="login-box" style="margin: 0% auto; width: 320px;">
                        <div class="login-box-body">
                            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group has-feedback">
                                    <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User ID">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8" style="margin-top: 10px !important; padding-left: 14px;">
                                        <span id="lmsg" style="color: red;" data-valmsg-for="lmsg" data-valmsg-replace="true"></span>
                                    </div><!-- /.col -->
                                    <div class="col-xs-4" style="padding-right: 14px;">
                                        <button id="btnplogin" type="button" style="margin-top: 10px;" class="btn btn-success btn-block btn-flat">
                                            Sign In
                                        </button>
                                    </div><!-- /.col -->
                                </div>
                            }
                        </div><!-- /.login-box-body -->
                    </div><!-- /.login-box -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Footer -->
    <footer class="main-footer">
        <img src="~/common/theme/images/a.jpg" style="display: inline-block; margin-bottom: 7px; max-width: 100%;vertical-align: middle; border: 0;" class="theme-divider">
        <div class="pull-right hidden-xs" style="margin-right: 5px;">
            Version 2.1.0
        </div>
        <span style="margin-left: 5px;">Copyright &copy; 2015-2016 <a>KDS Accessories Ltd.</a> All rights reserved.</span>
    </footer>
    <!-- End Footer -->
    @Scripts.Render("~/common/footerscripts")
    @RenderSection("scripts", required: false)
    @RenderSection("CSS", required: false)
    <script>
        @*alert(@ViewData["OpenAuthorizationPopup"]);*@
        if ($('#ut').html() == '') {
            //window.location.href = "@Url.Action("Login", "User")";
            $('#loginpartial').modal('show');
        };

        //$('.hasSubmenu').click(function () {
        //    $('.hasSubmenu').removeClass('active');
        //    $('.hasSubmenu').removeClass('active');
        //});

        $('#btnplogin').click(function () {
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });


        $('#mid').click(function () {
            return;
            var mlist = [], rn = 0, rn0 = 0, rn1 = 0, rn2 = 0, pid1 = 0, pcode1 = '', pid2 = 0, pcode2 = '';
            $('ul.sidebar-menu').find('.treeview').each(function () {
                //alert($(this).find('span').html());
                //console.log('treeview - >' + $.trim($(this).find('span').text()));//.replace(/<[^>]*>/g, "")
                var mid = ++rn; rn0++;
                var mcode = (rn0 + 100).toString().slice(-2);
                var arrayOfThisRow = {
                    MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).find('span').text()),
                    MenuTitle: $.trim($(this).find('span').text()), MenuPId: 0,
                    MenuPCode: '-', ModCatId: 0, MenuTypeId: 1,
                    MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                };
                mlist.push(arrayOfThisRow);

                if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                    pid1 = mid, pcode1 = mcode, rn1 = 0;
                }

                $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                    //alert($(this).find('a:first').html());
                    //console.log('   a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")var mcode = (rn + 100).toString().slice(-2);
                    mid = ++rn; rn1++;
                    mcode = pcode1 + (rn1 + 100).toString().slice(-2);
                    arrayOfThisRow = {
                        MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                        MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid1,
                        MenuPCode: pcode1, ModCatId: 0, MenuTypeId: 1,
                        MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                    };
                    mlist.push(arrayOfThisRow);
                    if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                        pid2 = mid; pcode2 = mcode, rn2 = 0;
                    }

                    $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                        //alert($(this).find('a:first').html());
                        //console.log('       a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")
                        mid = ++rn; rn2++;
                        mcode = pcode2 + (rn2 + 100).toString().slice(-2);
                        arrayOfThisRow = {
                            MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                            MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid2,
                            MenuPCode: pcode2, ModCatId: 0, MenuTypeId: 1,
                            MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                        };
                        mlist.push(arrayOfThisRow);
                    })
                })
            })

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuInsert")',
                data: JSON.stringify({ menuDetail: mlist }),
                success: function (msg) {
                    alert(msg.status);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            console.log(JSON.stringify(mlist));
        })

        //document.oncontextmenu = RightMouseDown;
        //document.onmousedown = mouseDown;

        //function mouseDown(e) {
        //    if (e.which == 3) {//righClick
        //        //alert("Disabled - do whatever you like here..");
        //    }
        //}
        //function RightMouseDown() { return false; }
    </script>


</body>

<!-- Mirrored from coderthemes.com/adminto/bs4/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2018 05:01:45 GMT -->
</html>