﻿@using InventoryMS.Models
@using System.Linq
@using System.Collections.Generic;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico" />
    <title>Inventory & Procurement Managing System</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    @Scripts.Render("~/common/headerscripts")

    <script></script>
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="margin-bottom: 0px;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <div class="user-panel" style="padding: 0px;">
                    <img src="~/common/theme/images/logo.png" style="height: 75px; width: 205px; margin-top: 0px;" />
                </div>
            </section>
            <!-- /.sidebar -->
        </aside>

        <header class="main-header">
            @{string emppicurl = "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"] != null ? @Session["UserName"].ToString() == "noman" ? "XHQ1029-11" : @Session["UserName"] : "XHQ1029-11") + ".jpg";}
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img style="width: 25px; height: 25px;" src="@emppicurl" class="user-image" alt="User Image">
                                @*<i class="fa fa-user"></i>*@
                                <span class="hidden-xs">@Session["UserTitle"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img style="width: 84px; height: 84px;" src="@emppicurl" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["UserTitle"]
                                        <small>User since Nov. 2010</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="#">Lockout</a>
                                    </div>
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })">Change Password</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btnsm btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "User")" class="btn btnsm btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        

        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img style="width: 25px; height: 25px;" src="@emppicurl" class="user-image" alt="User Image">
                                @*<i class="fa fa-user"></i>*@
                                <span class="hidden-xs">@Session["UserTitle"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img style="width: 84px; height: 84px;" src="@emppicurl" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["UserTitle"]
                                        <small>User since Nov. 2010</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="#">Lockout</a>
                                    </div>
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })">Change Password</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btnsm btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "User")" class="btn btnsm btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>

        <div id="loginpartial" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 50001 !important;">
            <div class="modal-dialog" style="width: 25%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3 class="modal-title" style="text-align: center;">LOGIN</h3>
                    </div>
                    <div id="user" class="modal-body" style="padding: 10px;">
                        <div class="login-box" style="margin: 0% auto; width: 320px;">
                            <div class="login-box-body">
                                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group has-feedback">
                                        <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User ID">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8" style="margin-top: 10px !important; padding-left: 14px;">
                                            <span id="lmsg" style="color: red;" data-valmsg-for="lmsg" data-valmsg-replace="true"></span>
                                        </div><!-- /.col -->
                                        <div class="col-xs-4" style="padding-right: 14px;">
                                            <button id="btnplogin" type="button" style="margin-top: 10px;" class="btn btn-success btn-block btn-flat">
                                                Sign In
                                            </button>
                                        </div><!-- /.col -->
                                    </div>
                                }
                            </div><!-- /.login-box-body -->
                        </div><!-- /.login-box -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Content Wrapper. Contains page content -->
        <div id="content" class="content-wrapper" style="margin-bottom: 49px;">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <img src="~/common/theme/images/a.jpg" style="display: inline-block; margin-bottom: 7px; max-width: 100%;vertical-align: middle; border: 0;" class="theme-divider">
            <div class="pull-right hidden-xs" style="margin-right: 5px;">
                Version 2.1.0
            </div>
            <span style="margin-left: 5px;">Copyright &copy; 2015-2016 <a>KDS Accessories Ltd.</a> All rights reserved.</span>
        </footer>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- // Themer END -->
    @Scripts.Render("~/common/footerscripts")
    @RenderSection("scripts", required: false)
    @RenderSection("CSS", required: false)
    <script>
        @*alert(@ViewData["OpenAuthorizationPopup"]);*@
        if ($('#ut').html() == '') {
            //window.location.href = "@Url.Action("Login", "User")";
            $('#loginpartial').modal('show');
        };

        //$('.hasSubmenu').click(function () {
        //    $('.hasSubmenu').removeClass('active');
        //    $('.hasSubmenu').removeClass('active');
        //});

        $('#btnplogin').click(function () {
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });


        $('#mid').click(function () {
            return;
            var mlist = [], rn = 0, rn0 = 0, rn1 = 0, rn2 = 0, pid1 = 0, pcode1 = '', pid2 = 0, pcode2 = '';
            $('ul.sidebar-menu').find('.treeview').each(function () {
                //alert($(this).find('span').html());
                //console.log('treeview - >' + $.trim($(this).find('span').text()));//.replace(/<[^>]*>/g, "")
                var mid = ++rn; rn0++;
                var mcode = (rn0 + 100).toString().slice(-2);
                var arrayOfThisRow = {
                    MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).find('span').text()),
                    MenuTitle: $.trim($(this).find('span').text()), MenuPId: 0,
                    MenuPCode: '-', ModCatId: 0, MenuTypeId: 1,
                    MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                };
                mlist.push(arrayOfThisRow);

                if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                    pid1 = mid, pcode1 = mcode, rn1 = 0;
                }

                $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                    //alert($(this).find('a:first').html());
                    //console.log('   a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")var mcode = (rn + 100).toString().slice(-2);
                    mid = ++rn; rn1++;
                    mcode = pcode1 + (rn1 + 100).toString().slice(-2);
                    arrayOfThisRow = {
                        MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                        MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid1,
                        MenuPCode: pcode1, ModCatId: 0, MenuTypeId: 1,
                        MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                    };
                    mlist.push(arrayOfThisRow);
                    if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                        pid2 = mid; pcode2 = mcode, rn2 = 0;
                    }

                    $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                        //alert($(this).find('a:first').html());
                        //console.log('       a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")
                        mid = ++rn; rn2++;
                        mcode = pcode2 + (rn2 + 100).toString().slice(-2);
                        arrayOfThisRow = {
                            MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                            MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid2,
                            MenuPCode: pcode2, ModCatId: 0, MenuTypeId: 1,
                            MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                        };
                        mlist.push(arrayOfThisRow);
                    })
                })
            })

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuInsert")',
                data: JSON.stringify({ menuDetail: mlist }),
                success: function (msg) {
                    alert(msg.status);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            console.log(JSON.stringify(mlist));
        })

        document.oncontextmenu = RightMouseDown;
        document.onmousedown = mouseDown;

        function mouseDown(e) {
            if (e.which == 3) {//righClick
                //alert("Disabled - do whatever you like here..");
            }
        }
        function RightMouseDown() { return false; }
    </script>
</body>

</html>