﻿@using InventoryMS.Models
@using System.Linq
@using System.Collections.Generic;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico" />
    <title>Inventory & Procurement Managing System</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    @Scripts.Render("~/common/headerscripts")

    <script>
        //$(document).unbind('keydown').bind('keydown', function (event) {
        //    var doPrevent = false;
        //    if (event.keyCode === 8) {
        //        var d = event.srcElement || event.target;
        //        if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'NUMBER' || d.type.toUpperCase() === 'PASSWORD' || d.type.toUpperCase() === 'FILE' || d.type.toUpperCase() === 'EMAIL' || d.type.toUpperCase() === 'SEARCH'))
        //             || d.tagName.toUpperCase() === 'TEXTAREA') {
        //            doPrevent = d.readOnly || d.disabled;
        //        }
        //        else {
        //            doPrevent = true;
        //        }
        //    }

        //    if (doPrevent) {
        //        event.preventDefault();
        //    }
        //});

        //var OSName = "Unknown";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.2") != -1) OSName="Windows 8";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.1") != -1) OSName="Windows 7";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.0") != -1) OSName="Windows Vista";
        //if (window.navigator.userAgent.indexOf("Windows NT 5.1") != -1) OSName="Windows XP";
        //if (window.navigator.userAgent.indexOf("Windows NT 5.0") != -1) OSName="Windows 2000";
        //if (window.navigator.userAgent.indexOf("Mac")!=-1) OSName="Mac/iOS";
        //if (window.navigator.userAgent.indexOf("X11")!=-1) OSName="UNIX";
        //if (window.navigator.userAgent.indexOf("Linux")!=-1) OSName="Linux";

        //var OSBit = "Unknown";
        //if (navigator.userAgent.indexOf("WOW64") != -1 ||
        //    navigator.userAgent.indexOf("Win64") != -1) {
        //    OSBit = "64";
        //}
        //else {
        //    OSBit = "32";
        //}

        //if ($.browser.msie && parseInt($.browser.version, 10) <= 8) {

        //    alert('Please upgrade your Internet Explorer to at least version 9. Click OK to proceed with download latest IE..');

        //    if (OSName == "Windows XP" && OSBit == "32") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows XP" && OSBit == "64") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows 7" && OSBit == "32") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows 7" && OSBit == "64") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //};
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo" style="padding-left: 0px;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>IPMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="text-align: center;">
                    @*<img src="~/common/theme/images/caption.png" style="height: 35px; width: 215px; margin-top: -4px;" />*@
                    @*<span style="color: white"><b>Inventory & Procurement</b></span><br/> Managing System*@
                    <span style="color: white"><b>I P M S</b></span>
                </span>
            </a>
            @{string emppicurl = "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"] != null ? @Session["UserName"] != "noman" ? "XHQ1029-11" : @Session["UserName"] : "XHQ1029-11") + ".jpg";}
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img style="width: 25px; height: 25px;" src="@emppicurl" class="user-image" alt="User Image">
                                @*<i class="fa fa-user"></i>*@
                                <span class="hidden-xs">@Session["UserTitle"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img style="width: 84px; height: 84px;" src="@emppicurl" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["UserTitle"]
                                        <small>User since Nov. 2010</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="#">Lockout</a>
                                    </div>
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })">Change Password</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btnsm btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "User")" class="btn btnsm btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="margin-bottom: 25px;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel" style="padding: 0px;">
                    <img src="~/common/theme/images/logo.png" style="height: 75px; width: 205px; margin-top: 0px;" />
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                @{
                    InventoryCubeEntities db = new InventoryCubeEntities();
                    List<string> catName = new List<string>() { "Home" };
                    List<string> subCatName = new List<string>() { "Home" };
                    string controllername = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
                    string actionname = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
                    var paramvalue = ViewContext.RouteData.Values;
                    var querystring = Request.QueryString;

                    var menu = (from p in db.MenuDetails.AsEnumerable()
                               join q in db.User_Action.AsEnumerable() on p.DefaultActionId equals q.ActionId
                               select new { p, q }
                        ).ToList();
                }
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    @*<li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                        </ul>
                    </li>*@
                    @{
                        catName = new List<string>() { "User" };
                    }


                    @foreach (var item in menu.Where(l => l.p.MenuPId == 0).OrderBy(c => c.p.MenuId))
                    {
                        <li class="@(catName.Select(l => l.ToLower()).Contains(controllername) ? "active" : "") treeview">
                            @if (menu.Where(l => l.p.MenuPId == item.p.MenuId).Count() > 0 || db.User_Action.Where(l => l.User_Controller.ControllerName.ToLower() == item.p.MenuName.ToLower() && l.IsActive == 1).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                            {
                                <a href="#">
                                    <i class="fa fa-buysellads"></i>
                                    <span>@item.p.MenuTitle</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                            }
                            else
                            {
                                <a href="#">
                                    <i class="fa fa-buysellads"></i>
                                    <span>@item.p.MenuTitle</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                            }

                            <ul class="treeview-menu">
                                @foreach (var uc in menu.Where(l => l.p.MenuPId == item.p.MenuId).OrderBy(c => c.p.MenuId))
                                {
                                    if (menu.Where(l => l.p.MenuPId == uc.p.MenuId).Count() == 1)
                                    {
                                        string param = "", sep = "", qt = "?";
                                        var plist = uc.p.DefaultParameter.Split(',');
                                        var pvlist = uc.p.DefaultParameterValue.Split(',');

                                        if (pvlist.Count() > 0)
                                        {
                                            for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                            {
                                                if (pvlist.Length > ri && pvlist[ri] != null)
                                                {
                                                    if (plist[ri].Trim() == "id")
                                                    {
                                                        param = "/" + pvlist[ri];
                                                    }
                                                    else
                                                    {
                                                        param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                        sep = "&"; qt = "";
                                                    }
                                                }
                                            }
                                        }

                                        <li typeof="@uc.q.User_Controller.ControllerName" class="@(controllername.ToLower().Equals(uc.q.User_Controller.ControllerName.ToLower()) ? "active" : "")"><a href="@Url.Action(uc.q.ActionName, uc.q.User_Controller.ControllerName)@param"><i class="fa fa-circle-o"></i> @uc.p.MenuTitle</a></li>
                                    }
                                    else
                                    {
                                        foreach (var um in menu.Where(l => l.p.MenuPId == uc.p.MenuId).OrderBy(c => c.p.MenuId))
                                        {
                                            <li class="@(subCatName.Select(l => l.ToLower()).Contains(controllername) ? "active" : "")">
                                                <a href="#">
                                                    <i class="fa fa-circle-o"></i> @um.p.MenuTitle
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </a>
                                                <ul class="@(subCatName.Select(l => l.ToLower()).Contains(controllername) ? "menu-open" : "") treeview-menu" style="display: @(subCatName.Select(l => l.ToLower()).Contains(controllername) ? "block" : "none");">
                                                    @foreach (var ua in db.User_Action.Where(l => l.User_Controller.ControllerName.ToLower() == um.p.MenuName.ToLower() && l.IsActive == 1).OrderBy(c => c.RankId))
                                                    {
                                                        string val = db.MenuWiseActions.Where(l => l.MenuId == um.p.MenuId && l.ActionId == ua.ActionId).Count() > 0 ? "checked = 'checked'" : "";
                                                        <li>
                                                            <label>
                                                                <input typeof="@um.p.MenuId" id="@ua.ActionId" class="action" type="checkbox" @val />
                                                                @ua.ActionName
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                        </ul>
                                    }
                                }
                            </li>
                    }

                    <li class="@(catName.Select(l => l.ToLower()).Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-buysellads"></i>
                            <span>Administration</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            @foreach (var m in menu)
                            {
                                string param = "", sep = "", qt = "?";
                                var plist = m.p.DefaultParameter.Split(',');
                                var pvlist = m.p.DefaultParameterValue.Split(',');

                                if (pvlist.Count() > 0)
                                {
                                    for (short ri = 0; ri < plist.Where(l => !String.IsNullOrEmpty(l)).Count(); ri++)
                                    {
                                        if (pvlist.Length > ri && pvlist[ri] != null)
                                        {
                                            if (plist[ri].Trim() == "id")
                                            {
                                                param = "/" + pvlist[ri];
                                            }
                                            else
                                            {
                                                param += qt + sep + plist[ri] + "=" + pvlist[ri];
                                                sep = "&"; qt = "";
                                            }
                                        }
                                    }
                                }
                                                                
                                <li typeof="@m.q.User_Controller.ControllerName" class="@(controllername.ToLower().Equals(m.q.User_Controller.ControllerName.ToLower()) ? "active" : "")"><a href="@Url.Action(m.q.ActionName, m.q.User_Controller.ControllerName)@param"><i class="fa fa-circle-o"></i> @m.p.MenuTitle</a></li>
                            }
                            @*<li typeof="Role" class="@(controllername.ToLower().Equals("Role".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Role")"><i class="fa fa-circle-o"></i> Role</a></li>
                            <li typeof="Role" class="@(controllername.ToLower().Equals("RoleAccess".ToLower()) ? "active" : "")"><a href="@Url.Action("RoleAccess", "Role")"><i class="fa fa-circle-o"></i> Role -> Permission</a></li>
                            <li typeof="User" class="@(controllername.ToLower().Equals("User".ToLower()) ? "active" : "")"><a href="@Url.Action("Register", "User")"><i class="fa fa-circle-o"></i> User</a></li>
                            <li typeof="Role" class="@(controllername.ToLower().Equals("Tole".ToLower()) ? "active" : "")"><a href="@Url.Action("MenuTracking", "Role")"><i class="fa fa-circle-o"></i> Menu Tracking</a></li>
                            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Roles</a></li>*@
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "Category", "Location", "Country", "Bond", "Supplier", "BondCapacity", "BondProduct", "Company", "Factory", "Variant", "VariantValue", "Item", "CustomType" };
                    }
                    <li class="@(catName.Select(l => l.ToLower()).Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-gear"></i>
                            <span>Maintanence</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" style="display: @(catName.Select(l => l.ToLower()).Contains(controllername) ? "block" : "none");">
                            <li typeof="Country" class="@(controllername.ToLower().Equals("Country".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Country")"><i class="fa fa-circle-o"></i> Country</a></li>
                            <li typeof="Location" class="@(controllername.ToLower().Equals("Location".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Location")"><i class="fa fa-circle-o"></i> Location</a></li>
                            @{
                                subCatName = new List<string>() { "Bond", "BondCapacity", "BondProduct" };
                            }
                            <li typeof="-" class="@(subCatName.Select(l => l.ToLower()).Contains(controllername) ? "active" : "")">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Bond
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="@(subCatName.Select(l => l.ToLower()).Contains(controllername) ? "menu-open" : "") treeview-menu" style="display: @(subCatName.Select(l => l.ToLower()).Contains(controllername) ? "block" : "none");">
                                    <li typeof="Bond" class="@(controllername.ToLower().Equals("Bond".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Bond")"><i class="fa fa-caret-square-o-right"></i> Bond</a></li>
                                    <li typeof="BondCapacity" class="@(controllername.ToLower().Equals("BondCapacity".ToLower()) ? "active" : "")"><a href="@Url.Action("Manage", "BondCapacity")"><i class="fa fa-caret-square-o-right"></i> Bond->Capacity</a></li>
                                    <li typeof="BondProduct" class="@(controllername.ToLower().Equals("BondProduct".ToLower()) ? "active" : "")"><a href="@Url.Action("Manage", "BondProduct")"><i class="fa fa-caret-square-o-right"></i> Bond->Product</a></li>
                                </ul>
                            </li>
                            <li typeof="Company" class="@(controllername.ToLower().Equals("Company".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Company")"><i class="fa fa-circle-o"></i> Company</a></li>
                            <li typeof="Factory" class="@(controllername.ToLower().Equals("Factory".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Factory")"><i class="fa fa-circle-o"></i> Factory</a></li>
                            <li typeof="Variant" class="@(controllername.ToLower().Equals("Variant".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Variant")"><i class="fa fa-circle-o"></i> Variant</a></li>
                            <li typeof="VariantValue" class="@(controllername.ToLower().Equals("VariantValue".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "VariantValue")"><i class="fa fa-circle-o"></i> Variant->Value</a></li>
                            <li typeof="Item" class="@(controllername.ToLower().Equals("Item".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Item")"><i class="fa fa-circle-o"></i> Product</a></li>
                            <li typeof="Supplier" class="@(controllername.ToLower().Equals("Supplier".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Supplier")"><i class="fa fa-circle-o"></i> Supplier</a></li>
                            <li typeof="Category" class="@(controllername.ToLower().Equals("Category".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "Category")"><i class="fa fa-circle-o"></i> Category</a></li>
                            <li typeof="CustomType" class="@(controllername.ToLower().Equals("CustomType".ToLower()) && actionname.ToLower().Equals("manage") && ViewContext.RouteData.Values["id"].ToString().ToLower().Equals("supcrfcts") ? "active" : "")"><a href="@Url.Action("Manage", "CustomType", new { id = "SUPCRFCTS" })"><i class="fa fa-circle-o"></i> Supplier Certificate</a></li>
                            <li typeof="CustomType" class="@(controllername.ToLower().Equals("CustomType".ToLower()) && actionname.ToLower().Equals("manage") && ViewContext.RouteData.Values["id"].ToString().ToLower().Equals("supawrds") ? "active" : "")"><a href="@Url.Action("Manage", "CustomType", new { id = "SUPAWRDS" })"><i class="fa fa-circle-o"></i> Supplier Awards</a></li>
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "Requisition", "PurchaseOrder", "Approval", "LC", "GRR", "PI" };
                    }
                    <li class="@(catName.Where(l => l != null).Select(l => l.ToLower()).Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>Entry</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li typeof="requisition" accesskey="create index " class="@(controllername.ToLower().Equals("Requisition".ToLower()) && !(actionname.Equals("QREdit".ToLower()) || actionname.Equals("ApprovalPending".ToLower()) || actionname.Equals("Approval".ToLower()) || actionname.Equals("Details".ToLower())) ? "active" : "")"><a href="@Url.Action("Create", "Requisition")"><i class="fa fa-circle-o"></i> Factory Requisition</a></li>
                            <li typeof="requisition" accesskey="queuedrequisition qredit" class="@(controllername.ToLower().Equals("Requisition".ToLower()) && (actionname.Equals("QREdit".ToLower())) ? "active" : "")"><a href="@Url.Action("QueuedRequisition", "Requisition")"><i class="fa fa-circle-o"></i> Queued Requisition</a></li>
                            <li typeof="requisition" accesskey="approvalpending details" class="@(controllername.ToLower().Equals("Requisition".ToLower()) && (actionname.Equals("ApprovalPending".ToLower()) || actionname.Equals("Approval".ToLower()) || actionname.Equals("Details".ToLower())) ? "active" : "")"><a href="@Url.Action("ApprovalPending", "Requisition")"><i class="fa fa-circle-o"></i> Requisition Approval</a></li>
                            <li typeof="PurchaseOrder" class="@(controllername.ToLower().Equals("PurchaseOrder".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "PurchaseOrder")"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
                            <li typeof="Approval" class="@(controllername.ToLower().Equals("Approval".ToLower()) && ((actionname.Equals("ApprovalPending".ToLower()) && Request.QueryString["type"].ToString().ToLower().Equals("qa")) || (actionname.Equals("quantityapproval".ToLower()))) ? "active" : "")"><a href="@Url.Action("ApprovalPending", "Approval", new { type = "QA" })"><i class="fa fa-circle-o"></i> Quantity Approval</a></li>
                            <li typeof="Approval" class="@(controllername.ToLower().Equals("Approval".ToLower()) && actionname.Equals("ApprovalPending".ToLower()) && Request.QueryString["type"].ToString().ToLower().Equals("qt") ? "active" : "")"><a href="@Url.Action("ApprovalPending", "Approval", new { type = "QT" })"><i class="fa fa-circle-o"></i> Quotation</a></li>
                            <li typeof="Approval" class="@(controllername.ToLower().Equals("Approval".ToLower()) && actionname.Equals("ApprovalPending".ToLower()) && Request.QueryString["type"].ToString().ToLower().Equals("p") ? "active" : "")"><a href="@Url.Action("ApprovalPending", "Approval", new { type = "P" })"><i class="fa fa-circle-o"></i> Price Approval</a></li>
                            <li typeof="PI" class="@(controllername.ToLower().Equals("PI".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "PI")"><i class="fa fa-circle-o"></i> PI Entry</a></li>
                            <li typeof="LC" class="@(controllername.ToLower().Equals("LC".ToLower()) && actionname.Equals("Pipeline".ToLower()) && ((paramvalue != null && paramvalue["id"] != null && paramvalue["id"].ToString().ToLower().Equals("create")) || (querystring != null && querystring["id"] != null && querystring["id"].ToString().ToLower().Equals("create"))) ? "active" : "")"><a href="@Url.Action("Pipeline", "LC", new { id = "create" })"><i class="fa fa-circle-o"></i> Pipeline Entry</a></li>
                            <li typeof="LC" class="@(controllername.ToLower().Equals("LC".ToLower()) && actionname.Equals("Pipeline".ToLower()) && ((paramvalue != null && paramvalue["id"] != null && paramvalue["id"].ToString().ToLower().Equals("edit")) || (querystring != null && querystring["id"] != null && querystring["id"].ToString().ToLower().Equals("edit"))) ? "active" : "")"><a href="@Url.Action("Pipeline", "LC", new { id = "edit" })"><i class="fa fa-circle-o"></i> Pipeline Status Update</a></li>
                            <li typeof="GRR" class="@(controllername.ToLower().Equals("GRR".ToLower()) ? "active" : "")"><a href="@Url.Action("Create", "GRR")"><i class="fa fa-circle-o"></i> GRR</a></li>
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "Report" };
                    }
                    <li class="@(catName.Select(l => l.ToLower()).Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Report</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("Supplier".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("Supplier", "Report")?fn=rptSupplierList&title=Supplier List"><i class="fa fa-circle-o"></i> Supplier List</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("Category".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("Category", "Report")?fn=rptCategoryList&title=Category Register"><i class="fa fa-circle-o"></i> Category Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("Item".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("Item", "Report")"><i class="fa fa-circle-o"></i> Item Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("BondProfile".ToLower()) ? "active" : "")"><a href="@Url.Action("BondProfile", "Report")"><i class="fa fa-circle-o"></i> Bond Profile</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("BondWiseItem".ToLower()) ? "active" : "")"><a href="@Url.Action("BondWiseItem", "Report")"><i class="fa fa-circle-o"></i> Bond Wise Item List</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("BondBalance".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("BondBalance", "Report")"><i class="fa fa-circle-o"></i> Bond Balance Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("RequisitionProfile".ToLower()) ? "active" : "")"><a href="@Url.Action("RequisitionProfile", "Report")"><i class="fa fa-circle-o"></i> Requisition Profile</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("RequisitionRegister".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("RequisitionRegister", "Report")"><i class="fa fa-circle-o"></i> Material Requisition Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("PendingRequisition".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("PendingRequisition", "Report")"><i class="fa fa-circle-o"></i> Pending Requisition Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("MaterialRequisition".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("PO", "Report")"><i class="fa fa-circle-o"></i> Purchase Order Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("POForQuantityApproval".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("POForQuantityApproval", "Report")"><i class="fa fa-circle-o"></i> PO For Quantity Approval</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("QuantityApproval".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("QuantityApproval", "Report")"><i class="fa fa-circle-o"></i> Quantity Approval Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("PendingQuantityApproval".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("PendingQuantityApproval", "Report")"><i class="fa fa-circle-o"></i> Pending Qty App Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("PendingPriceApproval".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("PendingPriceApproval", "Report")"><i class="fa fa-circle-o"></i> Price App Pending Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("PriceApproval".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("PriceApproval", "Report")"><i class="fa fa-circle-o"></i> Price Approval Register</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("QAButLCNotOpen".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("QAButLCNotOpen", "Report")"><i class="fa fa-circle-o"></i> Qty App But LC Not Open</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("AllAButLCNotOpen".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("AllAButLCNotOpen", "Report")"><i class="fa fa-circle-o"></i> All App But LC Not Open</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report".ToLower()) && actionname.Equals("PipelineStatus".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("PipelineStatus", "Report")"><i class="fa fa-circle-o"></i> Pipline Status</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report") && actionname.Equals("MaterialArrival".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("MaterialArrival", "Report")"><i class="fa fa-circle-o"></i> Material Arrival Report</a></li>
                            <li typeof="report" class="@(controllername.ToLower().Equals("Report") && actionname.Equals("QuantityApproval".ToLower()) ? "active" : "")"><a target="_blank" href="@Url.Action("QuantityApproval", "Report")?fn=rptNonUsageMaterials"><i class="fa fa-circle-o"></i> Non-Usage Materials (RNUM)</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        
        <div id="loginpartial" class="modal">
            <div class="modal-dialog" style="width: 25%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3 class="modal-title" style="text-align: center;">LOGIN</h3>
                    </div>
                    <div id="user" class="modal-body" style="padding: 10px;">
                        <div class="login-box" style="margin: 0% auto; width: 320px;">
                            <div class="login-box-body">
                                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group has-feedback">
                                        <input id="UserName" name="UserName" type="text" class="form-control ccnormal" placeholder="User ID">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8" style="margin-top: 10px !important; padding-left: 14px;">
                                            <span id="lmsg" style="color: red;" data-valmsg-for="lmsg" data-valmsg-replace="true"></span>
                                        </div><!-- /.col -->
                                        <div class="col-xs-4" style="padding-right: 14px;">
                                            <button id="btnplogin" type="button" style="margin-top: 10px;" class="btn btn-success btn-block btn-flat">
                                            Sign In</button>
                                        </div><!-- /.col -->
                                    </div>
                                }
                            </div><!-- /.login-box-body -->
                        </div><!-- /.login-box -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Content Wrapper. Contains page content -->
        <div id="content" class="content-wrapper" style="margin-bottom: 20px;">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Version 1.1.0
            </div>
            Copyright &copy; 2015-2016 <a>KDS Accessories Ltd.</a> All rights reserved.
        </footer>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- // Themer END -->
    @Scripts.Render("~/common/footerscripts")
    @RenderSection("scripts", required: false)
    @RenderSection("CSS", required: false)
    <script>
        @*alert(@ViewData["OpenAuthorizationPopup"]);*@
        if ($('#ut').html() == '') {
            //window.location.href = "@Url.Action("Login", "User")";
            $('#loginpartial').modal('show');
        }; 

        //$('.hasSubmenu').click(function () {
        //    $('.hasSubmenu').removeClass('active');
        //    $('.hasSubmenu').removeClass('active');
        //});
        
        $('#btnplogin').click(function () {
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        
        $('#mid').click(function () {
            return;
            var mlist = [], rn = 0, rn0 = 0, rn1 = 0, rn2 = 0, pid1 = 0, pcode1 = '', pid2 = 0, pcode2 = '';
            $('ul.sidebar-menu').find('.treeview').each(function () {
                //alert($(this).find('span').html());
                //console.log('treeview - >' + $.trim($(this).find('span').text()));//.replace(/<[^>]*>/g, "")
                var mid = ++rn; rn0++;
                var mcode = (rn0 + 100).toString().slice(-2);
                var arrayOfThisRow = {
                    MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).find('span').text()),
                    MenuTitle: $.trim($(this).find('span').text()), MenuPId: 0,
                    MenuPCode: '-', ModCatId: 0, MenuTypeId: 1,
                    MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                };
                mlist.push(arrayOfThisRow);

                if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                    pid1 = mid, pcode1 = mcode, rn1 = 0;
                }

                $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                    //alert($(this).find('a:first').html());
                    //console.log('   a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")var mcode = (rn + 100).toString().slice(-2);
                    mid = ++rn; rn1++;
                    mcode = pcode1 + (rn1 + 100).toString().slice(-2);
                    arrayOfThisRow = {
                        MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                        MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid1,
                        MenuPCode: pcode1, ModCatId: 0, MenuTypeId: 1,
                        MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                    };
                    mlist.push(arrayOfThisRow);
                    if ($(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().length > 0) {
                        pid2 = mid; pcode2 = mcode, rn2 = 0;
                    }

                    $(this).find('.treeview-menu:first').andSelf().find('li:first').siblings().andSelf().each(function () {
                        //alert($(this).find('a:first').html());
                        //console.log('       a:first - >' + $.trim($(this).find('a:first').text()));//.replace(/<[^>]*>/g, "")
                        mid = ++rn; rn2++;
                        mcode = pcode2 + (rn2 + 100).toString().slice(-2);
                        arrayOfThisRow = {
                            MenuId: mid, MenuCode: mcode, MenuName: $.trim($(this).attr('typeof')),
                            MenuTitle: $.trim($(this).find('a:first').text()), MenuPId: pid2,
                            MenuPCode: pcode2, ModCatId: 0, MenuTypeId: 1,
                            MenuSubTypeId: 1, RefClassId: 1, IsActive: 1
                        };
                        mlist.push(arrayOfThisRow);
                    })
                })
            })

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuInsert")',
                data: JSON.stringify({ menuDetail: mlist }),
                success: function (msg) {
                    alert(msg.status);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            console.log(JSON.stringify(mlist));
        })
    </script>
</body>
</html>