﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico"/>
    <title>Inventory Managing System</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/font-awesome-4.4.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    @Scripts.Render("~/common/headerscripts")

    <script>
        $(document).unbind('keydown').bind('keydown', function (event) {
            var doPrevent = false;
            if (event.keyCode === 8) {
                var d = event.srcElement || event.target;
                if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'NUMBER' || d.type.toUpperCase() === 'PASSWORD' || d.type.toUpperCase() === 'FILE' || d.type.toUpperCase() === 'EMAIL' || d.type.toUpperCase() === 'SEARCH'))
                     || d.tagName.toUpperCase() === 'TEXTAREA') {
                    doPrevent = d.readOnly || d.disabled;
                }
                else {
                    doPrevent = true;
                }
            }

            if (doPrevent) {
                event.preventDefault();
            }
        });

        //var OSName = "Unknown";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.2") != -1) OSName="Windows 8";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.1") != -1) OSName="Windows 7";
        //if (window.navigator.userAgent.indexOf("Windows NT 6.0") != -1) OSName="Windows Vista";
        //if (window.navigator.userAgent.indexOf("Windows NT 5.1") != -1) OSName="Windows XP";
        //if (window.navigator.userAgent.indexOf("Windows NT 5.0") != -1) OSName="Windows 2000";
        //if (window.navigator.userAgent.indexOf("Mac")!=-1) OSName="Mac/iOS";
        //if (window.navigator.userAgent.indexOf("X11")!=-1) OSName="UNIX";
        //if (window.navigator.userAgent.indexOf("Linux")!=-1) OSName="Linux";

        //var OSBit = "Unknown";
        //if (navigator.userAgent.indexOf("WOW64") != -1 ||
        //    navigator.userAgent.indexOf("Win64") != -1) {
        //    OSBit = "64";
        //}
        //else {
        //    OSBit = "32";
        //}

        //if ($.browser.msie && parseInt($.browser.version, 10) <= 8) {

        //    alert('Please upgrade your Internet Explorer to at least version 9. Click OK to proceed with download latest IE..');

        //    if (OSName == "Windows XP" && OSBit == "32") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows XP" && OSBit == "64") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows 7" && OSBit == "32") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //    else if (OSName == "Windows 7" && OSBit == "64") {
        //        window.location = "http://www.kdsaccessories.com/ie11/EIE11_EN-US_MCM_WIN764.EXE";
        //    }
        //};
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="index3.html" class="navbar-brand">
                    <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>

                <button class="navbar-toggler order-1 collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse order-3 collapse" id="navbarCollapse" style="">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                                <!-- Level two dropdown-->
                                <li class="dropdown-submenu dropdown-hover">
                                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                                        </li>

                                        <!-- Level three dropdown-->
                                        <li class="dropdown-submenu">
                                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Level three -->

                                        <li><a href="#" class="dropdown-item">level 2</a></li>
                                        <li><a href="#" class="dropdown-item">level 2</a></li>
                                    </ul>
                                </li>
                                <!-- End Level two -->
                            </ul>
                        </li>
                    </ul>

                    <!-- SEARCH FORM -->
                    <form class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fas fa-th-large"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo" style="background-color: #222d32; padding-left: 5px;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="background-color: #367fa9;"><img src="~/common/theme/images/favicon.ico"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="text-align: left;">
                    <img src="~/common/theme/images/logo2.png" style="height: 35px; width: 220px; margin-top: -7px;" />
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a href="#" class="logo" style="background-color: #3c8dbc; width: 500px;">
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg" style="text-align: left;">
                        <span style="color: white"><b>Inventory</b></span> Managing System
                    </span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/common/theme/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                @*<i class="fa fa-user"></i>*@
                                <span class="hidden-xs">@Session["UserTitle"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/common/theme/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["UserTitle"]
                                        <small>User since Nov. 2010</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="#">Lockout</a>
                                    </div>
                                    <div class="col-common col-xs-6 text-center">
                                        <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })">Change Password</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btnsm btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "User")" class="btn btnsm btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @*<div class="user-panel" style="padding: 0px;">
                    <img src="~/common/theme/images/logo.png" style="height: 75px; width: 205px; margin-top: 0px;" />
                </div>*@
                <!-- sidebar menu: : style can be found in sidebar.less -->
                @{
                    List<string> catName = new List<string>() { "Home" };
                    string controllername = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
                    string actionname = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
                }
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    @*<li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                        </ul>
                    </li>*@
                    @{
                        catName = new List<string>() { "User" };
                    }
                    <li class="@(catName.Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-buysellads"></i>
                            <span>Administration</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@(controllername.Equals("User") ? "active" : "")"><a href="@Url.Action("Register", "User")"><i class="fa fa-circle-o"></i> User</a></li>
                            @*<li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Roles</a></li>*@
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "" };
                    }
                    <li class="@(catName.Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-gear"></i>
                            <span>Maintanence</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Supplier</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Customer</a></li>
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "SOF", "Collection" };
                    }
                    <li class="@(catName.Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>Entry</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@(controllername.Equals("SOF") ? "active" : "")"><a href="@Url.Action("Create", "SOF")"><i class="fa fa-circle-o"></i> Sales Order Form</a></li>
                            <li class="@(controllername.Equals("Collection") ? "active" : "")"><a href="@Url.Action("Create", "Collection")"><i class="fa fa-circle-o"></i> Collection Entry</a></li>
                        </ul>
                    </li>
                    @{
                        catName = new List<string>() { "Report" };
                    }
                    <li class="@(catName.Contains(controllername) ? "active" : "") treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Report</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@(controllername.Equals("Report") && actionname.Equals("SOFRegister") ? "active" : "")"><a href="@Url.Action("SOFRegister", "Report")"><i class="fa fa-circle-o"></i> SOF Register</a></li>
                            <li class="@(controllername.Equals("Report") && actionname.Equals("CollectionRegister") ? "active" : "")"><a href="@Url.Action("CollectionRegister", "Report")"><i class="fa fa-circle-o"></i> Collection Register</a></li>

                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div id="content" class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Version 1.1.0
            </div>
            Copyright &copy; 2015-2016 <a>KDS Accessories Ltd.</a> All rights reserved.
        </footer>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- // Themer END -->
    @Scripts.Render("~/common/footerscripts")
    @RenderSection("scripts", required: false)
    @RenderSection("CSS", required: false)
    <script>
        //alert($('#ut').html());
        if ($('#ut').html() == '') {
            window.location.href = "@Url.Action("Login", "User")";
        };

        //$('.hasSubmenu').click(function () {
        //    $('.hasSubmenu').removeClass('active');
        //    $('.hasSubmenu').removeClass('active');
        //});
    </script>
</body>
</html>