﻿@model IEnumerable<short>
@using InventoryMS.Models

@{ ProductCubeEntities db = new ProductCubeEntities(); }

@foreach (var item in db.CustomTypes.Where(l => l.Flag == "SUPAWRDS"))
{
    <div class="col-sm-12" style="padding: 0px 5px;">
        <div style="float:left;">@Html.CheckBox("" + item.TypeId + "", Model.Contains(item.TypeId), new { @class = "supawrds" })</div>
        <span style="padding-left: 5px;">@item.TypeName</span>
    </div>
}
