﻿@model IEnumerable<short>
@using InventoryMS.Models

@{ 
    ProductCubeEntities dbProd = new ProductCubeEntities();
}

    @foreach (var item in dbProd.CustomTypes.Where(l => l.Flag == "SUPCRFCTS"))
    {
        <div class="col-sm-4" style="padding: 0px 5px;">
            <div style="float:left;">@Html.CheckBox(item.TypeId.ToString(), Model.Contains(item.TypeId), new { @class = "supcfts" })</div>
            <span style="padding-left: 5px;">@item.TypeName</span>
        </div>
    }
