﻿@model InventoryMS.Models.SupplierContactView

<div class="col-md-4">
    @Html.EditorFor(model => model.Name, new { @Name = "CName", @Id = "CName" })

    @Html.EditorFor(model => model.Designation, new { @Name = "CDesignation", @Id = "CDesignation" })
</div>
<div class="col-md-3">
    @Html.EditorFor(model => model.PhoneNo, new { @Name = "CPhoneNo", @Id = "CPhoneNo" })

    @Html.EditorFor(model => model.MobileNo, new { @Name = "CMobileNo", @Id = "CMobileNo" })
</div>
<div class="col-md-2">
    <div class="form-group">
        @Html.LabelFor(model => model.AutoMailReceived, new { @class = "col-common col-sm-6 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(model => model.AutoMailReceived, "BooleanWOL")

            @Html.ValidationMessageFor(model => model.AutoMailReceived, null, new { @class = "control-label" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Activity, new { @class = "col-common col-sm-6 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(model => model.Activity, "BooleanWOL", new { @Name = "CActivity", @Id = "CActivity" })

            @Html.ValidationMessageFor(model => model.Activity, null, new { @class = "control-label" })
        </div>
    </div>
</div>
<div class="col-md-3">
    @Html.EditorFor(model => model.eMail, new { @class = "ccnormal", @Name = "CeMail", @Id = "CeMail" })

    <div class="form-group">
        @Html.LabelFor(model => model.TypeId, new { @class = "col-common col-sm-3 control-label" }, false)
        <div class="col-sm-5" style="padding-right: 2px;">
            @Html.DropDownListFor(model => model.TypeId, (SelectList)ViewBag.Type, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

            @Html.ValidationMessageFor(model => model.TypeId, null, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            <input id="btnAdd" type="button" style="padding: 1px 10px; width: 100%;" class="btn btn-success" value="Add" />
        </div>
    </div>
</div>