﻿@model InventoryMS.Models.SupplierView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: Supplier
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Supplier</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Supplier Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Supplier List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">General Infomation</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.SupplierName)

                                        @Html.EditorFor(model => model.ShortName)

                                        @Html.EditorFor(model => model.ManufacturerName)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SupervisorUserId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.SupervisorUserId, (SelectList)ViewBag.User, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.SupervisorUserId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessTypeId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.BusinessTypeId, (SelectList)ViewBag.BusinessType, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.BusinessTypeId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.LegalStructureId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.LegalStructureId, (SelectList)ViewBag.LegalStructure, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.LegalStructureId, null, new { @class = "control-label" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PurchaseTypeId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.PurchaseTypeId, (SelectList)ViewBag.PurchaseType, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.PurchaseTypeId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.SupplierReferredBy)
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BrandId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-8" style="padding-right: 0px;">
                                                @Html.DropDownListFor(model => model.BrandId, (SelectList)ViewBag.Brand, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.BrandId, null, new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-1">
                                                <a id="btnBrand" title="" data-toggle="tooltip" data-original-title="Add"><i class="glyphicon glyphicon-plus-sign" style="height: 25px; display:table-cell; vertical-align: middle; cursor: pointer;"></i></a>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LeadTime, new { @class = "col-common col-sm-3 control-label" }, true)
                                            <div class="col-sm-3" style="padding-right: 2px;">
                                                @Html.EditorFor(model => model.LeadTime, "Int16WOL")

                                                @Html.ValidationMessageFor(model => model.LeadTime, null, new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-2" style="padding: 0px; text-align: right;">
                                                @Html.LabelFor(model => model.RatingScore, new { @class = "col-common control-label" }, true)
                                            </div>
                                            <div class="col-sm-4" style="padding-left: 0px">
                                                @Html.EditorFor(model => model.RatingScore, "DecimalWOL")

                                                @Html.ValidationMessageFor(model => model.RatingScore, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.PreferredPortId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.PreferredPortId, (SelectList)ViewBag.PreferredPort, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.PreferredPortId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OriginCountryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.OriginCountryId, (SelectList)ViewBag.OriginCountry, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.OriginCountryId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CitizenshipId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.CitizenshipId, (SelectList)ViewBag.Citizenship, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.CitizenshipId, null, new { @class = "control-label" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FoundingYear, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-3" style="padding-right: 2px;">
                                                @Html.EditorFor(model => model.FoundingYear, "Int16WOL")

                                                @Html.ValidationMessageFor(model => model.FoundingYear, null, new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-2" style="padding: 0px; text-align: right;">
                                                @Html.LabelFor(model => model.BusinessStartDate, new { @class = "col-common control-label" })
                                            </div>
                                            <div class="col-sm-4" style="padding-left: 0px">
                                                @Html.EditorFor(model => model.BusinessStartDate, "DateTimeWOL")

                                                @Html.ValidationMessageFor(model => model.BusinessStartDate, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @*@Html.EditorFor(model => model.FoundingYear, "StringH")

                                        @Html.EditorFor(model => model.BusinessStartDate)*@

                                        @Html.EditorFor(model => model.TINNo)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CategoryList, new { @class = "col-common col-sm-3 control-label" }, true)
                                            <div class="col-sm-9">
                                                @Html.EditorFor(model => model.CategoryList, "StringWOL")

                                                @Html.ValidationMessageFor(model => model.CategoryList, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryList, new { @class = "col-common col-sm-3 control-label" }, true)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.FactoryList, (MultiSelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", multiple = "multiple", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.FactoryList, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.SupplierNegotiationBy)
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.VATNo)

                                        @Html.EditorFor(model => model.BINNo)

                                        @Html.EditorFor(model => model.RegistrationNo)

                                        @Html.EditorFor(model => model.eMailAddress, new { @class = "ccnormal" })

                                        @Html.EditorFor(model => model.WebAddress, new { @class = "ccnormal" })

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AutoMailEnabled, new { @class = "col-common col-sm-3 control-label" }, true)
                                            <div class="col-sm-3" style="padding-right: 2px;">
                                                @Html.EditorFor(model => model.AutoMailEnabled, "BooleanWOL")

                                                @Html.ValidationMessageFor(model => model.AutoMailEnabled, null, new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-3" style="padding: 0px; text-align: right;">
                                                @Html.LabelFor(model => model.AutoSMSEnabled, new { @class = "col-common control-label" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.EditorFor(model => model.AutoSMSEnabled, "BooleanWOL")

                                                @Html.ValidationMessageFor(model => model.AutoSMSEnabled, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.Activity)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Address</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.HouseNo)

                                        @Html.EditorFor(model => model.City)
                                    </div>

                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.State)

                                        @Html.EditorFor(model => model.ZIPCode)
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressCountryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(model => model.AddressCountryId, (SelectList)ViewBag.AddressCountry, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.AddressCountryId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.PhoneNo)
                                    </div>

                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.MobileNo)

                                        @Html.EditorFor(model => model.Fax)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Certificates & Awards</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.Label("Certificates", new { @class = "col-common col-sm-1 control-label" })
                                            <div class="col-sm-11">
                                                <div class="form-group ckcontainer" style="text-align: left; margin-left: 0px;">
                                                    @Html.HiddenFor(model => model.CertificatesAvail)
                                                    @Html.Action("Certificates")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("Awards", new { @class = "col-common col-sm-2 control-label" })
                                            <div class="col-sm-10">
                                                <div class="form-group ckcontainer" style="text-align: left; margin-left: 0px;">
                                                    @Html.HiddenFor(model => model.AwardAvail)
                                                    @Html.Action("Awards")
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Contact Information</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @Html.Action("ContactTemplate")
                                    </div>

                                    <table id="tblSC" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center;">
                                                    Name
                                                </th>
                                                <th style="text-align: center;">
                                                    Designation
                                                </th>
                                                <th style="text-align: center;">
                                                    Phone
                                                </th>
                                                <th style="text-align: center;">
                                                    Mobile
                                                </th>
                                                <th style="text-align: center;">
                                                    Auto Mail
                                                </th>
                                                <th style="text-align: center;">
                                                    Acitve ?
                                                </th>
                                                <th style="text-align: center;">
                                                    e-Mail
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Type Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Type
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Con Id
                                                </th>
                                                <th style="width: 50px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.supplierContactView == null || Model.supplierContactView.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="12"></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                int rIndex = 0;
                                                //for (int rIndex = 0; rIndex < Model.supplierContactView.Count; rIndex++)
                                                foreach (var v in Model.supplierContactView)
                                                {
                                                    rIndex++;
                                                    <tr>
                                                        <td style="text-align: center;">@((rIndex).ToString("000"))</td>
                                                        <td>@v.Name</td>
                                                        <td>@v.Designation</td>
                                                        <td>@v.PhoneNo</td>
                                                        <td>@v.MobileNo</td>
                                                        <td style="text-align: center;">@Html.DisplayFor(item => v.AutoMailReceived)</td>
                                                        <td style="text-align: center;">@Html.DisplayFor(item => v.Activity)</td>
                                                        <td>@v.eMail</td>
                                                        <td style="display: none;">@v.TypeId</td>
                                                        <td>@v.TypeName</td>
                                                        <td style="display: none;">@v.SContactId</td>
                                                        <td style="text-align: center;">
                                                            <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="12"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="SUPCAP"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 10005 !important;">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Confirmation</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("msg", "Save Successful.", new { @class = "col-common col-sm-6 control-label" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="bsmodel" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 10005 !important;">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Brand Confirmation</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("msg", "Save Successful.", new { @class = "col-common col-sm-6 control-label" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="$('#newbrand').modal('hide');">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="newbrand" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 10004 !important;">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Add Brand</h4>
            </div>
            <div id="bdetails" class="modal-body">
                <form id="brandForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-11">
                                    <div id="branddetails" class="form-group">
                                        @Html.Label("msg", "Save Successful.", new { @class = "col-common col-sm-6 control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-success" onclick="saveBrand();">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });
        //'BrandSave'
        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init], .supcfts, .supawrds").bootstrapSwitch();
        
        $('#btnBrand').click(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("BrandCreate")",
                success: function (data) {
                    $('#branddetails').html(data);

                    $('#newbrand').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        function saveBrand() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var brand = {
                BrandName: $('#BrandName').val(), ShortName: $('#BShortName').val(), Activity: $('#BActivity').val()//.is(":checked")
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BrandSave")',
                data: JSON.stringify({ brandView: brand }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#bsmodel').modal('show');

                        var option = new Option($('#BrandName').val(), msg.brid);

                        $("#BrandId").append(option);
                        //$("#BrandId").val($('#BrandName').val())
                        $("#BrandId").val(msg.brid).trigger("change");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        };

        $("#btnAdd").click(function () {
            var isValid = true;
            $('#divSC [data-val="true"]').each(function () {
                if ($(this).val() == '') {
                    //alert($(this).attr('data-val-required'));
                    $(this).closest('.form-group').addClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                    $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                    $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                    //return;

                    isValid = false;
                }
                else {
                    $(this).closest('.form-group').removeClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-error').html('');
                    $(this).closest('.form-group').find('.field-validation-error').addClass('field-validation-valid');
                    $(this).closest('.form-group').find('.field-validation-error').removeClass('field-validation-error');
                }
            });

            if (!isValid)
                return;

            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblSC>tbody>tr').length;
            }

            //if ($('#CName').val().length == 0) {
            //    alert("Name must not be blank.");
            //    return false;
            //}
            //if ($('#CDesignation').val().length == 0) {
            //    alert("Designation must not be blank.");
            //    return false;
            //}
            //if ($('#CPhoneNo').val().length == 0 && $('#CMobileNo').val().length == 0) {
            //    alert("Phone/Mobile no have to entered.");
            //    return false;
            //}

            $('#divSC input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var rowData = {
                RankId: rn, Name: $('#CName').val(), Designation: $('#CDesignation').val(), PhoneNo: $('#CPhoneNo').val(),
                MobileNo: $('#CMobileNo').val(), AutoMailReceived: $('#AutoMailReceived').is(":checked"), Activity: $('#CActivity').is(":checked"),
                eMail: $('#CeMail').val(), TypeId: $('#TypeId').val(), TypeName: $('#TypeId').select2("data")[0].text
            };
            
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify(rowData),
                success: function (data) {
                    if (isEdit) {
                        $('#tblSC tr:eq(' + rn + ')').after(data);
                        $('#tblSC tr:eq(' + rn + ')').remove();
                        $("#tblSC tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                            {
                                'size': 'mini',
                                'onText': 'Yes',
                                'offText': 'No'
                            });
                    }
                    else {
                        $('#tblSC tr:last').before(data);
                        $("#tblSC tr:eq(" + rn + ") input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                            {
                                'size': 'mini',
                                'onText': 'Yes',
                                'offText': 'No'
                            });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#btnAdd').removeClass('change');
            $('#btnAdd').val('ADD');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#CName').val($('#tblSC tr:eq(' + rn + ') td:eq(1)').html());
            $('#CDesignation').val($('#tblSC tr:eq(' + rn + ') td:eq(2)').html());
            $('#CPhoneNo').val($('#tblSC tr:eq(' + rn + ') td:eq(3)').html());
            $('#CMobileNo').val($('#tblSC tr:eq(' + rn + ') td:eq(4)').html());
            $('#AutoMailReceived').bootstrapSwitch('state', $('#tblSC tr:eq(' + rn + ') td:eq(5) .check-box').is(":checked"));
            $('#CActivity').bootstrapSwitch('state', $('#tblSC tr:eq(' + rn + ') td:eq(6) .check-box').is(":checked"));
            $('#CeMail').val($('#tblSC tr:eq(' + rn + ') td:eq(7)').html());
            $('#TypeId').val($('#tblSC tr:eq(' + rn + ') td:eq(8)').html()).trigger('change');

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('REP');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSC tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSC tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });
        };
        
        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var isValid = true, ctl;
            $('[data-val="true"]').not('#divSC [data-val="true"]').each(function () {
                if ($(this).val() == '' || $(this).val() == null) {
                    //alert($(this).attr('data-val-required'));
                    if (ctl == null)
                        ctl = $(this);
                    $(this).closest('.form-group').addClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                    $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                    $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                    //return;

                    isValid = false;
                }
                else {
                    $(this).closest('.form-group').removeClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-error').html('');
                    $(this).closest('.form-group').find('.field-validation-error').addClass('field-validation-valid');
                    $(this).closest('.form-group').find('.field-validation-error').removeClass('field-validation-error');
                }
            });

            if (!isValid) {
                ctl.focus();
                return;
            }

            var SupplierContact = [], SupplierProduct = [], SupplierFactory = [], supcfts = '', supawds = '', comma = '', rn = 0;

            var tbl = $('table#tblSC').find('tbody tr').map(function () {
                rn = 0;
                var tableData = $(this).find('td').map(function () {
                    rn++;
                    if (rn == 6 || rn == 7) {
                        //alert($(this).find('.check-box').is(":checked"))
                        return $(this).find('.check-box').is(":checked");
                    }
                    else {
                        return $(this).html();
                    }
                }).get();

                //alert(tableData);
                if (tableData.length >= 9) {
                    var arrayOfThisRow = {
                        SContactId: SupplierContact.length + 1, Name: tableData[1], Designation: tableData[2],
                        PhoneNo: tableData[3], MobileNo: tableData[4], AutoMailReceived: tableData[5],
                        Activity: tableData[6], eMail: tableData[7], TypeId: tableData[8]
                    };
                    //alert(arrayOfThisRow);
                    SupplierContact.push(arrayOfThisRow);
                }
            }).get();

            //$('#CategoryList').val().forEach(function (cat) {
            //    var arrayOfThisRow = { CategoryId: cat, IsDefault: 0, Activity: true };
            //    SupplierProduct.push(arrayOfThisRow);
            //});

            $('#FactoryList').val().forEach(function (fac) {
                var arrayOfThisRow = { FactoryId: fac };
                SupplierFactory.push(arrayOfThisRow);
            });

            comma = '';
            $('.supcfts').each(function () {
                if ($(this).is(":checked")) {
                    supcfts += comma + $(this).attr('name');
                    comma = ', ';
                }
            });
            $('#CertificatesAvail').val(supcfts);

            comma = '';
            $('.supawrds').each(function () {
                if ($(this).is(":checked")) {
                    supawds += comma + $(this).attr('name');
                    comma = ', ';
                }
            });
            $('#AwardAvail').val(supawds);

            var supplier = {
                SupplierName: $('#SupplierName').val(), ShortName: $('#ShortName').val(), TINNo: $('#TINNo').val(), VATNo: $('#VATNo').val(), 
                BINNo: $('#BINNo').val(), BrandId: $('#BrandId').val(), ManufacturerName: $('#ManufacturerName').val(), 
                LeadTime: $('#LeadTime').val(), OriginCountryId: $('#OriginCountryId').val(), FoundingYear: $('#FoundingYear').val(),
                BusinessTypeId: $('#BusinessTypeId').val(), PurchaseTypeId: $('#PurchaseTypeId').val(), CitizenshipId: $('#CitizenshipId').val(),
                LegalStructureId: $('#LegalStructureId').val(), HouseNo: $('#HouseNo').val(), City: $('#City').val(),
                State: $('#State').val(), ZIPCode: $('#ZIPCode').val(), SupervisorUserId: $('#SupervisorUserId').val(), 
                AddressCountryId: $('#AddressCountryId').val(), PhoneNo: $('#PhoneNo').val(), MobileNo: $('#MobileNo').val(), Fax: $('#Fax').val(),
                eMailAddress: $('#eMailAddress').val(), WebAddress: $('#WebAddress').val(), PaymentAddress: $('#PaymentAddress').val(),
                LocalAddress: $('#LocalAddress').val(), Manpower: $('#Manpower').val(), AnnualRevenue: $('#AnnualRevenue').val(),
                CertificatesAvail: $('#CertificatesAvail').val(), AwardAvail: $('#AwardAvail').val(), PreferredPortId: $('#PreferredPortId').val(),
                AutoMailEnabled: $('#AutoMailEnabled').is(":checked"), AutoSMSEnabled: $('#AutoSMSEnabled').is(":checked"),
                CategoryList: $('#CategoryList').val(), BusinessStartDate: $('#BusinessStartDate').val(), RegistrationNo: $('#RegistrationNo').val(),
                RatingScore: $('#RatingScore').val(), SupplierReferredBy: $('#SupplierReferredBy').val(), SupplierNegotiationBy: $('#SupplierNegotiationBy').val(),
                Activity: $('#Activity').is(":checked")
            }

            //if (!confirm(JSON.stringify({ supplierView: supplier, supplierContactView: SupplierContact, supplierProductView: SupplierProduct, supplierFactory: SupplierFactory }))) {
            //    return;
            //}

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ supplierView: supplier, supplierContactView: SupplierContact, supplierProductView: SupplierProduct, supplierFactory: SupplierFactory }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#mymodal').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    <style>
        .ckcontainer {
            border: 2px solid #ccc;
            width: 100%;
            height: 85px;
            overflow-y: scroll;
            padding: 5px;
        }
    </style>
}

