﻿@model InventoryMS.Models.Supplier

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BINNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BINNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginCountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginCountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundingYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundingYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitizenshipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitizenshipId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalStructureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalStructureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIPCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIPCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eMailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eMailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manpower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manpower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificatesAvail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificatesAvail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardAvail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardAvail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredPortId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredPortId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAutoMailEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAutoMailEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAutoSMSEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAutoSMSEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
