﻿@model IEnumerable<InventoryMS.Models.SupplierView>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Supplier List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Supplier</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
						@if (InventoryMS.Models.clsMain.IsPermitted("Supplier", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Supplier</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
							<a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New Supplier</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
							<tr>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.SupplierCode)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.SupplierName)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.ShortName)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.TINNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.VATNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.BINNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.BusinessStartDate)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.IsActive)
								</th>
								<th></th>	
							</tr>	
				</thead>
                <tbody>
                    @foreach (var item in Model)
                    {
							<tr class="selectable">
								<td>
									@Html.DisplayFor(modelItem => item.SupplierCode)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.SupplierName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ShortName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TINNo)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.VATNo)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.BINNo)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.BusinessStartDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Activity)
								</td>
								<td style="text-align: center">
                                    @if (ViewBag.IsPending == null || ViewBag.IsPending == false)
                                    { 
									    <a href="@Url.Action("Details", new { id = item.SupplierId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
									    if (InventoryMS.Models.clsMain.IsPermitted("Supplier", "Edit"))
                                        {
                                            <a href="@Url.Action("Edit", new { id = item.SupplierId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        if (InventoryMS.Models.clsMain.IsPermitted("Supplier", "Delete"))
                                        {
                                            <a href="@Url.Action("Delete", new { id = item.SupplierId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Approval", new { id = item.SupplierId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    }
								</td>
							</tr>
					        }
						</tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
            {
                'size': 'mini',
                'onText': 'Yes',
                'offText': 'No'
            });
        //$.fn.bootstrapSwitch.defaults.size = 'mini';
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

