﻿@model InventoryMS.Models.SupplierContactView

<tr>
    <td style="text-align: center;">@((Model.RankId.Value).ToString("000"))</td>
    <td>@Model.Name</td>
    <td>@Model.Designation</td>
    <td>@Model.PhoneNo</td>
    <td>@Model.MobileNo</td>
    <td style="text-align: center;">@Html.DisplayFor(model => model.AutoMailReceived)</td>
    <td style="text-align: center;">@Html.DisplayFor(model => model.Activity)</td>
    <td>@Model.eMail</td>
    <td style="display: none;">@Model.TypeId</td>
    <td>@Model.TypeName</td>
    <td style="display: none;">@Model.SContactId</td>
    <td style="text-align: center;">
        <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
        <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
    </td>
</tr>

