﻿@model IEnumerable<InventoryMS.Models.QuantityApprovalMain>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Pending Q. Approval List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> P A Pending</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.QApprovalNo)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.QApprovalDate)
                                </th>
                                <th style="text-align: center;">
                                    Requisition #
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.PurchaseOrder.Bond.LicenseNumber)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QApprovalNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QApprovalDate)
                                    </td>
                                    <td>
                                        @MvcHtmlString.Create(item.PurchaseOrder.PurchaseOrderSubs.Select(c => c.PRMain.PRNo).Distinct().Aggregate((i, j) => i + "<br/>" + j))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchaseOrder.Bond.LicenseNumber)
                                    </td>
                                    <td style="text-align: center">
                                        @if (InventoryMS.Models.clsMain.IsPermitted("Approval" , (ViewBag.type == "P" ? "PriceApproval" : "QuantityApproval")))
                                        {
                                            <a href="@Url.Action((ViewBag.type == "P" ? "PriceApproval" : ViewBag.type == "QT" ? "Quotation" : "QuantityApproval"), new { id = item.QApprovalId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-new-window"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-new-window"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

