﻿@model InventoryMS.Models.QuotationMain

@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();}
@{ProductCubeEntities dbProd = new ProductCubeEntities();}
@{var posub = Model.QuantityApprovalSub;}

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Product Name", new { @class = "col-common col-sm-5 control-label" })
                <div id="pname" class="col-sm-7">
                    @dbProd.ItemInfoes.Find(posub.PRSub.ProductId).ItemName
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Quantity", new { @class = "col-common col-sm-5 control-label" })
                <div id="aqty" class="col-sm-7">
                    @posub.ApprovedQuantity.ToString("##,##0") @dbProd.viewQuantityUnits.Where(l => l.QuantityUnitId == posub.PurchaseOrderSub.QuantityUnitId).FirstOrDefault().QuantityUnit
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Pref Supplier", new { @class = "col-common col-sm-4 control-label" })
                <div id="psup" class="col-sm-8">
                    @posub.PRSub.Supplier.ShortName
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Brand", new { @class = "col-common col-sm-4 control-label" })
                <div id="brand" class="col-sm-8">
                    @posub.PRSub.Brand.BrandName
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin: 10px;">
            <table class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                <thead>
                    <tr>
                        @*<th style="text-align: center; width: 12%;">
                                Product
                            </th>
                            <th colspan="2" style="text-align: center; width: 7%;">
                                PO Quantity
                            </th>
                            <th style="text-align: center; width: 5%;">
                                App. Quantity
                            </th>*@
                        <th colspan="15" style="text-align: center; width: 46%;">
                            Terms
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @*<td rowspan="5" style="text-align: left; vertical-align: middle;"></td>
                            <td rowspan="5" style="text-align: right; width: 4%; vertical-align: middle;">@posub.PurchaseOrderSub.Quantity.ToString("##,##0")</td>
                            <td rowspan="5" style="width: 3%; vertical-align: middle;"></td>
                            <td rowspan="5" style="text-align: right; vertical-align: middle;"></td>*@
                        <td style="width: 10%; vertical-align: middle;"></td>

                        @foreach (short SupId in Model.QuotationSubs.Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                        {
                            <td colspan="@Model.QuotationSubs.Where(l => l.SupplierId == SupId).Count().ToString()" style="width: 12%; text-align: center;">@db.Suppliers.Find(SupId).ShortName</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @foreach (short SupId in Model.QuotationSubs.Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                        {
                            foreach (string tenure in Model.QuotationSubs.Where(l => l.SupplierId == SupId).OrderBy(c => c.Custom_Type.TypeId).Select(c => c.Custom_Type.TypeName).Distinct())
                            {
                                <td colspan="@Model.QuotationSubs.Where(l => l.SupplierId == SupId && l.TenureType.Equals(tenure)).Count().ToString()" style="text-align: center;">@tenure</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>
                            <input class="RN" type="hidden" value="@Model.QuotationId" />
                            <input class="QASID" type="hidden" value="@Model.QApprovalSubId" />
                            <input class="QID" type="hidden" value="0" />
                            <input class="CType" type="hidden" value="0" />
                            <input class="IsApp" type="hidden" value="0" />
                            Approval Status
                        </td>
                        @foreach (short SupId in Model.QuotationSubs.Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                        {
                            foreach (QuotationSub qsub in Model.QuotationSubs.Where(l => l.SupplierId == SupId).OrderBy(c => c.TenureType))
                            {
                                <td style="text-align: center;">@Html.CheckBox("tenure", new { @role = @qsub.QuotationSubId, @CType = "2", @class = "chk chk" + @Model.QuotationId })</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>
                            Tenure Days
                        </td>
                        @foreach (short SupId in Model.QuotationSubs.Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                        {
                            foreach (QuotationSub qsub in Model.QuotationSubs.Where(l => l.SupplierId == SupId).OrderBy(c => c.TenureType))
                            {
                                <td style="text-align: center;">@qsub.TenureDays</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>
                            Quotation Price
                        </td>
                        @foreach (short SupId in Model.QuotationSubs.Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                        {
                            foreach (QuotationSub qsub in Model.QuotationSubs.Where(l => l.SupplierId == SupId).OrderBy(c => c.TenureType))
                            {
                                <td style="text-align: center;">@qsub.QuotationPrice.ToString("##,##0.000000")</td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
    <script>
        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
            {
                'size': 'mini',
                'onText': 'App',
                //'width': '180',
                'offText': 'No'

            });

        var iscb = false;
        $('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
            //alert('A');
            if (state) {
                iscb = true;
                $(this).closest('td').siblings(':first-child').find('.QID').val($(this).attr('role'));
                $(this).closest('td').siblings(':first-child').find('.CType').val($(this).attr('ctype'));
                $(this).closest('td').siblings(':first-child').find('.IsApp').val('1');
                var v = $(this).closest('td').siblings(':first-child').find('.RN').val();
                $('.chk' + v).not(this).each(function (index) {
                    $(this).bootstrapSwitch('state', false);
                });
            }
            else if (iscb) {
                if ($(this).closest('td').siblings(':first-child').find('.CType').val() == $(this).attr('ctype')
                    && $(this).closest('td').siblings(':first-child').find('.QID').val() == $(this).attr('role')) {
                    $(this).closest('td').siblings(':first-child').find('.QID').val('0');
                    $(this).closest('td').siblings(':first-child').find('.CType').val('0');
                    $(this).closest('td').siblings(':first-child').find('.IsApp').val('0');

                    iscb = false;
                }
            }
        });
    </script>
