﻿@model InventoryMS.Models.QuotationPreview

@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();}

<div class="pre-scrollable" style="">
    <table class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 1950px;">
        <thead>
            <tr>
                @*<th style="text-align: center; width: 4%;">
                        SL #
                    </th>*@
                <th style="text-align: center; width: 7%;">
                    Requisition #
                </th>
                <th style="text-align: center; width: 12%;">
                    Product
                </th>
                <th style="text-align: center; width: 5%;">
                    Cur. Stock
                </th>
                <th style="text-align: center; width: 5%;">
                    Pipeline
                </th>
                <th style="text-align: center; width: 7%;">
                    Supplier
                </th>
                <th style="text-align: center; width: 6%;">
                    Brand
                </th>
                <th colspan="2" style="text-align: center; width: 7%;">
                    PO Quantity
                </th>
                <th style="text-align: center; width: 5%;">
                    App. Quantity
                </th>
                <th colspan="10" style="text-align: center; width: 46%;">
                    Terms
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (POSub posub in Model.poSub)
            {
                <tr>
                    <td rowspan="7" style="vertical-align: middle;">@posub.PRNo</td>
                    <td rowspan="7" style="text-align: left; vertical-align: middle;">@posub.ProductName</td>
                    <td rowspan="7" style="text-align: right; vertical-align: middle;">@posub.CurrentStock.Value.ToString("##,##0")</td>
                    <td rowspan="7" style="text-align: right; vertical-align: middle;">@posub.StockInTransit.Value.ToString("##,##0")</td>
                    <td rowspan="7" style="vertical-align: middle;">@posub.SupplierName</td>
                    <td rowspan="7" style="vertical-align: middle;">@posub.BrandName</td>
                    <td rowspan="7" style="text-align: right; width: 4%; vertical-align: middle;">@posub.Quantity.Value.ToString("##,##0")</td>
                    <td rowspan="7" style="width: 3%; vertical-align: middle;">@posub.QuantityUnit</td>
                    <td rowspan="7" style="text-align: right; vertical-align: middle;">@posub.ApprovedQuantity.Value.ToString("##,##0")</td>
                    <td style="width: 10%; vertical-align: middle;"></td>

                    @foreach (QuotationView qMain in Model.quotationView.Where(l => l.POSubId == posub.POSubId))
                    {
                        <td colspan="3" style="width: 12%; text-align: center;">@qMain.SupplierName</td>
                    }
                </tr>
                <tr>
                    <td>tenure days</td>
                    @foreach (QuotationView qMain in Model.quotationView.Where(l => l.POSubId == posub.POSubId))
                    {
                        <td style="width: 4%; text-align: center;"></td>
                        <td style="width: 4%; text-align: center;">@qMain.SupplierCreditDays</td>
                        <td style="width: 4%; text-align: center;">@qMain.UPassDays</td>
                    }
                </tr>
                foreach (var item in db.Custom_Type.Where(l => l.Flag.Equals("PATERM")))
                {
                    <tr>
                        <td style="">@item.TypeName</td>
                        @foreach (QuotationView qMain in Model.quotationView.Where(l => l.POSubId == posub.POSubId))
                        {
                            foreach (QuotationSubView sub in Model.quotationSubView.Where(l => l.QVId == qMain.QVId && l.TermId == item.TypeId))
                            {
                                <td style="text-align: right;">@sub.SightPrice</td>
                                <td style="text-align: right;">@sub.SCPrice</td>
                                <td style="text-align: right;">@sub.UPassPrice</td>
                            }
                        }
                    </tr>
                }

            }
        </tbody>
    </table>
</div>