﻿@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();}

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Supplier", new { @class = "col-common col-sm-3 control-label" })
                    <div class="col-sm-9">
                        @Html.DropDownList("SupplierId", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="background-color: #20590a; color: white; margin-bottom: 5px;">
                @Html.Label("Particulars", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center;  border-right: 1px solid white" })
                @Html.Label("Sight", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center; border-right: 1px solid white" })
                @Html.Label("SC", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center;  border-right: 1px solid white" })
                @Html.Label("UPass", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center;  border-right: 1px solid white" })
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Tenure Days", new { @class = "col-common col-sm-3 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBox("SightDays", "0", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBox("SCDays", "60", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBox("UPassDays", "180", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            @{int rIndex = 0;}
            @foreach (var item in db.Custom_Type.Where(l => l.Flag.Equals("PATERM")))
            {
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.Label(item.TypeName, new { @class = "col-common col-sm-3 control-label" })
                        @Html.Hidden("Term[" + rIndex + "]", item.TypeId)
                        @Html.Hidden("QuotationSubId[" + rIndex + "]", "0")
                        <div class="col-sm-3">
                            @Html.TextBox("Sight[" + rIndex + "]", "1" + rIndex, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBox("SC[" + rIndex + "]", "2" + rIndex, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBox("UPass[" + rIndex++ + "]", "3" + rIndex, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("POSubId", 0)
            @Html.Hidden("QuotationId", "0")
            @Html.Hidden("QASubId", 0)
        </div>
        <div class="col-sm-12">
            <input id="btnAdd" type="button" class="btn btn-success btn-sm col-sm-12" style="margin-bottom: 10px;" value="Add" onclick="add();"/>
        </div>
        <div class="col-sm-12">
            <table id="QDetails" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                <thead>
                    <tr>
                        <th>Sup Id</th>
                        <th>Supplier</th>
                        <th>SightDays</th>
                        <th>SCDays</th>
                        <th>UPassDays</th>
                        <th style="display: none;">Term</th>
                        <th style="display: none;">Sight</th>
                        <th style="display: none;">SC</th>
                        <th style="display: none;">UPass</th>
                        <th style="display: none;">Term</th>
                        <th style="display: none;">Sight</th>
                        <th style="display: none;">SC</th>
                        <th style="display: none;">UPass</th>
                        <th style="display: none;">QSub</th>
                        <th style="display: none;">Term</th>
                        <th style="display: none;">Sight</th>
                        <th style="display: none;">SC</th>
                        <th style="display: none;">UPass</th>
                        <th style="display: none;">QSub</th>
                        <th style="display: none;">Term</th>
                        <th style="display: none;">Sight</th>
                        <th style="display: none;">SC</th>
                        <th style="display: none;">UPass</th>
                        <th style="display: none;">QSub</th>
                        <th style="display: none;">Term</th>
                        <th style="display: none;">Sight</th>
                        <th style="display: none;">SC</th>
                        <th style="display: none;">UPass</th>
                        <th style="display: none;">QSub</th>
                        <th style="display: none;">POSubId</th>
                        <th style="display: none;">QId</th>
                        <th style="display: none;">QASubId</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="33"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>