﻿@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();}

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-body" style="margin-left: 4px; margin-right: -8px;">
                    <div class="col-sm-2">
                        <div class="form-group" style="text-align: center; margin-right: -40px;">
                            @Html.Label("Supplier", new { @class = "col-common control-label" })
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="text-align: center; margin-right: -30px;">
                                @Html.Label("Credit Days", new { @class = "col-common control-label" })
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style="text-align: center;">
                                    @Html.Label(item.ShortName, new { @class = "col-common control-label" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.Label("SIGHT", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("SightDays[0]", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @{int rIndex = 0;}
                        @foreach (var item in db.Custom_Type.Where(l => l.Flag.Equals("PATERM")))
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("PriceQuotation[" + rIndex++ + "].Sight", "", new { @Id = item.TypeId, @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.Label("SC", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("SupplierCreditDays[0]", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.Label("UPASS", new { @class = "col-common control-label" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("UPassDays[0]", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[3]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("item_0_", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[4]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("item_0_", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[5]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("item_0_", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[6]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("item_0_", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[7]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("item_0_", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group" style="margin-right: -40px;">
                            @Html.DropDownList("SupplierId[8]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: -30px;">
                                <div class="col-sm-8" style="margin-right: -15px; padding-left: 12px; padding-right: 10px;">
                                    @Html.DropDownList("SupplierId[0]", new SelectList(db.Suppliers, "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-5" style="padding-left: 3px; padding-right: 15px; margin-left: 2px;">
                                    @Html.TextBox("item_0_", "", new { @class = "form-control", @style = "padding-left: 5px;" })
                                </div>
                            </div>
                        </div>
                        @foreach (var item in db.Custom_Type)
                        {
                            <div class="col-sm-2">
                                <div class="form-group" style=" margin-left: -13px;">
                                    @Html.TextBox("item_0_" + item.TypeId, "", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>