﻿@model InventoryMS.Models.QuantityApprovalMain
@using InventoryMS.Models
@{
    InventoryCubeEntities db = new InventoryCubeEntities();
    ProductCubeEntities dbProd = new ProductCubeEntities();
}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Entry :: Price Approval
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> PO</a></li>
        <li class="active">Price Approval</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">PO Details</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">PurchaseOrder List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.POId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PurchaseOrder.PONo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.QApprovalDate, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Model.QApprovalDate.ToString("dd-MMM-yyyy")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrder.Bond.LicenseNumber, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PurchaseOrder.Bond.LicenseNumber) (@Html.DisplayFor(model => model.PurchaseOrder.BondPeriod.LicensePeriod))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApprovedBy, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <select id="ApprovedBy" name="ApprovedBy" class="form-control select col-sm-12">
                                        <option value=""></option>
                                        <option value="1">CFO</option>
                                        <option value="2">MANAGER/BOND</option>
                                        <option value="3">MANAGER/INVENTORY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pre-scrollable" style="">
                                <table class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 1950px;">
                                    <thead>
                                        <tr>
                                            @*<th style="text-align: center; width: 4%;">
                                                SL #
                                            </th>*@
                                            <th style="text-align: center; width: 7%;">
                                                Requisition #
                                            </th>
                                            <th style="text-align: center; width: 12%;">
                                                Product
                                            </th>
                                            <th style="text-align: center; width: 5%;">
                                                Cur. Stock
                                            </th>
                                            <th style="text-align: center; width: 5%;">
                                                Pipeline
                                            </th>
                                            <th style="text-align: center; width: 7%;">
                                                Supplier
                                            </th>
                                            <th style="text-align: center; width: 6%;">
                                                Brand
                                            </th>
                                            <th colspan="2" style="text-align: center; width: 7%;">
                                                PO Quantity
                                            </th>
                                            <th style="text-align: center; width: 5%;">
                                                App. Quantity
                                            </th>
                                            <th colspan="10" style="text-align: center; width: 46%;">
                                                Terms
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>    
                                        @foreach (QuantityApprovalSub posub in Model.QuantityApprovalSubs.Where(l => l.QuotationMains != null && l.QuotationMains.Count > 0))
                                        {
                                            <tr>
                                                <td rowspan="9" style="vertical-align: middle;">@posub.PurchaseOrderSub.PRMain.PRNo</td>
                                                <td rowspan="9" style="text-align: left; vertical-align: middle;">@dbProd.ItemInfoes.Find(posub.PRSub.ProductId).ItemName</td>
                                                <td rowspan="9" style="text-align: right; vertical-align: middle;">@posub.PRSub.CurrentStock.ToString("##,##0")</td>
                                                <td rowspan="9" style="text-align: right; vertical-align: middle;">@posub.PRSub.StockInTransit.ToString("##,##0")</td>
                                                <td rowspan="9" style="vertical-align: middle;">@posub.PRSub.Supplier.SupplierName</td>
                                                <td rowspan="9" style="vertical-align: middle;">@posub.PRSub.Brand.BrandName</td>
                                                <td rowspan="9" style="text-align: right; width: 4%; vertical-align: middle;">@posub.PurchaseOrderSub.Quantity.ToString("##,##0")</td>
                                                <td rowspan="9" style="width: 3%; vertical-align: middle;">@dbProd.viewQuantityUnits.Where(l => l.QuantityUnitId == posub.PurchaseOrderSub.QuantityUnitId).FirstOrDefault().QuantityUnit</td>
                                                <td rowspan="9" style="text-align: right; vertical-align: middle;">@posub.ApprovedQuantity.ToString("##,##0")</td>
                                                <td style="width: 10%; vertical-align: middle;"></td>

                                                @{int qid = db.QuotationMains.Where(l => l.QApprovalSubId == posub.QApprovalSubId).FirstOrDefault().QuotationId;}
                                                @foreach (short SupId in db.QuotationSubs.Where(l => l.QuotationId == qid).Select(c => c.SupplierId).Distinct())
                                                {
                                                    <td colspan="@db.QuotationSubs.Where(l => l.QuotationId == qid && l.SupplierId == SupId).Count().ToString()" style="width: 12%; text-align: center;">@db.Suppliers.Find(SupId).SupplierName</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td></td>
                                                @foreach (short SupId in db.QuotationSubs.Where(l => l.QuotationId == qid).Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                                                {
                                                    foreach (string tenure in db.QuotationSubs.Where(l => l.QuotationId == qid && l.SupplierId == SupId).Select(c => c.TenureType).Distinct().OrderBy(c => c))
                                                    {
                                                        <td colspan="@db.QuotationSubs.Where(l => l.QuotationId == qid && l.SupplierId == SupId && l.TenureType.Equals(tenure)).Count().ToString()" style="text-align: center;">@tenure</td>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="RN" type="hidden" value="@qid" />
                                                    <input class="QID" type="hidden" value="0" />
                                                    <input class="CType" type="hidden" value="0" />
                                                    <input class="IsApp" type="hidden" value="0" />
                                                    Approval Status
                                                </td>
                                                @foreach (short SupId in db.QuotationSubs.Where(l => l.QuotationId == qid).Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                                                {
                                                    foreach (QuotationSub qsub in db.QuotationSubs.Where(l => l.QuotationId == qid && l.SupplierId == SupId).OrderBy(c => c.TenureType))
                                                    {
                                                        <td style="text-align: center;">@Html.CheckBox("tenure", new { @role = @qsub.QuotationSubId, @CType = "2", @class = "chk chk" + @qid })</td>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tenure Days
                                                </td>
                                                @foreach (short SupId in db.QuotationSubs.Where(l => l.QuotationId == qid).Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                                                {
                                                    foreach (QuotationSub qsub in db.QuotationSubs.Where(l => l.QuotationId == qid && l.SupplierId == SupId).OrderBy(c => c.TenureType))
                                                    {
                                                        <td style="text-align: center;">@qsub.TenureDays</td>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <td>
                                                    Quotation Price
                                                </td>
                                                @foreach (short SupId in db.QuotationSubs.Where(l => l.QuotationId == qid).Select(c => c.SupplierId).Distinct().OrderBy(c => c))
                                                {
                                                    foreach (QuotationSub qsub in db.QuotationSubs.Where(l => l.QuotationId == qid && l.SupplierId == SupId).OrderBy(c => c.TenureType))
                                                    {
                                                        <td style="text-align: center;">@qsub.QuotationPrice</td>
                                                    }
                                                }
                                            </tr>
                                            @*<tr>
                                                <td>
                                                    <input class="RN" type="hidden" value="@posub.POSubId" />
                                                    <input class="QID" type="hidden" value="0" />
                                                    <input class="CType" type="hidden" value="0" />
                                                    <input class="IsApp" type="hidden" value="0" />
                                                    Approval Status
                                                </td>
                                                @foreach (QuotationMain qMain in posub.QuotationMains)
                                                {
                                                    <td style="width: 4%; text-align: center;">@Html.CheckBox("Sight", new { @role = @qMain.QuotationId, @CType = "1", @class = "chk chk" + @posub.POSubId })</td>
                                                    <td style="width: 4%; text-align: center;">@Html.CheckBox("SC", new { @role = @qMain.QuotationId, @CType = "2", @class = "chk chk" + @posub.POSubId })</td>
                                                    <td style="width: 4%; text-align: center;">@Html.CheckBox("UPass", new { @role = @qMain.QuotationId, @CType = "3", @class = "chk chk" + @posub.POSubId })</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>tenure days</td>
                                                @foreach (QuotationMain qMain in posub.QuotationMains)
                                                {
                                                    <td style="width: 4%; text-align: center;"></td>
                                                    <td style="width: 4%; text-align: center;">@qMain.SupplierCreditDays</td>
                                                    <td style="width: 4%; text-align: center;">@qMain.UPassDays</td>
                                                }
                                            </tr>
                                            foreach (var item in db.Custom_Type.Where(l => l.Flag.Equals("PATERM")))
                                            {
                                                <tr>
                                                    <td style="">@item.TypeName</td>
                                                    @foreach (QuotationMain qMain in posub.QuotationMains)
                                                    {
                                                        foreach (QuotationSub sub in qMain.QuotationSubs.Where(l => l.TermId == item.TypeId))
                                                        {
                                                            <td style="text-align: right;">@sub.SightPrice</td>
                                                            <td style="text-align: right;">@sub.SCPrice</td>
                                                            <td style="text-align: right;">@sub.UPassPrice</td>
                                                        }
                                                    }
                                                </tr>
                                            }*@
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="APVSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Quotation</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="quoteSave" type="button" class="btn btn-success" onclick="quoteSave()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
            {
                'size': 'mini',
                'onText': 'App',
                //'width': '180',
                'offText': 'No'
            });

        var iscb = false;
        $('.chk').on('switchChange.bootstrapSwitch', function (event, state) {
            if (state) {
                iscb = true;
                $(this).closest('td').siblings(':first-child').find('.QID').val($(this).attr('role'));
                $(this).closest('td').siblings(':first-child').find('.CType').val($(this).attr('ctype'));
                $(this).closest('td').siblings(':first-child').find('.IsApp').val('1');
                var v = $(this).closest('td').siblings(':first-child').find('.RN').val();
                $('.chk' + v).not(this).each(function (index) {
                    $(this).bootstrapSwitch('state', false);
                });
            }
            else if (iscb) {
                if ($(this).closest('td').siblings(':first-child').find('.CType').val() == $(this).attr('ctype')
                    && $(this).closest('td').siblings(':first-child').find('.QID').val() == $(this).attr('role')) {
                    $(this).closest('td').siblings(':first-child').find('.QID').val('0');
                    $(this).closest('td').siblings(':first-child').find('.CType').val('0');
                    $(this).closest('td').siblings(':first-child').find('.IsApp').val('0');

                    iscb = false;
                }
            }
        });
        //$('input[type=\"checkbox\"]').change(function (event) {
        //    var state = $(this).bootstrapSwitch('state');
        //    if (state) {
        //        alert('A');
        //    } else {
        //        alert('B');
        //    }
        //    event.preventDefault();
        //});

        function addsupprice(e) {
            rn = $(e).closest('tr').index() + 1;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PriceQuotation")',
                //data: JSON.stringify({ supPrice: supPrice }),
                success: function (msg) {
                    $('#padetails').html(msg);
                    
                    $('#QDetails tbody').html('<tr><td colspan="27"></td></tr>');

                    for (var ri = $('#QDetails1>tbody>tr').length - 1; ri >= 0; ri--) {
                        if ($('#QDetails1 tr:eq(' + ri + ') td').length >= 25 && $('#QDetails1 tr:eq(' + ri + ') td:eq(25)').html() == $('#tblSub tr:eq(' + rn + ') td:eq(21)').html()) {
                            var row = '<tr>' + $('#QDetails1 tr:eq(' + ri + ')').html() + '</tr>';
                            $('#QDetails tr:last').before(row);
                        }
                    }

                    $('#padetails select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
        
        function add() {
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblSub>tbody>tr').length;
            }

            var row = "<tr>" +
                "<td>" + $('#SupplierId').val() + "</td>" +
                "<td>" + $('#SupplierId').select2("data")[0].text + "</td>" +
                "<td>" + $('#SightDays').val() + "</td>" +
                "<td>" + $('#SCDays').val() + "</td>" +
                "<td>" + $('#UPassDays').val() + "</td>";
            for (var ri = 0; ri < 5; ri++) {
                row += "<td style='display: none;'>" + $('#Term_' + ri + '_').val() + "</td>" +
                    "<td style='display: none;'>" + $('#Sight_' + ri + '_').val() + "</td>" +
                    "<td style='display: none;'>" + $('#SC_' + ri + '_').val() + "</td>" +
                    "<td style='display: none;'>" + $('#UPass_' + ri + '_').val() + "</td>";
            };

            row += "<td style='display: none;'>" + '1' + "</td>" +
            "<td style='display: none;'>" + '1' + "</td>" +
            '<td style="text-align: center;">' +
                '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
            '</td>' +
            "</tr>";

            if (isEdit) {
                $('#QDetails tr:eq(' + rn + ')').after(row);
                $('#QDetails tr:eq(' + rn + ')').remove();
            }
            else {
                $('#QDetails tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#SupplierId').val($('#QDetails tr:eq(' + rn + ') td:eq(0)').html()).trigger("change");
            $('#SightDays').val($('#QDetails tr:eq(' + rn + ') td:eq(2)').html());
            $('#SCDays').val($('#QDetails tr:eq(' + rn + ') td:eq(3)').html());
            $('#UPassDays').val($('#QDetails tr:eq(' + rn + ') td:eq(4)').html());
            $('#POSubId').val($('#QDetails tr:eq(' + rn + ') td:eq(25)').html());
            $('#RowNo').val(rn);

            for (var ri = 0; ri < 5; ri++) {
                $('#Term_' + ri + '_').val($('#QDetails tr:eq(' + rn + ') td:eq(' + (5 + (ri * 4)) + ')').html());
                $('#Sight_' + ri + '_').val($('#QDetails tr:eq(' + rn + ') td:eq(' + (6 + (ri * 4)) + ')').html());
                $('#SC_' + ri + '_').val($('#QDetails tr:eq(' + rn + ') td:eq(' + (7 + (ri * 4)) + ')').html());
                $('#UPass_' + ri + '_').val($('#QDetails tr:eq(' + rn + ') td:eq(' + (8 + (ri * 4)) + ')').html());
            };

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#QDetails tr:eq(' + rn + ')').remove();

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        function quoteSave(){
            rn = $('#QDetails tr:last').index();
            $('#QDetails1 tbody').html('<tr><td colspan="27"></td></tr>');
            for (var ri = $('#QDetails1>tbody>tr').length - 1; ri >= 0; ri--) {
                if ($('#QDetails1 tr:eq(' + ri + ') td').length >= 25 && $('#QDetails1 tr:eq(' + ri + ') td:eq(25)').html() == $('#POSubId').val()) {
                    $('#QDetails1 tr:eq(' + ri + ')').remove();
                    rn = ri + 1;
                }
            }

            for (var ri = 0; ri < $('#QDetails>tbody>tr').length; ri++) {
                //alert($('#QDetails  tr:eq(' + ri + ') td').length);
                if ($('#QDetails tr:eq(' + ri + ') td').length >= 25){// && $('#QDetails tr:eq(' + ri + ') td:eq(25)').html() == $('#POSubId').val()) {
                    alert(rn);
                    var row = '<tr>' + $('#QDetails tr:eq(' + ri + ')').html() + '</tr>';
                    $('#QDetails1 tr:eq('+rn+')').before(row);
                }
            }

            $('#mymodal').modal('hide');
        };

        //$("td:nth-child(19)").dblclick(function () {
        //    var OriginalContent = $(this).text();
        //    $(this).addClass("cellEditing");
        //    $(this).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        //    $(this).children().first().focus();

        //    $(this).children().first().keypress(function (e) {
        //        if (e.which == 13) {
        //            var newContent = $(this).val();
        //            $(this).parent().text(newContent);
        //            $(this).parent().removeClass("cellEditing");
        //        }
        //        else {
        //            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        //        }
        //    });

        //    $(this).children().first().blur(function () {
        //        $(this).parent().text(OriginalContent);
        //        $(this).parent().removeClass("cellEditing");
        //    });
        //});

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });



            @*var quotationView = [], quotationSubView = [], rn = 0;

            var tbl = $('table#QDetails1').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 25) {
                    var arrayOfThisRow = {
                        POSubId: tableData[25], SupplierId: tableData[0], SupplierName: tableData[1],
                        SupplierCreditDays: tableData[3], UPassDays: tableData[4], QVId: rn,
                        QuotationId: 0
                    };
                    //alert(arrayOfThisRow);
                    quotationView.push(arrayOfThisRow);

                    for (var ri = 0; ri < 5; ri++) {
                        var arrayOfThisRow1 = {
                            QuotationSubId: 0, TermId: tableData[(5 + (ri * 4))], //Term: tableData[1],
                            SightPrice: tableData[(6 + (ri * 4))], SCPrice: tableData[(7 + (ri * 4))], UPassPrice: tableData[(8 + (ri * 4))], QVId: rn,
                            QuotationId: 0
                        };
                        //alert(arrayOfThisRow);
                        quotationSubView.push(arrayOfThisRow1);
                    };
                }
            }).get();

            //alert(JSON.stringify({ quotationView: quotationView, quotationSubView: quotationSubView }));
            //return;
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("QuotationSave")',
                data: JSON.stringify({ POId: 1, quotationView: quotationView, quotationSubView: quotationSubView }),
                success: function (msg) {
                    //$('#APVSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    alert('A');
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });*@
        });
    </script>
}

@section CSS {

}

