﻿@model InventoryMS.Models.QuantityApprovalMain
@using InventoryMS.Models
@{
    InventoryCubeEntities db = new InventoryCubeEntities();
    ProductCubeEntities dbProd = new ProductCubeEntities();
}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Entry :: Price Approval
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> PO</a></li>
        <li class="active">Price Approval</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">PO Details</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">PurchaseOrder List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.QApprovalId)
                            @Html.HiddenFor(model => model.QApprovalNo)

                            <div class="form-group">
                                @Html.LabelFor(model => model.POId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PurchaseOrder.PONo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.QApprovalDate, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Model.QApprovalDate.ToString("dd-MMM-yyyy")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrder.Bond.LicenseNumber, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PurchaseOrder.Bond.LicenseNumber) (@Html.DisplayFor(model => model.PurchaseOrder.BondPeriod.LicensePeriod))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApprovedBy, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <select id="ApprovedBy" name="ApprovedBy" class="form-control select col-sm-12">
                                        <option value=""></option>
                                        <option value="1">CFO</option>
                                        <option value="2">MANAGER/BOND</option>
                                        <option value="3">MANAGER/INVENTORY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="">
                                <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2500px;">
                                    <thead>
                                        <tr>
                                            <th>
                                                SL #
                                            </th>
                                            <th>
                                                Req No
                                            </th>
                                            <th>
                                                Req Date
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Cur. Stock
                                            </th>
                                            <th>
                                                Pipeline
                                            </th>
                                            <th>
                                                Pend Req
                                            </th>
                                            <th>
                                                Total Stock
                                            </th>
                                            <th>
                                                Avg Consm/Day
                                            </th>
                                            <th>
                                                Days With T S
                                            </th>
                                            <th>
                                                Hist. Period
                                            </th>
                                            <th>
                                                Hist. Consm
                                            </th>
                                            <th>
                                                L3M Avg Csm LY
                                            </th>
                                            <th>
                                                L3M Avg Csm CY
                                            </th>
                                            <th style="display: none;">
                                                Supplier Id
                                            </th>
                                            <th>
                                                Supplier
                                            </th>
                                            <th style="display: none;">
                                                Brand Id
                                            </th>
                                            <th>
                                                Brand
                                            </th>
                                            <th>
                                                L T E O
                                            </th>
                                            <th>
                                                Lead Time
                                            </th>
                                            <th>
                                                Ft. ETA
                                            </th>
                                            <th style="display: none;">
                                                Quotation ID
                                            </th>
                                            <th style="display: none;">
                                                PR Sub ID
                                            </th>
                                            <th style="display: none;">
                                                PO Sub ID
                                            </th>
                                            <th style="display: none;">
                                                Category Id
                                            </th>
                                            <th style="display: none;">
                                                Product Id
                                            </th>
                                            <th style="text-align: center;">
                                                Req. Qty
                                            </th>
                                            <th style="display: none;">
                                                Unit Id
                                            </th>
                                            <th style="text-align: center;">
                                                PO Qty
                                            </th>
                                            <th style="text-align: center;">
                                                Unit
                                            </th>
                                            <th style="text-align: center;">
                                                App. Qty
                                            </th>
                                            <th style="display: none;">
                                                App. Q S ID
                                            </th>
                                            <th style="text-align: center;">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        @Html.Action("RowTemplate", new { id = Model.QApprovalId, type = "PA" })
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="APVSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                <label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = '@Url.Action("PApprovalPending")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Quotation</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="quoteSave" type="button" class="btn btn-success" onclick="saveQoute()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        var table, editor; toTable();

        function toTable() {
            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    scrollX: "2500px",
                    //scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false,
                    columnDefs: [
                        { className: "dt-center", targets: "_all" },
                        { width: 40, targets: 0 },
                        { width: 110, targets: 1 },
                        { width: 70, targets: 2 },
                        { width: 200, targets: 3 },
                        { width: 80, targets: 4 },
                        { width: 80, targets: 5 },
                        { width: 80, targets: 6 },
                        { width: 80, targets: 7 },
                        { width: 80, targets: 8 },
                        { width: 80, targets: 9 },
                        { width: 160, targets: 10 },
                        { width: 80, targets: 11 },
                        { width: 100, targets: 12 },
                        { width: 100, targets: 13 },
                        //{ width: 100, targets: 14 },
                        { width: 120, targets: 15 },
                        //{ width: 100, targets: 16 },
                        { width: 100, targets: 17 },
                        { width: 70, targets: 18 },
                        { width: 70, targets: 19 },
                        { width: 80, targets: 20 },
                        { width: 60, targets: 26 },
                        { width: 60, targets: 28 },
                        { width: 60, targets: 29 },
                        { width: 60, targets: 30 },
                        { width: 30, targets: 32 }
                    ]//,
                    //fixedColumns: true
                }
            );
            new $.fn.dataTable.FixedColumns(table, {
                leftColumns: 0,
                rightColumns: 7,
                //fnDrawCallback:function(){
                //    clone_grid_init();
                //}
            });
        }

        function ShowQuotation(e, id) {
            rn = $(e).closest('tr').index() + 1;
            //alert($(e).closest('tr').find('td:eq(5)').html());
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ItemWiseQuotationDetails")',
                data: JSON.stringify({ id: id }),
                success: function (msg) {
                    $('#padetails').html(msg);

                    if ($(e).closest('tr').find('td:eq(5)').html() != '') {
                        $('#QID').val($(e).closest('tr').find('td:eq(5)').html());
                        $('#CType').val('2');
                        $('#IsApp').val('1');
                        $("[role='" + $(e).closest('tr').find('td:eq(5)').html() + "']").bootstrapSwitch('state', true);
                    }

                    //$("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
                    //    {
                    //        'size': 'mini',
                    //        'onText': 'App',
                    //        //'width': '180',
                    //        'offText': 'No'
                    //    });

                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function saveQoute() {
            if ($('.IsApp').val() == '1') {
                var id = '#aqsid_' + $('.QASID').val();
                var qsid = $('.QID').val();
                //alert(id + ' ' + qsid);
                $('.qas_' + $('.QASID').val()).each(function () {
                    $(this).attr('style', 'color: red;');
                })

                table.cell($(id)).data(qsid).draw();

                //alert($('.DTFC_RightBodyLiner .DTFC_Cloned .qas_' + $('.QASID').val()).attr('style', 'color: red;'));

                $('#mymodal').modal('hide');
            }
            else {
                if (confirm('No quotation is approved. Are your sure to save?')) {
                    var id = '#aqsid_' + $('.QASID').val();
                    var qsid = $('.QID').val();
                    //alert(id + ' ' + qsid);
                    $('.qas_' + $('.QASID').val()).each(function () {
                        $(this).attr('style', '');
                    })

                    table.cell($(id)).data('').draw();

                    $('#mymodal').modal('hide');
                }
            }
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var priceApprovalSub = [], rn = 0;

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                //alert(t.length);
                //alert(tableData[31]);
                if (tableData.length >= 32 && tableData[31] != '' && tableData[31] != '0') {
                    priceApprovalSub.push(tableData[31]);
                }
            });

            //alert(JSON.stringify({ id: $('#QApprovalId').val(), priceApprovalSub: priceApprovalSub }));

            if(priceApprovalSub.length == 0)
                return;
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PriceApprovalSave")',
                data: JSON.stringify({ id: $('#QApprovalId').val(), priceApprovalSub: priceApprovalSub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html("Price approval successful for Q App # " + $('#QApprovalNo').val() + "");
                        $('#vtext').html("Price Approval #");
                        $('#vno').html(msg.pano);

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}

