﻿@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();}
@{ProductCubeEntities dbProd = new ProductCubeEntities();}

<form id="userForm" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Product Name", new { @class = "col-common col-sm-5 control-label" })
                <div id="pname" class="col-sm-7">
                    @Html.Display("abc")
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Quantity", new { @class = "col-common col-sm-5 control-label" })
                <div id="aqty" class="col-sm-7">
                    @Html.Display("0.00")
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Pref Supplier", new { @class = "col-common col-sm-4 control-label" })
                <div id="psup" class="col-sm-8">
                    @Html.Display("abc")
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Brand", new { @class = "col-common col-sm-4 control-label" })
                <div id="brand" class="col-sm-8">
                    @Html.Display("0.00")
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="col-sm-12" style="background-color: #20590a; color: white; margin-bottom: 5px;">
                @Html.Label("Particulars", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center;  border-right: 1px solid white" })
                @Html.Label("Values", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center; border-right: 1px solid white" })
                @Html.Label("Particulars", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center;  border-right: 1px solid white" })
                @Html.Label("Values", new { @class = "col-common col-sm-3 control-label", @style = "text-align: center; border-right: 1px solid white" })
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Supplier", new { @class = "col-common col-sm-6 control-label" })
                    <div class="col-sm-6">
                        @Html.DropDownList("SupplierId", new SelectList(db.Suppliers.Where(c => c.ApprovedType == 1), "SupplierId", "ShortName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Quotation Price", new { @class = "col-common col-sm-6 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBox("QuotationPrice", "0", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("CurrencyId", new SelectList(dbProd.CustomTypes.Where(l => l.Flag.Equals("CURRCODE")), "TypeId", "TypeName", 21), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Tenure Type", new { @class = "col-common col-sm-6 control-label" })
                    <div class="col-sm-6">
                        @Html.DropDownList("TenureType", new SelectList(db.Custom_Type.Where(l => l.Flag.Equals("STENURE")), "TypeId", "TypeName"), string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tenure Days", new { @class = "col-common col-sm-6 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBox("TenureDays", "0", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <input id="btnAdd" type="button" class="btn btn-success btn-sm col-sm-12" style="margin-bottom: 10px;" value="Add" onclick="add();" />
            </div>

            <div class="col-sm-12 pre-scrollable" style="max-height: 220px !important;">
                <table id="QDetails" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                    <thead>
                        <tr>
                            <th style="display: none;">Sup Id</th>
                            <th>Supplier</th>
                            <th>T Type</th>
                            <th>T Days</th>
                            <th>C PRICE</th>
                            <th>Currency</th>
                            <th style="display: none;">QSub</th>
                            <th style="display: none;">POSubId</th>
                            <th style="display: none;">QId</th>
                            <th style="display: none;">QASubId</th>
                            <th style="display: none;">PRSubId</th>
                            <th style="display: none;">CurrencyId</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="14"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @Html.Hidden("QuotationSubId", 0)
            @Html.Hidden("POSubId", 0)
            @Html.Hidden("QuotationId", "0")
            @Html.Hidden("PRSubId", 0)
            @Html.Hidden("QASubId", 0)
        </div>
    </div>
</form>

<script>
    function add() {
        var isEdit = false;
        if ($('#btnAdd').hasClass('change')) {
            isEdit = true;
        }
        else {
            rn = $('#QDetails>tbody>tr').length;
            //if (rn > 3) {
            //    alert('You can\'t add more than 3 quotation.');
            //    return;
            //}
        }

        if ($('#SupplierId').val() == '') {
            alert('Select supplier.');
            $('#SupplierId').focus();
            return;
        }
        else if ($('#TenureType').val() == '') {
            alert('Select tenure type.');
            $('#TenureType').focus();
            return;
        }
        else if ($('#QuotationPrice').val() == '' || eval($('#QuotationPrice').val()) == 0) {
            alert('Enter quotation price.');
            $('#QuotationPrice').focus();
            return;
        }
        else{
            for (var ri = 0; ri < $('#QDetails>tbody>tr').length; ri++) {
                if ((!isEdit || rn != ri) && $('#SupplierId').val() == $('#QDetails tr:eq(' + ri + ') td:eq(0)').html()
                     && $('#TenureType').val() == $('#QDetails tr:eq(' + ri + ') td:eq(2)').html()
                     && $('#TenureDays').val() == $('#QDetails tr:eq(' + ri + ') td:eq(3)').html()) {
                    alert('Duplicate supplier.');
                    return;
                }
            }
        }

        var row = "<tr>" +
            "<td style='display: none;'>" + $('#SupplierId').val() + "</td>" +
            "<td>" + $('#SupplierId').select2("data")[0].text + "</td>" +
            "<td>" + $('#TenureType').val() + "</td>" +
            "<td>" + $('#TenureDays').val() + "</td>" +
            "<td>" + $('#QuotationPrice').val() + "</td>" +
            "<td>" + $('#CurrencyId').select2("data")[0].text + "</td>" +
            "<td style='display: none;'>" + $('#QuotationSubId').val() + "</td>" +
            "<td style='display: none;'>" + $('#POSubId').val() + "</td>" +
            "<td style='display: none;'>" + $('#QuotationId').val() + "</td>" +
            "<td style='display: none;'>" + $('#QASubId').val() + "</td>" +
            "<td style='display: none;'>" + $('#PRSubId').val() + "</td>" +
            "<td style='display: none;'>" + $('#CurrencyId').val() + "</td>" +
            '<td style="text-align: center;">' +
                '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
            '</td>' +
            "</tr>";

        if (isEdit) {
            $('#QDetails tr:eq(' + rn + ')').after(row);
            $('#QDetails tr:eq(' + rn + ')').remove();
        }
        else {
            $('#QDetails tr:last').before(row);
        }

        $('#QuotationSubId').val('0');
        //$('#POSubId').val('0');
        //$('#QuotationId').val('0');
        //$('#QASubId').val('0');

        $('#btnAdd').val('Add');
        $('#btnAdd').removeClass('change');
    };

    function quoteSave() {
        //rn = 0;
        //rn = $('#QDetails tr:last').index();
        //$('#QDetails1 tbody').html('<tr><td colspan="27"></td></tr>');
        $('#tblSub').find('input[type="checkbox"]:checked').each(function () {
            var qasubid = $(this).closest('tr').find('td:eq(25)').html();
            for (var ri = $('#QDetails1>tbody>tr').length - 1; ri >= 0; ri--) {
                //alert('A');
                if ($('#QDetails1 tr:eq(' + ri + ') td').length >= 9 && $('#QDetails1 tr:eq(' + ri + ') td:eq(9)').html() == qasubid) {
                    //alert('B');
                    $('#QDetails1 tr:eq(' + ri + ')').remove();
                    rn = ri;
                    //alert(rn);
                }
            }
        });
        
        $('#tblSub').find('input[type="checkbox"]:checked').each(function () {
            var qasubid = $(this).closest('tr').find('td:eq(25)').html(), isBlank = true;

            for (var ri = 0; ri < $('#QDetails>tbody>tr').length; ri++) {
                //alert($('#QDetails  tr:eq(' + ri + ') td').length);
                //alert('C');
                if ($('#QDetails tr:eq(' + ri + ') td').length >= 9) /*&& $('#QDetails tr:eq(' + ri + ') td:eq(9)').html() == $('#QASubId').val())*/ {
                    //alert('D');
                    //alert(rn);
                    var row = '<tr>' +
                        "<td style='display: none;'>" + $('#QDetails tr:eq(' + ri + ') td:eq(0)').html() + "</td>" +
                        "<td>" + $('#QDetails tr:eq(' + ri + ') td:eq(1)').html() + "</td>" +
                        "<td>" + $('#QDetails tr:eq(' + ri + ') td:eq(2)').html() + "</td>" +
                        "<td>" + $('#QDetails tr:eq(' + ri + ') td:eq(3)').html() + "</td>" +
                        "<td>" + $('#QDetails tr:eq(' + ri + ') td:eq(4)').html() + "</td>" +
                        "<td>" + $('#QDetails tr:eq(' + ri + ') td:eq(5)').html() + "</td>" +
                        "<td style='display: none;'>" + "0" + "</td>" +
                        "<td style='display: none;'>" + $(this).closest('tr').find('td:eq(23)').html() + "</td>" +
                        "<td style='display: none;'>" + $(this).closest('tr').find('td:eq(21)').html() + "</td>" +
                        "<td style='display: none;'>" + $(this).closest('tr').find('td:eq(25)').html() + "</td>" +
                        "<td style='display: none;'>" + $(this).closest('tr').find('td:eq(22)').html() + "</td>" +
                        "<td style='display: none;'>" + $('#QDetails tr:eq(' + ri + ') td:eq(11)').html() + "</td>" +
                        "<td>" + $('#QDetails tr:eq(' + ri + ') td:eq(12)').html() + "</td>" +
                        '</tr>';
                    $('#QDetails1 tr:last').before(row);

                    isBlank = false;
                }
            }

            if (isBlank) {
                $('.DTFC_RightBodyLiner .DTFC_Cloned .status_' + qasubid).find('i').removeClass('glyphicon-star');
                $('.DTFC_RightBodyLiner .DTFC_Cloned .status_' + qasubid).find('i').addClass('glyphicon-star-empty');
            }
            else {
                $('.DTFC_RightBodyLiner .DTFC_Cloned .status_' + qasubid).find('i').removeClass('glyphicon-star-empty');
                $('.DTFC_RightBodyLiner .DTFC_Cloned .status_' + qasubid).find('i').addClass('glyphicon-star');
            }

            $('.DTFC_RightBodyLiner .DTFC_Cloned .status_' + qasubid).attr('style', 'color: red;');

            $('#chk_' + qasubid).each(function () {
                $(this).prop('checked', false);
            })
            $('.DTFC_RightBodyLiner .DTFC_Cloned #chk_' + qasubid).prop('checked', false);
            $('.DTFC_RightBodyLiner .DTFC_Cloned #vchk_' + qasubid).html(false);
        });

        $('#mymodal').modal('hide');
    };

    function editrow(e) {
        rn = $(e).closest('tr').index() + 1;

        $('#SupplierId').val($('#QDetails tr:eq(' + rn + ') td:eq(0)').html()).trigger("change");
        $('#TenureType').val($('#QDetails tr:eq(' + rn + ') td:eq(2)').html()).trigger("change");
        $('#TenureDays').val($('#QDetails tr:eq(' + rn + ') td:eq(3)').html()); 
        $('#QuotationPrice').val($('#QDetails tr:eq(' + rn + ') td:eq(4)').html());
        $('#QuotationSubId').val($('#QDetails tr:eq(' + rn + ') td:eq(5)').html());
        $('#CurrencyId').val($('#QDetails tr:eq(' + rn + ') td:eq(11)').html()).trigger("change");
        $('#RowNo').val(rn);

        $('#btnAdd').addClass('change');
        $('#btnAdd').val('Rep');
    };

    function delrow(e) {
        rn = $(e).closest('tr').index() + 1;

        $('#QDetails tr:eq(' + rn + ')').remove();

        $('#btnAdd').val('Add');
        $('#btnAdd').removeClass('change');
    };

</script>