﻿@model IEnumerable<InventoryMS.Models.PurchaseOrder>

@{
    ViewBag.Title = Html.DisplayNameForModel();
    InventoryMS.Models.InventoryCubeEntities db = new InventoryMS.Models.InventoryCubeEntities();
    InventoryMS.Models.ProductCubeEntities dbProd = new InventoryMS.Models.ProductCubeEntities();
}

<section class="content-header">
    <h1>
        Pending PO List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Q A Pending</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.PONo)
                                </th>
                                <th style="text-align: center;">
                                    Req. No
                                </th>
                                <th style="text-align: center;">
                                    PO Date
                                </th>
                                <th style="text-align: center;">
                                    Factory
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Bond.LicenseNumber)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PONo)
                                    </td>
                                    <td>
                                        @MvcHtmlString.Create(item.PurchaseOrderSubs.Select(c => c.PRMain.PRNo).Distinct().Aggregate((i, j) => i + "<br/>" + j))
                                    </td>
                                    <td>
                                        @item.PODate.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @{
                                            var flist = item.PurchaseOrderSubs.Select(c => c.PRMain).Select(c => c.FactoryId).Distinct().ToList();
                                        }
                                        @MvcHtmlString.Create(dbProd.Factories.AsEnumerable().Where(l => flist.Contains(l.FactoryId)).Select(c => c.ShortName).Aggregate((i, j) => i + "<br/>" + j))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bond.LicenseNumber) (@item.BondPeriod.LicensePeriod)
                                    </td>
                                    <td style="text-align: center">
                                        @if (InventoryMS.Models.clsMain.IsPermitted("PurchaseOrder" , (ViewBag.type == "P" ? "PriceApproval" : "QuantityApproval")))
                                        {
                                            <a href="@Url.Action((ViewBag.type == "P" ? "Quotation" : "QuantityApproval"), new { id = item.POId })" title="" data-toggle="tooltip" data-original-title="Approval"><i class="fa fa-check-square"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Approval"><i class="fa fa-check-square"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

