﻿@model InventoryMS.Models.PurchaseOrder

@{
    ViewBag.Title = Html.DisplayNameForModel();
    InventoryMS.Models.ProductCubeEntities db = new InventoryMS.Models.ProductCubeEntities();
}

<section class="content-header">
    <h1>
		Entry :: Quantity Approval
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> PO</a></li>
        <li class="active">Quantity Approval</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">PO Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">PurchaseOrder List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PONo, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PONo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PODate, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Model.PODate.ToString("dd-MMM-yyyy")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Bond.LicenseNumber, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.Bond.LicenseNumber) (@Html.DisplayFor(model => model.BondPeriod.LicensePeriod))
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Bond.CompanyId, "Company", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @db.Companies.Find(Model.Bond.CompanyId).CompanyName
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top: -7px;">
                                @Html.LabelFor(model => model.PONo, "Approval #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.LabelFor(model => model.PONo, (string)ViewBag.qano, new { @class = "col-common col-sm-12 control-label", style = "color: red; text-align: left;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Approved By", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @*<select id="ApprovedBy" name="ApprovedBy" class="form-control select col-sm-12">*@
                                    <select class="form-control select" id="ApprovedBy" name="ApprovedBy" style="width: 100%;">
                                        <option></option>
                                        <option value="1" selected="selected">CFO</option>
                                        <option value="2">MANAGER/BOND</option>
                                        <option value="3">MANAGER/INVENTORY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">PO Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @*@Html.Action("RequisitionTemplate")*@
                                    </div>

                                    <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2700px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL #
                                                </th>
                                                <th>
                                                    Req No
                                                </th>
                                                <th>
                                                    Req Date
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Cur. Stock
                                                </th>
                                                <th>
                                                    Pipeline
                                                </th>
                                                <th>
                                                    Pend Req
                                                </th>
                                                <th>
                                                    Total Stock
                                                </th>
                                                <th>
                                                    Avg Consm/Day
                                                </th>
                                                <th>
                                                    Days With T S
                                                </th>
                                                <th>
                                                    Hist. Period
                                                </th>
                                                <th>
                                                    Hist. Consm
                                                </th>
                                                <th>
                                                    L3M Avg Csm LY
                                                </th>
                                                <th>
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="display: none;">
                                                    Supplier Id
                                                </th>
                                                <th>
                                                    Supplier
                                                </th>
                                                <th style="display: none;">
                                                    Brand Id
                                                </th>
                                                <th>
                                                    Brand
                                                </th>
                                                <th>
                                                    L T E O
                                                </th>
                                                <th>
                                                    Lead Time
                                                </th>
                                                <th>
                                                    Ft. ETA
                                                </th>
                                                <th style="display: none;">
                                                    PR ID
                                                </th>
                                                <th style="display: none;">
                                                    PR Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    PO Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Req. Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    PO Bal Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">
                                                    App. Qty
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @Html.Action("RowTemplate", new { id = Model.POId })
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="APVSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                        @*<input id="btnTest" type="button" class="btn btn-success" value="Test" />*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Quantity Approval Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center;" })
                                @Html.Label("Approval # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "pono", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("QApprovalPending")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
@*<script src="~/common/theme/plugins/datatables/jquery.dataTables.13.min.js"></script>
<script src="~/common/theme/plugins/datatables/dataTables.bootstrap.js"></script>*@
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    @*<script src="~/common/js/dataTables.editor.min.js"></script>*@
<script src="~/common/theme/plugins/datatables/dataTables.cellEdit.js"></script>
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        
        $('#btnTest').click(function () {
            table.cell($('#edit')).data('100').draw();
        });

        var table, editor; toTable();

        function toTable() {
            //editor = new $.fn.dataTable.Editor({});

            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    scrollX: "2500px",
                    //scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false,
                    columnDefs: [
                        { className: "dt-center", targets: "_all" },
                        { width: 40, targets: 0 },
                        { width: 110, targets: 1 },
                        { width: 80, targets: 2 },
                        { width: 200, targets: 3 },
                        { width: 80, targets: 4 },
                        { width: 80, targets: 5 },
                        { width: 80, targets: 6 },
                        { width: 80, targets: 7 },
                        { width: 80, targets: 8 },
                        { width: 80, targets: 9 },
                        { width: 160, targets: 10 },
                        { width: 80, targets: 11 },
                        { width: 100, targets: 12 },
                        { width: 100, targets: 13 },
                        //{ width: 100, targets: 14 },
                        { width: 100, targets: 15 },
                        //{ width: 100, targets: 16 },
                        { width: 100, targets: 17 },
                        { width: 70, targets: 18 },
                        { width: 70, targets: 19 },
                        { width: 80, targets: 20 },
                        { width: 70, targets: 26 },
                        { width: 70, targets: 28 },
                        { width: 60, targets: 29 },
                        { width: 70, targets: 30 },
                        { width: 30, targets: 31 }
                    ]//,
                    //fixedColumns: true
                }
            );
            new $.fn.dataTable.FixedColumns(table, {
                leftColumns: 0,
                rightColumns: 4,
                    //fnDrawCallback:function(){
                    //    clone_grid_init();
                    //}
            });
        }

        //function clone_grid_init (){
        //    $('.DTFC_Cloned tbody tr').each(function(nRow){
        //        $('td:gt(0)', this).addClass('editText_clone'); //apply new class to tds
        //    });

        //    $('.editText_clone').editable(theCallBack, {
        //        indicator : "<img src='resources/images/indicator.gif'>",
        //        tooltip   : "Double Click to edit...",
        //        event     : "dblclick",
        //        style  : "inherit",
        //        submit : '<span class="fa fa-check"></span>',
        //        cancel : '<span class="fa fa-close"></span>',
        //        placeholder:"",
        //        callback : function (sValue, y){
        //            var col = $(this).parent().children().index($(this));//get col index of field from clone table
        //            var row = $(this).parent().parent().children().index($(this).parent());//get row index of field from clone table
        //            //var aPos = grid_clone.fnGetPosition( this ); // Get the position of the current data from the node
        //            grid.fnUpdate(sValue, row, col);// Update the original table with the new value
        //            return sValue.trim(); //return the new value for the clone table
        //        }
        //    });
        //};

        //table.MakeCellsEditable({
        //    "onUpdate": myCallbackFunction
        //});

        //function myCallbackFunction(updatedCell, updatedRow, oldValue) {
        //    console.log("The new value for the cell is: " + updatedCell.data());
        //    console.log("The old value for that cell was: " + oldValue);
        //    console.log("The values for each cell in that row are: " + updatedRow.data());
        //}

        //$('#tblSub').on( 'click', 'tbody td:not(:first-child)', function (e) {
        //    editor.inline( this );
        //} );

        //$("td:nth-child(3)").dblclick(
        function setQty(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;
            
            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    //error = true;
                    //alert(eval($(t).parent().children(0).html()) + ' ' + eval($(this).val()))
                    if(eval($(t).parent().children(0).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))){
                        var newContent = $(this).val();
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");

                        table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                    }
                    else{
                        error = true;
                        alert('Invalid quantity.');
                        e.preventDefault();
                    }
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if(e.which == 27){
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if(!error){
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            
            rn = $(e).closest('tr').index() + 1;
            table.destroy();

            $('#tblSub>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#tblSub>tbody>tr td:first-child').each(function () {
                $(this).html((rn + 1000).toString().slice(-3));
                //alert((rn + 1000).toString().slice(-3));
                rn++;
            });

            toTable();
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var qaSub = [], qaMain = { POId: @Model.POId, ApprovedBy: $('#ApprovedBy').val() }, rn = 0;

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 19 && eval(tableData[30].replace(/\,/g, '')) > 0) {
                    var arrayOfThisRow = {
                        QApprovalId: tableData[24], QApprovalSubId: tableData[25], PRId: tableData[21], PRSubId: tableData[22], 
                        POSubId: tableData[23], ApprovedQuantity: tableData[30].replace(/\,/g, ''), QuantityUnitId: tableData[27], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    qaSub.push(arrayOfThisRow);
                }
            });

            //alert(JSON.stringify({ quantityApproval: qaMain, quantityApprovalDetails: qaSub }));
            //return;

            if(qaSub.length == 0){
                alert('No quantity for approval.');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("QuantityApprovalSave")',
                data: JSON.stringify({ quantityApproval: qaMain, quantityApprovalDetails: qaSub }),
                success: function (msg) {
                    $('#msg').html(msg.status);
                    $('#pono').html(msg.qano);
                    //$('form#frm').submit();
                    $('#alert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
</script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    
    @*<link rel="stylesheet" href="~/common/theme/plugins/datatables/jquery.dataTables.13.min.css">*@
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
    @*<link rel="stylesheet" href="~/common/js/editor.dataTables.min.css">*@
}

