﻿
@model InventoryMS.Models.QuantityApprovalMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Entry :: Price Quotation
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> PO</a></li>
        <li class="active">Price Quotation</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Quotation of <strong style="color: red;">@Model.QApprovalNo</strong></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.POId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PurchaseOrder.PONo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.QApprovalDate, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Model.QApprovalDate.ToString("dd-MMM-yyyy")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrder.Bond.LicenseNumber, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.PurchaseOrder.Bond.LicenseNumber) (@Html.DisplayFor(model => model.PurchaseOrder.BondPeriod.LicensePeriod))
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="">@*pre-scrollable*@
                                <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2700px;">
                                    <thead>
                                        <tr>
                                            <th>
                                                SL #
                                            </th>
                                            <th>
                                                Req No
                                            </th>
                                            <th>
                                                Req Date
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Cur. Stock
                                            </th>
                                            <th>
                                                Pipeline
                                            </th>
                                            <th>
                                                Pend Req
                                            </th>
                                            <th>
                                                Total Stock
                                            </th>
                                            <th>
                                                Avg Consm/Day
                                            </th>
                                            <th>
                                                Days With T S
                                            </th>
                                            <th>
                                                Hist. Period
                                            </th>
                                            <th>
                                                Hist. Consm
                                            </th>
                                            <th>
                                                L3M Avg Csm LY
                                            </th>
                                            <th>
                                                L3M Avg Csm CY
                                            </th>
                                            <th style="display: none;">
                                                Supplier Id
                                            </th>
                                            <th>
                                                Supplier
                                            </th>
                                            <th style="display: none;">
                                                Brand Id
                                            </th>
                                            <th>
                                                Brand
                                            </th>
                                            <th>
                                                L T E O
                                            </th>
                                            <th>
                                                Lead Time
                                            </th>
                                            <th>
                                                Ft. ETA
                                            </th>
                                            <th style="display: none;">
                                                Quotation ID
                                            </th>
                                            <th style="display: none;">
                                                PR Sub ID
                                            </th>
                                            <th style="display: none;">
                                                PO Sub ID
                                            </th>
                                            <th style="display: none;">
                                                Category Id
                                            </th>
                                            <th style="display: none;">
                                                Product Id
                                            </th>
                                            <th style="text-align: center;">
                                                Req. Qty
                                            </th>
                                            <th style="display: none;">
                                                Unit Id
                                            </th>
                                            <th style="text-align: center;">
                                                PO Qty
                                            </th>
                                            <th style="text-align: center;">
                                                Unit
                                            </th>
                                            <th style="text-align: center;">
                                                App. Qty
                                            </th>
                                            <th style="text-align: center;">
                                                
                                            </th>
                                            <th style="display: none;">
                                                Status
                                            </th>
                                            <th style="text-align: center;">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        @Html.Action("RowTemplate", new { id = Model.QApprovalId, type = "QT" })
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="APVSub"></div>
                        <div style="display: none;">
                            @*<table id="QDetails1">
                                <thead>
                                    <tr>
                                        <th style="display: none;">Sup Id</th>
                                        <th>Supplier</th>
                                        <th>T Type</th>
                                        <th>T Days</th>
                                        <th>C PRICE</th>
                                        <th>Currency</th>
                                        <th style="display: none;">QSub</th>
                                        <th style="display: none;">POSubId</th>
                                        <th style="display: none;">QId</th>
                                        <th style="display: none;">QASubId</th>
                                        <th style="display: none;">PRSubId</th>
                                        <th style="display: none;">CurrencyId</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">44</td><td style="display: none;">0</td><td style="display: none;">30</td><td style="display: none;">44</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">45</td><td style="display: none;">0</td><td style="display: none;">31</td><td style="display: none;">45</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">46</td><td style="display: none;">0</td><td style="display: none;">32</td><td style="display: none;">46</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">47</td><td style="display: none;">0</td><td style="display: none;">33</td><td style="display: none;">47</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">48</td><td style="display: none;">0</td><td style="display: none;">34</td><td style="display: none;">48</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">49</td><td style="display: none;">0</td><td style="display: none;">35</td><td style="display: none;">49</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">50</td><td style="display: none;">0</td><td style="display: none;">36</td><td style="display: none;">50</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">51</td><td style="display: none;">0</td><td style="display: none;">37</td><td style="display: none;">51</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">52</td><td style="display: none;">0</td><td style="display: none;">38</td><td style="display: none;">52</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr><td style="display: none;">7</td><td>BILLERUD</td><td>8</td><td>180</td><td>0.47019</td><td>USD</td><td style="display: none;">0</td><td style="display: none;">53</td><td style="display: none;">0</td><td style="display: none;">39</td><td style="display: none;">53</td><td style="display: none;">21</td><td style="text-align: center;"><a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a><a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
                                    <tr>
                                        <td colspan="11"></td>
                                    </tr>
                                </tbody>
                            </table>*@
                            <table id="QDetails1">
                                <thead>
                                    <tr>
                                        <th style="display: none;">Sup Id</th>
                                        <th>Supplier</th>
                                        <th>T Type</th>
                                        <th>T Days</th>
                                        <th>C PRICE</th>
                                        <th>Currency</th>
                                        <th style="display: none;">QSub</th>
                                        <th style="display: none;">POSubId</th>
                                        <th style="display: none;">QId</th>
                                        <th style="display: none;">QASubId</th>
                                        <th style="display: none;">PRSubId</th>
                                        <th style="display: none;">CurrencyId</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Action("QuotationDetails", Model)
                                    <tr>
                                        <td colspan="11"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-12">
                            <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                            <input id="btnPreview" type="button" class="btn btn-success" value="Preview" style="float:right; display: none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Quotation</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="quoteSave" type="button" class="btn btn-success" onclick="quoteSave()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="mymodal1" class="modal">
    <div class="modal-dialog" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Quotation Preview</h4>
            </div>
            <div id="padetails1" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="alert" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Quotation Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center;" })
                                @Html.Label("Q Approval # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", @Model.QApprovalNo, new { @Id = "pono", @class = "col-common col-sm-4 control-label", @style = "color: red; text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("QuotationPending")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script src="~/common/theme/plugins/datatables/dataTables.checkboxes.js"></script>
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    //$("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    var table, editor; toTable();

    function toTable() {
        //editor = new $.fn.dataTable.Editor({});

        table = $('#tblSub').DataTable(
            {
                destroy: true,
                scrollX: "2700px",
                //scrollX: true,
                scrollCollapse: true,
                paging: false,
                filter: false,
                info: false,
                ordering: false,stateSave: true,
                columnDefs: [
                    { className: "dt-center", targets: "_all" },
                    { width: 40, targets: 0 },
                    { width: 110, targets: 1 },
                    { width: 70, targets: 2 },
                    { width: 200, targets: 3 },
                    { width: 70, targets: 4 },
                    { width: 70, targets: 5 },
                    { width: 70, targets: 6 },
                    { width: 70, targets: 7 },
                    { width: 80, targets: 8 },
                    { width: 80, targets: 9 },
                    { width: 160, targets: 10 },
                    { width: 80, targets: 11 },
                    { width: 90, targets: 12 },
                    { width: 90, targets: 13 },
                    //{ width: 100, targets: 14 },
                    { width: 120, targets: 15 },
                    //{ width: 100, targets: 16 },
                    { width: 100, targets: 17 },
                    { width: 60, targets: 18 },
                    { width: 60, targets: 19 },
                    { width: 70, targets: 20 },
                    { width: 70, targets: 26 },
                    { width: 70, targets: 28 },
                    { width: 50, targets: 29 },
                    { width: 60, targets: 30 },
                    { width: 20, targets: 31 },
                    { width: 40, targets: 33 }
                ]//,
                //fixedColumns: true,
              ,select: {
                    style: 'multi'
                }
            }
        );
        new $.fn.dataTable.FixedColumns(table, {
            leftColumns: 0,
            rightColumns: 6
            //heightMatch: 'none'
            //fnDrawCallback:function(){
            //    clone_grid_init();
            //}
        });
    }

    function StatusChange(e){
        $('#v' + $(e).attr('id'), '#tblSub').html($(e).prop('checked'));
        $('#' + $(e).attr('id'), '#tblSub').prop('checked', $(e).prop('checked'));
        //alert($(e).closest('tr').find('td:eq(5) a:first i').removeClass('glyphicon-star'));
        //alert($(e).closest('tr').find('td:eq(5) a:first i').addClass('glyphicon-star-empty'));
        //table.cell($('#v' + $(e).attr('id'))).data('true').draw();
        //alert($(e).parent().html());
        //var str = $(e).attr('id');//.replace('fa-square-o', 'fa-check-square');

        //$(e).parent().find('a').each(function(){
        //    $(this).attr('style', 'display:block;');
        //})
        //$(e).attr('style', 'display:none;');

        //if (str.indexOf("chk_") >= 0){
        //    //str = str.replace('fa-square-o', 'fa-check-square');
        //    $(e).attr('style', 'display:none;');
        //    $('#chk1_' + str.replace('chk_', '')).attr('style', 'display:block;');
        //    //alert('#chk1_' + str.replace('chk_', '') + '   ' + $('#chk1_' + str.replace('chk_', '')).html());
        //}
        //else{
        //    str = str.replace('fa-check-square', 'fa-check-o');
        //}
        //table.cell($('#td' + $(e).attr('id'))).data(str).draw();
        //table.cell($('#amt' + $(t).attr('id'))).data(amt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
        //$('#v' + $(e).attr('id')).html('true');
        //alert(str);
        //alert('a');
        //table.destroy();
        //$('#tblSub').find('input[type="checkbox"]:checked').each(function () {
        //    alert($(this).closest('tr').find('td:eq(25)').html());
        //});
        //toTable();
    }

    function addsupprice(e) {
        rn = $(e).closest('tr').index() + 1;

        $(e).closest('tr').find('td:eq(3) input:first').prop('checked', true);
        //alert($(e).closest('tr').find('td:eq(3) input:first').attr('id'));
        $('#' + $(e).closest('tr').find('td:eq(3) input:first').attr('id'), '#tblSub').prop('checked', true);

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("PriceQuotation")',
                //data: JSON.stringify({ supPrice: supPrice }),
                success: function (msg) {
                    $('#padetails').html(msg);
                    $('#PRSubId').val($('#tblSub tr:eq(' + rn + ') td:eq(22)').html());
                    $('#POSubId').val($('#tblSub tr:eq(' + rn + ') td:eq(23)').html());
                    $('#QuotationId').val($('#tblSub tr:eq(' + rn + ') td:eq(21)').html());
                    $('#QASubId').val($('#tblSub tr:eq(' + rn + ') td:eq(25)').html());
                    $('#pname').html($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());
                    $('#aqty').html($('#tblSub tr:eq(' + rn + ') td:eq(30)').html() + ' ' + $('#tblSub tr:eq(' + rn + ') td:eq(29)').html());
                    $('#psup').html($('#tblSub tr:eq(' + rn + ') td:eq(15)').html());
                    $('#brand').html($('#tblSub tr:eq(' + rn + ') td:eq(17)').html());

                    $('#QDetails tbody').html('<tr><td colspan="14"></td></tr>');

                    for (var ri = 1; ri < $('#QDetails1>tbody>tr').length; ri++) {
                        //alert($('#QDetails1 tr:eq(' + ri + ') td:eq(30)').html() + ' A ' + $('#tblSub tr:eq(' + rn + ') td:eq(21)').html());
                        if ($('#QDetails1 tr:eq(' + ri + ') td').length >= 10 && $('#QDetails1 tr:eq(' + ri + ') td:eq(9)').html() == $('#tblSub tr:eq(' + rn + ') td:eq(25)').html()) {
                            var row = '<tr>' + $('#QDetails1 tr:eq(' + ri + ')').html() + '</tr>';
                            $('#QDetails tr:last').before(row);
                            //alert('B');
                        }
                    }

                    $('#padetails select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#mymodal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var rn;
        //$("td:nth-child(19)").dblclick(function () {
        //    var OriginalContent = $(this).text();
        //    $(this).addClass("cellEditing");
        //    $(this).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        //    $(this).children().first().focus();

        //    $(this).children().first().keypress(function (e) {
        //        if (e.which == 13) {
        //            var newContent = $(this).val();
        //            $(this).parent().text(newContent);
        //            $(this).parent().removeClass("cellEditing");
        //        }
        //        else {
        //            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        //        }
        //    });

        //    $(this).children().first().blur(function () {
        //        $(this).parent().text(OriginalContent);
        //        $(this).parent().removeClass("cellEditing");
        //    });
        //});

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var quotationView = [], quotationSubView = [], rn = 0, rc = 0;

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                var tbl = $('table#QDetails1').find('tbody tr').map(function () {
                    rn = 0;
                    var tableData1 = $(this).find('td').map(function () {
                        return $(this).html();
                    }).get();

                    if (tableData1.length >= 10 && tableData1[9] == tableData[25]) {
                        var arrayOfThisRow1 = {
                            QVId: tableData1[9], QuotationId: tableData1[8], QuotationSubId: tableData1[6],
                            SupplierId: tableData1[0], TenureType: tableData1[2],
                            TenureDays: tableData1[3], QuotationPrice: tableData1[4], CurrencyId: tableData1[11]
                        };
                        //alert(arrayOfThisRow);
                        quotationSubView.push(arrayOfThisRow1);

                        rc++;
                    }
                }).get();

                if (tableData.length >= 30 && rc > 0) {
                    var arrayOfThisRow = {
                        QVId: tableData[25], QuotationId: tableData[21], PRSubId: tableData[22],
                        POSubId: tableData[23], QApprovalSubId: tableData[25]
                    };
                    //alert(arrayOfThisRow);
                    quotationView.push(arrayOfThisRow);
                }

                rn++; rc = 0;
            });

            //alert(JSON.stringify({ id: @Model.QApprovalId, quotationView: quotationView, quotationSubView: quotationSubView }));
            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("QuotationSave")',
            data: JSON.stringify({ id: @Model.QApprovalId, quotationView: quotationView, quotationSubView: quotationSubView }),
            success: function (msg) {
                $('#msg').html(msg);
                //$('form#frm').submit();
                $('#alert').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    @*$('#btnPreview').click(function () {
            var quotationView = [], quotationSubView = [], rn = 0;

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 19 && tableData[30] > 0) {
                    var arrayOfThisRow = {
                        POSubId: tableData[30], QVId: rn,
                        QuotationId: tableData[31], QApprovalSubId: tableData[32]
                    };
                    //alert(arrayOfThisRow);
                    quotationView.push(arrayOfThisRow);

                    var tbl = $('table#QDetails1').find('tbody tr').map(function () {
                        var tableData1 = $(this).find('td').map(function () {
                            return $(this).html();
                        }).get();

                        if (tableData1.length >= 10 && tableData1[6] == tableData[30]) {
                            var arrayOfThisRow1 = {
                                SupplierId: tableData1[0], TenureType: tableData1[2], TenureDays: tableData1[3], QuotationPrice: tableData1[4],
                                QuotationSubId: tableData1[5], QuotationId: tableData[31], QVId: rn,

                            };
                            //alert(arrayOfThisRow);
                            quotationSubView.push(arrayOfThisRow1);
                        }
                    }).get();

                    rn++;
                }
            });

            //alert(JSON.stringify({ quotationView: quotationView, quotationSubView: quotationSubView }));
            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PreviewQuotation")',
                data: JSON.stringify({ id: @Model.QApprovalId, quotationView: quotationView, quotationSubView: quotationSubView }),
                success: function (msg) {
                    $('#padetails1').html(msg);

                    $('#mymodal1').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });*@
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/dataTables.checkboxes.css">
}

