﻿@model InventoryMS.Models.QuantityApprovalMain
@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();}
@{ProductCubeEntities dbProd = new ProductCubeEntities();}

@foreach (QuantityApprovalSub posub in Model.QuantityApprovalSubs.Where(l => l.PriceApprovalSubs.Count == 0))
{
    foreach (QuotationMain qMain in posub.QuotationMains)
    {
        foreach (QuotationSub sub in qMain.QuotationSubs.OrderBy(c => c.QuotationId))
        {
            <tr>
                <td style="display: none;">@sub.SupplierId</td>
                <td>@db.Suppliers.Find(sub.SupplierId).ShortName</td>
                <td>@sub.TenureType</td>
                <td>@sub.TenureDays</td>
                <td>@sub.QuotationPrice</td>
                <td>@dbProd.CustomTypes.Find(sub.CurrencyId).TypeName</td>
                @*<td>@sub.LastOrderPrice</td>
                    <td>@sub.LastYearPrice</td>
                    <td>@sub.PriceChangeFromLastOrder</td>
                    <td>@sub.PriceChangeFromLastYear</td>*@

                <td style="display: none;">@sub.QuotationSubId</td>
                <td style="display: none;">@posub.POSubId</td>
                <td style="display: none;">@qMain.QuotationId</td>
                <td style="display: none;">@posub.QApprovalSubId</td>
                <td style="display: none;">@posub.PRSubId</td>
                <td style="display: none;">@sub.CurrencyId</td>
                <td style="text-align: center;">
                    <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    }
}
