﻿@model IEnumerable<InventoryMS.Models.RequisitionView>

@if (Model != null && Model.Count() > 0)
{
    int rIndex = 0;
    foreach (var item in Model.OrderBy(c => c.CategoryName).ThenBy(c => c.ProductName.Length).ThenBy(c => c.ProductName))
    {
        <tr>
            @{
              decimal? BalanceQty = (ViewBag.type == "PA" || ViewBag.type == "P" || ViewBag.type == "QT" ? item.POQuantity : item.POQuantity - (item.ApprovedQuantity.HasValue ? item.ApprovedQuantity : 0));
              decimal? total = item.PendingRequisitionQuanity + item.StockInTransit + item.CurrentStock;
              int? PRQId = (@ViewBag.type == null || @ViewBag.type == "Q") ? item.PRId : item.QuotationId; //(item.QuotationId == null || item.QuotationId == 0) && 
              string dtype = item.QuotationId == null || item.QuotationId == 0 ? "" : ""; //display: none;
              rIndex++;
             }
            
            <td style="text-align: center;">@(rIndex.ToString("000"))</td>
            <td style="text-align: left;">@item.PRNo</td>
            <td style="text-align: center;">@item.PRDate.ToString("dd-MMM-yyyy")</td>
            <td style="text-align: left;">@item.ProductName</td>
            <td style="text-align: right;">@item.CurrentStock</td>
            <td style="text-align: right;">@item.StockInTransit</td>
            <td style="text-align: right;">@item.PendingRequisitionQuanity</td>
            <td style="text-align: right;">@total</td>
            <td style="text-align: right;"></td>
            <td style="text-align: right;"></td>
            <td style="text-align: center;">@item.HistoricalPeriod</td>
            <td style="text-align: right;">@item.HistoricalConsumption</td>
            <td style="text-align: right;">@item.Next3MonthAvgConsumptionLastYear</td>
            <td style="text-align: right;">@item.Next3MonthAvgConsumptionCurrentYear</td>
            <td style="display: none;">@item.PreferredSupplierId</td>
            <td style="text-align: left;">@item.SupplierName</td>
            <td style="display: none;">@item.BrandId</td>
            <td style="text-align: left;">@item.BrandName</td>
            <td style="text-align: right;">@item.AvgLeadTimeEarlierOrders</td>
            <td style="text-align: right;">@item.LeadTime</td>
            <td style="text-align: center;">@(item.FactoryETA.HasValue ? item.FactoryETA.Value.ToString("dd-MMM-yyyy") : "")</td>
            <td style="display: none;">@PRQId</td>
            <td style="display: none;">@item.PRSubId</td>
            <td style="display: none;">@item.POSubId</td>
            <td style="display: none;">@item.QApprovalId</td>
            <td style="display: none;">@item.QApprovalSubId</td> 
            <td style="text-align: right;">@item.Quantity.Value.ToString("##,##0.000")</td>
            <td style="display: none;">@item.QuantityUnitId</td>
            <td style="text-align: right">@BalanceQty.Value.ToString("##,##0.000")</td>
            <td style="text-align: left;">@item.QuantityUnit</td>
            <td id="edit_@rIndex" style="text-align: right;" ondblclick="setQty(this)">@(item.ApprovedQuantity.HasValue && item.QApprovalId.HasValue && item.QApprovalId > 0 ? item.ApprovedQuantity.Value.ToString("##,##0.00") : @BalanceQty.Value.ToString("##,##0.00"))</td>
            @if (@ViewBag.type == "PA")
            {
                <td id="aqsid_@item.QApprovalSubId" style="display: none;"></td>
            }
            else if (@ViewBag.type == "QT")
            {
                
                <td id="tdchk_@item.QApprovalSubId" style="text-align: center;">
                    @*<a id="chk_@item.QApprovalSubId" class="pa" title="" data-toggle="tooltip" data-original-title="" onclick="StatusChange(this);"><i class="fa fa-square-o"></i></a>
                    <a id="chk1_@item.QApprovalSubId" style="display: none;" class="pa" title="" data-toggle="tooltip" data-original-title="" onclick="StatusChange(this);"><i class="fa fa-check-square"></i></a>*@
                    @Html.CheckBox("chk_" + @item.QApprovalSubId, new { @onchange = "StatusChange(this);" })
                </td>
                <td id="vchk_@item.QApprovalSubId" style="text-align: center; display: none;"></td>
            }
            <td style="text-align: center;">
                @if (@ViewBag.type == "QT")
                {
                    string cssclass = (PRQId > 0 ? "glyphicon-star" : "glyphicon-star-empty");
                    <a id="btnDone" style='@dtype' class="status_@item.QApprovalSubId" title="" data-toggle="tooltip" data-original-title="Quotation available"><i class="glyphicon @cssclass"></i></a>
                }
                
                @if (@ViewBag.type == null || @ViewBag.type == "Q")
                {
                    <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                }
                else if (@ViewBag.type == "P" || @ViewBag.type == "QT")
                {
                    <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Quotation" onclick="addsupprice(this);"><i class="glyphicon glyphicon-plus-sign"></i></a>
                }
                else if (@ViewBag.type == "PA")
                {
                    <a id="btnEdit" class="pa" title="" data-toggle="tooltip" data-original-title="Price Approval" onclick="ShowQuotation(this, @item.QApprovalSubId);"><i class="fa fa-check-square qas_@item.QApprovalSubId"></i></a>
                }
            </td>
        </tr>
    }
}
