﻿@model InventoryMS.Models.SPIssueMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Issue Entry (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Issue</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Issue List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-7">
                            @Html.HiddenFor(model => model.IssueId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.IssueNo, "Issue #", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.IssueNo, "StringWOL", new { @readonly = "readonly", @Value = @ViewBag.IssueNo })

                                    @Html.ValidationMessageFor(model => model.IssueNo, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.IssueDate, new { @class = "col-common col-sm-12 control-label" }, false)
                                </div>
                                <div class="col-sm-4 offset-left-1">
                                    @Html.EditorFor(model => model.IssueDate, "DateTimeWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.IssueDate, null, new { @class = "control-label" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                
                                @Html.LabelFor(model => model.IssueTypeId, "Material Type", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @*@Html.DropDownListFor(model => model.MaterialTypeId, (SelectList)ViewBag.MaterialType, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })*@

                                    @Html.DropDownListFor(model => model.IssueTypeId, (SelectList)ViewBag.MaterialType, string.Empty, new { @id = "MaterialTypeId", @class = "form-control select", @style = "width: 100%;" })


                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IssueId, "Factory", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("Factory", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getSRR();" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.IssueId, "Issue Type", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-4 offset-left-1">
                                    @Html.DropDownList("IssueType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getSRR();" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IssueId, "Requisition #", new { @class = "col-common col-sm-2 control-label" })
                                <div id="srrlist" class="col-sm-10">
                                    @Html.DropDownList("SRRId", null, string.Empty, new
                                    {
                                        @class = "form-control select",@*multiple = "multiple",*@ @style = "width: 100%;",
                                        @onchange = "SRRDetails(this.value);"
                                    })
                                </div>
                                @*<div class="col-sm-2">
                @Html.Label("Req Date", new { @class = "col-common col-sm-12 control-label" })
            </div>
            <div id="lot" class="col-sm-3 offset-left-1">
                @Html.Editor("SRRDate", "DateTimeWOL", new { @readonly = "readonly" })
            </div>*@
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IssueId, "Issuer/Store", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("Store", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Issue To", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-4 offset-left-1">
                                    @Html.Hidden("ReferenceId")
                                    @Html.Editor("IssueTo", "StringWOL", new { @Value = "" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-2 control-label" })
                                <div id="srrlist" class="col-sm-10">
                                    @Html.EditorFor(model => model.Remarks, "MultilineTextWOL", new { rows = 5 })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    @*<div id="divDT">
                                        @Html.Action("DetailsTemplate")
                                    </div>*@

                                    <table id="tblDT" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Item Name
                                                </th>
                                                <th style="text-align: center;">
                                                    Req No
                                                </th>
                                                <th style="text-align: center;">
                                                    Req Date
                                                </th>
                                                <th style="text-align: center;">
                                                    Req Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Bal Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Issue Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Floor Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Store Stock
                                                </th>
                                                <th style="display: none;">
                                                    SRR Id
                                                </th>
                                                <th style="display: none;">
                                                    SRR Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Issue Id
                                                </th>
                                                <th style="display: none;">
                                                    Issue Sub Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Remarks
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            @*<tr>
                                                <td colspan="15"></td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 1px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 63.5%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; width: 13.5%; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;"></td>
                                            </tr>
                                            @*<tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('#IssueDate').datepicker({
        format: 'dd-M-yyyy',
        startDate: '-@(Model.IssueDate.Day <= 6 ? (((Model.IssueDate.Month == 1 ? 365 : 0) + Model.IssueDate.DayOfYear) - DateTime.Parse(Model.IssueDate.Date.AddMonths(-1).ToString("01-MMM-yyyy")).DayOfYear) : (Model.IssueDate.Day - 1))d',
        //minDate: new Date('@DateTime.Today.AddDays(30).ToString("01-MMM-yyyy")'),
        autoclose: true
    });

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    function setQty(t) {
        var OriginalContent = $(t).text();
        rn = $(t).closest('tr').index() + 1;
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                //debugger;
                //console.log('stock ->', $(t).closest('tr').find('td:eq(12)').html());
                let stock_qty = parseFloat($(t).closest('tr').find('td:eq(12)').html().replace(/\,/g, ''));
                let fac_id = ['2', '3', '4', '9', '15', '16'];
                if (fac_id.indexOf($('#FactoryId').val()) == -1) {
                    stock_qty = 10000000;
                }
                if (stock_qty >= parseFloat($(this).val().replace(/\,/g, ''))) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    set_total_qunatity();
                } else {
                    alert('You have not enough stock quantity in your store to issue.');
                    e.preventDefault();
                }
            }
            else {
                return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function delrow(e) {
        if (confirm('Are you sure want to delete?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        rn = $(e).closest('tr').index() + 1;

        $('#tblDT>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;

        $('table#tblDT>tbody>tr td:first-child').each(function () {
            $(this).text((rn + 1000).toString().slice(-2));
            rn++;
        });

        set_total_qunatity();
    };

    function set_total_qunatity() {
        let tQty = 0;
        $('table#tblDT').find('tbody tr').map(function () {
            rn = 0;
            var tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            tQty += eval(tableData[10].replace(/\,/g, ''));
        }).get();

        let net_qty = (new Number(tQty)).toFixed(4).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        net_qty = net_qty.split(".");
        net_qty[1] = net_qty[1].replace(/\,/g, '');
        net_qty = net_qty.join(".");

        $('#totalqty').html(net_qty);
    }

    function getSRR() {
        $('#tblbody').html('');
        $('#totalqty').html('');



        if ($('#Factory').val().length == 0 || $('#IssueType').val().length == 0) {
            //alert('Please select factory & issue type.');
            $('#Factory').focus();
            return;

        }
      

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SRRList")",
            data: JSON.stringify({ id: $('#Factory').val(), type_id: $('#IssueType').val(), issue_date: $('#IssueDate').val()}),
            success: function (data) {
                $('#srrlist').html(data);
                $('#srrlist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function LCDetails(e) {
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotList")',
            data: JSON.stringify({ id: $('#LCFileId').val(), type: "edit" }),
            success: function (data) {
                $('#lot').html(data);

                $('#lot select.select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LCDetails")',
            data: JSON.stringify({ id: e }),
            success: function (data) {
                $('#LCDate').val(data.lcdate);
                $('#SupplierName').val(data.supname);
                $('#SupplierId').val(data.supid);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        //table.clear().draw();

        //    $('#totalqty').html('0.000');
    };

    function SRRDetails(e) {
        $('#tblbody').html('');
        $.ajax({
            type: "POST",
            //datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("SRRDetails")',
            data: JSON.stringify({ id: e, type_id: $('#IssueType').val() }),
            success: function (data) {
                console.log(data);
                //$('#SRRDate').val(data.srr_date);
                //$('#ReferenceId').val(data.ref_id);
                $('#IssueTo').val(data.issue_to);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify(jqXHR));
            }
        });

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("SRRProductDetails")',
            data: JSON.stringify({ id: e, issue_type_id: $('#IssueType').val() }),
            success: function (data) {
                $('#tblbody').html(data);

                set_total_qunatity();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    };

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });


        if ($('#tblDT>tbody>tr').length <= 0) {
            alert('No details information.');
            return;
        }

        var isValid = true, ctl;
        $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
            if ($(this).val() == '') {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                //return;

                isValid = false;
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }

        var IssueView = {
            IssueId: $('#IssueId').val(), IssueNo: $('#IssueNo').val(), IssueDate: $('#IssueDate').val(),
            FactoryId: $('#Factory').val(), IssueTypeId: $('#IssueType').val(),
            SRRId: $('#SRRId').val(), DepartmentId: $('#Store').val(),
            ReferenceId: $('#ReferenceId').val(), Remarks: $('#Remarks').val()
        }, IssueSubView = [], rn = 0;

        var tbl = $('table#tblDT').find('tbody tr').map(function () {
            rn = 0;
            var tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            if (tableData.length >= 10 && eval(tableData[10].replace(/\,/g, '')) > 0) {
                var arrayOfThisRow = {
                    IssueId: $('#IssueId').val(), IssueSubId: tableData[14],
                    ProductId: tableData[2], Quantity: tableData[10].replace(/\,/g, ''),
                    SRRSubId: tableData[14], UnitId: tableData[9], Rate: 0, Amount: 0,
                    Remarks: '', RowNo: eval(tableData[0])
                };
                //alert(arrayOfThisRow);
                IssueSubView.push(arrayOfThisRow);
            }
        }).get();

        if (IssueSubView.length <= 0) {
            alert('No quantity issued. Please put some quantity to issue.');
            return;
        }

        var Prefix = '###';

        if ($('#MaterialTypeId').val() != null) {
            if ($('#MaterialTypeId').val() == 89) {
                Prefix = 'SPI'
            }
            else {
                Prefix = 'RMI'
            }
        }

        //alert(JSON.stringify({ IssueView: IssueView, IssueSubView: IssueSubView }));
        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ mainView: IssueView, subViews: IssueSubView, type: Prefix }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alert_main_div').removeClass('alert-success alert-danger');
                    $('#alert_main_div').addClass('alert-danger');
                    $('#asummary_main').html('!!!Error!!!')
                    $('#atext_main').html('Save failed due to "' + msg.message + '".');
                    $('#btn_alert_main').attr('onclick', '');

                    $('#alert_main').modal('show');
                }
                else {
                    $('#alert_main_div').removeClass('alert-success alert-danger');
                    $('#alert_main_div').addClass('alert-success');
                    $('#asummary_main').html('Success!!')
                    $('#atext_main').html('Issue # ' + msg.issueno + ' save successfully.');
                    $('#btn_alert_main').attr('onclick', 'window.location = "@Url.Action("Create")"');

                    $('#alert_main').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Save failed. try later.');
            }
            @*success: function (msg) {
                    //$('#APVSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    console.log(msg);

                    if (msg != 'Duplicate Issue No.')
                        window.location = '@Url.Action("Create")';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert('Save failed. try later.');
                }*@
        });
    });
    </script>
}

@section CSS {

}

