﻿@model IEnumerable<InventoryMS.Models.SPIssueMain>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        IssueMain List (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> IssueMain</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
						@if (InventoryMS.Models.clsMain.IsPermitted("IssueMain", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New IssueMain</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
							<a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New IssueMain</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
							<tr>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.DepartmentId)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.IssueNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.IssueDate)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.Month)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.Year)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.SerialNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.Remarks)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.EntryUserId)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.EntryDate)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.RevisionUserId)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.RevisionDate)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.IPAddress)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.PCName)
								</th>
								<th></th>	
							</tr>	
				</thead>
                <tbody>
                    @foreach (var item in Model)
                    {
							<tr class="selectable">
								<td>
									@Html.DisplayFor(modelItem => item.DepartmentId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IssueNo)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IssueDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Month)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Year)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.SerialNo)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Remarks)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.EntryUserId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.EntryDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.RevisionUserId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.RevisionDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IPAddress)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PCName)
								</td>
								<td style="text-align: center">
									<a href="@Url.Action("Details", new { id = item.IssueId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
									@if (InventoryMS.Models.clsMain.IsPermitted("IssueMain", "Edit"))
                                    {
                                        <a href="@Url.Action("Edit", new { id = item.IssueId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                    else
                                    {
                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                    @if (InventoryMS.Models.clsMain.IsPermitted("IssueMain", "Delete"))
                                    {
                                        <a href="@Url.Action("Delete", new { id = item.IssueId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    }
                                    else
                                    {
                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    }
								</td>
							</tr>
					}
						</tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

