﻿@model IEnumerable<InventoryMS.Models.SPSRRSubView>

@{int RowNo = 0;}
@foreach (var item in Model.OrderBy(c => c.CategoryId).ThenBy(c => c.ProductName.Length))
{
    RowNo++;
    string trId = "tr_" + RowNo.ToString();
    <tr id="@trId">
        <td style="text-align: center;">@RowNo.ToString("000")</td>
        <td style="display: none;">@item.CategoryId</td>
        <td style="display: none;">@item.ProductId</td>
        @if (ViewBag.issue_for != "paper")
        {
            <td style="text-align: left;">@item.ProductName</td>
        }
        else
        {
            <td style="text-align: left;" onchange="changeRowColor(@RowNo)">@Html.DropDownList("ProductId_" + @RowNo.ToString("00"), new SelectList(@ViewBag.item_list, "ItemId", "ItemName", item.ProductId), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "GetProductDetails(this.value, this)" })</td>
        }
        <td style="text-align: left">@item.SPSRRMain.SRRNo</td>
        <td style="text-align: left;">@item.SPSRRMain.SRRDate.ToString("dd-MMM-yyyy")</td>
        <td style="text-align: right;">@item.SRRQuantity.Value.ToString("##,##0.00")</td>
        <td style="text-align: right;">@item.NetQuantity.Value.ToString("##,##0.00")</td>
        <td style="text-align: left;">@item.QuantityUnit</td>
        <td style="display: none;">@item.QuantityUnitId</td>
        @if (@item.NetQuantity <= @item.CurrentStock1)
        {
            <td style="text-align: right;" ondblclick="setQty(this);" onchange="changeRowColor(@RowNo)">@item.NetQuantity.Value.ToString("##,##0.00")</td>
        }
        else if (@item.CurrentStock1 < 0)
        {
            <td style="text-align: right;" ondblclick="setQty(this);" onchange="changeRowColor(@RowNo)">0.00</td>
        }
        else
        {
            <td style="text-align: right;" ondblclick="setQty(this);" onchange="changeRowColor(@RowNo)">@item.CurrentStock1.Value.ToString("##,##0.00")</td>
        }
        <td style="text-align: right;">@item.FloorStock.Value.ToString("##,##0.00")</td>
        <td style="text-align: right;">@item.CurrentStock1.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@item.SRRId</td>
        <td style="display: none;">@item.SRRSubId</td>
        <td style="display: none;">@item.IssueId</td>
        <td style="display: none;">@item.IssueSubId</td>
        <td style="text-align: left;">@item.ProductName</td>
        <td style="text-align: center;">
            @if (ViewBag.issue_for == "paper")
            {
                <a class="split" title="" data-toggle="tooltip" data-original-title="Split" onclick="splitrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
            }
            @*<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>*@
            <a class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}
