﻿@model IEnumerable<InventoryMS.Models.GRRSubView>

@{int RowNo = 0;}
@foreach(var item in Model.OrderBy(c => c.CategoryId).ThenBy(c => c.ProductName.Length))
{
    RowNo++;
    <tr>
        <td style="text-align: center;">@RowNo.ToString("000")</td>
        <td style="display: none;">@item.CategoryId</td>
        <td style="display: none;">@item.ProductId</td>
        @if (item.ReceiveThrough == "LPMS")
        {
            <td style="text-align: left;">@Html.DropDownList("ProductName", null, string.Empty, new { @id = "ProductName_" + RowNo.ToString(), @Name = "ProductName_" + RowNo.ToString(), @class = "form-control select", @style = "width: 100%;", @onchange = "item_details(this.value, this);" })</td>
        }
        else if (item.ReceiveThrough == "SALES")
        {
            <td style="text-align: left;">@Html.DropDownList("ProductName", null, string.Empty, new { @id = "ProductName_" + RowNo.ToString(), @Name = "ProductName_" + RowNo.ToString(), @class = "form-control select", @style = "width: 100%;", @onchange = "item_details(this.value, this);" })</td>
        }
        else
        {
            <td style="text-align: left;">@item.ProductName</td>
        }
        <td style="text-align: left;">@item.QuantityUnit</td>
        <td style="text-align: right;">@item.PipelineQuantity.Value.ToString("##,##0.00")</td>
        <td style="display: none;">@item.QuantityUnitId</td>
        <td style="text-align: right;" ondblclick="setQty(this);">@item.PipelineQuantity.Value.ToString("##,##0.00")</td>
        <td style="text-align: right; display: none;">@item.ImportPriceFC.Value.ToString("##,##0.000000")</td>
        <td style="text-align: left; display: none;">@item.CurrencyCode</td>
        <td style="display: none;">@item.CurrencyId</td>
        @if (item.ReceiveThrough == "LPMS")
        {
            <td style="text-align: right;" ondblclick="setPrice(this);">@item.LandedPriceBDT.Value.ToString("##,##0.00")</td>
        }
        else if (item.ReceiveThrough == "SALES")
        {
            <td style="text-align: right;">@item.LandedPriceBDT.Value.ToString("##,##0.00")</td>
        }
        else
        {
            <td style="text-align: right; display: none;">@item.LandedPriceBDT.Value.ToString("##,##0.000000")</td>
        }
        <td style="display: none;">@item.PLESubId</td>
        <td style="display: none;">@item.PIFileSubId</td>
        <td style="display: none;">0</td>
        <td style="text-align: left;">-</td>
        <td style="text-align: left;">-</td>
        <td style="text-align: left;">-</td>
        <td style="display: none;">@item.GRRId</td>
        <td style="display: none;">@item.GRRSubId</td>
        @if (item.ReceiveThrough == "LPMS")
        {
            <td style="display: none;">@item.SRRSubId</td>
        }
        else if (item.ReceiveThrough == "SALES")
        {
            <td style="display: none;">@item.SRRSubId</td>
        }
        else
        {
            <td style="display: none;">@item.SRRSubId</td>
        }
        @if (item.Remarks != null && item.Remarks.Contains("RECEVIED AGAINST ISSUE # "))
        {
            <td style="font-size: xx-small;">@item.Remarks</td>
        }
        else
        {
            <td>@item.Remarks</td>
        }
        <td style="display: none;">@item.IssueSubId</td>
        <td style="text-align: center;">
            @*<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>*@
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

@Html.Hidden("portdate", (string)ViewBag.lotdate)