﻿@model InventoryMS.Models.GRRView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Approval :: MRR Approval (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> MRR</a></li>
        <li class="active">Approval</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href='@Url.Action("Index")'>MRR List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.GRRId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.GRRNo, "MRR No", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.GRRNo, "StringWOL", new { @Value = "MRR/####/0000-" + DateTime.Now.ToString("MM/yy"), @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.GRRNo, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.GRRDate, "Entry Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.GRRDate, "DateTimeWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.GRRDate, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Receive Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("ReceiveType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList(this.value);" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PLEId, "Source Type", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.DropDownList("SourceType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "STypeChange(this.value); //LotDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getLC(this.value);" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PLEId, "Warehouse", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.DropDownList("Warehouse", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="import" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div id="lclist" class="col-sm-4">
                                    @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LC, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LCDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-12 control-label" }, false)
                                </div>
                                <div id="lot" class="col-sm-3 offset-left-1">
                                    @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.Lot, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LotDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="local" style="display: none;" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, "MRR No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.DropDownList("MRRNo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange1 = "MRRDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                                @*<div class="col-sm-2">
                                        @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-12 control-label" }, false)
                                    </div>
                                    <div id="lot" class="col-sm-3 offset-left-1" ">
                                        @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.Lot, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LotDetails(this.value);" })

                                        @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                    </div>*@
                            </div>

                            <div id="others" style="display: none;" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, "Requistion No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.DropDownList("SRRNo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "SRRDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                                @*<div class="col-sm-2">
                                        @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-12 control-label" }, false)
                                    </div>
                                    <div id="lot" class="col-sm-3 offset-left-1" ">
                                        @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.Lot, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LotDetails(this.value);" })

                                        @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                    </div>*@
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Truck Challan No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-4">
                                    @Html.EditorFor(model => model.TruckChallanNo, "StringWOL")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div id="lot" class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.TruckChallanDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierChallanNo, "Supp. Challan No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-4">
                                    @Html.EditorFor(model => model.SupplierChallanNo, "StringWOL")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div id="lot" class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.SupplierChallanDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GatePassNo, "Gate Pass No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-4">
                                    @Html.EditorFor(model => model.GatePassNo, "StringWOL")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div id="lot" class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.GatePassDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VehicleNo, "Vehicle No ", new { @class = "col-common col-sm-3 control-label" })
                                <div id="lclist" class="col-sm-9">
                                    @Html.EditorFor(model => model.VehicleNo, "StringWOL")
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LCDate, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div id="lclist" class="col-sm-3">
                                    @Html.EditorFor(model => model.LCDate, "StringWOL", new { @readonly = "readonly" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.Label("Port Arrival Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div id="lot" class="col-sm-3">
                                    @Html.Editor("LotDate", "StringWOL", new { @readonly = "readonly" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.SupplierName, new { @readonly = "readonly" })
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.SupplierId, new { @class = "col-common col-sm-3 control-label" }, false)
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                        @Html.ValidationMessageFor(model => model.SupplierId, null, new { @class = "control-label" })
                                    </div>
                                </div>*@
                            @Html.HiddenFor(model => model.SupplierId)

                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { rows = 5 })
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    @*<div id="divDT">
                                            @Html.Action("DetailsTemplate")
                                        </div>*@

                                    <table id="tblDT" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Item Name
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">
                                                    Invoice Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Receive Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    CS Price
                                                </th>
                                                <th style="text-align: center;">
                                                    Currency
                                                </th>
                                                <th style="display: none;">
                                                    Currency Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Avg Inv Price
                                                </th>
                                                <th style="display: none;">
                                                    PLE Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    LC Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Location Id
                                                </th>
                                                <th>
                                                    Store Location
                                                </th>
                                                <th>
                                                    Line No
                                                </th>
                                                <th>
                                                    BIN
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            <tr>
                                                <td colspan="15"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <div class="col-sm-5">
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Total Quantity", new { @class = "col-common col-sm-12 control-label" })
                                    </div>
                                    <div class="col-sm-2">
                                        <span id="totqty"></span>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    function STypeChange(e) {
        if (e == 46) {
            $('#import').show();
            $('#local').hide();
            $('#others').hide();
        }
        else {
            if ($('#ReceiveType').val() == 30) {
                $('#local').show();
                $('#others').hide();
            }
            else {
                $('#others').show();
                $('#local').hide();
            }
            $('#import').hide();
        }
    }

    function getRefList(e) {

        $('#SourceType').val(e == 30 ? '46' : '47').trigger('change');
        $('#SourceType').prop('disabled', e == 30 ? false : true);


        @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("LCList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#lclist').html(data);
                    $('#lclist .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
    };

    function getLC(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("RefList")",
            data: JSON.stringify({ id: $('#ReceiveType').val(), comid: $('#FactoryId').val() }),
            success: function (data) {
                $('#lclist').html(data);
                $('#lclist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("FactoryDetails")",
            data: JSON.stringify({ id: $('#FactoryId').val(), mrrdate: $('#GRRDate').val() }),
            success: function (data) {
                $('#GRRNo').val(data.mrrno);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    };

    function LCDetails(e) {
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotList")',
            data: JSON.stringify({ id: $('#LCFileId').val(), type: "edit" }),
            success: function (data) {
                $('#lot').html(data);

                $('#lot select.select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LCDetails")',
            data: JSON.stringify({ id: e }),
            success: function (data) {
                $('#LCDate').val(data.lcdate);
                $('#SupplierName').val(data.supname);
                $('#SupplierId').val(data.supid);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        //table.clear().draw();

        //    $('#totalqty').html('0.000');
    };

    function LotDetails(e) {
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotItemDetails")',
                data: JSON.stringify({ id: $('#PLEId').val(), facid: $('#FactoryId').val() }),
                success: function (data) {
                    //table.destroy();

                    $('#tblbody').html(data);

                    $('#LotDate').val($('#portdate').val());

                    //$('#totalqty').html($('#TQty').val());

                    //toTable();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function SRRDetails(e) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SRRItemDetails")',
                data: JSON.stringify({ id: $('#PLEId').val(), facid: $('#FactoryId').val() }),
                success: function (data) {
                    //table.destroy();

                    $('#tblbody').html(data);

                    $('#LotDate').val($('#portdate').val());

                    //$('#totalqty').html($('#TQty').val());

                    //toTable();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function setQty(t) {
            var OriginalContent = $(t).text();
            rn = $(t).closest('tr').index() + 1;
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });


        if ($('#tblDT>tbody>tr').length <= 1) {
            alert('No details information.');
            return;
        }

        var isValid = true, ctl;
        $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
            if ($(this).val() == '') {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                //return;

                isValid = false;
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }

        var grrView = {
            FactoryId: $('#FactoryId').val(),
            SupplierId: $('#SupplierId').val(),
            GRRNo: $('#GRRNo').val(), GRRDate: $('#GRRDate').val(),
            LCFileId: $('#LCFileId').val(), PLEId: $('#PLEId').val(),
            LCNo: $('#LCFileId').select2('data')[0].text, LCDate: $('#LCDate').val(),
            TruckChallanNo: $('#TruckChallanNo').val(),
            TruckChallanDate: $('#TruckChallanDate').val(),
            SupplierChallanNo: $('#SupplierChallanNo').val(),
            SupplierChallanDate: $('#SupplierChallanDate').val(),
            GatePassNo: $('#GatePassNo').val(),
            GatePassDate: $('#GatePassDate').val(),
            VehicleNo: $('#VehicleNo').val(),
            PurchaseTypeId: $('#SourceType').val(),
            ReceiveTypeId: $('#ReceiveType').val(),
            WarehouseId: $('#Warehouse').val(),
            Remarks: $('#Remarks').val()
        }, grrSubView = [], rn = 0;

        var tbl = $('table#tblDT').find('tbody tr').map(function () {
            rn = 0;
            var tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            if (tableData.length >= 11) {
                let arrayOfThisRow = {
                    ProductId: tableData[2], LCQuantity: tableData[5].replace(/\,/g, ''),
                    GRRQuantity: tableData[7].replace(/\,/g, ''), QuantityUnitId: tableData[6],
                    ImportPriceFC: tableData[8].replace(/\,/g, ''), CurrencyId: tableData[10],
                    LandedPriceBDT: tableData[11].replace(/\,/g, ''),
                    PLESubId: tableData[12], PIFileSubId: tableData[13],
                    Line_No: tableData[16], BIN: tableData[17],
                    Remarks: '', RowNo: eval(tableData[0])
                };
                //alert(arrayOfThisRow);
                grrSubView.push(arrayOfThisRow);
            }
        }).get();

        //alert(JSON.stringify({ grrView: grrView, grrSubView: grrSubView }));
        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ grrView: grrView, grrSubView: grrSubView }),
            success: function (msg) {
                //$('#APVSub').html(msg);
                //$('#tableContent').val($('#tblCWFV tbody').html());
                //$('table#tblCWFV tbody').html(msg);
                alert(msg);

                if (msg != 'Duplicate GRR No.')
                    window.location = '@Url.Action("Create")';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Save failed. try later.');
            }
        });
    });
    </script>
}

@section CSS {

}

