﻿@model InventoryMS.Models.GRRView

@using InventoryMS.Models
@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Receive Entry (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Receive</a></li>
        <li class="active">Entry</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href='@Url.Action("Index")'>MRR List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.GRRId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.GRRNo, "MRR No", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.GRRNo, "StringWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.GRRNo, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GRRDate, "MRR Date", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.GRRDate, "DateTimeWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.GRRDate, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.ReceiveDate, "Receive Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.ReceiveDate, "DateTimeWOL")

                                    @Html.ValidationMessageFor(model => model.ReceiveDate, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Receive Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownList("ReceiveType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "SourceDetails(this.value);" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PLEId, "Source Type", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.DropDownList("SourceType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "STypeChange(this.value); //LotDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Material Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.MaterialTypeId, (SelectList)ViewBag.MaterialType, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList(this.value);" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PLEId, "Warehouse", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.DropDownList("Warehouse", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="import" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div id="lclist" class="col-sm-4">
                                    @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LC, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LCDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-12 control-label" }, false)
                                </div>
                                <div id="lot" class="col-sm-3 offset-left-1">
                                    @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.Lot, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LotDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="local" style="display: none;" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, "Local MRR No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="mrrlist" class="col-sm-9">
                                    @Html.DropDownList("PONo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "PODetails(this.value);" })
                                </div>
                                @*<div class="col-sm-2">
                @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-12 control-label" }, false)
            </div>
            <div id="lot" class="col-sm-3 offset-left-1" ">
                @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.Lot, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LotDetails(this.value);" })

                @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
            </div>*@
                            </div>

                            <div id="internalpurchase" style="display: none;" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, "Invoice/Challan No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="challanlist" class="col-sm-9">
                                    @Html.DropDownList("InvoiceNo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ChallanDetails(this.value);" })
                                </div>
                            </div>

                            <div id="others" style="display: none;" class="form-group">
                                @Html.LabelFor(model => model.LCFileId, "Requistion No", new { @class = "col-common col-sm-3 control-label" })
                                <div id="srrlist" class="col-sm-9">
                                    @Html.DropDownList("SRRNo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "SRRDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.LCFileId, null, new { @class = "control-label" })
                                </div>
                                @*<div class="col-sm-2">
                @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-12 control-label" }, false)
            </div>
            <div id="lot" class="col-sm-3 offset-left-1" ">
                @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.Lot, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "LotDetails(this.value);" })

                @Html.ValidationMessageFor(model => model.PLEId, null, new { @class = "control-label" })
            </div>*@
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Truck Challan No", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.TruckChallanNo, "StringWOL")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.TruckChallanDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierChallanNo, "Supp. Challan No", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.SupplierChallanNo, "StringWOL")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.SupplierChallanDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GatePassNo, "Gate Pass No", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.GatePassNo, "StringWOL")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.GatePassDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VehicleNo, "Vehicle No ", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.VehicleNo, "StringWOL")
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LCDate, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.LCDate, "DateTimeWOL", new { @readonly = "readonly" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.Label("Port Arrival Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.LotDate, "DateTimeWOL", new { @readonly = "readonly" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.SupplierName, new { @readonly = "readonly" })

                            @Html.HiddenFor(model => model.SupplierId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierId, "Requisition(s)", new { @class = "col-common col-sm-3 control-label" })
                                <div id="requisition_list" class="col-sm-9">

                                </div>
                            </div>

                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { rows = 5 })
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    @*<div id="divDT">
                                        @Html.Action("DetailsTemplate")
                                    </div>*@

                                    <table id="tblDT" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 5%;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center; width: 22%;">
                                                    Item Name
                                                </th>
                                                <th style="text-align: center; width: 7%;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Invoice Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Receive Qty
                                                </th>
                                                <th id="FCPrice" style="text-align: center; width: 7%; display: none;">
                                                    CS Price
                                                </th>
                                                <th style="text-align: center; width: 6%; display: none;">
                                                    Currency
                                                </th>
                                                <th style="display: none;">
                                                    Currency Id
                                                </th>
                                                <th id="BDTPrice" style="text-align: center; width: 7%; display: none;">
                                                    Unit Price
                                                </th>
                                                <th style="display: none;">
                                                    PLE Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    LC Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Location Id
                                                </th>
                                                <th style="text-align: center; width: 10%;">
                                                    Store Location
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Line No
                                                </th>
                                                <th style="text-align: center; width: 5%;">
                                                    BIN
                                                </th>
                                                <th style="display: none;">
                                                    GRR Id
                                                </th>
                                                <th style="display: none;">
                                                    GRR Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    SRR Sub Id
                                                </th>
                                                <th style="text-align: center; width: 13%;">
                                                    Remarks
                                                </th>
                                                <th style="text-align: center; width: 5%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            <tr>
                                                @if(Model.GRRId > 0 && Model.PurchaseTypeId == 46)
                                                {
                                                    Html.RenderAction("RowTemplate", new { id = Model.GRRId });
                                                }
                                                @*else
                                                { 
                                                    <td colspan="21"></td>
                                                }*@
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 1px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 44.5%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; width: 13.5%; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Total Quantity", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-2">
                                    <span id="totqty"></span>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="box-footer">
                        @if (((string)ViewBag.save_flag).Equals("Save"))
                        {
                            <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                            @*<a href="invoice-print.html" target="_blank" class="btn btn-default pull-right"><i class="fa fa-print"></i> Print</a>*@
                        }
                        else if (Model.ApprovedType == 1 && ((string)ViewBag.save_flag).Equals("Approval"))
                        {
                            <h4 class="modal-title" style="text-align: center !important; color: red;">MRR already approved.</h4>
                        }
                        else if (Model.ApprovedType == 2 && ((string)ViewBag.save_flag).Equals("Approval"))
                        {
                            <h4 class="modal-title" style="text-align: center !important; color: red;">MRR already disapproved.</h4>
                        }
                        else if (((string)ViewBag.save_flag).Equals("Approval"))
                        {
                            <button id="btnSave" class="btn btn-success pull-right"><i class="fa fa-check"></i> Approve</button>
                            <button id="btnDApv" class="btn btn-danger pull-right" style="margin-right: 5px;"><i class="fa fa-times"></i> Disapprove</button>
                        }
                        @*&& clsMain.IsActionEnabled("GRR", "Approval")*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true,
        allowClear: true,
    });

    $('#GRRDate').datepicker({
        format: 'dd-M-yyyy',
        startDate: '-@(Model.GRRDate.Value.Day <= 6 ? (((Model.GRRDate.Value.Month == 1 ? 365 : 0) + Model.GRRDate.Value.DayOfYear) - DateTime.Parse(Model.GRRDate.Value.Date.AddMonths(-1).ToString("01-MMM-yyyy")).DayOfYear) : (Model.GRRDate.Value.Day - 1))d',
        //minDate: new Date('@DateTime.Today.AddDays(30).ToString("01-MMM-yyyy")'),
        autoclose: true
    });

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    function STypeChange(e) {
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');
        if (e == 46) {
            $('#import').show();
            $('#local').hide();
            $('#internalpurchase').hide();
            $('#others').hide();
            $('#BDTPrice').hide();
        }
        else {
            if ($('#ReceiveType').val() == 30) {
                $('#local').show();
                $('#others').hide();
                $('#internalpurchase').hide();
                $('#BDTPrice').show();
            } else if ($('#ReceiveType').val() == 53) {
                $('#internalpurchase').show();
                $('#local').hide();
                $('#others').hide();
                $('#BDTPrice').show();
            } else {
                $('#others').show();
                $('#local').hide();
                $('#internalpurchase').hide();
                $('#BDTPrice').hide();
            }
            $('#import').hide();
        }

        $('#FactoryId').val('').trigger('change');

        $('#LCFileId').val('').trigger('change');
        $('#InvoiceNo').val('').trigger('change');
        $('#PONo').val('').trigger('change');
        $('#SRRNo').val('').trigger('change');

        $('#LCFileId').empty();
        $('#PONo').empty();
        $('#SRRNo').empty();
    }

    function SourceDetails(e) {
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');

        $('#SourceType').val(e == 30 ? '46' : '47').trigger('change');
        $('#SourceType').prop('disabled', e == 30 ? false : true);
    };

    function getRefList(e) {
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null) {
            return;
        }

        if ($('#SourceType').val() == '46') {
            getLC(e);
        } else {
            if ($('#ReceiveType').val() == '30') {
                getPOList(e);
            } else if ($('#ReceiveType').val() == '53') {
                getChallanList(e);
            } else {
                getSRRList(e);
            }
        }
    }

    function getChallanList(e) {
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null) {
            return;
        }

        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("ChallanList")",
            data: JSON.stringify({ id: $('#ReceiveType').val(), comid: $('#FactoryId').val() }),
            success: function (data) {
                console.log(data);
                $('#challanlist').html(data);
                $('#challanlist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true,
                    allowClear: true,
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        if ($('#MaterialTypeId').val() != null) {
            if ($('#MaterialTypeId').val() == 89) {
                Prefix = 'STR'
            }
            else {
                Prefix = 'MRR'
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("FactoryDetails")",
            data: JSON.stringify({ id: $('#FactoryId').val(), mrrdate: $('#GRRDate').val(), type: Prefix }),
            success: function (data) {
                $('#GRRNo').val(data.mrrno);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
        
    };

    function ChallanDetails(e) {
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null || e == '' || e == null)
            return;

        $.ajax({
            type: "POST",
            //datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ChallanDetails")',
            data: JSON.stringify({ id: e, type_id: $('#ReceiveType').val() }),
            success: function (data) {
                // console.log(data);
                $('#LCDate').val(data.lcdate);
                $('#SupplierName').val(data.supname);
                $('#SupplierId').val(data.supid);
                $('#requisition_list').html(data.rq_no);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify(jqXHR));
            }
        });

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ChallanProductDetails")',
            data: JSON.stringify({ id: e, facid: $('#FactoryId').val() }),
            success: function (data) {
                // console.log(data);
                $('#tblbody').html(data);

                $('#tblbody .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true,
                    allowClear: true,
                });

                set_total_qunatity();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    };

    function getPOList(e) {
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null) {
            return;
        }

        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("POList")",
            data: JSON.stringify({ id: $('#ReceiveType').val(), comid: $('#FactoryId').val() }),
            success: function (data) {
                //console.log(data);
                $('#mrrlist').html(data);
                $('#mrrlist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true,
                    allowClear: true,
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        if ($('#MaterialTypeId').val() != null) {
            if ($('#MaterialTypeId').val() == 89) {
                Prefix = 'STR'
            }
            else {
                Prefix = 'MRR'
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("FactoryDetails")",
            data: JSON.stringify({ id: $('#FactoryId').val(), mrrdate: $('#GRRDate').val(), type: Prefix }),
            success: function (data) {
                $('#GRRNo').val(data.mrrno);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
       
    };

    function getSRRList(e) {
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null) {
            return;
        }

        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SRRList")",
            data: JSON.stringify({ id: $('#ReceiveType').val(), comid: $('#FactoryId').val(), mrr_date: $('#GRRDate').val() }),
            success: function (data) {
                //console.log(data);
                $('#srrlist').html(data);
                $('#srrlist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true,
                    allowClear: true,
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        if ($('#MaterialTypeId').val() != null) {
            if ($('#MaterialTypeId').val() == 89) {
                Prefix = 'STR'
            }
            else {
                Prefix = 'MRR'
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("FactoryDetails")",
            data: JSON.stringify({ id: $('#FactoryId').val(), mrrdate: $('#GRRDate').val(), type: Prefix }),
            success: function (data) {
                $('#GRRNo').val(data.mrrno);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
       
    };

    function getLC(e) {
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null) {
            return;
        }

        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("RefList")",
            data: JSON.stringify({ id: $('#ReceiveType').val(), comid: $('#FactoryId').val() }),
            success: function (data) {
                $('#lclist').html(data);
                $('#lclist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true,
                    allowClear: true,
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        if ($('#MaterialTypeId').val() != null) {
            if ($('#MaterialTypeId').val() == 89) {
                Prefix = 'STR'
            }
            else {
                Prefix = 'MRR'
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("FactoryDetails")",
            data: JSON.stringify({ id: $('#FactoryId').val(), mrrdate: $('#GRRDate').val(), type: Prefix }),
            success: function (data) {
                $('#GRRNo').val(data.mrrno);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
        
    };

    function LCDetails(e) {
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');
        if ($('#LCFileId').val() == '' || $('#LCFileId').val() == null)
            return;
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotList")',
            data: JSON.stringify({ id: $('#LCFileId').val(), type: "edit" }),
            success: function (data) {
                $('#lot').html(data);

                $('#lot select.select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                    allowClear: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LCDetails")',
            data: JSON.stringify({ id: e }),
            success: function (data) {
                $('#LCDate').val(data.lcdate);
                $('#SupplierName').val(data.supname);
                $('#SupplierId').val(data.supid);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        //table.clear().draw();

        //$('#totalqty').html('0.000');
    };

    function LotDetails(e) {
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#PLEId').val() == '' || $('#PLEId').val() == null) {
            return;
        }
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotDetails")',
            data: JSON.stringify({ id: $('#PLEId').val() }),
            success: function (data) {
                $('#requisition_list').html(data.requisition_list);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LotItemDetails")',
            data: JSON.stringify({ id: $('#PLEId').val(), facid: $('#FactoryId').val(), mrrdate: $('#GRRDate').val() }),
            success: function (data) {
                //table.destroy();

                $('#tblbody').html(data);

                $('#LotDate').val($('#portdate').val());

                set_total_qunatity();

                //$('#totalqty').html($('#TQty').val());

                //toTable();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function PODetails(e) {
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');
        if ($('#FactoryId').val() == '' || $('#FactoryId').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null || e == '' || e == null)
            return;

        $.ajax({
            type: "POST",
            //datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("PODetails")',
            data: JSON.stringify({ id: e, type_id: $('#ReceiveType').val() }),
            success: function (data) {
                // console.log(data);
                $('#LCDate').val(data.lcdate);
                $('#SupplierName').val(data.supname);
                $('#SupplierId').val(data.supid);
                $('#requisition_list').html(data.rq_no);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify(jqXHR));
            }
        });

        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("POProductDetails")',
            data: JSON.stringify({ id: e, facid: $('#FactoryId').val() }),
            success: function (data) {
                // console.log(data);
                $('#tblbody').html(data);

                $('#tblbody .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true,
                    allowClear: true,
                });

                set_total_qunatity();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    };

    //function item_details(id, sb) {
    //    row = $(sb).closest('tr');

    //    $(row).find('td:eq(2)').html(id);
    //}

    function item_details(id, sb) {
        if (id == '' || id == '0')
            //alert(id);
            return;
        //alert(id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductDetails")',
            data: JSON.stringify({ id: id, type: 59, facid: $('#FactoryId').val(), facid2: 0 }),
            success: function (msg) {
                //alert(msg);
                row = $(sb).closest('tr');

                $(row).find('td:eq(2)').html(id);
                $(row).find('td:eq(6)').html(msg.unitid);
                if ($(row).find('td:eq(4)').html() !== msg.unit) {
                    alert("Your selected product unit does not match the LPMS unit.\n Please input the quantity/unit price carefully.");

                    //let span = "<span style='color:red'>*<span/>";
                    //$(row).find('td:eq(4)').html(msg.unit + span);
                } else {
                    //$(row).find('td:eq(4)').html(msg.unit);
                }
                $(row).find('td:eq(4)').html(msg.unit);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function SRRDetails(e) {
        $('#tblDT tbody').html('<tr><td colspan="21"></td></tr>');
        if ($('#SRRNo').val() == '' || $('#SRRNo').val() == null || $('#ReceiveType').val() == '' || $('#ReceiveType').val() == null) {
            return;
        }
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("SRRItemDetails")',
            data: JSON.stringify({ id: $('#SRRNo').val(), type_id: $('#ReceiveType').val() }),
            success: function (data) {
                //table.destroy();

                $('#tblbody').html(data);

                //$('#LotDate').val($('#portdate').val());

                //$('#totalqty').html($('#TQty').val());

                //toTable();

                set_total_qunatity();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function setQty(t) {
        var OriginalContent = $(t).text();
        rn = $(t).closest('tr').index() + 1;
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");

                set_total_qunatity();
            }
            else {
               /* return (e.which != 45 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;*/
                return (
                    (e.which != 45 && e.which != 8 && e.which != 0 && e.which != 46) && // Allow periods (.)
                    (e.which < 48 || e.which > 57) // Allow digits (0-9)
                ) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function setPrice(t) {
        var OriginalContent = $(t).text();
        row = $(t).closest('tr');
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");

                $(row).find('td:eq(8)').html(newContent);
            }
            else {
                //return (e.which != 45 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                return (
                    (e.which != 45 && e.which != 8 && e.which != 0 && e.which != 46) && // Allow periods (.)
                    (e.which < 48 || e.which > 57) // Allow digits (0-9)
                ) ? false : true;

            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };
    function set_total_qunatity() {
        var tQty = 0;
        $('table#tblDT').find('tbody tr').map(function () {
            rn = 0;
            var tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            tQty += eval(tableData[7].replace(/\,/g, ''));
        }).get();

        $('#totalqty').html(tQty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    }

    function delrow(e) {
        if (confirm('Are you sure want to delete?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        rn = $(e).closest('tr').index() + 1;

        $('#tblDT>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;

        $('table#tblDT>tbody>tr td:first-child').each(function () {
            $(this).text((rn + 1000).toString().slice(-2));
            rn++;
        });

        set_total_qunatity();
    };

    $('#btnDApv').click(function () {
        if (confirm('Are you sure to disapprove?')) {

        }
        else {
            return;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ grr: $('#PRId').val(), requisitionSub: null, save_type: 2 }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    alert(msg.message);
                }
                else {
                    $('#msg').html('Requisition # @Model.GRRNo has disapproved successfully.');
                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        })
    });

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });


        if ($('#tblDT>tbody>tr').length <= 0) {
            alert('No details information.');
            return;
        }

        var isValid = true, ctl;
        $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
            if ($(this).val() == '') {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                //return;
                //debugger;
                if ($(this).attr('id') == 'PLEId' || $(this).attr('id') == 'PONo' || $(this).attr('id') == 'SRRNo') {
                    //isValid = false;
                } else {
                    isValid = false;
                }
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }

        let tbl = $('table#tblDT').find('tbody tr').map(function () {
            rn = 0;
            let tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            if (tableData[2].length == 0 || eval(tableData[7].replace(/\,/g, '')) == 0) {
                isValid = false
                return;
            }
            //PipelineQuantity: tableData[5].replace(/\,/g, ''),
            //GRRQuantity: tableData[7].replace(/\,/g, ''),
        });

        if (!isValid) {
            alert('Some item has no product name or zero quantity');
            return;
        }

        var grrView = {
            GRRId: $('#GRRId').val(),
            GRRNo: $('#GRRNo').val(),
            GRRDate: $('#GRRDate').val(),
            ReceiveDate: $('#ReceiveDate').val(),
            FactoryId: $('#FactoryId').val(),
            SupplierId: $('#SupplierId').val(),
            TruckChallanNo: $('#TruckChallanNo').val(),
            TruckChallanDate: $('#TruckChallanDate').val(),
            SupplierChallanNo: $('#SupplierChallanNo').val(),
            SupplierChallanDate: $('#SupplierChallanDate').val(),
            GatePassNo: $('#GatePassNo').val(),
            GatePassDate: $('#GatePassDate').val(),
            VehicleNo: $('#VehicleNo').val(),
            PurchaseTypeId: $('#SourceType').val(),
            ReceiveTypeId: $('#ReceiveType').val(),
            WarehouseId: $('#Warehouse').val(),
            Remarks: $('#Remarks').val()
        }, grrSubView = [], rn = 0;

        if ($('#SourceType').val() == '46') {
            grrView = Object.assign(grrView, {
                LCFileId: $('#LCFileId').val(),
                PLEId: $('#PLEId').val(),
                LCNo: $('#LCFileId').select2('data')[0].text,
                LCDate: $('#LCDate').val()
            });
        } else {
            if ($('#ReceiveType').val() == '30') {
                grrView = Object.assign(grrView, {
                    MRRId: $('#PONo').val()
                });
            } else {
                grrView = Object.assign(grrView, {
                    SRRId: $('#SRRNo').val()
                });
            }
        }

        tbl = $('table#tblDT').find('tbody tr').map(function () {
            rn = 0;
            let tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            if (tableData.length >= 11) {
                let arrayOfThisRow = {
                    GRRId: tableData[18],
                    GRRSubId: tableData[19],
                    ProductId: tableData[2],
                    PipelineQuantity: tableData[5].replace(/\,/g, ''),
                    GRRQuantity: tableData[7].replace(/\,/g, ''),
                    QuantityUnitId: tableData[6],
                    ImportPriceFC: tableData[8].replace(/\,/g, ''),
                    CurrencyId: tableData[10],
                    LandedPriceBDT: tableData[11].replace(/\,/g, ''),
                    PLESubId: tableData[12],
                    PIFileSubId: tableData[13],
                    Line_No: tableData[16],
                    BIN: tableData[17],
                    Remarks: '',
                    RowNo: eval(tableData[0])
                };
                if ($('#SourceType').val() == '47' && $('#ReceiveType').val() != '30') {
                    if ($('#ReceiveType').val() == '53') {
                        arrayOfThisRow = Object.assign(arrayOfThisRow, {
                            SalesInvoiceSubId: tableData[20],
                        });
                    } else {
                        arrayOfThisRow = Object.assign(arrayOfThisRow, {
                            SRRSubId: tableData[20],
                            IssueSubId: tableData[22],
                        });
                    }
                } else if ($('#SourceType').val() == '47' && $('#ReceiveType').val() == '30') {
                    arrayOfThisRow = Object.assign(arrayOfThisRow, {
                        OldMRRSubId: tableData[20],
                    });
                }
                //alert(arrayOfThisRow);
                grrSubView.push(arrayOfThisRow);
            }
        }).get();

        //console.log(JSON.stringify({ grrView: grrView, grrSubView: grrSubView }));
        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ grrView: grrView, grrSubView: grrSubView, save_flag: '@ViewBag.save_flag' }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alert_main_div').removeClass('alert-success alert-danger');
                    $('#alert_main_div').addClass('alert-danger');
                    $('#asummary_main').html('!!!Error!!!')
                    $('#atext_main').html('Save failed due to "' + msg.message + '".');
                    $('#btn_alert_main').attr('onclick', '');

                    $('#alert_main').modal('show');
                }
                else {
                    $('#alert_main_div').removeClass('alert-success alert-danger');
                    $('#alert_main_div').addClass('alert-success');
                    $('#asummary_main').html('Success!!')
                    $('#atext_main').html(msg);
                    $('#btn_alert_main').attr('onclick', 'window.location = "@Url.Action("Create")"');

                    $('#alert_main').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Save failed. try later.');
            }
        });
    });
    </script>
}

@section CSS {

}

