﻿@model InventoryMS.Models.GRRSubView

<div class="col-md-4">
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" }, false)
        <div id="catid" class="col-sm-9">
            @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Category, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getProduct(this.value)" })

            @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductId, new { @class = "col-common col-sm-3 control-label" }, false)
        <div id="pid" class="col-sm-9">
            @Html.DropDownListFor(model => model.ProductId, (SelectList)ViewBag.Product, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getQuantityUnit(this.value)" })

            @Html.ValidationMessageFor(model => model.ProductId, null, new { @class = "control-label" })
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        @Html.LabelFor(model => model.LCQuantity, new { @class = "col-common col-sm-3 control-label" }, false)
        <div class="col-sm-5" style="padding-right: 2px;">
            @Html.EditorFor(model => model.LCQuantity, "DecimalWOL")
        </div>
        <div id="qulist" class="col-sm-4" style="padding-left: 0px">
            @Html.DropDownListFor(model => model.QuantityUnitId, (SelectList)ViewBag.QuantityUnit, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
            @Html.ValidationMessageFor(model => model.QuantityUnitId, null, new { @class = "control-label" })
        </div>
    </div>

    @Html.EditorFor(model => model.GRRQuantity)
</div>
<div class="col-md-5" style="padding-right: 4px;">
    <div class="form-group">
        @Html.LabelFor(model => model.ImportPriceFC, new { @class = "col-common col-sm-4 control-label" }, false)
        <div class="col-sm-4" style="padding-right: 2px;">
            @Html.EditorFor(model => model.ImportPriceFC, "DecimalWOL")
            @*@Html.ValidationMessageFor(model => model.ImportPriceFC, null, new { @class = "control-label" })*@
        </div>
        <div class="col-sm-4" style="padding-left: 0px">
            @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
            @Html.ValidationMessageFor(model => model.CurrencyId, null, new { @class = "control-label" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LandedPriceBDT, new { @class = "col-common col-sm-4 control-label" }, false)
        <div class="col-sm-8">
            @Html.EditorFor(model => model.LandedPriceBDT, "DecimalWOL")

            @Html.ValidationMessageFor(model => model.LandedPriceBDT, null, new { @class = "control-label" })
        </div>
    </div>
</div>
<div class="col-md-12" style="padding: 0px 4px;">
    <div class="form-group">
        <div class="col-sm-12">
            <input id="btnAdd" type="button" style="padding: 1px 10px; width: 100%;" class="btn btn-success@(Model._editStatus ? " change" : "")" value="@(Model._editStatus ? "Rep" : "Add")" />
        </div>
    </div>
</div>


<script>
    var rn;
    
    $('.only-currency').each(function () {
        $(this).val(((new Number($(this).val().substring(0, $(this).val().indexOf('.')).replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")) + $(this).val().substring($(this).val().indexOf('.'), $(this).val().indexOf('.') + 6));
    });

    if ($('#CurrencyId').val() == '')
        $('#CurrencyId').val('1').trigger('change');

    function getProduct(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("ProductList", "Requisition")",
            data: JSON.stringify({ id: e, facid: $('#FactoryId').val(), value: $('#ProductId').val() }),
            success: function (data) {
                $('#pid').html(data);
                $('#pid .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                //$('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function getQuantityUnit(e) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("QuantityUnitList", "Requisition")",
            data: JSON.stringify({ id: e, value: $('#QuantityUnitId').val() }),
            success: function (data) {
                $('#qulist').html(data);
                $('#qulist .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                $('#pld').attr('style', 'display: block');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    $('#btnAdd').click(function () {
        var isValid = true, ctl;
        $('#divDT [data-val="true"]').each(function () {
            $(this).closest('.form-group').removeClass('has-error');
            $(this).closest('.form-group').find('.field-validation-error').html('');
            $(this).closest('.form-group').find('.field-validation-error').addClass('field-validation-valid');
            $(this).closest('.form-group').find('.field-validation-error').removeClass('field-validation-error');
        });

        $('#divDT [data-val="true"]').each(function () {
            if ($(this).val() == '') {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).parent().find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).parent().find('.field-validation-valid').addClass('field-validation-error');
                $(this).parent().find('.field-validation-valid').removeClass('field-validation-valid');
                //return;

                isValid = false;
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }

        var isEdit = false;
        if ($('#btnAdd').hasClass('change')) {
            isEdit = true;
        }
        else {
            rn = $('#tblDT>tbody>tr').length;
            //if (rn > 3) {
            //    alert('You can\'t add more than 3 quotation.');
            //    return;
            //}
        }

        var row = "<tr>" +
            "<td style='text-align: center;'>" + (1000 + rn).toString().substring(1, 4)  + "</td>" +
            "<td style='display: none;'>" + $('#CategoryId').val() + "</td>" +
            "<td style='display: none;'>" + $('#ProductId').val() + "</td>" +
            "<td>" + $('#ProductId').select2("data")[0].text + "</td>" +
            "<td style='text-align: right;'>" + $('#LCQuantity').val() + "</td>" +
            "<td>" + $('#QuantityUnitId').select2("data")[0].text + "</td>" +
            "<td style='display: none;'>" + $('#QuantityUnitId').val() + "</td>" +
            "<td style='text-align: right;'>" + $('#GRRQuantity').val() + "</td>" +
            "<td style='text-align: right;'>" + $('#ImportPriceFC').val() + "</td>" +
            "<td>" + $('#CurrencyId').select2("data")[0].text + "</td>" +
            "<td style='display: none;'>" + $('#CurrencyId').val() + "</td>" +
            "<td style='text-align: right;'>" + $('#LandedPriceBDT').val() + "</td>" +
            '<td style="text-align: center;">' +
                '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
            '</td>' +
        "</tr>";

        if (isEdit) {
            $('#tblDT tr:eq(' + rn + ')').after(row);
            $('#tblDT tr:eq(' + rn + ')').remove();
        }
        else {
            $('#tblDT tr:last').before(row);
        }
        
        $("#FactoryId").prop("disabled", true);
        //$('#QuotationSubId').val('0');
        //$('#POSubId').val('0');
        //$('#QuotationId').val('0');
        //$('#QASubId').val('0');

        $('#btnAdd').val('Add');
        $('#btnAdd').removeClass('change');
    });

    function editrow(e) {
        //alert($('#FactoryId').val());
        //return;

        //$('.only-number').each(function () {
        //    $(this).val($(this).val().replace(/\,/g, ''));
        //});

        //$('.only-currency').each(function () {
        //    $(this).val($(this).val().replace(/\,/g, ''));
        //});

        rn = $(e).closest('tr').index() + 1;

        var rowData = {
            CategoryId: $('#tblDT tr:eq(' + rn + ') td:eq(1)').html(),
            ProductId: $('#tblDT tr:eq(' + rn + ') td:eq(2)').html(),
            LCQuantity: $('#tblDT tr:eq(' + rn + ') td:eq(4)').html().replace(/\,/g, ''),
            QuantityUnitId: $('#tblDT tr:eq(' + rn + ') td:eq(6)').html(),
            GRRQuantity: $('#tblDT tr:eq(' + rn + ') td:eq(7)').html().replace(/\,/g, ''),
            ImportPriceFC: $('#tblDT tr:eq(' + rn + ') td:eq(8)').html().replace(/\,/g, ''),
            CurrencyId: $('#tblDT tr:eq(' + rn + ') td:eq(10)').html(),
            LandedPriceBDT: $('#tblDT tr:eq(' + rn + ') td:eq(11)').html().replace(/\,/g, ''),
            _editStatus: true
        };

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("DetailsTemplate")",
            data: JSON.stringify({ grrSubView: rowData, facid: $('#FactoryId').val() }),
            success: function (msg) {
                $('#divDT').html(msg);

                $('#divDT select.select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        //$('#btnAdd').addClass('change');
        //$('#btnAdd').val('Rep');
    };

    function delrow(e) {
        rn = $(e).closest('tr').index() + 1;

        $('#tblDT>tbody>tr:eq(' + (rn - 1) + ')').remove();

        if ($('#tblDT>tbody>tr').length <= 1)
            $("#FactoryId").prop("disabled", false);

        rn = 1;

        $('table#tblDT>tbody>tr:not(:last-child) td:first-child').each(function () {
            $(this).text((rn + 1000).toString().slice(-3));
            rn++;
        });

        $('#btnAdd').val('Add');
        $('#btnAdd').removeClass('change');
    };
</script>