﻿@model InventoryMS.Models.GRRView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Edit :: GRR Entry (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> GRR</a></li>
        <li class="active">Edit</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">GRR List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.GRRId)

                            @Html.EditorFor(model => model.GRRNo)

                            @Html.EditorFor(model => model.GRRDate)

                            @Html.EditorFor(model => model.LCNo)

                            @Html.EditorFor(model => model.LCDate)
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.FactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierId, new { @class = "col-common col-sm-3 control-label" }, false)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.SupplierId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { rows = 2 })
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divDT">
                                        @Html.Action("DetailsTemplate", new { facid = Model.FactoryId })
                                    </div>

                                    <table id="tblDT" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Item Name
                                                </th>
                                                <th style="text-align: center;">
                                                    LC Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Import Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Import Price
                                                </th>
                                                <th style="text-align: center;">
                                                    Currency Code
                                                </th>
                                                <th style="display: none;">
                                                    Currency Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Landed Price (BDT)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.Action("RowTemplate", new { id = Model.GRRId })
                                            <tr>
                                                <td colspan="13"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("#FactoryId").prop("disabled", true);

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });


            if ($('#tblDT>tbody>tr').length <= 1) {
                alert('No details information.');
                return;
            }

            var isValid = true, ctl;
            $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
                if ($(this).val() == '') {
                    //alert($(this).attr('data-val-required'));
                    if (ctl == null)
                        ctl = $(this);
                    $(this).closest('.form-group').addClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                    $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                    $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                    //return;

                    isValid = false;
                }
            });

            if (!isValid) {
                ctl.focus();
                return;
            }

            var grrView = {
                FactoryId: $('#FactoryId').val(), SupplierId: $('#SupplierId').val(),
                GRRNo: $('#GRRNo').val(), GRRDate: $('#GRRDate').val(), LCNo: $('#LCNo').val(),
                LCDate: $('#LCDate').val(), Remarks: $('#Remarks').val()
            }, grrSubView = [], rn = 0;

            var tbl = $('table#tblDT').find('tbody tr').map(function () {
                rn = 0;
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 11) {
                    var arrayOfThisRow1 = {
                        ProductId: tableData[2], LCQuantity: tableData[4],
                        GRRQuantity: tableData[7], QuantityUnitId: tableData[6],
                        ImportPriceFC: tableData[8], CurrencyId: tableData[10],
                        LandedPriceBDT: tableData[11], Remarks: '', RowNo: eval(tableData[0])
                    };
                    //alert(arrayOfThisRow);
                    grrSubView.push(arrayOfThisRow1);
                }
            }).get();

            //alert(JSON.stringify({ grrView: grrView, grrSubView: grrSubView }));
            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ grrView: grrView, grrSubView: grrSubView }),
                success: function (msg) {
                    //$('#APVSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    alert(msg);

                    if (msg != 'Duplicate GRR No.')
                        window.location = '@Url.Action("Create")';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {

}

