﻿@model IEnumerable<InventoryMS.Models.SPGRRMain>
@using InventoryMS.Models
@{InventoryCubeEntities db = new InventoryCubeEntities();
  ProductCubeEntities dbProd = new ProductCubeEntities();}

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        GRR List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> GRR</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
						@if (InventoryMS.Models.clsMain.IsPermitted("GRRMain", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New GRR</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
							<a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New GRRMain</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body pre-scrollable1">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
							<tr>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.FactoryId)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.SupplierId)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.GRRNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.GRRDate)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.LCNo)
								</th>
								<th style="text-align: center;">
									@Html.DisplayNameFor(model => model.LCDate)
								</th>
								<th></th>	
							</tr>	
				</thead>
                <tbody>
                    @foreach (var item in Model)
                    {
							<tr class="selectable">
								<td>
									@dbProd.Factories.Find(item.FactoryId).ShortName
								</td>
								<td>
									@db.Suppliers.Find(item.SupplierId).ShortName
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.GRRNo)
								</td>
								<td>
									@item.GRRDate.ToString("dd-MMM-yyyy")
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LCNo)
								</td>
								<td>
									@item.LCDate.ToString("dd-MMM-yyyy")
								</td>
								<td style="text-align: center">
									<a href="@Url.Action("Details", new { id = item.GRRId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
									@if (InventoryMS.Models.clsMain.IsPermitted("GRRMain", "Edit"))
                                    {
                                        <a href="@Url.Action("Edit", new { id = item.GRRId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                    else
                                    {
                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                    @if (InventoryMS.Models.clsMain.IsPermitted("GRRMain", "Delete"))
                                    {
                                        <a href="@Url.Action("Delete", new { id = item.GRRId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    }
                                    else
                                    {
                                        <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    }
								</td>
							</tr>
					}
						</tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

