﻿@model IEnumerable<InventoryMS.Models.LocationView>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Location List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Location</a></li>
        <li class="active"> Index</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                        @if (InventoryMS.Models.clsMain.IsPermitted("Location", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Location</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New Location</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.LocationName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.ShortName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Prefix)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Activity)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.CountryId)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LocationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prefix)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Activity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CountryName)
                                    </td>
                                    <td style="text-align: center">
                                        <a href="@Url.Action("Details", new { id = item.LocationId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("Location", "Delete"))
                                        {
                                            <a href="@Url.Action("Edit", new { id = item.LocationId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        @if (InventoryMS.Models.clsMain.IsPermitted("Location", "Delete"))
                                        {
                                            <a href="@Url.Action("Delete", new { id = item.LocationId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}
