﻿
@model InventoryMS.Models.Menu

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Menu & Others
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Item</a></li>
        <li class="active">Menu</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Item List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="box box-success">
                                <!-- .box-header -->
                                <div class="box-header with-border">
                                    <h3 class="box-title">Menu Infomation</h3>
                                    <div class="btn-group">
                                        
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-12">
                                        @Html.HiddenFor(model => model.MenuCode)

                                        @Html.EditorFor(model => model.MenuName)

                                        @Html.EditorFor(model => model.MenuTitle)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MenuPId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("MenuPId", null, string.Empty, new { @class = "form-control mcselect", @style = "width: 100%;", @onchange = "GetMenuCode(this.value)" })

                                                @Html.ValidationMessageFor(model => model.MenuPId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.ModCatId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("ModCatId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "MenuType(this.value)" })

                                                @Html.ValidationMessageFor(model => model.ModCatId, null, new { @class = "control-label" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MenuTypeId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("MenuTypeId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "SubTypeList(this.value)" })

                                                @Html.ValidationMessageFor(model => model.MenuTypeId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.MenuSubTypeId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("MenuSubTypeId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.MenuSubTypeId, null, new { @class = "control-label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.RefClassId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("RefClassId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                                @Html.ValidationMessageFor(model => model.RefClassId, null, new { @class = "control-label" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DefaultActionId, new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-5">
                                                @Html.DropDownList("AControllerId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ActionList(this.value)" })
                                            </div>
                                            <div id="divAL" class="col-sm-4">
                                                @Html.DropDownList("DefaultActionId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ParamList(this.value)" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DefaultParameter, "Param", new { @class = "col-common col-sm-3 control-label" })
                                            <div id="divPL" class="col-sm-4">
                                                @Html.DropDownList("Parameter", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                            <div class="col-sm-1">
                                                @Html.Label("Value", new { @class = "col-common col-sm-3 control-label" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.Editor("DefaultParameterValue", "StringWOL")
                                            </div>
                                            <div class="col-sm-1" style="padding-left: 0px;">
                                                <input id="btnAdd" type="button" style="padding: 1px 8px;" class="btn btn-success" value="Add" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-9" style="float: right;">
                                                <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center; width: 10%;">
                                                                SL #
                                                            </th>
                                                            <th style="text-align: center; width: 25%;">
                                                                Param
                                                            </th>
                                                            <th style="text-align: center; width: 25%;">
                                                                Value
                                                            </th>
                                                            <th style="text-align: center; width: 10%;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody">
                                                        <tr>
                                                            <td colspan="4"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Role", new { @class = "col-common col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownList("Role", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.Activity)
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <input id="btnSave" type="button" class="btn pull-right btn-success" value="Save" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("Item Code : ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "itemcode", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //tags: true,
            //dropdownAutoWidth: true
        });

        $('select.mcselect').select2({
            placeholder: "Select or Type . . .",
            dropdownAutoWidth: true,
            //templateResult: function (data) {
            //    var r = data.text.split('|');
            //    var $result = $(
            //        '<div class="row">' +
            //            '<div class="col-md-4 ab">' + r[0] + '</div>' +
            //            '<div class="col-md-4 ab">' + r[1] + '</div>' +
            //            '<div class="col-md-4 ab">' + r[2] + '</div>' +
            //        '</div>'
            //    );
            //    return $result;
            //},
            templateSelection: function (data) {
                var r = data.text.split(' >> ');
                var $result = r[1];
                return $result;
            }
        });

        $('#DefaultQUnitId').empty();

        //$('#itemcode').html('0101001110');
        //$('#mymodal').modal('show');

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function GetMenuCode(e) {
        }

        function MenuType(e) {
        }

        function SubTypeList(e) {
        }

        function ActionList(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ActionList")',
                data: JSON.stringify({ id: e }),
                success: function (msg) {
                    $('#divAL').html(msg);
                    $('#divAL .select').select2({
                        placeholder: "Select or Type . . .",
                    });

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function ParamList(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ActionWiseParam")',
                data: JSON.stringify({ id: e }),
                success: function (msg) {
                    $('#divPL').html(msg);
                    $('#divPL .select').select2({
                        placeholder: "Select or Type . . .",
                    });

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var rn = 0;
        $("#btnAdd").click(function () {
            if ($.trim($('#Parameter').val()) == '') {
                alert('Select parameter.');
                return;
            }
            //if (eval($.trim($('#KGPerUnit').val()).replace(/\,/g, '')) == 0) {
            //    alert('KG/Unit can\'n be zero.');
            //    return;
            //}

            var dup = false;
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                $('#tblSub').find('tr').not(':first').not(':last').not(':eq(' + (rn - 1) + ')').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#Parameter').val()) {
                        alert('Duplicate parameter.');
                        dup = true;
                        return;
                    }
                });

                isEdit = true;
            }
            else {

                $('#tblSub').find('tr').not(':first').not(':last').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#Parameter').val()) {
                        alert('Duplicate parameter.');
                        dup = true;
                        return;
                    }
                });

                rn = $('#tblSub>tbody>tr').length;
            }

            if (dup)
                return;

            var row = "<tr><td style='text-align: center;'>" + ("000" + rn).substring(1, 4) + "</td>" +
                "<td style='text-align: left;'>" + $('#Parameter').select2("data")[0].text + "</td>" +
                "<td style='text-align: right;'>" + $('#DefaultParameterValue').val() + "</td>" +
                '<td style="text-align: center;">' +
                    '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblSub tr:eq(' + rn + ')').after(row);
                $('#tblSub tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblSub tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#Parameter').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html()).trigger("change");
            $('#DefaultParameterValue').val($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if ($('#SystemName').val() == '') {
                $('#SystemName').val($('#ItemName').val());
            }

            var itemVariant = [], itemUnit = [], itemView = {
                SystemName: $('#SystemName').val(), ItemName: $('#ItemName').val(),
                ShortName: $('#ShortName').val(), BondName: $('#BondName').val(),
                CategoryId: $('#CategoryId').val(), HSCode: $('#HSCode').val(),
                DefaultFactoryId: $('#DefaultFactoryId').val(), FList: $('#FList').val(),
                QUnitList: $('#QUList').val(), DefaultQUnitId: $('#DefaultQUnitId').val(),
                Activity: $('#Activity').val()
            };

            $('.varlist').each(function () {
                var arrayOfThisRow = { ItemId: 0, VariantId: $(this).attr('id'), VariantValue: ($(this).attr('type') == 'text' ? $(this).val() : $(this).select2("data")[0].text), IsActive: 1 };
                itemVariant.push(arrayOfThisRow);
            });

            var itemFactory = []; var FList = $('#FList').val().toString().replace(', ', ',').split(',');

            for (var i = 0; i < FList.length; i++) {
                var arrayOfThisRow = { ItemId: 0, FactoryId: FList[i] };
                itemFactory.push(arrayOfThisRow);
            };

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 4) {
                    var arrayOfThisRow = {
                        ItemUnitId: 0, ItemId: 0, UnitId: tableData[1], KGProportion: tableData[3].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    itemUnit.push(arrayOfThisRow);
                }
            }).get();

            var FactoryVariant = { itemView: itemView, itemFactoryView: itemFactory, itemVariantView: itemVariant, itemUnitView: itemUnit };

            //alert(JSON.stringify(itemUnit));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify(FactoryVariant),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#itemcode').html(msg.itemid);

                        $('#mymodal').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}

