﻿@model IEnumerable<InventoryMS.Models.ConsumptionSubView>

@{
    int RowNo = 0;
    var db = new InventoryMS.Models.ProductCubeEntities();
}
@foreach (var item in Model.OrderBy(c => c.CategoryName).ThenBy(c => c.CategoryName.Length))
{
    //RowNo++;
    RowNo = item.RowNo.Value;
    <tr>
        <td style="text-align: center; width: 5%;">@RowNo.ToString("000")</td>
        <td style="text-align: center; display: none;">@item.ConsumptionSubId</td>
        <td style="text-align: center; display: none;">@item.OriginCategoryId</td>
        @*<td style="text-align: center; display: none;">@item.OriginCategoryId</td>*@
        <td style="text-align: center; display: none;">@item.OriginProductId</td>
        @*<td style="text-align: center; display: none;">@item.OriginProductId</td>*@
        <td style="text-align: left; width: 20%;">@Html.DropDownList("CategoryId_" + @RowNo.ToString("00"), new SelectList(ViewBag.CategoryList, "CategoryId", "CategoryName", item.OriginCategoryId), "ALL", new { @class = "form-control select catlist", @style = "width: 100%;", @onchange = "GetProductList(this.value, this)" })</td>
        @*<td style="text-align: left; width: 28%;">@Html.DropDownList("ProductId_" + @RowNo.ToString("00"), new SelectList(db.ItemInfoes.Where(c => c.CategoryId == item.OriginCategoryId).OrderBy(c => c.ItemName).ThenBy(c => c.ItemName.Length), "ItemId", "ItemName", item.OriginProductId), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "GetProductDetails(this.value, this)" })</td>*@
        <td style="text-align: left; width: 28%;">@Html.DropDownList("ProductId_" + @RowNo.ToString("00"), (SelectList)ViewBag.Product, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "GetProductDetails(this.value, this)" })</td>
        <td style="text-align: left; width: 8%; display: none;">@Html.DropDownList("BrandId_" + @RowNo.ToString("00"), (SelectList)ViewBag.Brand, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })</td>
        <td style="text-align: right; width: 8%;">0.00</td>
        <td style="text-align: right; width: 8%;" ondblclick="setQty(this, 4, true);">@item.ConsumptionQuantity.Value.ToString("##,##0.0000")</td>
        <td style="text-align: left; width: 5%; display: none;">0</td>
        <td style="text-align: left; width: 6%;"></td>
        <td style="text-align: center; width: 5%;">
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}
