﻿@model InventoryMS.Models.ConsumptionDetailsMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: ConsumptionMain
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Consumption</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">ConsumptionMain List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-7">
                            @Html.HiddenFor(model => model.ConsumptionDId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConsumptionDNo, "Consumption #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.ConsumptionDNo, "StringWOL")
                                </div>
                                @Html.LabelFor(model => model.ConsumptionDDate, "Date", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.ConsumptionDDate, "DateTimeWOL")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList()" })
                                </div>
                                @Html.LabelFor(model => model.ConsumptionTypeId, "Consume For", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.ConsumptionTypeId, (SelectList)ViewBag.ConsumptionType, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList()" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BookingId, "Booking #", new { @class = "col-common col-sm-3 control-label" })
                                <div id="reflist" class="col-sm-3">
                                    @Html.DropDownListFor(model => model.BookingId, (SelectList)ViewBag.BookingNo, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                                @Html.LabelFor(model => model.QuantityUnitId, "Booking Quantity", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-2 offset-right">
                                    @Html.EditorFor(model => model.BookingQuantity, "DecimalWOL")
                                </div>
                                <div class="col-sm-2 offset-left-1">
                                    @Html.DropDownListFor(model => model.QuantityUnitId, (SelectList)ViewBag.QuantityUnit, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BookingSubId, "Measurement", new { @class = "col-common col-sm-3 control-label" })
                                <div id="subreflist" class="col-sm-9">
                                    @Html.DropDownListFor(model => model.BookingSubId, (SelectList)ViewBag.Measurement, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">

                                </div>
                                @Html.LabelFor(model => model.QuantityUnitId, "Excess Quantity", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-2 offset-right">
                                    @Html.EditorFor(model => model.ExcessQuantity, "DecimalWOL")
                                </div>
                                <div class="col-sm-2 offset-left-1">
                                    @Html.Editor("UnitName", "StringWOL")
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { @rows = 5 })
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte">
                                            <a href="#">Comsumption Details</a>
                                            @*<a id="plan_info" class="pull-right" style="text-decoration: underline; padding-right: 10px; cursor: pointer; color: red;">Plan Details</a>*@
                                        </span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="proddetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Category
                                                </th>
                                                <th style="text-align: center;">
                                                    Product
                                                </th>
                                                <th style="text-align: center;">
                                                    Brand
                                                </th>
                                                <th style="text-align: center;">
                                                    Balance Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Consume Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblpbody"></tbody>
                                    </table>
                                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a id="btnBlank" class="new" title="Add New Row" style="text-decoration: underline; cursor: pointer;" data-toggle=" tooltip" data-original-title="Add" onclick="AddBlankRow();"><i class="glyphicon glyphicon-plus"></i> Add another row</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="button" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    var rn = 0;
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    function getRefList() {
        if ($('#FactoryId').val().length == 0 || $('#ConsumptionTypeId').val().length == 0) {
            console.log('select factory && consume for.')
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ReferenceList")',
            data: JSON.stringify({ id: $("#ConsumptionTypeId").val(), factory_id: $("#FactoryId").val() }),
            success: function (msg) {
                $('#reflist').html(msg);

                $('#reflist select').select2({
                    placeholder: "Select . . .",
                    //allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function getSubRefList() {
        if ($('#FactoryId').val().length == 0 || $('#ConsumptionTypeId').val().length == 0 || $('#ReferenceId').val().length == 0) {
            console.log('select factory, consume for, booking.')
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("SubReferenceList")',
                data: JSON.stringify({ id: $("#ConsumptionTypeId").val(), factory_id: $("#FactoryId").val(), booking_id: $("#ReferenceId").val() }),
                success: function (msg) {
                    $('#subreflist').html(msg);

                    $('#subreflist select').select2({
                        placeholder: "Select . . .",
                        //allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function loadRM() {
            if ($('#BookingSubId').val().length == 0) {
                console.log('select measurement.')
                return;
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RMList")',
                data: JSON.stringify({ id: $("#BookingSubId").val() }),
                success: function (msg) {
                    $('#proddetails>tbody').html(msg);

                    $('#proddetails>tbody .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function AddBlankRow() {
            if ($('#FactoryId').val().length == 0) { // || $('#').val().length == 0
                alert('select factory.')
                return;
            }

            rn = $('#proddetails>tbody>tr').length + 1;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ConsumptionDetails")',
            data: JSON.stringify({ rowno: rn, factory_id: $('#FactoryId').val() }),
            success: function (msg) {
                $('#proddetails>tbody').append(msg);

                //$('#proddetails>tbody>tr:last').children('td:eq(0)').html((rn + 1000).toString().slice(-3))

                $('#proddetails>tbody>tr:last .select').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                $('#proddetails>tbody .date').datepicker({
                    format: 'dd-M-yyyy',
                    autoclose: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function GetProductList(id, sb) {
        if (id == '' || id == '0')
            return;
        if ($('#FactoryId').val() == '') {
            alert('Please select unit.')
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductList", "SRR")',
            data: JSON.stringify({ id: id, facid: $('#FactoryId').val(), rowno: eval($(sb).attr('id').split("_").pop()) }),
            success: function (msg) {
                row = $(sb).closest('tr');

                $(row).find('td:eq(2)').html(id);
                $(row).find('td:eq(3)').html(0);
                $(row).find('td:eq(5)').html(msg);
                $(row).find('td:eq(7)').html('0.00');
                $(row).find('td:eq(8)').html('0.00');
                $(row).find('td:eq(9)').html(0);
                $(row).find('td:eq(10)').html('');

                console.log($(sb).attr('id'));

                $('#ProductId_' + $(sb).attr('id').split("_").pop()).select2({
                    placeholder: "Select or Type . . .",
                    //allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function GetProductDetails(id, sb) {
        if (id == '' || id == '0')
            //alert(id);
            return;
        //alert(id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductDetails")',
            data: JSON.stringify({ id: id }),
            success: function (msg) {
                //alert(msg);
                row = $(sb).closest('tr');

                $(row).find('td:eq(3)').html(id);
                $(row).find('td:eq(7)').html(msg.balqty);
                $(row).find('td:eq(8)').html('0.00');
                $(row).find('td:eq(9)').html(msg.unitid);
                $(row).find('td:eq(10)').html(msg.unit);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function setQty(t, dn, has_calculation) {
        dn = dn || 0;
        has_calculation = has_calculation || false;
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                newContent = newContent.split(".");
                newContent[1] = newContent[1].replace(/\,/g, '');
                newContent = newContent.join(".");
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");
            }
            else {
                return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function delrow(e) {
        if (confirm('Are you sure want to delete?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        rn = $(e).closest('tr').index() + 1;

        $('#proddetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;

        $('table#proddetails>tbody>tr td:first-child').each(function () {
            $(this).text((rn + 1000).toString().slice(-2));
            rn++;
        });
    };

    $('#frm').submit(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        return true;
    });
    </script>
}

@section CSS {

}

