﻿@model InventoryMS.Models.ConsumptionMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Daily Consumption
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Consumption</a></li>
        <li class="active">Daily</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- .box-header -->
                    @*<div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">ConsumptionMain List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>*@
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.ConsumptionId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConsumptionNo, "Consumption #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.ConsumptionNo, "StringWOL", new { @readonly = "readonly", @Value = @ViewBag.ConsumptionNo })
                                </div>
                                @Html.LabelFor(model => model.ConsumptionDate, "Date", new { @class = "col-common col-sm-1 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.ConsumptionDate, "DateTimeWOL", new { @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-common col-sm-3 control-label">Material Type</label>
                                <div class="col-sm-9">
                                    <select id="MaterialTypeId" name="MaterialTypeId" class="form-control MaterialTypeId select" style="width: 100%;">
                                        @foreach (var item in ViewBag.MaterialType)
                                        {
                                            <option value="@item.TypeId">@item.TypeName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList()" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { @rows = 3 })
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte">
                                            <a href="#">Comsumption Details</a>
                                            @*<a id="plan_info" class="pull-right" style="text-decoration: underline; padding-right: 10px; cursor: pointer; color: red;">Plan Details</a>*@
                                        </span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="proddetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Category
                                                </th>
                                                <th style="text-align: center;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Brand
                                                </th>
                                                <th style="text-align: center;">
                                                    Floor Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Consume Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblpbody"></tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 1px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 44.5%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; width: 13.5%; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;"></td>
                                            </tr>
                                            @*<tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a id="btnBlank" class="new" title="Add New Row" style="text-decoration: underline; cursor: pointer;" data-toggle=" tooltip" data-original-title="Add" onclick="AddBlankRow();"><i class="glyphicon glyphicon-plus"></i> Add another row</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Requsition Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center;" })
                                @Html.Label("Consumption entry # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "reqno", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Daily")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        var rn = 0;
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#ConsumptionDate').datepicker({
            format: 'dd-M-yyyy',
            startDate: '-@(Model.ConsumptionDate.Day <= 5 ? (((Model.ConsumptionDate.Month == 1 ? 365 : 0) + Model.ConsumptionDate.DayOfYear) - DateTime.Parse(Model.ConsumptionDate.Date.AddMonths(-1).ToString("01-MMM-yyyy")).DayOfYear) : (Model.ConsumptionDate.Day - 1))d',
            //minDate: new Date('@DateTime.Today.AddDays(30).ToString("01-MMM-yyyy")'),
            autoclose: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        @*function getRefList() {

            $('#proddetails>tbody').html('');
            return;
            if ($('#FactoryId').val().length == 0 || $('#ConsumptionTypeId').val().length == 0) {
                console.log('select factory && consume for.')
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReferenceList")',
                data: JSON.stringify({ id: $("#ConsumptionTypeId").val(), factory_id: $("#FactoryId").val() }),
                success: function (msg) {
                    $('#reflist').html(msg);

                    $('#reflist select').select2({
                        placeholder: "Select . . .",
                        //allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };*@

           function getRefList()
        {

           /* $('#proddetails>tbody').html('');
            return;*/

            if ($('#FactoryId').val().length == 0 ) {
                console.log('select factory')
                return;
            }


            var Prefix = '###';


            if ($('#MaterialTypeId').val() != null) {
                if ($('#MaterialTypeId').val() == 89) {
                    Prefix = 'CS'
                }
                else {
                    Prefix = 'CR'
                }
            }


            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReferenceList")',
                data: JSON.stringify({ consumptiondate: $('#ConsumptionDate').val() ,id: $("#ConsumptionTypeId").val(), factory_id: $("#FactoryId").val(), type: Prefix}),
                success: function (msg)
                {
                    console.log(msg);
                    $("#ConsumptionNo").val(msg);
                    /*alert(msg);
                    $('#reflist').html(msg);

                    $('#reflist select').select2({
                        placeholder: "Select . . .",
                        //allowClear: true,
                        //dropdownAutoWidth: true
                    });*/
                },
                //error: function (jqXHR, textStatus, errorThrown) {
                //    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                //    alert("Infomation retrive failed.\nSee log for more information.");
                //    $('#bookingdetails>tbody').html('');
                //}
            });
        };

        function getSubRefList() {
            if ($('#FactoryId').val().length == 0 || $('#ConsumptionTypeId').val().length == 0 || $('#ReferenceId').val().length == 0) {
                console.log('select factory, consume for, booking.')
                return;
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SubReferenceList")',
                data: JSON.stringify({ id: $("#ConsumptionTypeId").val(), factory_id: $("#FactoryId").val(), booking_id: $("#ReferenceId").val() }),
                success: function (msg) {
                    $('#subreflist').html(msg);

                    $('#subreflist select').select2({
                        placeholder: "Select . . .",
                        //allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function loadRM() {
            if ($('#BookingSubId').val().length == 0) {
                console.log('select measurement.')
                return;
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RMList")',
                data: JSON.stringify({ id: $("#BookingSubId").val() }),
                success: function (msg) {
                    $('#proddetails>tbody').html(msg);

                    $('#proddetails>tbody .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function AddBlankRow() {
            if ($('#FactoryId').val().length == 0) { // || $('#').val().length == 0
                alert('select factory.')
                return;
            }

            rn = $('#proddetails>tbody>tr').length + 1;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ConsumptionDetails")',
                data: JSON.stringify({ rowno: rn, factory_id: $('#FactoryId').val() }),
                success: function (msg) {
                    $('#proddetails>tbody').append(msg);

                    //$('#proddetails>tbody>tr:last').children('td:eq(0)').html((rn + 1000).toString().slice(-3))

                    $('#proddetails>tbody>tr:last .select').not('.catlist').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#proddetails>tbody>tr:last .select.catlist').select2({
                        //placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#proddetails>tbody .date').datepicker({
                        format: 'dd-M-yyyy',
                        autoclose: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function GetProductList(id, sb) {
            if (id == '' || id == '0') {
                id = 0;
                // return;
            }
            if ($('#FactoryId').val() == '') {
                alert('Please select factory.')
                return;
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ProductList")',
                data: JSON.stringify({ id: id, facid: $('#FactoryId').val(), rowno: eval($(sb).attr('id').split("_").pop()) }),
                success: function (msg) {
                    row = $(sb).closest('tr');

                    $(row).find('td:eq(2)').html(id);
                    $(row).find('td:eq(3)').html(0);
                    $(row).find('td:eq(5)').html(msg);
                    $(row).find('td:eq(7)').html('0.00');
                    $(row).find('td:eq(8)').html('0.00');
                    $(row).find('td:eq(9)').html(0);
                    $(row).find('td:eq(10)').html('');

                    console.log($(sb).attr('id'));

                    $('#ProductId_' + $(sb).attr('id').split("_").pop()).select2({
                        placeholder: "Select or Type . . .",
                        //allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function GetProductDetails(id, sb) {
            if (id == '' || id == '0')
                //alert(id);
                return;
            //alert(id);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ProductDetails")',
                data: JSON.stringify({ id: id, facid: $('#FactoryId').val() }),
                success: function (msg) {
                    //console.log(msg);
                    row = $(sb).closest('tr');

                    $(row).find('td:eq(3)').html(id);
                    $(row).find('td:eq(7)').html(msg.balqty);
                    $(row).find('td:eq(8)').html('0.0000');
                    $(row).find('td:eq(9)').html(msg.unitid);
                    $(row).find('td:eq(10)').html(msg.unit);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function setQty(t, dn, has_calculation) {
            dn = dn || 0;
            has_calculation = has_calculation || false;
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    //console.log($(t).parent().children().eq(7).html(), 'abc');
                    if (eval($(t).parent().children().eq(7).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                        var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        newContent = newContent.split(".");
                        newContent[1] = newContent[1].replace(/\,/g, '');
                        newContent = newContent.join(".");
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");

                        set_total_qunatity();
                    }
                    else {
                        alert('Invalid quantity.');
                        e.preventDefault();
                    }
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function set_total_qunatity() {
            let tQty = 0;
            $('table#proddetails').find('tbody tr').map(function () {
                rn = 0;
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                tQty += eval(tableData[8].replace(/\,/g, ''));
            }).get();

            let net_qty = (new Number(tQty)).toFixed(4).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            net_qty = net_qty.split(".");
            net_qty[1] = net_qty[1].replace(/\,/g, '');
            net_qty = net_qty.join(".");

            $('#totalqty').html(net_qty);
        }

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#proddetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#proddetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            if ($('#FactoryId').val() == '' || $('#FactoryId').val() == '0') {
                alert('Select factory.');
                return;
            }
            else if ($('table#proddetails>tbody>tr').length <= 0) {
                alert('No details information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });
            let prefix = '';
            if ($('#MaterialTypeId').val() != null) {
                if ($('#MaterialTypeId').val() == 89) {
                    prefix = 'CS'
                }
                else {
                    prefix = 'CR'
                }
            }

            let Sub = []; rn = 0, Main = {
                FactoryId: $('#FactoryId').val(),
                ConsumptionDate: $('#ConsumptionDate').val(),
                Remarks: $('#Remarks').val()
            };

            let is_invalid = false;
            $("table#proddetails > tbody > tr").each(function (row, tr) {
                if (eval($('td:eq(8)', this).html().replace(/\,/g, '')) == 0) {
                    alert('Consumption quantity must not be zero.');
                    is_invalid = true;
                    return false;
                }

                Sub.push({
                    ConsumptionId: $('#ConsumptionId').val(),
                    ConsumptionSubId: $('td:eq(1)', this).html(),
                    CategoryId: $('td:eq(2)', this).html(),
                    ProductId: $('td:eq(3)', this).html(),
                    BrandId: $('td:eq(6)', this).find('select').val(),
                    ConsumeQuantity: $('td:eq(8)', this).html().replace(/\,/g, ''),
                    QuantityUnitId: $('td:eq(9)', this).html(),
                    RowNo: ++rn
                });
            });

            if (is_invalid)
                return false;

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save_Daily")',
                data: JSON.stringify({ main: Main, subs: Sub, prefix: prefix }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html(msg.status);
                        $('#reqno').html(msg.cmno);
                        //$('form#frm').submit();
                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}

