﻿@model InventoryMS.Models.ConsumptionMain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConsumptionMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsumptionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingSubId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingSubId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplainId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplainSubId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainSubId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherRefId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherRefId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcessQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcessQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityUnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityUnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
