﻿@model InventoryMS.Models.ItemView

<style>

    .second-column .col-sm-3 {
        flex: 0 0 auto;
        width: 41.666667%; /* 5/12 */
        max-width: 41.666667%; /* 5/12 */
    }

    .second-column .col-sm-9 {
        flex: 0 0 auto;
        width: 58.333333%; /* 7/12 */
        max-width: 58.333333%; /* 7/12 */
    }

    .second-column .form-group {
        float: right;
    }
</style>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: Item
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Item</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Item List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                        <div class="btn-group" style="width: 37.6%; padding-right: 22px;">
                            <div class="form-group">
                                @Html.Label("Search", new { @class = "col-common col-sm-3 control-label", @style = "background-color: #008d4c; color: white;" })
                                <div id="itemlist" class="col-sm-9">
                                    @Html.DropDownList("items", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemInfo(this.value);" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.ItemCode)

                            @Html.EditorFor(model => model.SystemName, new { @readonly = "readonly" })



                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultFactoryId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("DefaultFactoryId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "VariantList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.DefaultFactoryId, null, new { @class = "control-label" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("CategoryId", null, string.Empty, new { @class = "form-control mcselect", @style = "width: 100%;", @onchange = "VariantList(this.value); ItemList(this.value);" })

                                    @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "control-label" })
                                </div>
                            </div>


                            <div id="divVD">
                                @Html.Action("VariantListInit", new { itemVariant = Model.itemVariant })
                            </div>


                            @*<div class="form-group">
                    @Html.Label("Factory List", new { @class = "col-common col-sm-3 control-label" })
                    <div class="col-sm-9">
                        @Html.DropDownList("FList", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;" })
                    </div>
                </div>*@


                            
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ItemName)

                            @Html.EditorFor(model => model.ShortName)

                            @Html.EditorFor(model => model.BondName)

                            @Html.EditorFor(model => model.HSCode)

                            @*@Html.Action("UnitList", "Category", new { id = 0, MUnitList = Model.MUnitList, QUnitList = Model.QUnitList })*@

                            


                        </div>

                        <div id="FV"></div>
                    </div>

                    <div class="box box-success">
                        <div class="box-header with-border">
                            <div class="col-md-6">
                                <div><br /></div>
                                <div class="form-group">
                                    @Html.Label("Factory List", new { @class = "col-common col-sm-3 control-label" })
                                    <div class="col-sm-4">
                                        @Html.DropDownList("FactoryListId", (SelectList)ViewBag.DefaultFactoryId, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                    </div>
                                    <div class="col-sm-1">
                                        @Html.Label("Type", new { @class = "col-common col-sm-3 control-label" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.DropDownList("MaterialType", (SelectList)ViewBag.MaterialType, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                        @*@Html.Editor("MType", "")*@
                                    </div>
                                    <div class="col-sm-1" style="padding-left: 0px;">
                                        <input id="btnFAdd" type="button" style="padding: 1px 8px;" class="btn btn-success" value="Add" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-9" style="float: right;">
                                        <table id="tblFSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; width: 10%;">
                                                        SL #
                                                    </th>
                                                    <th style="text-align: center; display: none;">
                                                        F Id
                                                    </th>
                                                    <th style="text-align: center; width: 25%;">
                                                        Factory List
                                                    </th>
                                                    <th style="text-align: center; width: 25%;">
                                                        Type
                                                    </th>
                                                    <th style="text-align: center; width: 10%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tfbody">
                                                <tr>
                                                    <td colspan="5"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div><br /></div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.QuantityUnitList, "Quantity Unit", new { @class = "col-common col-sm-3 control-label" })
                                    <div class="col-sm-4">
                                        @Html.DropDownList("QuantityUnitId", (SelectList)ViewBag.DefaultQUnitId, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                    </div>
                                    <div class="col-sm-1">
                                        @Html.Label("KG/Unit", new { @class = "col-common col-sm-3 control-label" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.Editor("KGPerUnit", "DecimalWOL")
                                    </div>
                                    <div class="col-sm-1" style="padding-left: 0px;">
                                        <input id="btnAdd" type="button" style="padding: 1px 8px;" class="btn btn-success" value="Add" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-9" style="float: right;">
                                        <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; width: 10%;">
                                                        SL #
                                                    </th>
                                                    <th style="text-align: center; display: none;">
                                                        Q U Id
                                                    </th>
                                                    <th style="text-align: center; width: 25%;">
                                                        Qty Unit
                                                    </th>
                                                    <th style="text-align: center; width: 25%;">
                                                        KG/Unit
                                                    </th>
                                                    <th style="text-align: center; width: 10%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                <tr>
                                                    <td colspan="5"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DefaultQUnitId, "Def. Qty Unit", new { @class = "col-common col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownList("DefaultQUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                        @Html.ValidationMessageFor(model => model.DefaultQUnitId, null, new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- Optional content -->
                                </div>

                                <div class="col-md-9 custom-alignment">
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Stockable)
                                    </div>
                                    <div class="col-md-4 second-column">
                                        @Html.EditorFor(model => model.Activity)
                                    </div>
                                </div>
                            </div>








                        </div>
                        <div class="box-footer">
                            <input id="btnSave" type="button" class="btn btn-success" value="Save" />

                        </div>
                        <!-- general form elements -->
                        <div id="sinfo" class="box box-success">

                        </div>
                    </div>
                    </div>
                </div>
    </section>
}

<div id="mymodal" class="modal">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Item Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            @*<div class="form-group">
                                @Html.Label("Item Code : ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "itemcode", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>*@
                            <div class="form-group">
                                @Html.Label("Item ID : ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "itemid", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Item Code : ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "itemcode", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button id="quoteSave" type="button" class="btn btn-success">OK</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //tags: true,
        //dropdownAutoWidth: true
    });

    $('select.mcselect').select2({
        placeholder: "Select or Type . . .",
        dropdownAutoWidth: true,
        templateSelection: function (data) {
            var r = data.text.split(' >> ');
            var $result = r[0];
            return $result;
        }
    });

    $('#DefaultQUnitId').empty();

    //$('#itemcode').html('0101001110');
    //$('#mymodal').modal('show');

        

    var fl = '@ViewBag.fl'.split(',', 10).filter(function (v) { return v !== '' });
        $('#FList').val(fl).trigger('change');


        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function ItemList(e) {
            if (e > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("CWItemList")',
                    data: JSON.stringify({ id: e }),
                    success: function (msg) {
                        $('#itemlist').html(msg);
                        $('#itemlist .select').select2({
                            placeholder: "Select or Type . . .",
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            };
        };

        function ItemInfo(e) {
            if (e > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ItemDetails")',
                    data: JSON.stringify({ id: e }),
                    success: function (msg) {
                        $('#sinfo').html(msg);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            };
        };

        function VariantList(e) {
            var catId = $('#CategoryId').val();
            var factoryId = $('#DefaultFactoryId').val();

            //alert($('#DefaultFactoryId').select2("data")[0].text)

            if (catId > 0 && factoryId > 0) {
            }
            else
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("VariantList")',
                data: JSON.stringify({ id: catId, factoryId: factoryId }),
                success: function (msg) {
                    $('#divVD').html(msg);
                    $('#divVD .select').select2({
                        placeholder: "Select or Type . . .",
                    });

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("QUList")',
                data: JSON.stringify({ id: catId }),
                success: function (data) {
                    //$('#divVD').html(msg);
                    //$('#divVD .select').select2({
                    //    placeholder: "Select or Type . . .",
                    //});
                    var fl = data.qlist.replace(/\ /g, '').split(',', 10).filter(function (v) { return v !== '' });
                    $('#QUList').val(fl).trigger('change');
                    $('#DefaultQUnitId').val(data.qunit).trigger('change');
                    //alert(data.qlist);
                    //alert(data.qunit);

                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    //$('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function VariantString() {
            var namelist = [], varidlist = [], varvaluelist = [], cross = '';
            //$('.varnamelist').each(function () {
            //    namelist.push($(this).html());
            //});
            $('.varlist').each(function () {
                //alert($(this).attr('tag'));
                if ($(this).attr('type') == 'text') {
                    varvaluelist.push(cross + $(this).val());
                    cross = ' X ';
                    varidlist.push($(this).attr('id'));
                }
                else {
                    varvaluelist.push($(this).select2("data")[0].text);
                    cross = '';
                    varidlist.push($(this).val());
                }
            });

            //alert(JSON.stringify({ id: $('#CategoryId').val(), varidlist: varidlist, varvaluelist: varvaluelist }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("VariantString")',
                data: JSON.stringify({ id: $('#CategoryId').val(), varidlist: varidlist, varvaluelist: varvaluelist }),
                success: function (varString) {
                    $('#SystemName').val(varString);
                    $('#ItemName').val(varString);
                    $('#BondName').val(varString);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        //monsur

        var frn = 0;
        $("#btnFAdd").click(function () {

            if (!$('#FactoryListId').val()) {
                alert('Enter Factory unit.');
                return;
            }
            if (!$('#MaterialType').val()) {
                alert('Enter MaterialType');
                return;
            }

            var fdup = false;
            var isEdit = false;
            if ($('#btnFAdd').hasClass('change')) {
                $('#tblFSub').find('tr').not(':first').not(':last').not(':eq(' + (frn - 1) + ')').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#FactoryListId').val()) {
                        alert('Duplicate Factory unit.');
                        fdup = true;
                        return;
                    }
                });

                isEdit = true;
            }
            else {

                $('#tblFSub').find('tr').not(':first').not(':last').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#FactoryListId').val()) {
                        alert('Duplicate Factory unit.');
                        fdup = true;
                        return;
                    }
                });

                frn = $('#tblFSub>tbody>tr').length;
            }

            if (fdup)
                return;

           


            var row = "<tr><td style='text-align: center;'>" + ("000" + frn).substring(1, 4) + "</td>" +
                "<td style='display: none;'>" + $('#FactoryListId').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#FactoryListId').select2('data')[0].text + "</td>" +
                "<td style='display: none;'>" + $('#MaterialType').val() + "</td>" +
                "<td style='text-align: right;'>" + $('#MaterialType').select2('data')[0].text + "</td>" +
                '<td style="text-align: center;">' +
                '<a id="btnFEdit" class="fedit" title="" data-toggle="tooltip" data-original-title="Update" onclick="feditrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                '<a id="btnFDel" class="fdel" title="" data-toggle="tooltip" data-original-title="Delete" onclick="fdelrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td></tr>';


            if (isEdit) {
                $('#tblFSub tr:eq(' + frn + ')').after(row);
                $('#tblFSub tr:eq(' + frn + ')').remove();
            }
            else {
                $('#tblFSub tr:last').before(row);
            }

            $('#btnFAdd').val('Add');
            $('#btnFAdd').removeClass('change');

            var option = new Option($('#FactoryListId').select2("data")[0].text, $('#FactoryListId').val());
            
        });

        var frn;
        function feditrow(e) {
            frn = $(e).closest('tr').index() + 1;

            $('#FactoryListId').val($('#tblFSub tr:eq(' + frn + ') td:eq(1)').html()).trigger("change");
            $('#MaterialType').val($('#tblFSub tr:eq(' + frn + ') td:eq(3)').html()).trigger("change");

            $('#btnFAdd').addClass('change');
            $('#btnFAdd').val('Rep');
        };

        function fdelrow(e) {
            frn = $(e).closest('tr').index() + 1;

            $('#tblFSub tr:eq(' + frn + ')').remove();

            frn = 1;

            $('table#tblFSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((frn + 1000).toString().slice(-3));
                frn++;
            });

            $('#btnFAdd').val('Add');
            $('#btnFAdd').removeClass('change');
        };


        //monsur end

        var rn = 0;
        $("#btnAdd").click(function () {
            if ($.trim($('#QuantityUnitId').val()) == '') {
                alert('Enter quantity unit.');
                return;
            }
            if ($.trim($('#KGPerUnit').val()) == '') {
                alert('Enter kg/unit.');
                return;
            }

            var dup = false;
            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                $('#tblSub').find('tr').not(':first').not(':last').not(':eq(' + (rn - 1) + ')').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#QuantityUnitId').val()) {
                        alert('Duplicate quantity unit.');
                        dup = true;
                        return;
                    }
                });

                isEdit = true;
            }
            else {

                $('#tblSub').find('tr').not(':first').not(':last').each(function () {
                    if ($(this).find('td:eq(1)').html() == $('#QuantityUnitId').val()) {
                        alert('Duplicate quantity unit.');
                        dup = true;
                        return;
                    }
                });

                rn = $('#tblSub>tbody>tr').length;
            }

            if (dup)
                return;

            var row = "<tr><td style='text-align: center;'>" + ("000" + rn).substring(1, 4) + "</td>" +
                "<td style='display: none;'>" + $('#QuantityUnitId').val() + "</td>" +
                "<td style='text-align: left;'>" + $('#QuantityUnitId').select2("data")[0].text + "</td>" +
                "<td style='text-align: right;'>" + $('#KGPerUnit').val() + "</td>" +
                '<td style="text-align: center;">' +
                    '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblSub tr:eq(' + rn + ')').after(row);
                $('#tblSub tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblSub tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');

            var option = new Option($('#QuantityUnitId').select2("data")[0].text, $('#QuantityUnitId').val());
           
            $("#DefaultQUnitId").append(option);
            $("#DefaultQUnitId").trigger("change");
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#QuantityUnitId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html()).trigger("change");
            $('#KGPerUnit').val($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if ($('#SystemName').val() == '') {
                $('#SystemName').val($('#ItemName').val());
            }

            var itemVariant = [], itemUnit = [], itemView = {
                SystemName: $('#SystemName').val(), ItemName: $('#ItemName').val(),
                ShortName: $('#ShortName').val(), BondName: $('#BondName').val(),
                CategoryId: $('#CategoryId').val(), HSCode: $('#HSCode').val(),
                DefaultFactoryId: $('#DefaultFactoryId').val(), FactoryListId: $('#FactoryListId').val(), FList: $('#FList').val(),
                QUnitList: $('#QUList').val(), DefaultQUnitId: $('#DefaultQUnitId').val(),
                Activity: $('#Activity').val()
            };
            //alert($('#Activity').val());

            $('.varlist').each(function () {
                var arrayOfThisRow = { ItemId: 0, VariantId: $(this).attr('id'), VariantValue: ($(this).attr('type') == 'text' ? $(this).val() : $(this).select2("data")[0].text), IsActive: 1 };
                itemVariant.push(arrayOfThisRow);
            });


            var itemFactory = []; // Ensure this array is declared

            var FList = $('table#tblFSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html().trim(); // Use trim() to remove any extra whitespace
                }).get();

                if (tableData.length > 4) { 
                    var arrayOfThisRow = {
                        ItemId: 0, 
                        FactoryId: tableData[1], 
                        MaterialTypeId: tableData[3] 
                    };
                    itemFactory.push(arrayOfThisRow); // Push to itemFactory
                    return arrayOfThisRow; // Return the object for FList
                }
            }).get();

            console.log(itemFactory); // Debug: Check the contents of itemFactory
            console.log(FList); // Debug: Check the result of the map

            



            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 4) {
                    var arrayOfThisRow = {
                        ItemUnitId: 0, ItemId: 0, UnitId: tableData[1], KGProportion: tableData[3].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    itemUnit.push(arrayOfThisRow);
                }
            }).get();

            var FactoryVariant = { itemView: itemView, itemFactoryView: itemFactory, itemVariantView: itemVariant, itemUnitView: itemUnit };

            //alert(JSON.stringify(itemUnit));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify(FactoryVariant),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        //$('#itemcode').html(msg.itemid);
                        //$("#VariantId option[value='option1']").remove();

                        $('#itemid').html(msg.itemid);
                        $('#itemcode').html(msg.itemCode);

                        $('#mymodal').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}

