﻿@model IEnumerable<InventoryMS.Models.ItemView>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Item List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Item</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="col-md-5" style="padding-left: 0px !important;">
                        <div class="form-group">
                            @Html.Label("Factory", new { @class = "col-common col-sm-2 control-label" })
                            <div class="col-sm-10" style="padding-left: 0px !important;">
                                @Html.DropDownList("FactoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemList(this.value)" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="padding-left: 0px !important;">
                        <div class="form-group">
                            @Html.Label("Category", new { @class = "col-common col-sm-2 control-label" })
                            <div class="col-sm-10" style="padding-left: 0px !important;">
                                @Html.DropDownList("CategoryId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemList(this.value)" })
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Create"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Create")">New Item</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New Item</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }

                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div id="details" class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.ItemId)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.ItemCode)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.ItemName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.SystemName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.ShortName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.BondName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.ItemId)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.ItemCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SystemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BondName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Activity)
                                    </td>
                                    <td style="text-align: center">
                                        <a href="@Url.Action("Details", new { id = item.ItemId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Edit"))
                                        {
                                            <a href="@Url.Action("Edit", new { id = item.ItemId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        @if (InventoryMS.Models.clsMain.IsPermitted("ItemInfo", "Delete"))
                                        {
                                            <a href="@Url.Action("Delete", new { id = item.ItemId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
            {
                'size': 'mini',
                'onText': 'Yes',
                'offText': 'No'
            });

        $('select.select').select2({});

        function ItemList(e) {
            var id = $('#FactoryId').val();
            var catid = $('#CategoryId').val();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ItemList")",
                data: JSON.stringify({ id: id, catid: catid }),
                success: function (data) {
                    $('#details').html(data);
                    $('#details .datatable').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": false,
                        "info": true,
                        "autoWidth": false,
                        "deferRender": true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    alert(errorThrown);
                }
            });
        };
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

