﻿@model int[]
@using InventoryMS.Models;

@{
    ProductCubeEntities db = new ProductCubeEntities();
    var v = from p in db.CategoryVariants.AsEnumerable()
            join q in db.Variants.AsEnumerable() on p.VariantId equals q.VariantId
            //join r in db.Variant_Value.AsEnumerable() on p.VariantId equals r.VariantId
            where p.CategoryId == Model[0] && p.FactoryId == Model[1]
            select new { p.VariantId, q.VariantName, q.DisplayName, q.VariantTextType, q.VariantInputType };

    foreach (var a in v)
    {
        if(a.VariantInputType == 51)
        { 
            <div class="form-group">
                @Html.Label("", a.DisplayName, new { @class = "col-common col-sm-3 control-label varnamelist" })
                <div class="col-sm-9">
                    @Html.DropDownList("VariantId", new SelectList(db.Variant_Value.Where(l => l.VariantId == a.VariantId).Select(c => new{VariantId = c.VariantId.ToString() + "_" + c.VariantValue, VariantValue = c.VariantValue}), "VariantId", "VariantValue"), string.Empty, new { @id = a.VariantId, @class = "form-control select varlist", @style = "width: 100%;", @onchange = "VariantString()" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label("", a.DisplayName, new { @class = "col-common col-sm-3 control-label varnamelist" })
                <div class="col-sm-9">
                    @if(a.VariantTextType == 49)
                    {
                        @Html.Editor("VariantId", "DecimalWOL", new { @class = "varlist", @id = a.VariantId, @onkeypress = "return keypress(event);", @onblur = "VariantString()" })
                    }
                    else
                    {
                        @Html.Editor("VariantId", "StringWOH", new { @class = "varlist", @id = a.VariantId, @onblur = "VariantString()" })
                    }
                </div>
            </div>
        }
    }
}
