﻿@model ICollection<InventoryMS.Models.ItemVariantView>
@using InventoryMS.Models;

@{
    ProductCubeEntities db = new ProductCubeEntities();
    var v = from p in Model.AsEnumerable()
            join q in db.Variants.AsEnumerable() on p.VariantId equals q.VariantId
            //join r in db.Variant_Value.AsEnumerable() on p.VariantId equals r.VariantId
            //where p.FactoryId == Model[1]
            select new { p.VariantId, q.VariantName, q.DisplayName, p.VariantValue, q.VariantInputType, q.VariantTextType };
            
    foreach (var a in v)
    {
        @*<div class="form-group">
            @Html.Label("", a.DisplayName, new { @class = "col-common col-sm-3 control-label varnamelist" })
            <div class="col-sm-9">
                @Html.DropDownList("VariantId", new SelectList(db.Variant_Value.Where(l => l.VariantId == a.VariantId).Select(c => new { VariantId = c.VariantId.ToString() + "_" + c.VariantValue, VariantValue = c.VariantValue }), "VariantId", "VariantValue", a.VariantId + "_" + a.VariantValue), string.Empty, new { @id = a.VariantId, @class = "form-control select varlist", @style = "width: 100%;", @onchange = "VariantString()" })
            </div>
        </div>*@
        if (a.VariantInputType == 51)
        {
            <div class="form-group">
                @Html.Label("", a.DisplayName, new { @class = "col-common col-sm-3 control-label varnamelist" })
                <div class="col-sm-9">
                    @Html.DropDownList("VariantId", new SelectList(db.Variant_Value.Where(l => l.VariantId == a.VariantId).Select(c => new { VariantId = c.VariantId.ToString() + "_" + c.VariantValue, VariantValue = c.VariantValue }), "VariantId", "VariantValue", a.VariantId + "_" + a.VariantValue), string.Empty, new { @id = a.VariantId, @class = "form-control select varlist", @style = "width: 100%;", @onchange = "VariantString()" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label("", a.DisplayName, new { @class = "col-common col-sm-3 control-label varnamelist" })
                <div class="col-sm-9">
                    @if (a.VariantTextType == 49)
                    {
                        @Html.Editor("VariantId", "DecimalWOL", new { @class = "varlist", @id = a.VariantId, @Value = a.VariantValue, @onkeypress = "return keypress(event);", @onblur = "VariantString()" })
                    }
                    else
                    {
                        @Html.Editor("VariantId", "StringWOH", new { @class = "varlist", @id = a.VariantId, @Value = a.VariantValue, @onblur = "VariantString()" })
                    }
                </div>
            </div>
        }
    }
}
