﻿@model IEnumerable<InventoryMS.Models.MenuDetail>
@using InventoryMS.Models;

@{
    ViewBag.Title = Html.DisplayNameForModel();
    InventoryCubeEntities db = new InventoryCubeEntities();
}

<section class="content-header">
    <h1>
        Tracking :: Menu Wise Action
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Administration</a></li>
        <li><a href="#"> Menu</a></li>
        <li class="active">Tracking</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Role List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-11" style="">
                                    <ul id="tree" style="list-style-type: none; padding: 10px; border: 1px solid #f4f4f4; margin-top: 10px;">
                                        @foreach (var item in Model.Where(l => l.MenuPId == 0).OrderBy(c => c.MenuId))
                                        {
                                            <li>
                                                @if (Model.Where(l => l.MenuPId == item.MenuId).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                                {
                                                    <a style="cursor: default; padding-right: 5px;" class="plus fa fa-plus"></a>
                                                }
                                                else
                                                {
                                                    <a style="cursor: default; padding-right: 16px;" class="fa"></a>
                                                }
                                                <label>
                                                    <input class="menutype" type="checkbox" />
                                                    @item.MenuTitle
                                                </label>

                                                <ul style="list-style-type: none; display: none;">

                                                    @foreach (var uc in Model.Where(l => l.MenuPId == item.MenuId).OrderBy(c => c.MenuId))
                                                    {
                                                        <li>
                                                            @if (Model.Where(l => l.MenuPId == uc.MenuId).Count() > 0 || db.User_Action.Where(l => l.User_Controller.ControllerName.ToLower() == uc.MenuName.ToLower() && l.IsActive == 1).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                                            {
                                                                <a style="cursor: default; padding-right: 5px;" class="plus fa fa-plus"></a>
                                                            }
                                                            else
                                                            {
                                                                <a style="cursor: default; padding-right: 16px;" class="fa"></a>
                                                            }
                                                            <label>
                                                                <input class="ctrl" type="checkbox" />
                                                                @uc.MenuTitle
                                                            </label>

                                                            <ul style="list-style-type: none; display: none;">
                                                                @foreach (var ua in db.User_Action.Where(l => l.User_Controller.ControllerName.ToLower() == uc.MenuName.ToLower() && l.IsActive == 1).OrderBy(c => c.RankId))
                                                                {
                                                                    string val = db.MenuWiseActions.Where(l => l.MenuId == uc.MenuId && l.ActionId == ua.ActionId).Count() > 0 ? "checked = 'checked'" : "";
                                                                    <li>
                                                                        <label>
                                                                            <input typeof="@uc.MenuId" id="@ua.ActionId" class="action" type="checkbox" @val />
                                                                            @ua.ActionName
                                                                        </label>
                                                                    </li>
                                                                }

                                                                @foreach (var um in Model.Where(l => l.MenuPId == uc.MenuId).OrderBy(c => c.MenuId))
                                                                {
                                                                    <li>
                                                                        @if (db.User_Action.Where(l => l.User_Controller.ControllerName.ToLower() == um.MenuName.ToLower() && l.IsActive == 1).Count() > 0)//l.AttributeList.Contains("CAuthorize") &&
                                                                        {
                                                                            <a style="cursor: default; padding-right: 5px;" class="plus fa fa-plus"></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a style="cursor: default; padding-right: 16px;" class="fa"></a>
                                                                        }
                                                                        <label>
                                                                            <input class="ctrl" type="checkbox" />
                                                                            @um.MenuTitle
                                                                        </label>

                                                                        <ul style="list-style-type: none; display: none;">
                                                                            @foreach (var ua in db.User_Action.Where(l => l.User_Controller.ControllerName.ToLower() == um.MenuName.ToLower() && l.IsActive == 1).OrderBy(c => c.RankId))
                                                                            {
                                                                                string val = db.MenuWiseActions.Where(l => l.MenuId == um.MenuId && l.ActionId == ua.ActionId).Count() > 0 ? "checked = 'checked'" : "";
                                                                                <li>
                                                                                    <label>
                                                                                        <input typeof="@um.MenuId" id="@ua.ActionId" class="action" type="checkbox" @val />
                                                                                        @ua.ActionName
                                                                                    </label>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                <label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = '@Url.Action("MenuTracking")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script src="~/common/js/jquery-checktree.js"></script>
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('#tree').checktree();

        $('.plus').click(function (e) {
            if ($(this).closest('li').find('ul').css("display") == 'none') {
                $(this).closest('li').find('ul:first').css("display", "");
                $(this).addClass('fa-minus');
                $(this).removeClass('fa-plus');
            }
            else {
                $(this).closest('li').find('ul:first').css("display", "none");
                $(this).addClass('fa-plus');
                $(this).removeClass('fa-minus');
            }
        })

        function roledetails(e) {
            $('#tree input[type="checkbox"]').each(function () {
                $(this).prop('checked', false);
            })

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Details")',
                data: JSON.stringify({ id: e }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        for (var ri = 0; ri < msg.data.length; ri++) {
                            $('#' + msg.data[ri].aid).prop('checked', true);
                            $('#' + msg.data[ri].aid).closest('ul').parent().find('input.ctrl[type="checkbox"]').prop('checked', true);
                            $('#' + msg.data[ri].aid).closest('ul').parent().closest('ul').parent().find('input.menutype[type="checkbox"]').prop('checked', true);
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var acid = [];

            $('#tree input.action[type="checkbox"]:checked').each(function () {
                acid.push({ MenuId: $(this).attr('typeof'), ActionId: $(this).attr('id'), ParameterList: '', ParameterValueList: '' });
            })

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuTrackingSave")',
                data: JSON.stringify({ menuWiseAction: acid }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html("Save successful.");
                        $('#vtext').html('');
                        $('#vno').html('');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        });
    </script>
}

@section CSS {

}
