﻿@model IEnumerable<InventoryMS.Models.MenuDetail>
@using InventoryMS.Models;

@{
    ViewBag.Title = Html.DisplayNameForModel();
    InventoryCubeEntities db = new InventoryCubeEntities();
}

<section class="content-header">
    <h1>
        Settings :: Menu Wise Default Action
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Administration</a></li>
        <li><a href="#"> Menu</a></li>
        <li class="active">Default</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Role List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12" style="">
                                    <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="display: none;">
                                                    Menu Id
                                                </th>
                                                <th>
                                                    Menu Name
                                                </th>
                                                <th>
                                                    Default Action
                                                </th>
                                                <th>
                                                    Param List
                                                </th>
                                                <th>
                                                    Param Value List
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @foreach (var item in Model.Where(l => l.MenuPId == 0).OrderBy(c => c.MenuId))
                                            {
                                                <tr><td style="display: none;">@item.MenuId</td><td colspan="4">@item.MenuTitle</td></tr>

                                                foreach (var uc in Model.Where(l => l.MenuPId == item.MenuId).OrderBy(c => c.MenuId))
                                                {
                                                    if (Model.Where(l => l.MenuPId == uc.MenuId).Count() == 0)
                                                    {
                                                        <tr>
                                                            <td style="display: none;">@uc.MenuId</td>
                                                            <td style="padding-left: 30px;">@uc.MenuTitle</td>
                                                            <td colspan="1">@Html.DropDownList("DefaultActionId", new SelectList(db.MenuWiseActions.Where(l => l.MenuId == uc.MenuId).Select(c => new { ActionId = c.ActionId, ActionName = c.User_Action.ActionName }).ToList(), "ActionId", "ActionName", uc.DefaultActionId), string.Empty, new { @id = @uc.MenuId, @class = "form-control select", @style = "width: 100%;", @onchange = "getParamList(this, this.value)" })</td>
                                                            <td>@uc.DefaultParameter</td>
                                                            <td>@Html.TextBox("DefaultParameterValue", uc.DefaultParameterValue, new { @class = "form-control ccnormal", @style = "width: 100%;" })</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td style="display: none;">@uc.MenuId</td>
                                                            <td style="padding-left: 30px;" colspan="4">@uc.MenuTitle</td>
                                                        </tr>

                                                        foreach (var um in Model.Where(l => l.MenuPId == uc.MenuId).OrderBy(c => c.MenuId))
                                                        {
                                                            <tr>
                                                                <td style="display: none;">@um.MenuId</td>
                                                                <td style="padding-left: 60px;" colspan="1">@um.MenuTitle</td>
                                                                <td colspan="1">@Html.DropDownList("DefaultActionId", new SelectList(db.MenuWiseActions.Where(l => l.MenuId == um.MenuId).Select(c => new { ActionId = c.ActionId, ActionName = c.User_Action.ActionName }).ToList(), "ActionId", "ActionName", um.DefaultActionId), string.Empty, new { @id = @um.MenuId, @class = "form-control select", @style = "width: 100%;", @onchange = "getParamList(this, this.value)" })</td>
                                                                <td>@um.DefaultParameter</td>
                                                                <td>@Html.TextBox("DefaultParameterValue", um.DefaultParameterValue, new { @class = "form-control ccnormal", @style = "width: 100%;" })</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                <label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = '@Url.Action("MenuDefaultAction")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script src="~/common/js/jquery-checktree.js"></script>
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        function getParamList(e, v) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ParamList")',
                data: JSON.stringify({ id: v, mid: $(e).closest('tr').find('td:first').html() }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $(e).closest('tr').find('td:eq(3)').html(msg.plist);
                        $(e).closest('tr').find('td:eq(4)').find('input').val(msg.pvlist);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var acid = [];

            $('select').each(function () {
                if ($(this).val() != '') {
                    acid.push({
                        MenuId: $(this).closest('tr').find('td:first').html(), DefaultActionId: $(this).val(),
                        DefaultParameter: $(this).closest('tr').find('td:eq(3)').html(),
                        DefaultParameterValue: $(this).closest('tr').find('td:eq(4)').find('input').val()
                    });
                }
            })

            //alert(JSON.stringify(acid));

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("MenuDefaultActionSave")',
                data: JSON.stringify({ menuDetail: acid }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html("Save successful.");
                        $('#vtext').html('');
                        $('#vno').html('');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        });
    </script>
}

@section CSS {

}
