﻿@model IEnumerable<InventoryMS.Models.Factory>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>Factory</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create")" class="btn btn-success btn-icon glyphicons circle_plus"><i></i>Add Factory</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons"></h4>
        </div>
        <div class="widget-body">
            <table class="dynamicTable table table-bordered table-condensed table-striped table-primary table-vertical-center">
				<thead>
					<tr>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.FactoryCode)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.ShortName)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.FactoryName)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.CategoryId)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.IsActive)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.RankId)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.CreatedBy)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.CreatedTime)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.UpdatedBy)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.UpdateTime)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.PCName)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.IPAddress)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.Company.CompanyCode)
						</th>
						<th></th>	
					</tr>	
				</thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="selectable">
							<td>
								@Html.DisplayFor(modelItem => item.FactoryCode)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ShortName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FactoryName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CategoryId)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.IsActive)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.RankId)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CreatedBy)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CreatedTime)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.UpdatedBy)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.UpdateTime)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PCName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.IPAddress)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Company.CompanyCode)
							</td>
							<td style="text-align: center">
								<a href="@Url.Action("Details", new { id = item.FactoryId })" class="btn-action glyphicons eye_open btn-default"><i></i></a>
								<a href="@Url.Action("Edit", new { id = item.FactoryId })" class="btn-action glyphicons pencil btn-success"><i></i></a>
								<a href="@Url.Action("Delete", new { id = item.FactoryId })" class="btn-action glyphicons remove_2 btn-danger"><i></i></a>
							</td>
						</tr>
					}
                </tbody>
            </table>
        </div>
    </div>
    <br />
</div>

@section Scripts {
	@Scripts.Render("~/datatable/js")
}

@section CSS{    
	@Styles.Render("~/datatable/css")
}

