﻿@model InventoryMS.Models.SupplierSelectionMain

@{
    //ViewBag.Title = Html.DisplayNameForModel();
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        New :: Supplier/Vendor Selection Entry
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> SupplierSelectionList</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Supplier Selection List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.SupplierSelectionId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierSelectionNo, "SSE No #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.SupplierSelectionNo, "StringWOL", new { @readonly = "readonly", @Value = @ViewBag.SupplierSelectionNo })
                                </div>
                                @Html.LabelFor(model => model.SSEDate, "Date", new { @class = "col-common col-sm-1 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.SSEDate, "DateTimeWOL", new { @readonly = "readonly" })
                                </div>
                            </div>

                            <!--<div class="form-group">
                                <label class="col-common col-sm-3 control-label">Material Type</label>
                                <div class="col-sm-9">
                                    <select id="MaterialTypeId" name="MaterialTypeId" class="form-control MaterialTypeId select" style="width: 100%;">-->
                            @*foreach (var item in ViewBag.MaterialType)
                                {
                                    <option value="@item.TypeId">@item.TypeName</option>
                                }*@
                            <!--</select>
                                </div>
                            </div>-->

                            <div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, "Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList()" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.HiddenFor(model => model.CategoryId)
                                @Html.LabelFor(model => model.CategoryId, "Category Name", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.CategoryName, (SelectList)ViewBag.Category, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getRefList()" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ItemId, "Item Name", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @*@Html.EditorFor(model => model.ItemeName, "StringWOL", new { @class = "form-control select", @style = "width: 100%;" })*@
                                    @Html.DropDownListFor(model => model.ItemeName, (SelectList)ViewBag.Item, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { @rows = 3 })
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte">
                                            <a href="#">Supplier Selection Details</a>
                                            @*<a id="plan_info" class="pull-right" style="text-decoration: underline; padding-right: 10px; cursor: pointer; color: red;">Plan Details</a>*@
                                        </span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="proddetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    SupplierSelectionId Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Suplier Name
                                                </th>
                                                <th style="text-align: center;">
                                                    Our Requirment
                                                </th>
                                                <th style="text-align: center;">
                                                    Sample Result
                                                </th>
                                                <th style="text-align: center;">
                                                    Evaluation Ranking
                                                </th>
                                                <th style="text-align: center;">
                                                    Remarks
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblpbody"></tbody>
                                    </table>
                                    
                                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a id="btnBlank" class="new" title="Add New Row" style="text-decoration: underline; cursor: pointer;" data-toggle=" tooltip" data-original-title="Add" onclick="AddBlankRow();"><i class="glyphicon glyphicon-plus"></i> Add another row</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Selection Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center;" })
                                @Html.Label("SSE entry # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "reqno", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>

        $(document).ready(function ()
        {
            $('#CategoryName').change(function ()
            {
                $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetItemList")',
                data: ({ CategoryId: $(this).val() }),
                success: function (data)
                {
                    if (data != null)
                    {
                        var option = '<option value="0"> Please Select </option>';
                        $('#ItemeName').empty();
                        $.each(data, function (index, data) {
                            option = option + '<option value="' + data.ItemId + '">' + data.ItemName + '</option>';
                        });

                        $('#ItemeName').append(option);
                    }
                    },
                });
            });
        });

        var rn = 0;
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#SSEDate').datepicker({
            format: 'dd-M-yyyy',
            startDate: '-@(Model.SSEDate.Day <= 5 ? (((Model.SSEDate.Month == 1 ? 365 : 0) + Model.SSEDate.DayOfYear) - DateTime.Parse(Model.SSEDate.Date.AddMonths(-1).ToString("01-MMM-yyyy")).DayOfYear) : (Model.SSEDate.Day - 1))d',
            //minDate: new Date('@DateTime.Today.AddDays(30).ToString("01-MMM-yyyy")'),
            autoclose: true
        });

        function getRefList()
        {
            if ($('#FactoryId').val().length == 0 ) {
                console.log('select factory')
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReferenceList")',
                data: JSON.stringify({ SSEDate: $('#SSEDate').val(), id: $("#SupplierSelectionId").val(), factory_id: $("#FactoryId").val()}),
                success: function (msg)
                {
                    console.log(msg);
                    $("#SupplierSelectionNo").val(msg);

                },
            });
        };

        function AddBlankRow() {
            if ($('#FactoryId').val().length == 0) { // || $('#').val().length == 0
                alert('select factory.')
                return;
            }

            rn = $('#proddetails>tbody>tr').length + 1;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SupplierSelectionDetails")',
                data: JSON.stringify({ rowno: rn, factory_id: $('#FactoryId').val() }),
                success: function (msg) {
                    $('#proddetails>tbody').append(msg);

                    $('#proddetails>tbody>tr:last .select.catlist').select2({
                    });

                    $('#proddetails>tbody .date').datepicker({
                        format: 'dd-M-yyyy',
                        autoclose: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#proddetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#proddetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            if ($('#FactoryId').val() == '' || $('#FactoryId').val() == '0') {
                alert('Select factory.');
                return;
            }
            else if ($('table#proddetails>tbody>tr').length <= 0) {
                alert('No details information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var main = {
                SupplierSelectionId: $('#SupplierSelectionId').val(),
                SupplierSelectionNo: $('#SupplierSelectionNo').val(),
                SSEDate: $('#SSEDate').val(),
                FactoryId: $('#FactoryId').val(),
                CategoryId: $('#CategoryName').val(),
                CategoryName: $('#CategoryName option:selected').text(),
                ItemId: $('#ItemeName').val(),
                ItemeName: $('#ItemeName option:selected').text() == ' Please Select ' ? 'N/A' : $('#ItemeName option:selected').text(),
                EntryUserId: $('#EntryUserId').val(),
                EntryDate: $('#EntryDate').val(),
                ApprovedType: $('#ApprovedType').val(),
                ApprovedBy: $('#ApprovedBy').val(),
                ApprovedTime: $('#ApprovedTime').val(),
                IPAddress: $('#IPAddress').val(),
                PCName: $('#PCName').val(),
                Remarks: $('#Remarks').val(),
            }

            var subs = [];
            $('#proddetails tbody tr').each(function()
            {
                var tr = $(this);
                var data =
                {
                    
                    SupplierSelectionSubId: tr.find('td:eq(2)').html(),
                    SupplierSelectionId: tr.find('td:eq(2)').html(),
                    SuppliersID: tr.find('.Suppliers').val(),
                    SuppliersName: tr.find('.Suppliers option:selected').text(),
                    SampleOurReq: tr.find('.SampleOurReq').val(),
                    SampleResult: tr.find('.SampleResult').val(),
                    EvaluationRanking: tr.find('.Ranking').val(),
                    Remarks: tr.find('.Remarks').val(),
                     }

                subs.push(data);
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ main: main, subs: subs, prefix: 'SSE' }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html(msg.status);
                        $('#reqno').html(msg.cmno);
                        //$('form#frm').submit();
                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });

    </script>
}

@section CSS
{

}