﻿@model IEnumerable<InventoryMS.Models.SupplierSelectionSubView>

@{
    int RowNo = 0;
    var db = new InventoryMS.Models.ProductCubeEntities();
}
@foreach (var item in Model.OrderBy(c => c.SuppliersName).ThenBy(c => c.SuppliersName.Length))
{
    //RowNo++;
    RowNo = item.RowNo.Value;
    <tr>
        <td style="text-align: center; width: 5%;">@RowNo.ToString("000")</td>
        @*<td style="text-align: center">@item.SupplierSelectionSubId</td>*@
        <td style="text-align: center; display: none;">@item.SupplierSelectionSubId</td>
        @*<td style="text-align: center">@item.SupplierSelectionId</td>*@
        <td style="text-align: center; display: none;">@item.SupplierSelectionId</td>
        <td style="text-align: left; width: 20%;">@Html.DropDownList("SuppliersID" + @RowNo.ToString("00"), new SelectList(ViewBag.sup_list, "SupplierId", "SupplierName"), "ALL", new { @class = "form-control select catlist Suppliers", @style = "width: 100%;" })</td>

    <td style="text-align: center;">
        @*<input type="text" class="form-control SampleOurReq" style="width: 100%;" value="@item.SampleOurReq" />*@
        <textarea class="form-control SampleOurReq" style="width: 100%; height: 25px;">@item.SampleOurReq</textarea>
    </td>
        <td style="text-align: center; ">
            @*<input type="text" class="form-control SampleResult" style="width: 100%;" value="@item.SampleResult" />*@
            <textarea class="form-control SampleResult" style="width: 100%; height: 25px;">@item.SampleResult</textarea>
        </td>

        <td style="text-align: center; ">
            <select class="form-control select catlist Ranking" , style="width: 100%;" data-live-search="true">
                <!-- Add options dynamically based on your data -->
                <option value="1">Accept</option>
                <option value="2">Reject</option>
                <!-- ... other options ... -->
            </select>

        </td>

        <td style="text-align: center; ">
            @*<input type="text" class="form-control Remarks" style="width: 100%;" value="@item.Remarks" />*@
            <textarea class="form-control Remarks" style="width: 100%; height: 25px;">@item.Remarks</textarea>
        </td>

        <td>
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}
