﻿@model InventoryMS.Models.VariantView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: Variant
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Variant</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Variant List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.VariantName)

                            @Html.EditorFor(model => model.DisplayName, new { @class = "ccnormal" })

                            @Html.EditorFor(model => model.Prefix)

                            @Html.EditorFor(model => model.Suffix)

                            <div class="form-group">
                                @Html.LabelFor(model => model.VariantTextType, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("VariantTextType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.VariantTextType, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VariantInputType, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("VariantInputType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.VariantInputType, null, new { @class = "control-label" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Activity)
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();
        
        $('#frm').submit(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            return true;
        });
    </script>
}

@section CSS {

}

