﻿@model InventoryMS.Models.CustomType

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		Eidt :: CustomType
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> CustomType</a></li>
        <li class="active">Edit-></li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">CustomType List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
								<ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Create", new { id = 2 })">Edit CustomType</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = 2 })">View CustomType</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">CustomType List</a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
							@Html.EditorFor(model => model.TypeId)

							@Html.EditorFor(model => model.TypeName)

							@Html.EditorFor(model => model.ShortName)

							@Html.EditorFor(model => model.Flag)

							@Html.EditorFor(model => model.CategoryList)

							@Html.EditorFor(model => model.IsActive)

							@Html.EditorFor(model => model.RankId)

							@Html.EditorFor(model => model.CreatedBy)

							@Html.EditorFor(model => model.CreatedTime)

							@Html.EditorFor(model => model.UpdatedBy)

							@Html.EditorFor(model => model.UpdateTime)

							@Html.EditorFor(model => model.PCName)

							@Html.EditorFor(model => model.IPAddress)

				</div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

