﻿@model IEnumerable<InventoryMS.Models.CustomType>


<section class="content-header">
    <h1>
        @ViewBag.EntityName List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> @ViewBag.EntityName</a></li>
        <li class="active"> List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">
                        @if (InventoryMS.Models.clsMain.IsPermitted("Company", "Manage"))
                        {
                            <a class="btn btnsm btn-default" href="@Url.Action("Manage", new { id = @ViewBag.id })">New @ViewBag.EntityName</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                        else
                        {
                            <a class="btn btnsm btn-default" onclick="alert('You are not authorized');">New @ViewBag.EntityName</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        }
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="dynamicTable table table-bordered table-condensed table-striped table-primary table-vertical-center">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.TypeName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.ShortName)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortName)
                                    </td>
                                    <td style="text-align: center">
                                        @if (InventoryMS.Models.clsMain.IsPermitted("CustomType", "Manage"))
                                        {
                                            <a href="@Url.Action("Manage", new { tid = item.TypeId, id = ViewBag.id })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

