﻿@model InventoryMS.Models.CustomTypeView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: @ViewBag.EntityName
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> @ViewBag.EntityName</a></li>
        <li class="active">Manage</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index", new { id = @ViewBag.id })">@ViewBag.EntityName List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            @*<ul id="yw5" class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Edit", new { id = 2 })">Edit SOF</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Details", new { id = 2 })">View SOF</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="@Url.Action("Index")">SOF List</a>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.TypeId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeName, "Name", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.TypeName, "StringWOL", new { @Id = "TypeName" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeName, "Short Name", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ShortName, "StringWOL", new { @Id = "ShortName" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.Flag)

                            @Html.EditorFor(model => model.Activity)
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var typeDetails = {
            TypeId: $('#TypeId').val(), TypeName: $('#TypeName').val(),
            ShortName: $('#ShortName').val(), Flag: $('#Flag').val(),
            CategoryList: null, Activity: $('#Activity').val()
        };

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
                data: JSON.stringify({ customTypeView: typeDetails }),
                success: function (msg) {
                    //$('#itemcode').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    alert(msg);
                    // $('#mymodal').modal('show');
                    window.location = '@Url.Action("Manage", new { id = @ViewBag.id })';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    return false;
                }
            });
        });
    </script>
}

@section CSS {

}