﻿@model LCManagement.Models.PISub

<tr>
    <td>
        @Html.Hidden("PISubs[" + Model.RowNo + "].PIFileId", Model.PIFileId, new { @class = "addrow required number", @style = "width: 90%;", @role = "pk" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].PIFileSubId", Model.PIFileSubId, new { @class = "addrow required number", @style = "width: 90%;", @role = "fk" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].FactoryId", Model.FactoryId, new { @class = "addrow required number", @style = "width: 90%;" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].ProductId", Model.ProductId, new { @class = "addrow required number", @style = "width: 90%;" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].RateInUSD", Model.RateInUSD, new { @class = "addrow required number", @style = "width: 90%;" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].Capex", Model.Capex, new { @class = "addrow required number", @style = "width: 90%;" })
        @Model.Product.ProductName
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].CurrentStock", Model.CurrentStock)
        @Model.CurrentStock.ToString("###,##0")
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].StockInTransit", Model.StockInTransit)
        @Model.StockInTransit.ToString("###,##0")
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].TotalStockArrangement", Model.TotalStockArrangement)
        @Model.TotalStockArrangement.ToString("###,##0")
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].PDRequirement", Model.PDRequirement)
        @Model.PDRequirement.ToString("###,##0")
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].TotalStockForDay", Model.TotalStockForDay)
        @Model.TotalStockForDay.ToString("###,##0")
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].BookingQuantity", Model.BookingQuantity, new { @class = "qty" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].QuantityUnitId", Model.QuantityUnitId)
        @Model.BookingQuantity.ToString("###,##0.00") @*@ViewBag.QtyUnit*@
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].UnitPrice", Model.UnitPrice)
        @Model.UnitPrice.ToString("###,##0.000000")
    </td>
    <td style="text-align:right;">
        @Html.Hidden("PISubs[" + Model.RowNo + "].Amount", Model.Amount, new { @class = "amt" })
        @Html.Hidden("PISubs[" + Model.RowNo + "].RowNo", Model.RowNo)
        @Model.Amount.ToString("###,##0.00")
    </td>
    <td align="center">
        <span id="btd_@Model.RowNo.ToString()__" onclick="javascript: delrow(this);" class="btn-action glyphicons remove_2 btn-danger delrow"><i></i></span>
        <span id="bte_@Model.RowNo.ToString()__" onclick="javascript: editrow(@Model.RowNo);" class="btn-action glyphicons pencil btn-success editrow"><i></i></span>
        @Html.Hidden("PISubs[" + Model.RowNo + "].Status", (Model.PIFileSubId > 0 ? "edit" : "add"), new { @class = "addrow status", @style = "width: 90%;", @role = "status" })
    </td>
</tr>
