﻿@model LCManagement.Models.PIMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>New PI</h3>
    <div class="btn-group btn-block pull-right" style="max-width: 200px; padding-right:15px;">
        <div class="btn-group btn-block">
            <div class="leadcontainer">
                <a href="@Url.Action("Index")" class="btn dropdown-lead btn-success btn-icon glyphicons list"><i></i>View List</a>
            </div>
            <span class="btn btn-success dropdown-toggle"><span class="caret"></span> </span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    <div class="innerLR">
        <div align="center" class="widget" style="margin-top: -1px; min-height:80%;">
            <!-- Widget heading -->
            <div class="widget-head">
                <h4 class="heading"><i></i>General Information</h4>
            </div>
            <!-- // Widget heading END -->

            <div class="widget-body">
                @Html.ValidationSummary(true)
                <div class="row-fluid">
                    <div class="span5">
                        @Html.HiddenFor(model => model.PIFileId)

                        @Html.HiddenFor(model => model.PIFileNo)

                        @Html.EditorFor(model => model.PINo)

                        @Html.EditorFor(model => model.PIDate)

                        <div class="row-fluid">
                            @Html.LabelFor(model => model.BeneficiaryId, new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("BeneficiaryId", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.BeneficiaryId, null, new { @class = "help-block" })
                            </div>
                        </div>

                        @Html.EditorFor(model => model.LocationId)

                        <div class="row-fluid">
                            @Html.LabelFor(model => model.SupplierId, new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("SupplierId", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.SupplierId, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="row-fluid">
                            @Html.LabelFor(model => model.LocalAgentId, new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("LocalAgentId", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.LocalAgentId, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="row-fluid">
                            @Html.LabelFor(model => model.OriginCountryId, new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("OriginCountryId", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.OriginCountryId, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="row-fluid">
                            @Html.LabelFor(model => model.POLId, new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("POLId", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.POLId, null, new { @class = "help-block" })
                            </div>
                        </div>

                        @Html.EditorFor(model => model.LeadTime)
                    
                        @Html.EditorFor(model => model.RequisitionDate)
                    </div>

                    <div class="span7">
                        @Html.EditorFor(model => model.PIReceiveDateFromSourcing)

                        @Html.EditorFor(model => model.ShipmentDate)

                        @Html.EditorFor(model => model.ExpireDate)

                        @Html.EditorFor(model => model.Tenure, new { @class = "tsd" })

                        <div class="row-fluid">
                            @Html.Label("", "Payment Terms", new { @class = "span3 lb-rg-md" })
                            <div class="span9 lb-lt">
                                @Html.DropDownList("PaymentTerms", null, string.Empty, new { @class = "select span12" })

                                @Html.ValidationMessageFor(model => model.PaymentTerms, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="row-fluid">
                            @Html.LabelFor(model => model.PIAmount, new { @class = "span3 lb-rg-md" })
                            <div class="span9">
                                @Html.DropDownList("CurrencyType", null, string.Empty, new { @class = "select span2 add-on lb-lt" })
                                <div class="input-prepend input-append">
                                    @*<span class="add-on">$</span>*@
                                    @Html.TextBoxFor(model => model.PIAmount, new { @class = "span3 only-currency lb-rg-md piamt" })
                                    @Html.TextBox("S", "@", new { @class = "span1 add-on", @readonly = "readonly" })
                                    @Html.TextBoxFor(model => model.USDRate, new { @class = "span2 only-currency lb-rg-md piamt", @style = "width: 12.422886%;" })
                                    @Html.TextBox("BDT", "BDT", new { @class = "span1 add-on", @readonly = "readonly", @style = "width: 9.422886%;" })
                                    @Html.TextBoxFor(model => model.AmountInTK, new { @class = "span4 add-on add-on-last only-currency lb-rg-md", @style = "text-align: right;", @readonly = "readonly" })
                                    @*<span class="add-on add-on-last">.00</span>*@
                                </div>
                                @Html.ValidationMessageFor(model => model.PIAmount, null, new { @class = "help-block lb-lt" })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.RateInUSD)

                        @Html.EditorFor(model => model.Remarks)

                        <input type="hidden" id="e7" name="e7" value="" class="span12"/>
                    </div>

                    <div style="float: left; width: 100%; display: table;">
                        <div class="widget">
                            <!-- Widget heading -->
                            <div class="widget-head">
                                <h4 class="heading glyphicons stats"><i></i>Product Details</h4>
                                <h4 class="heading" id="additem" style="float: right; text-decoration:underline; cursor:pointer;"><i></i>Add Item</h4>
                                @*<a href="#modal-simple" data-toggle="modal" class="heading" style="float: right; text-decoration:underline; cursor:pointer;">Add Item</a>*@
                            </div>
                            <!-- // Widget heading END -->

                            <div class="widget-body">
                                <div class="divTable">
                                    <table id="tblTest" class="table table-bordered table-condensed table-striped table-primary table-vertical-center" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width: 32%;">
                                                    Product Name
                                                </th>
                                                <th style="width: 7%; text-align: center;">
                                                    Stock
                                                </th>
                                                <th style="width: 7%; text-align: center;">
                                                    Pipeline
                                                </th>
                                                <th style="width: 7%; text-align: center;">
                                                    TSA
                                                </th>
                                                <th style="width: 7%; text-align: center;">
                                                    PDR
                                                </th>
                                                <th style="width: 7%; text-align: center;">
                                                    TSFD
                                                </th>
                                                <th style="width: 7%; text-align: center;">
                                                    Quantity
                                                </th>
                                                <th style="width: 9%; text-align: center;">
                                                    Price
                                                </th>
                                                <th style="width: 9%; text-align: center;">
                                                    Amount
                                                </th>
                                                <th style="width: 8%; text-align: center;">
                                                    @*<input type="button" id="btnAdd" value="Add" class="btn btn-default" />*@
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.PISubs.Count > 0)
                                            {
                                                for (int i = 0; i < Model.PISubs.Count(); i++)
                                                {
                                                    @Html.Action("AddProduct", Model.PISubs[i])
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="10">
                                                        No Product Available
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    @*<div class="widget-head" style="padding: 0px;">*@
                                    <table class="table table-condensed table-striped table-primary table-vertical-center" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th colspan="7" style="width: 70%;">

                                                </th>
                                                <th colspan="2" style="width: 16%; text-align: center;">

                                                </th>
                                                <th style="width: 9%; text-align: center;">

                                                </th>
                                                <th style="width: 8%; text-align: center;">
                                                    @*<input type="button" id="btnAdd" value="Add" class="btn btn-default" />*@
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" rowspan="2" style=""></td>
                                                <td colspan="2" style="" class="right">
                                                    Total Qty :
                                                </td>
                                                <td style="" class="right strong">
                                                    <span id="totalqty" style="border-bottom: double;">0.00</span>
                                                </td>
                                                <td rowspan="2">
                                                    <span class="glyphicons" style="padding: 8px 14px 14px 48px;"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="" class="right">
                                                    Total Amount :
                                                </td>
                                                <td style="" class="right strong">
                                                    <span id="totalamt" style="border-bottom: double;">0.00</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span3" style="float:right;">
                                <input type="submit" value="Save" class="btn btn-block btn-success span12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal hide fade" id="modal-simple" role="dialog" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
    <form id="pd" name="pd" action="AddProduct">
        <!-- Modal heading -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Product Details</h3>
        </div>
        <!-- // Modal heading END -->
        <!-- Modal body -->
        <div class="modal-body" style="overflow: hidden;">
            @Html.Action("ProductDetails")
        </div>
        <!-- // Modal body END -->
        <!-- Modal footer -->
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</a>
            <a href="#" data-dismiss="modal" class="btn btn-success" id="btnAdd">Save changes</a>
        </div>
        <!-- // Modal footer END -->
    </form>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)"/>
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    var total = 0.00;
    $(".qty", '#tblTest').each(function () {
        total += eval($(this).val().replace(/\,/g, ''));
    });
    var num = new Number(total);
    $('#totalqty').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    total = 0.00;
    $(".amt", '#tblTest').each(function () {
        total += eval($(this).val().replace(/\,/g, ''));
    });
    num = new Number(total);
    $('#totalamt').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    //$('input.only-number').number(true, 0);
    $('input.only-number').live('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').live('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-currency').live('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').live('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').live('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').live('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('.stock').live('blur', function () {
        //alert('a');
        //if (isNaN(eval($(this).val()))) $(this).val(0);
        var tamt = eval($('#CurrentStock').val().replace(/\,/g, '')) + eval($('#StockInTransit').val().replace(/\,/g, ''));

        if (isNaN(tamt)) {
            tamt = "0";
        };
        $('.tsa').val((new Number(tamt)).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

        tamt = eval($('.tsa').val().replace(/\,/g, '')) / eval($('.pdr').val().replace(/\,/g, ''));

        if (isNaN(tamt) || eval($('.pdr').val().replace(/\,/g, '')) == 0) {
            tamt = "0";
        };
        $('.tsfd').val((new Number(tamt)).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });
    $("#additem").click(
    function () {
        $('#PIFileId', '#pd').val($('#PIFileId', '#frm').val());
        $('#PIFileSubId', '#pd').val('0');
        $('#FactoryId').val('').change();
        $('#ProductId').val('').change();
        $('#CurrentStock').val('0');
        $('#StockInTransit').val('0');
        $('#TotalStockArrangement').val('0');
        $('#PDRequirement').val('0');
        $('#TotalStockForDay').val('0');
        $('#BookingQuantity').val('0');
        $('#QuantityUnitId').val('').change();
        $('#UnitPrice').val('0.000000');
        $('#Amount').val('0.00');

        $('#RowNo').val('0');

        $('#btnAdd').removeClass('edit');

        $('#modal-simple').modal('show');
    });

    $("#btnClose").click(
    function () {
        $('#btnAdd').removeClass('edit');
    });
    $("#btnAdd").click(
    function () {
        var isEdit = false;
        if ($('#btnAdd').hasClass('edit')) {
            isEdit = true;
        }
        var i = $("#tblTest tr:last td").length;
        if (!isEdit) {
            if (i == 1)
                $('#RowNo').val($("#tblTest tr").length - 2);
            else if (i == 10)
                $('#RowNo').val($("#tblTest tr").length - 1);
        }
        //alert(i);
        //return
        $('.only-number', '#pd').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-currency', '#pd').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-price', '#pd').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('input, textarea', '#pd').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        if (eval($('#FactoryId').val()) == 0) {
            alert("Factory have to select.");
            return false;
        }
        if (eval($('#ProductId').val()) == 0) {
            alert("Product have to select.");
            return false;
        }
        if (eval($('#QuantityUnitId').val()) == 0) {
            alert("Quantity unit have to select.");
            return false;
        }
        if (eval($('#BookingQuantity').val()) == 0) {
            alert("Quantity can't be zero.");
            return false;
        }
        if (eval($('#UnitPrice').val()) == 0) {
            alert("Unit price can't be zero.");
            return false;
        }
        if (eval($('#Amount').val()) == 0) {
            alert("Amount can't be zero.");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("AddProduct")",
            data: $('#pd').serialize(),
            success: function (response) {
                //alert( response );
                if (isEdit) {
                    var e = $('#RowNo').val(); e++;
                    $('#tblTest tr:eq(' + e + ')').after(response);
                    $('#tblTest tr:eq(' + e + ')').remove();
                }
                else {
                    if (i == 1) {
                        $('#tblTest tr:last').before(response);
                        $('#tblTest tr:last').remove();
                    }
                    else if (i = 10)
                        $('#tblTest tr:last').after(response);
                    //response.end().appendTo("#tblTest");
                }

                total = 0.00;
                $(".qty", '#tblTest').each(function () {
                    total += eval($(this).val().replace(/\,/g, ''));
                });
                num = new Number(total);
                $('#totalqty').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                total = 0.00;
                $(".amt", '#tblTest').each(function () {
                    total += eval($(this).val().replace(/\,/g, ''));
                });
                num = new Number(total);
                $('#totalamt').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

        $('#btnAdd').removeClass('edit');
    });

    function delrow(e) {
        //alert($("#tblTest tr").length);
        if ($("#tblTest tr").length > 2) {
            if ($(e).closest("tr").find('.status').val() == "add") {

                var row = $(e).closest("tr");

                $('#tblTest select.select').select2('destroy');

                for (var n = $(e).closest("tr").index() ; n < $("#tblTest tr").length - 2; n++) {
                    row = row.next();
                    row = $(".addrow", row).each(function () {
                        $(this).attr('id', $(this).attr('id').replace("_" + (n + 1) + "__", "_" + n + "__"));
                        $(this).attr('name', $(this).attr('name').replace("[" + (n + 1) + "]", "[" + n + "]"));
                    }).end();
                }

                $('#tblTest select.select').select2({
                    placeholder: "Select or Type . . ."
                });

                $(e).closest("tr").remove();
            }
            else {
                $(e).closest("tr").find('.status').val('delete');
                $(e).closest("tr").find('.qty').removeClass('qty');
                $(e).closest("tr").find('.amt').removeClass('amt');
                $(e).closest("tr").hide();
            }

            total = 0.00;
            $(".qty", '#tblTest').each(function () {
                total += eval($(this).val().replace(/\,/g, ''));
            });
            num = new Number(total);
            $('#totalqty').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            total = 0.00;
            $(".amt", '#tblTest').each(function () {
                total += eval($(this).val().replace(/\,/g, ''));
            });
            num = new Number(total);
            $('#totalamt').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
        else if ($("#tblTest tr").length == 2) {
            $(e).closest("tr").before('<tr><td colspan="10">No Product Available</td></tr>');
            $(e).closest("tr").remove();

            total = 0.00;
            num = new Number(total);
            $('#totalqty').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            total = 0.00;
            num = new Number(total);
            $('#totalamt').html(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    };

    function editrow(e) {
        $('#PIFileId', '#pd').val($('#PISubs_' + e + '__PIFileId').val());
        $('#PIFileSubId').val($('#PISubs_' + e + '__PIFileSubId').val()).change();
        $('#FactoryId').val($('#PISubs_' + e + '__FactoryId').val()).change();
        $('#ProductId').select2('data', { id: $('#PISubs_' + e + '__ProductId').val(), text: $('#PISubs_' + e + '__ProductId').closest('td').text().toString() });//.val($('#PISubs_' + e + '__ProductId').val());
        $('#CurrentStock').val($('#PISubs_' + e + '__CurrentStock').val());
        $('#StockInTransit').val($('#PISubs_' + e + '__StockInTransit').val());
        $('#TotalStockArrangement').val($('#PISubs_' + e + '__TotalStockArrangement').val());
        $('#PDRequirement').val($('#PISubs_' + e + '__PDRequirement').val());
        $('#TotalStockForDay').val($('#PISubs_' + e + '__TotalStockForDay').val());
        $('#BookingQuantity').val($('#PISubs_' + e + '__BookingQuantity').val());
        $('#QuantityUnitId').val($('#PISubs_' + e + '__QuantityUnitId').val()).change();
        $('#UnitPrice').val($('#PISubs_' + e + '__UnitPrice').val());
        $('#Amount').val($('#PISubs_' + e + '__Amount').val());
        $('#RowNo').val(e);
        //alert(e);
        $('#btnAdd').addClass('edit');

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });
        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });
        $('.only-price').each(function () {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        });

        $('#modal-simple').modal('show');
    };

    function bankchange() {
        //alert($("#IssuerBankId").val());
        $.ajax({
            url: "@Url.Action("BranchList", "PI")?bankid=" + $("#IssuerBankId").val(),
            success: function (data) {
                $("#IssuerBranchId").html(data);
                $('#IssuerBranchId').select2({
                    placeholder: "Select or Type . . ."
                });
            }
        });
    };

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('select.selectwos').select2({
        placeholder: "Select . . .",
        minimumResultsForSearch: -1
    });

    if ($('.datepicker').length) $('.datepicker').datepicker({ showOtherMonths: true, dateFormat: "yy-mm-dd" });

    $('#frm').submit(function () {
        if ($('#tblTest tr:visible').length > 1) {
            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-price').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            //alert(eval($('#PIFileAmount').val()) + ' ' + eval($('#totalamt').html().replace(/\,/g, '')));

            if (eval($('#PIAmount').val()) != eval($('#totalamt').html().replace(/\,/g, ''))) {
                alert('PI amount and total amount is not same.');
                //alert(eval($('#PIFileAmount').val()) + ' # ' + eval($('#totalamt').html()));
                return false;
            };
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });
            return true;
        }
        else {
            alert('No Product Information.');
            return false;
        }
    });

    //$('.pq').blur(function () {
    $('.piamt').live('blur', function () {
        //alert('a');
        //if (isNaN(eval($(this).val()))) $(this).val(0);
        var tamt = eval($('#PIAmount').val().replace(/\,/g, '')) * eval($('#USDRate').val().replace(/\,/g, ''));
        //var tlcamt = eval($('#PIFileAmount').val().replace(/\,/g, '')) * eval($('#PISubs_' + n + '__BookingQuantity').val().replace(/\,/g, ''));
        //alert(tamt);
        if (isNaN(tamt)) {
            tamt = "0.00";
        };
        $('#AmountInTK').val((new Number(tamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    function productchange(e) {
        var n = $(e).closest("tr").index();
        $.ajax({
            url: "@Url.Action("ProductInfo", "PI")?prodid=" + $('#PISubs_' + n + '__ProductId').val(),
                success: function (data) {
                    //var n = $(this).closest("tr").index();
                    var pd = data.split("#");
                    //alert(pd[0]);

                    $('#HSCode_' + n + '__').val(pd[0]);
                    //$('#StockQty_' + n + '__').val(pd[1]);
                }
            });
        };

        //function priceChange() {
        //    alert('a');
        //    alert($(this).val());
        //};

        //$.fn.modal.Constructor.prototype.enforceFocus = function () {
        //    var that = this;
        //    $(document).on('focusin.modal', function (e) {
        //        console.log(e.target);
        //        if (!$(e.target).hasClass('select2-input')) {
        //            $("#s2id_FactoryId").select2("close");
        //            $("#s2id_ProductId").select2("close");
        //            $("#s2id_QuantityUnitId").select2("close");
        //            that.$element.focus();
        //            return true;
        //        }

        //        //if (that.$element[0] !== e.target && !that.$element.has(e.target).length) {
        //        //    alert('test');
        //        //    $("#s2id_FactoryId").select2("close");
        //        //    that.$element.focus();
        //        //    return true;
        //        //}
        //    });
        //};

        $.get('@Url.Action("ProductList")', function (data) {
            $("#ProductId").select2({
                //data: _.map(_.range(1, 201), function (i) {
                //    return { id: i, text: 'number ' + i };
                //}),

                placeholder: "Select or Type . . .",
                style: 'text-align: left;',
                data: data,
                query: function (q) {
                    var pageSize = 20, results = _.filter(this.data, function (e) {
                        return (q.term == "" || q.term === undefined || 
                           e.text.toUpperCase().indexOf(
                               q.term.toUpperCase()) >= 0);
                    });
                    q.callback({
                        results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
                        more: results.length >= q.page * pageSize
                    });
                }
            });
        });
        
    </script>
}

@section CSS {

}