﻿@model LCManagement.Models.PIMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>PI Details</h3>
    <div class="btn-group btn-block pull-right" style="max-width: 200px; padding-right:15px;">
        <div class="btn-group btn-block">
            <div class="leadcontainer">
                <a href="@Url.Action("Index")" class="btn dropdown-lead btn-success btn-icon glyphicons list"><i></i>View List</a>
            </div>
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span> </a>
            <ul class="dropdown-menu pull-right">
                <li style="text-align:center;"><a href="@Url.Action("Create")">Add PI</a></li>
                @if(Model.IsLCOpen == 0 || (Session["UserName"] != null && !Session["UserName"].ToString().Equals("noman")))
                { 
                    <li class="center"><a href="@Url.Action("Edit", new { id = Model.PIFileId })">Edit PI</a></li>
                    <li class="center"><a href="@Url.Action("Delete", new { id = Model.PIFileId})">Delete PI</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons user">PI # @Model.PINo</h4>
        </div>
        <div class="widget-body" style="display:table;">
            <div class="span6" style="margin-left: -10px;">
                <div class="details-info details-info-striped">
                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.PIFileNo)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.PIFileNo)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.PIDate)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.PIDate)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.PIAmount)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.PIAmount)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.BeneficiaryId)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.Company.CompanyName)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            Supplier
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.SupplierInformation.SupplierName)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            Agent
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.LocalAgent.AgentName)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.OriginCountryId)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.Country.CountryName)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            Port
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.Port.PortName)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span7" style="margin-left: -7px;">
                <div class="details-info details-info-striped" style="margin-right: 0px;">
                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.RequisitionDate)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.RequisitionDate)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.ShipmentDate)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.ShipmentDate)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.ExpireDate)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.ExpireDate)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.Tenure)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.Tenure) (@Html.DisplayFor(model => model.PaymentTerms))
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.PIReceiveDateFromSourcing)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.PIReceiveDateFromSourcing)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.LeadTime)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.LeadTime)
                            </span>
                        </div>
                    </div>

                    <div class="details-info-row">
                        <div class="details-info-name">
                            @Html.DisplayNameFor(model => model.Remarks)
                        </div>

                        <div class="details-info-value">
                            <span class="editable editable-click">
                                @Html.DisplayFor(model => model.Remarks)
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div style="float: left; margin-top: 20px; width: 100%;">
                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading glyphicons stats"><i></i>Product Details</h4>
                    </div>
                    <!-- // Widget heading END -->

                    <div class="widget-body">
                        <div class="divTable">
                            <table id="tblTest" class="table table-bordered table-condensed table-striped table-primary table-vertical-center" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th rowspan="1" style="vertical-align:middle; width: 32%;">
                                            Product Name
                                        </th>
                                        <th style="width: 7%; text-align: center;">
                                            Stock
                                        </th>
                                        <th style="width: 7%; text-align: center;">
                                            Pipeline
                                        </th>
                                        <th style="width: 7%; text-align: center;">
                                            TSA
                                        </th>
                                        <th style="width: 7%; text-align: center;">
                                            PDR
                                        </th>
                                        <th style="width: 7%; text-align: center;">
                                            TSFD
                                        </th>
                                        <th style="width: 7%; text-align: center;">
                                            Quantity
                                        </th>
                                        <th style="width: 9%; text-align: center;">
                                            Price
                                        </th>
                                        <th style="width: 9%; text-align: center;">
                                            Amount
                                        </th>
                                    </tr>
                                    @*<tr>
                                        <th colspan="6" style="text-align: center;">
                                            KG (S)
                                        </th>
                                        <th colspan="2" style="text-align: center;">
                                            USD
                                        </th>
                                    </tr>*@
                                </thead>
                                @{
                                    decimal TAmt = 0, TQty = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.PISubs.OrderBy(l => l.RowNo).ToArray())
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.Product.ProductName)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.CurrentStock)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.StockInTransit)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.TotalStockArrangement)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.PDRequirement)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.TotalStockForDay)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.BookingQuantity)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.UnitPrice)
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(modelitem => item.Amount)
                                            </td>
                                        </tr>
                                        TAmt += item.Amount; TQty += item.BookingQuantity;
                                    }

                                </tbody>
                            </table>
                            <table class="table table-condensed table-striped table-primary table-vertical-center" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="7" style="width: 70%;">

                                        </th>
                                        <th colspan="2" style="width: 16%; text-align: center;">

                                        </th>
                                        <th style="width: 9%; text-align: center;">

                                        </th>
                                        <th style="width: 8%; text-align: center;">
                                            @*<input type="button" id="bt1" value="Add" class="btn btn-default" />*@
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" rowspan="2" style=""></td>
                                        <td colspan="2" style="" class="right">
                                            Total Qty :
                                        </td>
                                        <td style="" class="right strong">
                                            <span id="totalqty" style="border-bottom: double;">@TQty.ToString("###,##0.00")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="" class="right">
                                            Total Amount :
                                        </td>
                                        <td style="" class="right strong">
                                            <span id="totalamt" style="border-bottom: double;">@TAmt.ToString("###,##0.00")</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
