﻿@model IEnumerable<LCManagement.Models.PIMain>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>PI List</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create")" class="btn btn-success btn-icon glyphicons circle_plus"><i></i>Add PI</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons"></h4>
        </div>
        <div class="widget-body">
            <table class="dynamicTable table table-bordered table-condensed table-striped table-primary table-vertical-center">
				<thead>
					<tr>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.PIFileNo)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.PINo)
						</th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.PIDate)
						</th>
                        <th style="text-align: center;">
                            @Html.DisplayNameFor(model => model.BeneficiaryId)
                        </th>
                        <th style="text-align: center;">
                            @Html.DisplayNameFor(model => model.SupplierId)
                        </th>
						<th style="text-align: center;">
							@Html.DisplayNameFor(model => model.PIAmount)
						</th>
						<th></th>	
					</tr>	
				</thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="selectable">
							<td>
								@Html.DisplayFor(modelItem => item.PIFileNo)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PINo)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PIDate)
							</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company.ShortName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierInformation.ShortName)
                            </td>
							<td>
								@Html.DisplayFor(modelItem => item.PIAmount)
							</td>
							<td style="text-align: center">
								<a href="@Url.Action("Details", new { id = item.PIFileId })" class="btn-action glyphicons eye_open btn-default"><i></i></a>
                                <a style=@(item.IsLCOpen == 0 || (Session["UserName"] != null && Session["UserName"].ToString().Equals("noman")) ? "pointer-events: none;" : "") href="@Url.Action("Edit", new { id = item.PIFileId })" class="btn-action glyphicons pencil btn-success"><i></i></a>
                                <a style=@(item.IsLCOpen == 0 || (Session["UserName"] != null && Session["UserName"].ToString().Equals("noman")) ? "pointer-events: none;" : "") href="@Url.Action("Delete", new { id = item.PIFileId })" class="btn-action glyphicons remove_2 btn-danger"><i></i></a>
							</td>
						</tr>
					}
                </tbody>
            </table>
        </div>
    </div>
    <br />
</div>

@section Scripts {
	@Scripts.Render("~/datatable/js")
}

@section CSS{    
	@Styles.Render("~/datatable/css")
}

