﻿@model IEnumerable<InventoryMS.Models.RequisitionView>

@if (Model != null && Model.Count() > 0)
{
    int rIndex = 0; decimal tAmt = 0, tQty = 0; string CCId = "";
    foreach (var item in Model.OrderBy(c => c.ProductName.Length).ThenBy(c => c.ProductName))
    {
        <tr>
            @{
              decimal? PIQty = item.PIFileSubId == null ? item.ApprovedQuantity : item.PIQuantity;
              decimal? total = item.PendingRequisitionQuanity + item.StockInTransit + item.CurrentStock, amount = PIQty * item.UnitPrice;
              int? PRQId = (@ViewBag.type == null || @ViewBag.type == "Q") ? item.PRId : item.QuotationId; //(item.QuotationId == null || item.QuotationId == 0) && 
              tQty += PIQty.Value; tAmt += amount.Value; CCId = item.Currency;
              rIndex++;
             }
            
            <td style="text-align: center;">@(item.RowNo.HasValue ? item.RowNo.Value.ToString("000") : "")</td>
            <td style="text-align: left;">@item.PRNo</td>
            <td style="text-align: center;">@item.PRDate.ToString("dd-MMM-yyyy")</td>
            <td style="text-align: left;">@item.ProductName</td>
            <td style="text-align: right;">@item.CurrentStock</td>
            <td style="text-align: right;">@item.StockInTransit</td>
            <td style="text-align: right;">@item.PendingRequisitionQuanity</td>
            <td style="text-align: right;">@total</td>
            <td style="text-align: right;">@item.AverageConsumptionPerDay</td>
            <td style="text-align: right;">@item.DaysWithTotalStock</td>
            <td style="text-align: center;">@item.HistoricalPeriod</td>
            <td style="text-align: right;">@item.HistoricalConsumption</td>
            <td style="text-align: right;">@item.Next3MonthAvgConsumptionLastYear</td>
            <td style="text-align: right;">@item.Next3MonthAvgConsumptionCurrentYear</td>
            <td style="display: none;">@item.PreferredSupplierId</td>
            <td style="display: none;">@item.SupplierName</td>
            <td style="display: none;">@item.BrandId</td>
            <td style="text-align: left;">@item.BrandName</td>
            <td style="text-align: right;">@item.AvgLeadTimeEarlierOrders</td>
            <td style="text-align: right;">@item.LeadTime</td>
            <td style="text-align: center;">@(item.FactoryETA.HasValue ? item.FactoryETA.Value.ToString("dd-MMM-yyyy") : "")</td>
            <td style="display: none;">@PRQId</td>
            <td style="display: none;">@item.PRSubId</td>
            <td style="display: none;">@item.POSubId</td>
            <td style="display: none;">@item.QApprovalId</td>
            <td style="display: none;">@item.QApprovalSubId</td>
            <td style="text-align: right;">@item.Quantity.Value.ToString("##,##0.00")</td>
            <td style="display: none;">@item.QuantityUnitId</td>
            <td style="text-align: right">@item.ApprovedQuantity.Value.ToString("##,##0.00")</td>
            <td id="pi_@rIndex" style="text-align: right;" ondblclick="setQty(this)">@PIQty.Value.ToString("##,##0.00")</td>
            <td style="text-align: left;">@item.QuantityUnit</td>
            <td style="display: none;">@item.PApprovalSubId</td>
            <td id="uppi_@rIndex" style="text-align: right;">@item.UnitPrice.Value.ToString("##,##0.000000")</td>
            <td id="amtpi_@rIndex" style="text-align: right;">@amount.Value.ToString("##,##0.00")</td>
            <td style="text-align: center;">
                <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
            <td style="display: none;">@item.PIFileSubId</td>
            <td style="display: none;">@item.LCFileSubId</td>
            <td style="display: none;">@item.PLESubId</td>
        </tr>
    }
    @Html.Hidden("TQty", tQty.ToString("##,##0.00"))
    @Html.Hidden("TAmt", tAmt.ToString("##,##0.00"))
    @Html.Hidden("CCode", CCId)
}
