﻿@Html.Label("lblcap", (String)ViewBag.Caption, new { @Id = "lblcap", @class = "col-common col-sm-3 control-label" })
<div class="col-sm-9">
    @Html.DropDownList("ItemId", (SelectList)ViewBag.itemList, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemDetails(this.value);" })
</div>

<script>
    $('#ItemId').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });
</script>