﻿@model IEnumerable<InventoryMS.Models.RequisitionView>

<thead>
    <tr>
        <th style="text-align: center;">SL #</th>
        <th style="display: none;">ID</th>
        <th style="display: none;">Sub ID</th>
        <th style="display: none;"></th>
        @if (ViewBag.type == 1)
        {
            <th style="text-align: center;">Req No</th>
            <th style="text-align: center;">Req Date</th>
        }
        else if (ViewBag.type == 2)
        {
            <th style="text-align: center;">PO No</th>
            <th style="text-align: center;">PO Date</th>
            <th style="text-align: center;">Req No</th>
        }
        else if (ViewBag.type == 3)
        {
            <th style="text-align: center;">Q App No</th>
            <th style="text-align: center;">App Date</th>
            <th style="text-align: center;">PO No</th>
            <th style="text-align: center;">Req No</th>
        }
        <th style="text-align: center;">Product</th>
        <th style="text-align: center;">Quantity</th>
        <th style="text-align: center;">Unit</th>
        <th style="text-align: center;">Used</th>
        <th style="text-align: center;">Balance</th>
        <th style="text-align: center;">
            <span>
                @Html.CheckBox("chk_All", new { @onchange = "CheckedAll(this);" }) Complete?
            </span>
        </th>
    </tr>
</thead>
<tbody id="tbody">
    @if (Model != null && Model.Count() > 0)
    {
        int rIndex = 0;
        foreach (var item in Model.OrderBy(c => c.ProductName.Length).ThenBy(c => c.ProductName))
        {
            <tr>
                @{
                    int? ID = (ViewBag.type == 1 ? item.PRId : ViewBag.type == 2 ? item.POId : ViewBag.type == 3 ? item.QApprovalId : 0);
                    int? SubID = (ViewBag.type == 1 ? item.PRSubId : ViewBag.type == 2 ? item.POSubId : ViewBag.type == 3 ? item.QApprovalSubId : 0);
                    decimal? AQty = (ViewBag.type == 1 ? item.Quantity : ViewBag.type == 2 ? item.POQuantity : ViewBag.type == 3 ? item.ApprovedQuantity : 0);
                    decimal? UQty = (ViewBag.type == 1 ? item.POQuantity : ViewBag.type == 2 ? item.ApprovedQuantity : ViewBag.type == 3 ? item.PIQuantity : 0);
                    decimal? BQty = AQty - UQty; rIndex++;
                }

                <td style="text-align: center;">@(rIndex.ToString("000"))</td>
                <td style="display: none;">@ID</td>
                <td style="display: none;">@SubID</td>
                <td id="vchk_@SubID" style="display: none;">0</td>
                @if (ViewBag.type == 1)
                {
                    <td style="text-align: left;">@item.PRNo</td>
                    <td style="text-align: center;">@item.PRDate.ToString("dd-MMM-yyyy")</td>
                }
                else if (ViewBag.type == 2)
                {
                    <td style="text-align: left;">@item.PONo</td>
                    <td style="text-align: center;">@item.PODate.ToString("dd-MMM-yyyy")</td>
                    <td style="text-align: left;">@item.PRNo</td>
                }
                else if (ViewBag.type == 3)
                {
                    <td style="text-align: left;">@item.QANo</td>
                    <td style="text-align: center;">@item.QADate.ToString("dd-MMM-yyyy")</td>
                    <td style="text-align: left;">@item.PONo</td>
                    <td style="text-align: left;">@item.PRNo</td>
                }
                <td style="text-align: left;">@item.ProductName</td>
                <td style="text-align: right;">@AQty.Value.ToString("##,##0.00")</td>
                <td style="text-align: left;">@item.QuantityUnit</td>
                <td style="text-align: right;">@UQty.Value.ToString("##,##0.00")</td>
                <td style="text-align: right;">@BQty.Value.ToString("##,##0.00")</td>
                
                <td id="tdchk_@item.QApprovalSubId" style="text-align: center;">
                    @Html.CheckBox("chk_" + SubID, new { @class = "chkStatus", @onchange = "StatusChange(this);" })
                </td>
            </tr>
        }
    }
</tbody>