﻿@model IEnumerable<InventoryMS.Models.RequisitionView>

<thead>
    <tr>
        <th style="text-align: center; width: 7%;">SL #</th>
        <th style="display: none;">ID</th>
        <th style="display: none;">Sub ID</th>
        <th style="text-align: center; width: 10%;">Req No</th>
        <th style="text-align: center; width: 10%;">Req Date</th>
        <th style="text-align: center; width: 35%;">Product</th>
        <th style="text-align: center; width: 7%;">Req. Qty</th>
        <th style="text-align: center; width: 7%;">Bal. Qty</th>
        <th style="text-align: center; width: 7%;">Unit</th>
        <th style="text-align: center; width: 10%;">Factory ETA</th>
        <th style="text-align: center; width: 7%;">
            <span>
                @Html.CheckBox("chk_All", new { @onchange = "CheckedAll(this);" }) Select All?
            </span>
        </th>
    </tr>
</thead>
<tbody id="tbody">
    @if (Model != null && Model.Count() > 0)
    {
        int rIndex = 0;
        foreach (var item in Model.OrderBy(c => c.ProductName.Length).ThenBy(c => c.ProductName))
        {
            <tr>
                <td style="text-align: center;">@((++rIndex).ToString("000"))</td>
                <td style="display: none;">@item.PRId</td>
                <td style="display: none;">@item.PRSubId</td>
                <td style="text-align: left;">@item.PRNo</td>
                <td style="text-align: center;">@item.PRDate.ToString("dd-MMM-yyyy")</td>
                <td style="text-align: left;">@item.ProductName</td>
                <td style="text-align: right;">@item.Quantity.Value.ToString("##,##0.00")</td>
                <td style="text-align: right;">@item.PendingQuantity.Value.ToString("##,##0.00")</td>
                <td style="text-align: left;">@item.QuantityUnit</td>
                <td id="td_feta_@item.PRSubId" style="text-align: right;">@item.FactoryETA.Value.ToString("dd-MMM-yyyy")</td>
                
                <td id="tdchk_@item.PRSubId" style="text-align: center;">
                    @Html.CheckBox("chk_" + item.PRSubId, new { @class = "chkStatus"@*, @onchange = "StatusChange(this);"*@ })
                </td>
            </tr>
        }
    }
</tbody>