﻿@model InventoryMS.Models.RemarksDetailView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Revision :: Remarks Update
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Revision </a></li>
        <li class="active">Status</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Remarks Update</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-sm-3">
                            @Html.Hidden("RemarksId")
                        </div>
                        <div class="col-sm-5"> 
                            <div class="form-group">
                                @Html.Label("", "Factory", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-5">
                                    @Html.DropDownList("FactoryId", (SelectList)ViewBag.Factory, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemList(this.value);" })

                                    @Html.ValidationMessageFor(model => model.TypeId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="itemlist" class="form-group">
                                @Html.LabelFor(model => model.PRId, "Requisition #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("ItemId", (SelectList)ViewBag.PRList, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemDetails(this.value);" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeId, "Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.TypeId, (SelectList)ViewBag.type, String.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.TypeId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div style="display: none;" class="form-group">
                                @Html.Label("", "Product", new { @class = "col-common col-sm-3 control-label" })
                                <div id="prod_list" class="col-sm-9">
                                    @Html.DropDownListFor(model => model.ProductId, (SelectList)ViewBag.Product, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.ProductId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div style="display: none;" class="form-group">
                                @Html.Label("", "Supplier", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, "ALL", new { @class = "form-control select", @style = "width: 100%;", @onchange = "ItemDetails(this.value);" })

                                    @Html.ValidationMessageFor(model => model.SupplierId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Remarks, "MultilineTextWOL")

                                    @Html.ValidationMessage("Remarks", null, new { @class = "control-label" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="msg" class="col-common col-sm-12 control-label" style="text-align: center;">abc</label>
                                @*<label class="col-common col-sm-12 control-label" style="text-align: center;"><span id="vtext">Purchase Order #</span> <span id="vno" style="color: red; font-weight:bolder;">0000</span></label>*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="fncReset();">OK</button>
                @*onclick="window.location.href = '@Url.Action("Pipeline", new { id = "create" })'"*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Supplier Quotation</h4>
            </div>
            <div id="padetails" class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="quoteSave" type="button" class="btn btn-success" onclick="saveQoute()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>

    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select:not(#FactoryId, #SupplierId)').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#FactoryId, #SupplierId').select2();

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch(
        {
            'size': 'mini',
            'onText': 'Yes',
            //'width': '180',
            'offText': 'No'

        });

        var table; //toTable();

        function toTable() {
            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false
                }
            );
        };

        $('#tblSum').DataTable({
            destroy: true,
            scrollCollapse: false,
            paging: false,
            filter: false,
            info: false,
            ordering: false
        });

        function StatusChange(t) {
            //$('#v' + t.id).html(t.checked == true ? 1 : 0);
            table.cell($('#v' + t.id)).data(t.checked == true ? 1 : 0).draw();
            //alert('A');
        };

        function CheckedAll(t) {
            $('.chkStatus').prop("checked", t.checked).trigger('change');
        };

        //$('#ItemId').on('change', function (e) {
        $(document).on('change', '#ItemId', function () {
            return;
            //$('#ProductId').html('');

            if ($.trim($('#ItemId').val()) == '') {
                //alert('Select type');
                return;
            }

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ProductDetails")',
                data: JSON.stringify({ id: $('#ItemId').val() }),
                success: function (data) {
                    console.log('data ->', data);
                    $('#prod_list').html(data);
                    $('#ProductId').select2();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        function ItemList(e) {
            $('#tblSub').html('');
            var facid = 0;

            //if ($.trim($('#TypeId').val()) == '') {
            //    //alert('Select type');
            //    return;
            //}
            if ($.trim($('#FactoryId').val()) == '') {
                //alert('Select type');
                //return;
            }
            else {
                facid = $('#FactoryId').val();
            }

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ItemList")',
                data: JSON.stringify({ id: -1, facid: facid }),
                success: function (data) {
                    $('#itemlist').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function ItemDetails(e) {
            $('#Remarks').val('');
            if ($.trim($('#TypeId').val()) == '') {
                //alert('Select type');
                return;
            }
            if ($.trim($('#ItemId').val()) == '') {
                //alert('Select requistion no');
                return;
            }

            prod_id = $('#ProductId').val();
            sup_id = $('#SupplierId').val();
            if (prod_id == '') prod_id = 0;
            if (sup_id == '') sup_id = 0;

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetRemarks")',
                data: JSON.stringify({ id: $('#ItemId').val(), type: $('#TypeId').val(), prod_id: prod_id, sup_id: sup_id }),
                success: function (data) {
                    console.log('data ->', data);
                    $('#RemarksId').val(data.id);
                    $('#Remarks').val(data.remarks);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                    alert(errorThrown);
                }
            });
        };


        function itemEntry(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PackingTemplate")',
                data: JSON.stringify({ slNo: 1 }),
                success: function (data) {
                    $('#tblPacking>tbody').append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function fncReset() {
            $('#Remarks').val('');

            $('#ItemId').val('').trigger('change');
            $('#TypeId').val('').trigger('change');
        }

        $('#btnSave').click(function () {
            if ($.trim($('#ItemId').val()) == '') {
                alert('Select requisition no.');
                return;
            }
            if ($.trim($('#TypeId').val()) == '') {
                alert('Select type');
                return;
            }
            //else if ($.trim($('#LotNo').val()) == '') {
            //    alert('Select lot no for pipeline');
            //    return;
            //}
            //else if ($.trim($('#ShipmentDate').val()) == '' && $.trim($('#BLDate').val()) == '' && $.trim($('#PortArivalDate').val()) == '' && $.trim($('#StoreArivalDate').val()) == '') {
            //    alert('No information for pipeline');
            //    return;
            //}
            //else if (eval($('#totalqty').html().replace(/\,/g, '')) <= 0) {
            //    alert('No item information.');
            //    return;
            //}

            //$('input, textarea').each(function () {
            //    if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
            //        $(this).val($(this).val().toString().toUpperCase());
            //    }
            //});

            //toTable();

            var cs = [];

            //table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            //    var tableData = this.data();

            //    if (tableData.length >= 5) {
            //        var arrayOfThisRow = {
            //            TranId: tableData[2], Status: tableData[3]
            //        };

            //        cs.push(arrayOfThisRow);
            //    }
            //});

            //table.destroy();
            //alert(JSON.stringify({ completeStatus: cs, type: $('#TypeId').val() }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RemarksUpdate")',
                data: JSON.stringify({ remarksdetail: { RemarksId: $('#RemarksId').val(), "Remarks": $('#Remarks').val().toUpperCase(), TypeId: $('#TypeId').val(), PRId: $('#ItemId').val(), SupplierId: $('#SupplierId').val(), ProductId: $('#ProductId').val() } }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        alert(msg.message);
                    }
                    else {
                        $('#msg').html("Remarks update for " + $('#ItemId').select2("data")[0].text + " is successful.");
                        //$('#vtext').html($('#lblcap').html());
                        //$('#vno').html(msg.plno);

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
</script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}



