@using InventoryMS.Utility
@model Boolean?
@{bool hasValue = true;}

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "col-sm-9 checkbox " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "col-sm-9 checkbox");
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    if (ViewBag.@Value != null)
    {
        hasValue = ViewBag.@Value;
    }
    htmlAttributes.Add("data-on-text", "YES");
    htmlAttributes.Add("data-off-text", "NO");
    //htmlAttributes.Add("data-handle-width", "auto");
}

<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 control-label" })
    <div class="col-sm-9">
            @Html.CheckBox(
            "",
            (Model.HasValue && Model.Value) || hasValue,
            htmlAttributes)
        @Html.ValidationMessageFor(m => m, null, new { @class = "control-label" })
    </div>
</div>

@*<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 control-label" }, false)
    <div class="col-sm-9 uniformjs lb-lt">
        <label class="col-sm-2 checkbox" style="padding-left: 12px;">
            @Html.CheckBox(
            "",
            Model.HasValue && Model.Value,
            htmlAttributes)
        </label>
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
    </div>
</div>*@