@using InventoryMS.Utility
@model DateTime?

@{
    DateTime dt;
    if (Model.HasValue)
    {
        dt = (DateTime)Model;
    }
    else
    {
        dt = DateTime.Now;
    }

    var htmlAttributes = new RouteValueDictionary();
    
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", ViewBag.@readonly);

        if (ViewBag.@class != null)
        {
            htmlAttributes.Add("class", "form-control date ccnormal " + ViewBag.@class);
        }
        else
        {
            htmlAttributes.Add("class", "form-control date ccnormal");
        }
    }
    else
    { 
        if (ViewBag.@class != null)
        {
            htmlAttributes.Add("class", "form-control date ccnormal " + ViewBag.@class);
        }
        else
        {
            htmlAttributes.Add("class", "form-control date ccnormal");
        }
    }
    //if (ViewBag.@type != null)
    //{
    //    htmlAttributes.Add("type", ViewBag.@type);
    //}
    if (ViewBag.@Value != null)
    {
        htmlAttributes.Add("Value", ViewBag.@Value);
    }
    else if (!Model.HasValue)
    {
        htmlAttributes.Add("Value", DateTime.Today.ToString("dd-MMM-yyyy"));
    }
    else
    {
        htmlAttributes.Add("Value", Model.Value.ToString("dd-MMM-yyyy"));
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    htmlAttributes.Add("data-inputmask", "'alias': 'dd/mm/yyyy'");
    htmlAttributes.Add("data-mask", null);
}

<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-5 control-label" })
    <div class="col-sm-7">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            @Html.TextBoxFor(m => m, htmlAttributes)
        </div>
        @Html.ValidationMessageFor(m => m, null, new { @class = "control-label" })
    </div>
</div>
