@using InventoryMS.Utility
@model DateTime?

@{
    DateTime dt;
    if (Model.HasValue)
    {
        dt = (DateTime)Model;
    }
    else
    {
        dt = DateTime.Now;
    }

    var htmlAttributes = new RouteValueDictionary();
    
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", ViewBag.@readonly);

        if (ViewBag.@class != null)
        {
            htmlAttributes.Add("class", "form-control date ccnormal " + ViewBag.@class);
        }
        else
        {
            htmlAttributes.Add("class", "form-control date ccnormal");
        }
    }
    else
    { 
        if (ViewBag.@class != null)
        {
            htmlAttributes.Add("class", "form-control date ccnormal " + ViewBag.@class);
        }
        else
        {
            htmlAttributes.Add("class", "form-control date ccnormal");
        }
    }
    //if (ViewBag.@type != null)
    //{
    //    htmlAttributes.Add("type", ViewBag.@type);
    //}
    if (ViewBag.@Value != null)
    {
        htmlAttributes.Add("Value", ViewBag.@Value);
    }
    else if (!Model.HasValue)
    {
        htmlAttributes.Add("Value", DateTime.Today.ToString("dd-MMM-yyyy"));
    }
    else if (Model.HasValue && Model.Value < DateTime.Parse("01-Jan-1900"))
    {
        htmlAttributes.Add("Value", "01-Jan-1900");
    }
    else
    {
        htmlAttributes.Add("Value", Model.Value.ToString("dd-MMM-yyyy"));
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    //htmlAttributes.Add("data-inputmask", "'alias': 'dd/mm/yyyy'");
    //htmlAttributes.Add("data-mask", null);
}

<div class="input-group" style="margin-right: -1px;">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
        @Html.TextBoxFor(m => m, htmlAttributes)
        @*<span></span> <b class="caret"></b>*@
</div>
