@using InventoryMS.Utility
@model decimal?

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }

    htmlAttributes.Add("onFocus", "this.select()");
}

<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBox(
        "",
        ViewData.TemplateInfo.FormattedModelValue,
        htmlAttributes)
        @Html.ValidationMessageFor(m => m, null, new { @class = "control-label" })
    </div>
</div>
