﻿@using InventoryMS.Utility
@model short?

@{
    int i;
    if (!Model.HasValue)
    {
        i = 0;
    }
    else
    {
        i = Model.Value;
    }

    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control only-number lb-rg " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control only-number lb-rg");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    //htmlAttributes.Add("type", "number");
    //htmlAttributes.Add("step", "1");
    //htmlAttributes.Add("min", "0");
    
    htmlAttributes.Add("onFocus", "this.select()");
}

<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 control-label" }, false)
    <div class="col-sm-9">
        @Html.TextBox(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)
        @Html.ValidationMessageFor(m => m, null, new { @class = "control-label" })
    </div>
</div>

