@using InventoryMS.Utility
@model object

@{
int rows = 4;
int cols = 8;

var htmlAttributes = new RouteValueDictionary();
if (ViewBag.colls != null)
{
    cols = ViewBag.colls;
}
if (ViewBag.rows != null)
{
    rows = ViewBag.rows;
}
if (ViewBag.ClearTextField == true)
{
    htmlAttributes.Add("class", "form-control input-block-level clear-text-field");
}
else
{
    htmlAttributes.Add("class", "form-control input-block-level");
}
if (ViewBag.@readonly != null)
{
    htmlAttributes.Add("readonly", "readonly");
}
if (ViewBag.@disabled != null)
{
    htmlAttributes.Add("disabled", "disabled");
}
}

<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 control-label" }, false)
    <div class="col-sm-9">
        @Html.TextAreaFor(
        m => m,
        rows, cols, htmlAttributes)
        @Html.ValidationMessageFor(m => m, null, new { @class = "control-label" })
    </div>
</div>
