@using InventoryMS.Utility
@model object

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "span12 " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "span12");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    htmlAttributes.Add("onFocus", "this.select()");
}

<div class="row-fluid@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "span3 lb-rg-md" })
    <div class="span9">
        @Html.Password(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block lb-lt" })
    </div>
</div>