@using InventoryMS.Utility
@model decimal?

@{
    var htmlAttributes = new RouteValueDictionary();
    htmlAttributes.Add("id", "appendedPrependedInput");
    
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "only-currency lb-rg span12 " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "only-currency lb-rg span12");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    htmlAttributes.Add("onFocus", "this.select()");
}

<div class="row-fluid@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "span3 lb-rg-md" })
    <div class="span9">
        <div class="input-append span11">
            @*class="input-append input-prepend span12">*@
            @Html.TextBox(
                "",
                Model == null ? "" : String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:F2}", ViewData.ModelMetadata.Model),
            htmlAttributes)
        </div>
        <div class="input-append input-prepend span1" style="margin-left: 0px;">
            <span class="add-on add-on-last span12" style="font-size: 14px; text-align: center; width: 124%;">%</span>
            @*<span class="add-on add-on-last">.00</span>*@
        </div>   
        @*@Html.TextBox(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)*@     
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block lb-lt" })
    </div>
</div>
