@using InventoryMS.Utility
@model decimal?

@{
    var htmlAttributes = new RouteValueDictionary();
    //htmlAttributes.Add("id", "appendedPrependedInput");
    
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "span12 only-number lb-rg " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "span12 only-number lb-rg");
    } 
    //if (ViewBag.@Value != null)
    //{
    //    htmlAttributes.Add("Value", ViewBag.@Value);
    //}
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    htmlAttributes.Add("onFocus", "this.select()");

    string strCaption = null;
    if (ViewBag.@labelcaption != null)
    {
        strCaption = ViewBag.@labelcaption;
    }
}

<div class="row-fluid@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, strCaption, new { @class = "span3 lb-rg-md" })
    <div class="span9">
        @*<div class="input-prepend">*@
            @*<span class="add-on" style="font-size: 14px; width: 6%; text-align: center;">$</span>*@
            @*@Html.TextBox("", "", new { @class = "span2 add-on", @style = "text-align: center; width: 17.0%;", @readonly = "readonly", 
                Value = (ViewBag.@Value != null ? ViewBag.@Value : "KG(S)"), @Name = (ViewBag.@Name != null ? ViewBag.@Name : ""), @Id = (ViewBag.@Id != null ? ViewBag.@Id : "")  })*@

            @Html.TextBox(
                "",
                Model == null ? "" : String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:F0}", ViewData.ModelMetadata.Model),
            htmlAttributes)
            @*<span class="add-on add-on-last">.00</span>*@
        @*</div>*@   
        @*@Html.TextBox(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)*@     
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block lb-lt" })
    </div>
</div>
