@using InventoryMS.Utility
@model object

<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBox(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            ViewBag.ClearTextField == true ? new { @class = "form-control clear-text-field input-block-level" } : new { @class = "form-control input-block-level" })
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
    </div>

</div>
