﻿@model InventoryMS.Models.BondView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Edit :: Bond
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Bond</a></li>
        <li class="active">Edit</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Bond List</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            <ul id="yw5" class="dropdown-menu">
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("Bond", "Create"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Create")">New Bond</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">Create Bond</a>
                                    }

                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.BondId })">View Bond</a>
                                </li>
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("Bond", "Delete"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Delete", new { id = Model.BondId })">Delete Bond</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">Delete Bond</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-sm-5">
                            @Html.HiddenFor(model => model.BondId)

                            @Html.EditorFor(model => model.LicenseNumber, "StringH")

                            @Html.EditorFor(model => model.LicenseDate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.CompanyId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LocationId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("LocationId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })

                                    @Html.ValidationMessageFor(model => model.LocationId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("L. Renew Date", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.LicenseRenewalDate, "DateTimeWOL")

                                    @Html.ValidationMessageFor(model => model.LocationId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("WH Capacity", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-5" style="padding-right: 2px;">
                                    @Html.EditorFor(model => model.Capacity, "DecimalWOL")
                                </div>
                                <div class="col-sm-4" style="padding-left: 0px;">
                                    @Html.DropDownList("CapacityUnitId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Activity)
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LicensePeriod, new { @class = "col-common col-sm-2 control-label", @style = "margin-left: 3px;" })
                                <div class="col-sm-3" style="padding-right: 0px; margin-right: -10px;">
                                    @Html.EditorFor(model => model.StartDate, "DateTimeWOL")
                                    @Html.Hidden("BondPeriodId", 0)
                                </div>
                                @Html.Label("-", new { @class = "col-sm-1 control-label", @style = "text-align: center;" })
                                <div class="col-sm-3" style="padding-left: 0px; margin-left: -9px;">
                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL")
                                </div>
                                <div class="col-sm-1" style="padding-right: 5px; text-align: right; margin-top: 3px;">
                                    @Html.CheckBox("Active", false )
                                </div>
                                @Html.LabelFor(model => model.Activity, new { @class = "col-common col-sm-1 control-label", @style = "text-align: left;" })
                                <div class="col-sm-1" style="padding: 0px; text-align: right;">
                                    <input id="btnAdd" type="button" style="padding: 1px 10px;" class="btn btn-success" value="Add" />
                                </div>
                            </div>

                            <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 10%;">
                                            SL #
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            Period Id
                                        </th>
                                        <th style="text-align: center; width: 25%;">
                                            Start Date
                                        </th>
                                        <th style="text-align: center; width: 25%;">
                                            End Date
                                        </th>
                                        <th style="text-align: center; width: 25%;">
                                            Status
                                        </th>
                                        <th style="text-align: center; width: 10%;"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @if (Model != null && Model.bondPeriodView != null && Model.bondPeriodView.Count > 0)
                                    {
                                        foreach (var bpv in Model.bondPeriodView)
                                        {
                                            <tr>
                                                <td style="text-align: center;">@((bpv.RankId.Value).ToString("000"))</td>
                                                <td style="display: none;">@bpv.BondPeriodId</td>
                                                <td style="text-align: center;">@bpv.StartDate.Value.ToString("dd-MMM-yyyy")</td>
                                                <td style="text-align: center;">@bpv.EndDate.Value.ToString("dd-MMM-yyyy")</td>
                                                <td style="text-align: center;">@Html.CheckBox("A", bpv.Activity, new { disabled = "disabled" })</td>
                                                <td style="text-align: center;">
                                                    <a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td colspan="6"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="BPR"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init], #Active, #A").bootstrapSwitch();


        $("#btnAdd").click(function () {
            if ($.trim($('#StartDate').val()) == '') {
                alert('Enter start date.');
                return;
            }
            if ($.trim($('#EndDate').val()) == '') {
                alert('Enter end date.');
                return;
            }

            var isEdit = false;
            if ($('#btnAdd').hasClass('change')) {
                isEdit = true;
            }
            else {
                rn = $('#tblSub>tbody>tr').length;
            }

            $('#divSC input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var row = "<tr><td style='text-align: center;'>" + ("000" + rn).substring(1, 4) + "</td>" +
                "<td style='display: none;'>" + $('#BondPeriodId').val() + "</td>" +
                "<td style='text-align: center;'>" + $('#StartDate').val() + "</td>" +
                "<td style='text-align: center;'>" + $('#EndDate').val() + "</td>" +
                '<td style="text-align: center;">' + ($("#Active").is(":checked") ? '@Html.CheckBox("A", true)' : '@Html.CheckBox("A", false)') + '</td>' +
                '<td style="text-align: center;">' +
                    '<a id="btnEdit" class="edit" title="" data-toggle="tooltip" data-original-title="Update" onclick="editrow(this);"><i class="glyphicon glyphicon-pencil"></i></a>' +
                    '<a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>' +
                '</td>' +
                "</tr>";

            if (isEdit) {
                $('#tblSub tr:eq(' + rn + ')').after(row);
                $('#tblSub tr:eq(' + rn + ')').remove();
            }
            else {
                $('#tblSub tr:last').before(row);
            }

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        });

        var rn;
        function editrow(e) {
            rn = $(e).closest('tr').index() + 1;

            //alert(rn);

            $('#BondPeriodId').val($('#tblSub tr:eq(' + rn + ') td:eq(1)').html());
            $('#StartDate').val($('#tblSub tr:eq(' + rn + ') td:eq(2)').html());
            $('#EndDate').val($('#tblSub tr:eq(' + rn + ') td:eq(3)').html());
            $('#Active').prop('checked', $('#tblSub tr:eq(' + rn + ') td:eq(4)').find('#A').is(":checked"));

            $('#btnAdd').addClass('change');
            $('#btnAdd').val('Rep');
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;

            $('#tblSub tr:eq(' + rn + ')').remove();

            rn = 1;

            $('table#tblSub tr:not(:last-child) td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#btnAdd').val('Add');
            $('#btnAdd').removeClass('change');
        };

        $('#btnSave').click(function () {
            //alert($('#tblSub>tbody>tr').length);
            //return;
            if ($.trim($('#LicenseNumber').val()) == '') {
                alert('Enter bond lincese no');
                return;
            }
            if ($.trim($('#LicenseDate').val()) == '') {
                alert('Enter license date');
                return;
            }
            if ($.trim($('#Capacity').val()) == '' || eval($('#Capacity').val()) == 0) {
                alert('Enter capacity.');
                return;
            }
            if ($('#CompanyId').val() == 0) {
                alert('Select company.');
                return;
            }
            if ($('#LocationId').val() == 0) {
                alert('Select location.');
                return;
            }
            if ($.trim($('#LicenseRenewalDate').val()) == '') {
                alert('Enter renew date');
                return;
            }
            if ($('#tblSub>tbody>tr').length < 2) {
                alert('No period information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var bondPeriodView = []; rn = 0;

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var ri = 0;
                var tableData = $(this).find('td').map(function () {
                    ri++;
                    if (ri == 5) {
                        return $(this).find('#A').is(":checked");
                    }
                    else {
                        return $(this).html();
                    }
                }).get();

                if (tableData.length >= 5) {
                    var arrayOfThisRow = {
                        BondPeriodId: tableData[1], StartDate: tableData[2], EndDate: tableData[3],
                        Activity: tableData[4], RankId: tableData[0], BondId: $('#BondId').val()
                    };
                    //alert(arrayOfThisRow);
                    bondPeriodView.push(arrayOfThisRow);
                }
            }).get();

            //alert(JSON.stringify({ bondPeriodView: bondPeriodView }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PeriodDetails")',
                data: JSON.stringify({ bondPeriodView: bondPeriodView }),
                success: function (msg) {
                    $('#BPR').html(msg);

                    $('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {

}

