﻿@model InventoryMS.Models.POView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
		New :: Purchase Order
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Purchase Order</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Purchase Order List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.PODate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.BondId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getPRList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.BondId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="PRS">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PRList, new { @class = "col-common col-sm-3 control-label" })
                                    <div id="divPR" class="col-sm-9">
                                        @Html.DropDownList("PRList", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;", @onchange = "getRequisitionDetails(this.value)" })

                                        @Html.ValidationMessageFor(model => model.PRList, null, new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top: -7px;">
                                @Html.LabelFor(model => model.PONo, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.LabelFor(model => model.PONo, "PO/00/0000-00/00", new { @Id = "PONo", @class = "col-common col-sm-12 control-label", style = "color: red; text-align: left;" })
                                </div>
                            </div>

                            @Html.EditorFor(model => model.Remarks, new { rows = 3 })
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Requisition Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @*@Html.Action("RequisitionTemplate")*@
                                    </div>

                                    <table id="tblSub" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="width: 2300px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL #
                                                </th>
                                                <th>
                                                    Req No
                                                </th>
                                                <th>
                                                    Req Date
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Cur. Stock
                                                </th>
                                                <th>
                                                    Pipeline
                                                </th>
                                                <th>
                                                    Pend Req
                                                </th>
                                                <th>
                                                    Total Stock
                                                </th>
                                                <th>
                                                    Avg Consm/Day
                                                </th>
                                                <th>
                                                    Days With T S
                                                </th>
                                                <th>
                                                    Hist. Period
                                                </th>
                                                <th>
                                                    Hist. Consm
                                                </th>
                                                <th>
                                                    L3M Avg Csm LY
                                                </th>
                                                <th>
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="display: none;">
                                                    Supplier Id
                                                </th>
                                                <th>
                                                    Supplier
                                                </th>
                                                <th style="display: none;">
                                                    Brand Id
                                                </th>
                                                <th>
                                                    Brand
                                                </th>
                                                <th>
                                                    L T E O
                                                </th>
                                                <th>
                                                    Lead Time
                                                </th>
                                                <th>
                                                    Ft. ETA
                                                </th>
                                                <th style="text-align: center;">
                                                    Req Bal Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="display: none;">
                                                    PR ID
                                                </th>
                                                <th style="display: none;">
                                                    PR Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    PO Sub ID
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    PO Qty
                                                </th>
                                                <th style="text-align: center;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @Html.Action("RowTemplate", new { reqList = Model.PRList })
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="POSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="alert" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Requsition Entry Confirmation</h4>
            </div>
            <div id="itemdetails" class="modal-body">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("abc", new { @Id = "msg", @class = "col-common col-sm-12 control-label", @style = "text-align: center;" })
                                @Html.Label("Purchase Order # ", new { @class = "col-common col-sm-6 control-label" })
                                @Html.Label("00000", new { @Id = "pono", @class = "col-common col-sm-4 control-label", @style = "text-align: left;" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btnsm btn-default pull-left" data-dismiss="modal">Close</button>*@
                <button id="quoteSave" type="button" class="btn btn-success" onclick="window.location.href = '@Url.Action("Create")'">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script src="~/common/theme/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        var table; toTable();

        function toTable() {
            table = $('#tblSub').DataTable(
                {
                    destroy: true,
                    scrollX: "2300px",
                    //scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    filter: false,
                    info: false,
                    ordering: false,
                    columnDefs: [
                        { className: "dt-center", targets: "_all" },
                        { width: 50, targets: 0 },
                        { width: 150, targets: 1 },
                        { width: 90, targets: 2 },
                        { width: 180, targets: 3 },
                        { width: 100, targets: 4 },
                        { width: 100, targets: 5 },
                        { width: 100, targets: 6 },
                        { width: 100, targets: 7 },
                        { width: 100, targets: 8 },
                        { width: 100, targets: 9 },
                        { width: 200, targets: 10 },
                        { width: 100, targets: 11 },
                        { width: 110, targets: 12 },
                        { width: 110, targets: 13 },
                        //{ width: 100, targets: 14 },
                        { width: 140, targets: 15 },
                        //{ width: 100, targets: 16 },
                        { width: 120, targets: 17 },
                        { width: 70, targets: 18 },
                        { width: 70, targets: 19 },
                        { width: 90, targets: 20 },
                        { width: 80, targets: 21 },
                        { width: 70, targets: 22 },
                        { width: 80, targets: 29 },
                        { width: 40, targets: 30 }
                    ]//,
                    //fixedColumns: true
                }
            );
            new $.fn.dataTable.FixedColumns(table, {
                leftColumns: 0,
                rightColumns: 10
            });
        }

        //$("td:nth-child(29)").dblclick(function () {
        //    var OriginalContent = $(this).text();
        //    $(this).addClass("cellEditing");
        //    $(this).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        //    $(this).children().first().focus();

        //    $(this).children().first().keypress(function (e) {
        //        if (e.which == 13) {
        //            var newContent = $(this).val();
        //            $(this).parent().text(newContent);
        //            $(this).parent().removeClass("cellEditing");
        //        }
        //        else {
        //            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        //        }
        //    });

        //    $(this).children().first().blur(function () {
        //        $(this).parent().text(OriginalContent);
        //        $(this).parent().removeClass("cellEditing");
        //    });
        //});
        function setQty(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 50%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    //error = true;
                    //alert(eval($(t).parent().children(0).html()) + ' ' + eval($(this).val()))
                    if (eval($(t).parent().children(0).html()) >= eval($(this).val())) {
                        var newContent = $(this).val();
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");

                        table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                    }
                    else {
                        error = true;
                        alert('Invalid quantity.');
                        e.preventDefault();
                    }
                }
                else {
                    return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function getPRList(e) {
            //alert(e);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PRList")",
                data: JSON.stringify({ id: $('#BondId').val(), podate: $('#PODate').val() }),
                success: function (data) {
                    $('#divPR').html(data);

                    $('#divPR select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    $('#PONo').html($('#pno').val());
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getRequisitionDetails(e) {
            //alert(e);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify({ reqList: $('#PRList').val() }),
                success: function (data) {

                    table.destroy();
                    //alert(data);
                    $('#tbody').html(data);

                    toTable();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            rn = $(e).closest('tr').index() + 1;
            table.destroy();

            $('#tblSub>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#tblSub>tbody>tr td:first-child').each(function () {
                $(this).html((rn + 1000).toString().slice(-3));
                //alert((rn + 1000).toString().slice(-3));
                rn++;
            });

            toTable();
        };

        $('#btnSave').click(function () {
            //alert(table.rows().data().length);
            if ($('#BondId').val() == '' || $('#BondId').val() == '0') {
                alert('Select bond.');
                return;
            }
            else if (table.rows().data().length <= 0) {
                alert('No details information.');
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var poSub = [], prList = [], rn = 0, PO = { PODate: $('#PODate').val(), BondId: $('#BondId').val(), Remarks: $('#Remarks').val() };

            $.each($('#PRList').val(), function (i, e) {
                prList.push({ PRId: e });
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();
                //alert(JSON.stringify(tableData));
                if (tableData.length >= 29) {
                    var arrayOfThisRow = {
                        //PreferredSupplierId: tableData[11], BrandId: tableData[13],
                        //CurrentStock: tableData[4], StockInTransit: tableData[5], Last3MonthAvgConsumtion: tableData[6],
                        //Next3MonthAvgConsumtionLastYear: tableData[7], Next3MonthAvgConsumtionCurrentYear: tableData[8],
                        //AvgLeadTimeEarlierOrders: tableData[9], FactoryETA: tableData[10], Quantity: tableData[15], QuantityUnit: tableData[17], 
                        //ProductName: tableData[3], SupplierName: tableData[12], BrandName: tableData[14],
                        CategoryId: tableData[27], ProductId: tableData[28], PRId: tableData[24], PRSubId: tableData[25],
                        Quantity: tableData[29], QuantityUnitId: tableData[23], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    poSub.push(arrayOfThisRow);
                }
            });

            //alert(JSON.stringify({ poSub: prList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ poView: PO, poRequisitionView: prList, poSub: poSub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Expired') {
                        alert('Bond period has been expired.');
                    }
                    else {
                        $('#msg').html(msg.status);
                        $('#pono').html(msg.pono);
                        //$('form#frm').submit();
                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
    <link rel="stylesheet" href="~/common/theme/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
}

