﻿@model InventoryMS.Models.POView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        Edit :: Purchase Order
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Maintanence</a></li>
        <li><a href="#"> Purchase Order</a></li>
        <li class="active">Edit</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">PO Infomation # @Model.PONo</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Purchase Orders</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                            <ul id="yw5" class="dropdown-menu">
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("PurchaseOrder", "Create"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Create")">New Purchase Order</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">New Purchase Order</a>
                                    }
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = Model.POId })">View Purchase Order</a>
                                </li>
                                <li>
                                    @if (InventoryMS.Models.clsMain.IsPermitted("PurchaseOrder", "Delete"))
                                    {
                                        <a tabindex="-1" href="@Url.Action("Delete", new { id = Model.POId })">Delete Purchase Order</a>
                                    }
                                    else
                                    {
                                        <a tabindex="-1" onclick="alert('You are not authorized');">Delete Purchase Order</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.POId)

                            @Html.EditorFor(model => model.PODate)

                            <div class="form-group">
                                @Html.LabelFor(model => model.BondId, new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BondId", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;", @onchange = "getPRList(this.value)" })

                                    @Html.ValidationMessageFor(model => model.BondId, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div id="PRS">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PRList, new { @class = "col-common col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownList("PRList", null, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;", @onchange = "getRequisitionDetails(this.value)" })

                                        @Html.ValidationMessageFor(model => model.PRList, null, new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Remarks)
                        </div>
                        <div class="col-md-12">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Requisition Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div id="divSC">
                                        @*@Html.Action("RequisitionTemplate")*@
                                    </div>

                                    <table id="tblSub" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 5%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Category Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center; width: 20%;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Cur. Stock
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Pipeline
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm LY
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    L3M Avg Csm CY
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Avg LTEO
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Ft. ETA
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Supplier Id
                                                </th>
                                                <th style="text-align: center; width: 14%;">
                                                    Supplier
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Brand Id
                                                </th>
                                                <th style="text-align: center; width: 12%;">
                                                    Brand
                                                </th>
                                                <th colspan="2" style="text-align: center; width: 17%;">
                                                    PO Quantity
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Quantity Unit
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    PR Sub ID
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    PR ID
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    PO Sub ID
                                                </th>
                                                @*<th style="text-align: center; width: 20px;"></th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @Html.Action("RowTemplate", new { reqList = Model.PRList })
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="POSub"></div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function getRequisitionDetails(e) {
            //alert(e);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("RowTemplate")",
                data: JSON.stringify({ reqList: $('#PRList').val() }),
                success: function (data) {
                    //alert(data);
                    $('#tbody').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var poSub = [], rn = 0;

            var tbl = $('table#tblSub').find('tbody tr').map(function () {
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length == 21) {
                    var arrayOfThisRow = {
                        ProductId: tableData[2], PreferredSupplierId: tableData[11], BrandId: tableData[13],
                        CurrentStock: tableData[4], StockInTransit: tableData[5], Last3MonthAvgConsumtion: tableData[6],
                        Next3MonthAvgConsumtionLastYear: tableData[7], Next3MonthAvgConsumtionCurrentYear: tableData[8],
                        AvgLeadTimeEarlierOrders: tableData[9], FactoryETA: tableData[10], Quantity: tableData[15],
                        QuantityUnitId: tableData[17], PRId: tableData[18], PRSubId: tableData[19], POSubId: tableData[20],
                        POId: $('#POId').val(), ProductName: tableData[3], CategoryId: tableData[1], SupplierName: tableData[12],
                        BrandName: tableData[14], QuantityUnit: tableData[16], RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    poSub.push(arrayOfThisRow);
                }
            }).get();

            alert(JSON.stringify({ poSub: poSub }));

            return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PODetails")',
                data: JSON.stringify({ reqList: $('#PRList').val(), poSub: poSub }),
                success: function (msg) {
                    $('#POSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    //alert(msg);
                    $('form#frm').submit();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
}

@section CSS {

}
