﻿@model IEnumerable<InventoryMS.Models.RequisitionView>

@{int rIndex = 0;}
@foreach (var item in Model)
{ 
    rIndex++;
    <tr>        
        @{decimal? total = item.PendingRequisitionQuanity + item.StockInTransit + item.CurrentStock; }
        <td style="text-align: center;">@rIndex.ToString("000")</td>
        <td style="text-align: left;">@item.PRNo</td>
        <td style="text-align: center;">@item.PRDate.ToString("dd-MMM-yyyy")</td>
        <td style="text-align: left;">@item.ProductName</td>
        <td style="text-align: right;">@item.CurrentStock</td>
        <td style="text-align: right;">@item.StockInTransit</td>
        <td style="text-align: right;">@item.PendingRequisitionQuanity</td>
        <td style="text-align: right;">@total</td>
        <td style="text-align: right;">@item.AverageConsumptionPerDay</td>
        <td style="text-align: right;">@item.DaysWithTotalStock</td>
        <td style="text-align: center;">@item.HistoricalPeriod</td>
        <td style="text-align: right;">@item.HistoricalConsumption</td>
        <td style="text-align: right;">@item.Next3MonthAvgConsumptionLastYear</td>
        <td style="text-align: right;">@item.Next3MonthAvgConsumptionCurrentYear</td>
        <td style="display: none;">@item.PreferredSupplierId</td>
        <td style="text-align: left;">@item.SupplierName</td>
        <td style="display: none;">@item.BrandId</td>
        <td style="text-align: left;">@item.BrandName</td>
        <td style="text-align: right;">@item.AvgLeadTimeEarlierOrders</td>
        <td style="text-align: right;">@item.LeadTime</td>
        <td style="text-align: center;">@(item.FactoryETA.HasValue ? item.FactoryETA.Value.ToString("dd-MMM-yyyy") : "")</td>
        <td style="text-align: right;">@item.PendingQuantity</td>
        <td style="text-align: left;">@item.QuantityUnit</td>
        <td style="display: none;">@item.QuantityUnitId</td>
        <td style="display: none;">@item.PRId</td>
        <td style="display: none;">@item.PRSubId</td>
        <td style="display: none;">@item.POSubId</td>
        <td style="display: none;">@item.CategoryId</td>
        <td style="display: none;">@item.ProductId</td>
        <td id='poqty_@rIndex' style="text-align: right;" ondblclick="setQty(this)">@item.PendingQuantity</td>
        <td style="text-align: center;">
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}
