﻿@model InventoryMS.Models.SRRMainView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Requisiton For Production (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> SRR</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">SRR List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.SRRId)
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRNo, "Req. #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.SRRNo, "StringWOL", new { @readonly = "readonly", @Value = @ViewBag.SRRNo })

                                    @Html.ValidationMessageFor(model => model.SRRNo, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.SRRDate, "Req Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.SRRDate, "DateTimeWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.SRRDate, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Material Type", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.MaterialTypeId, (SelectList)ViewBag.MaterialType, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.Factory, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "getBookingList(this.value)" })
                                </div>
                                @*@Html.LabelFor(model => model.SRRNo, "Plan Date", new { @class = "col-common col-sm-2 control-label" })
                                <div class="col-sm-2 offset-left-1" style="width: 21% !important;">
                                    @Html.Editor("PlanDate", "DateTimeWOL", new { @onchange = "getBookingList(this.value)" })
                                </div>
                                <div class="col-sm-1" style="width: 3% !important;padding-left: 0px !important; padding-right: 0px !important;">
                                    <a class="refresh" title="" data-toggle="tooltip" data-original-title="Reset" onclick="DateWiseBookingDetails(this.value);"><i class="glyphicon glyphicon-refresh" style="height: 25px; display:table-cell; vertical-align: middle; cursor: pointer;"></i></a>
                                </div>*@
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "SRR For", new { @class = "col-common col-sm-3 control-label" })
                                <div id="itype" class="col-sm-9">
                                    @Html.DropDownList("SRRType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ITypeChange(this.value)" })
                                </div>
                                <div id="bom" style="display: none;">
                                    @Html.LabelFor(model => model.SRRId, "BOM No", new { @class = "col-common col-sm-2 control-label" })
                                    <div class="col-sm-3">
                                        @Html.DropDownList("BOMNo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "SRR To", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("Store", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>*@
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { rows = 3 })
                        </div>

                        @*<a id="plan_info">Plan Details</a>*@

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <div class="form-group row" @*style="margin-top: -23px; margin-bottom: 0rem !important;"*@>
                                            <div class="col-sm-5">
                                                <span class="username username_lte">
                                                    <a href="#">Raw Material Details</a>
                                                    @*<a id="plan_info" class="pull-right" style="text-decoration: underline; padding-right: 10px; cursor: pointer; color: red;">Plan Details</a>*@
                                                </span>
                                            </div>
                                            <div class="col-sm-7 pull-right text-right">
                                                @*<button type="button" id="btnRefresh" class="btn btn-block btn-success btn-lg" style="padding: 0px; width: 100%; background-color: #64a71a; border-color: #5d9c18;" onclick="refresh()"><i class="fa fa-fw fa-refresh"></i> Refresh</button>*@
                                                @*<a id="plan_info">Plan Details</a>*@
                                                <span style="color: maroon; padding-right: 10px; font-weight: bold;">*** Stock Quantity = Actual Store Available Qantity - Pending Requisition Quantity</span>
                                            </div>
                                        </div>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    @*<table id="reqdetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="margin-bottom: 20px !important;">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Paper Combination
                                                </th>
                                                <th style="text-align: center;">
                                                    Measurement
                                                </th>
                                                <th style="text-align: center;">
                                                    Product
                                                </th>
                                                <th style="text-align: center;">
                                                    Quantity
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center; display: none;">

                                                </th>
                                                <th style="text-align: center; display: none;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            <tr>
                                                <td colspan="9"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        
                                    <span class="username username_lte"><a href="#">Raw Material Details</a></span>*@
                                    <table id="proddetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    Org Cat Id
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Org Prod Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Category
                                                </th>
                                                <th style="text-align: center;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Brand
                                                </th>
                                                <th style="text-align: center;">
                                                    Stock
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Stock 2
                                                </th>
                                                <th style="text-align: center;">
                                                    Required Qty
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Floor Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Required Date
                                                </th>
                                                <th id="SRRqty" style="text-align: center; display: none;">
                                                    Net Req<br />Quantity
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Quantity
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center;">
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblpbody">
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 1px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 65.5%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; width: 13%; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;"></td>
                                            </tr>
                                            @*<tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a id="btnBlank" class="new" title="Add New Row" style="text-decoration: underline; cursor: pointer;" data-toggle=" tooltip" data-original-title="Add" onclick="AddBlankRow();"><i class="glyphicon glyphicon-plus"></i> Add another row</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="modal_srr" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 98%; margin: 40px auto !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Plan Details</h4>
            </div>
            <div id="plan_details" class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Plan Details</a></span>
                                        <div class="form-group row" style="margin-top: -23px; margin-bottom: 0rem !important;">
                                            @Html.LabelFor(model => model.DepartmentId, "Booking No", new { @class = "col-common col-sm-4 control-label" })
                                            <div id="bklist" class="col-sm-8">
                                                @Html.DropDownList("BookingId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 60%;", @onchange = "BookingDetails(this.value)" })
                                            </div>
                                        </div>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="bookingdetails" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsiveassd" style="table-layout: fixed; display: block; max-height: 210px; overflow-y: scroll;">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 3%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    SRR Plan Id
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Plan Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Booking Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Booking Sub Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    Plan Date
                                                </th>
                                                <th style="text-align: center; width: 17%;">
                                                    Customer
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Sales Rep
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Booking No
                                                </th>
                                                <th style="text-align: center; width: 10%;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; width: 17%;">
                                                    Measurement
                                                </th>
                                                <th style="text-align: center; width: 17%;">
                                                    Paper Combination
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    Bal P Qty
                                                </th>
                                                <th style="text-align: center; width: 7%;">
                                                    Req. Qty
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Bal Qty
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    <a id="btn_add_all" style="text-decoration: underline; cursor: pointer; color: white;" onclick="addtoplan_list(0);">Add All</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@Html.Action("RowTemplate", new { id = 0 })*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Raw Requistion Details</a></span>
                                        <div class="form-group row" @*style="margin-top: -23px; margin-bottom: 0rem !important;"*@>
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-8">
                                                @*<button type="button" id="btn_add_all" class="btn btn-block btn-success btn-lg" style="padding: 0px; width: 100%; background-color: #64a71a; border-color: #5d9c18;" onclick="addtoplan_list(0)"><i class="fa fa-fw fa-level-down"></i> Add All</button>*@
                                            </div>
                                        </div>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="plandetails" class="tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive" style="table-layout: fixed; display: block; max-height: 400px; min-height: 350px; overflow-y: scroll;">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 3%;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    SRR Plan Id
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Plan Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Booking Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Booking Sub Id
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    Plan Date
                                                </th>
                                                <th style="text-align: center; width: 17%;">
                                                    Customer
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Sales Rep
                                                </th>
                                                <th style="text-align: center; width: 8%;">
                                                    Booking No
                                                </th>
                                                <th style="text-align: center; width: 10%;">
                                                    Product
                                                </th>
                                                <th style="text-align: center; width: 17%;">
                                                    Measurement
                                                </th>
                                                <th style="text-align: center; width: 17%;">
                                                    Paper Combination
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    Bal P Qty
                                                </th>
                                                <th style="text-align: center; width: 7%;">
                                                    Req. Qty
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center; width: 8%; display: none;">
                                                    Bal Qty
                                                </th>
                                                <th style="text-align: center; width: 6%;">
                                                    <a id="btn_delete_all" style="text-decoration: underline; cursor: pointer; color: white;" onclick="removefromplan_list(0);">Del All</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@Html.Action("RowTemplate", new { id = 0 })*@
                                        </tbody>
                                    </table>
                                    <table id="tblSum" class="table table-condensed table-primary table-vertical-center table-responsive" style="width:100%; margin-top: 1px !important;">
                                        <thead>
                                            <tr>
                                                <th style="height: 5px;">

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right; width: 44.5%; border-top:none !important;">
                                                    Total Qty :
                                                </td>
                                                <td style="text-align: right; width: 13.5%; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <td style="text-align: right; width: 75%; border-top:none !important;">
                                                    Total Value :
                                                </td>
                                                <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                    <span id="totalval" style="border-bottom: double; text-align: right;">0.000</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btnclose" data-dismiss="modal">Close</button>
                <button id="btnRefresh" type="button" class="btn btn-success" onclick="refresh();">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        var plan_details = '';
        $('#plan_info').click(function () {
            if ($('#MaterialTypeId').val() == '') {
                alert('Select material type.')
                $('#MaterialTypeId').val().focus();
                return;
            }

            if ($('#FactoryId').val() == '') {
                alert('Select unit.')
                $('#FactoryId').val().focus();
                return;
            }
            plan_details = $('#plandetails>tbody').html();
            $('#BookingId').val('').trigger('change');

            $('#modal_srr').modal('show');
        });

        $('.btnclose').click(function () {
            $('#plandetails>tbody').html(plan_details);
            plan_details = '';
        });

        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#SRRDate').datepicker({
            format: 'dd-M-yyyy',
            startDate: '-@(Model.SRRDate.Value.Day <= (Session["UserName"].ToString() == "XDP4610-18" || Session["UserName"].ToString() == "XDP05711-22" ? 31 : 6) ? (((Model.SRRDate.Value.Month == 1 ? 365 : 0) + Model.SRRDate.Value.DayOfYear) - DateTime.Parse(Model.SRRDate.Value.Date.AddMonths(-1).ToString("01-MMM-yyyy")).DayOfYear) : (Model.SRRDate.Value.Day - 1))d',
            //minDate: new Date('@DateTime.Today.AddDays(30).ToString("01-MMM-yyyy")'),
            autoclose: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function ITypeChange(e) {
            if (e == 59) {
                $('#itype').addClass('col-sm-4');
                $('#itype').removeClass('col-sm-9');
                $('#bom').show();
            }
            else {
                $('#itype').addClass('col-sm-9');
                $('#itype').removeClass('col-sm-4');
                $('#bom').hide();
            }
        }

        function getLC(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("LCList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#lclist').html(data);
                    $('#lclist .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getBookingList(id) {
            $('#proddetails>tbody').html('');
            $('#totalqty').html('');
            var Prefix = '###';

            if ($('#MaterialTypeId').val() != null)
            {
                if ($('#MaterialTypeId').val() == 89) {
                    Prefix = 'SPR'
                }
                else
                {
                    Prefix = 'RMR'
                }
            }
            
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("FactoryDetails")",
                data: JSON.stringify({ id: $('#FactoryId').val(), srrdate: $('#SRRDate').val(), type: Prefix }),
                success: function (data) {
                    $('#SRRNo').val(data.srrno);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
            return;
            $('#bookingdetails>tbody').html('');
            //$('#progdetails>tbody').html('');
            //alert(date);
            //return;
            //alert(JSON.stringify({ date: $('#DProgramDate').val(), custid: $('#CustomerId').val(), scid: $('#SCId').val() }));
            if (id == '' || id == '0')
                return;
            console.log(id);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BookingList")',
                data: JSON.stringify({ id: $("#FactoryId").val(), plan_date: $("#PlanDate").val() }),
                success: function (msg) {
                    $('#bklist').html(msg);

                    $('#bklist select').select2({
                        placeholder: "Select . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

    function BookingDetails(id) {
        if (id == '' || id == '0')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BookingDetails")',
                data: JSON.stringify({ id: id, plan_date: $("#PlanDate").val() }),
                success: function (msg) {
                    $('#bookingdetails>tbody').html(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        function DateWiseBookingDetails(date) {
            if ($("#PlanDate").val() == '')
                return;
            console.log($("#PlanDate").val());
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BookingDetails")',
                data: JSON.stringify({ id: 0, plan_date: $("#PlanDate").val() }),
                success: function (msg) {
                    $('#plandetails>tbody').html(msg);

                    $("table#plandetails > tbody > tr").each(function (__row, tr) {
                        $(this).children('td:last').find('a').attr('data-original-title', 'Delete')
                        $(this).children('td:last').find('a').attr('onclick', 'removefromplan(this);')
                        $(this).children('td:last').find('i').removeClass('glyphicon-arrow-down').addClass('glyphicon-trash');
                    });

                    refresh();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
        };

        var row; var rn = 1; var totqty = new Number(0), isduplicate = false;
        function addtoplan_list(e) {
            var plandet = []
            isduplicate = false;
            rn = $('#plandetails>tbody>tr').length + 1;
            $("table#bookingdetails > tbody > tr").each(function (_row, tr) {
                row = $(this);

                if (eval($.trim($(this).children('td:eq(14)').html().replace(/\,/g, ''))) == 0) {
                    alert("Quantity can't be zero.");
                    return;
                }

                $("table#plandetails > tbody > tr").each(function (__row, tr) {
                    if ($.trim($('td:eq(2)', this).html()) == $.trim($(row).children('td:eq(2)').html())) {
                        isduplicate = true;
                        return;
                    }
                });

                if (isduplicate == true) {
                    alert("At least one item is enlisted for Requisition.");
                    return;
                }

                $(row).children('td:last').find('a').attr('data-original-title', 'Delete')
                $(row).children('td:last').find('a').attr('onclick', 'removefromplan(this);')
                $(row).children('td:last').find('i').removeClass('glyphicon-arrow-down').addClass('glyphicon-trash');
                $('#plandetails>tbody').append(row);
            });
            rn = 1;

            $('table#plandetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });
        };

        function addtoplan(e) {
            rn = $(e).closest('tr').index() + 1;
            row = $('#bookingdetails>tbody>tr:eq(' + (rn - 1) + ')');
            rn = $('#plandetails>tbody>tr').length + 1;

            if (eval($.trim($(row).children('td:eq(14)').html().replace(/\,/g, ''))) == 0) {
                alert("Quantity can't be zero.");
                return;
            }
            isduplicate = false;
            $("table#plandetails > tbody > tr").each(function (_row, tr) {
                if ($.trim($('td:eq(2)', this).html()) == $.trim($(row).children('td:eq(2)').html())) {
                    isduplicate = true;
                    return;
                }
            });

            if (isduplicate == true) {
                alert("Already enlisted for requisition.");
                return;
            }

            $(row).children('td:eq(0)').html((rn + 1000).toString().slice(-3))
            $(row).children('td:last').find('a').attr('data-original-title', 'Delete')
            $(row).children('td:last').find('a').attr('onclick', 'removefromplan(this);')
            $(row).children('td:last').find('i').removeClass('glyphicon-arrow-down').addClass('glyphicon-trash');
            $('#plandetails>tbody').append(row);
        };

        function removefromplan(e) {
            console.log('success');
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#plandetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#plandetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });
        };

        function removefromplan_list(e) {
            console.log('success');
            $('#plandetails>tbody').html('');
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#proddetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#proddetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });

            set_total_qunatity();
        };

        function refresh() {
            //if (id == '' || id == '0')
            //    return;
            plan_details = '';

            if ($('#plandetails>tbody>tr').length < 1) {
                alert('No plan details information.\nAre you sure to accept changes.');

                $('#reqdetails>tbody').html('');

                $('#proddetails>tbody').html('');

                $('#totalqty').html('');

                $('#modal_srr').modal('hide');

                return;
            }

            let invalid = false;
            tbl = $('table#plandetails').find('tbody tr').map(function () {
                rn = 0;
                let tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (eval(tableData[14].replace(/\,/g, '')) == 0) {
                    invalid = true;
                }
            }).get();

            if (invalid == true) {
                alert('Some plan has no quantity specified.');
                return;
            }

            let plandet = [];
            $("table#plandetails > tbody > tr").each(function (_row, tr) {
                plandet.push({ PlanId: $.trim($('td:eq(2)', this).html()), Quantity: $.trim($('td:eq(14)', this).html()).replace(/\,/g, '') });
            });
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("PlanForRequistion")',
                data: JSON.stringify({ planlist: plandet }),
                success: function (msg) {
                    if ($('#MaterialTypeId').val() == 86) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("RequistionProduct")',
                            data: JSON.stringify({ planlist: plandet, rowno: 1 }),
                            success: function (msg1) {
                                $('#reqdetails>tbody').html(msg);

                                $('#proddetails>tbody').html(msg1);

                                $('#proddetails>tbody .select').select2({
                                    placeholder: "Select or Type . . .",
                                    //dropdownAutoWidth: true
                                });

                                $('#proddetails>tbody .date').datepicker({
                                    format: 'dd-M-yyyy',
                                    autoclose: true
                                });

                                $('#reqdetails').attr('style', 'margin-bottom: 20px !important; table-layout: fixed; display: block; max-height: 300px; overflow-y: scroll;');

                                $('#modal_srr').modal('hide');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                                alert("Infomation retrive failed.\nSee log for more information.");
                                $('#bookingdetails>tbody').html('');
                            }
                        });
                    } else {
                        $('#reqdetails>tbody').html(msg);
                        $('#modal_srr').modal('hide');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#bookingdetails>tbody').html('');
                }
            });
    };

    function AddBlankRow() {
        rn = $('#proddetails>tbody>tr').length + 1;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("RequistionProduct")',
            data: JSON.stringify({ planlist: [], mat_type_id: $('#MaterialTypeId').val(), rowno: rn, srrtype: 59, factory_id: $('#FactoryId').val() }),
            success: function (msg) {
                $('#proddetails>tbody').append(msg);

                //$('#proddetails>tbody>tr:last').children('td:eq(0)').html((rn + 1000).toString().slice(-3))

                $('#proddetails>tbody>tr:last .select').not('.catlist').select2({
                    placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                $('#proddetails>tbody>tr:last .select.catlist').select2({
                    //placeholder: "Select or Type . . .",
                    //dropdownAutoWidth: true
                });

                $('#proddetails>tbody .date').datepicker({
                    format: 'dd-M-yyyy',
                    autoclose: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function GetProductList(id, sb) {
        if (id == '' || id == '0')
            return;
        if ($('#Factory').val() == '') {
            alert('Please select unit.')
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductList")',
            data: JSON.stringify({ id: id, facid: $('#FactoryId').val(), rowno: eval($(sb).attr('id').split("_").pop()) }),
            success: function (msg) {
                row = $(sb).closest('tr');

                $(row).find('td:eq(2)').html(id);
                $(row).find('td:eq(3)').html(id);
                $(row).find('td:eq(4)').html(0);
                $(row).find('td:eq(5)').html(0);
                $(row).find('td:eq(7)').html(msg);
                $(row).find('td:eq(16)').html(0);
                $(row).find('td:eq(17)').html('');

                console.log($(sb).attr('id'));

                $('#ProductId_' + $(sb).attr('id').split("_").pop()).select2({
                    placeholder: "Select or Type . . .",
                    //allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function GetProductDetails(id, sb) {
        if (id == '' || id == '0')
            //alert(id);
            return;
        //alert(id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ProductDetails")',
            data: JSON.stringify({ id: id, type: 59, facid: $('#FactoryId').val(), facid2: 0 }),
            success: function (msg) {
                //alert(msg);
                console.log('msg ->', msg);
                row = $(sb).closest('tr');

                $(row).find('td:eq(5)').html(id);
                $(row).find('td:eq(9)').html(msg.stock1_qty);
                $(row).find('td:eq(10)').html(msg.stock2_qty);
                $(row).find('td:eq(12)').html(msg.floor_stock1);
                $(row).find('td:eq(16)').html(msg.unitid);
                $(row).find('td:eq(17)').html(msg.unit);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Infomation retrive failed.\nSee log for more information.");
                $('#bookingdetails>tbody').html('');
            }
        });
    };

    function setQty(t, dn, has_calculation) {
        dn = dn || 0;
        has_calculation = has_calculation || false;
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                rn = $(t).closest('tr').index();
                let stock_qty = eval($('#proddetails>tbody>tr:eq(' + rn + ') td:eq(9)').html().replace(/\,/g, ''));
                let fac_id = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '12', '13', '14', '15', '16'];
                if (fac_id.indexOf($('#FactoryId').val()) == -1) {
                    stock_qty = 10000000;
                }
                //debugger;
                if (stock_qty >= eval($(this).val().replace(/\,/g, ''))) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    newContent = newContent.split(".");
                    newContent[1] = newContent[1].replace(/\,/g, '');
                    newContent = newContent.join(".");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    if (has_calculation == true) {
                        let req_qty = 0, floor_stock = 0, net_qty = 0;
                        req_qty = eval($('#proddetails>tbody>tr:eq(' + rn + ') td:eq(11)').html().replace(/\,/g, ''));
                        floor_stock = eval($('#proddetails>tbody>tr:eq(' + rn + ') td:eq(12)').html().replace(/\,/g, ''));

                        if (req_qty - floor_stock > 0)
                            net_qty = req_qty - floor_stock;
                        // console.log(net_qty);
                        net_qty = (new Number(net_qty)).toFixed(4).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        net_qty = net_qty.split(".");
                        net_qty[1] = net_qty[1].replace(/\,/g, '');
                        net_qty = net_qty.join(".");
                        $('#proddetails>tbody>tr:eq(' + rn + ') td:eq(14)').html(net_qty);
                    }

                    set_total_qunatity();
                } else {
                    alert('You have not enough stock quantity in your store to issue.');
                    e.preventDefault();
                }
            }
            else {
                return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function set_total_qunatity() {
        let tQty = 0;
        $('table#proddetails').find('tbody tr').map(function () {
            rn = 0;
            var tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            tQty += eval(tableData[11].replace(/\,/g, ''));
        }).get();

        let net_qty = (new Number(tQty)).toFixed(4).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        net_qty = net_qty.split(".");
        net_qty[1] = net_qty[1].replace(/\,/g, '');
        net_qty = net_qty.join(".");

        $('#totalqty').html(net_qty);
    }

    $('#btnSave').click(function () {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        //if ($('#plandetails>tbody>tr').length < 1) {
        //    alert('No plan details information.\nclick in "Plan Details" link.');
        //    return;
        //}

        //if ($('#proddetails>tbody>tr').length < 1) {
        //    alert('No requisiton details information.');
        //    return;
        //}

        var isValid = true, ctl;
        $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
            if ($(this).val() == '') {
                //alert($(this).attr('data-val-required'));
                if (ctl == null)
                    ctl = $(this);
                $(this).closest('.form-group').addClass('has-error');
                $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                //return;

                isValid = false;
            }
        });

        if (!isValid) {
            ctl.focus();
            return;
        }

        var Prefix = '###';

        if ($('#MaterialTypeId').val() != null) {
            if ($('#MaterialTypeId').val() == 89) {
                Prefix = 'SPR'
            }
            else {
                Prefix = 'RMR'
            }
        }

        var SRRView = {
            SRRId: $('#SRRId').val(), SRRNo: $('#SRRNo').val(),
            SRRDate: $('#SRRDate').val(),
            FactoryId: $('#FactoryId').val(), SRRTypeId: 59,
            MaterialTypeId: $('#MaterialTypeId').val(),
            ReferenceId: $('#ReferenceId').val(),
            Purpose: 'PRODUCTION', Remarks: $('#Remarks').val()
        };
        var SRRSubView = [], SRRPlanView = [], rn = 0;
        rn = 0;
        let invalid = false;
        var tbl = $('table#proddetails').find('tbody tr').map(function () {
            rn = rn + 1;
            let tableData = $(this).find('td').map(function () {
                return $(this).html();
            }).get();

            if (eval(tableData[11].replace(/\,/g, '')) == 0 || tableData[16].length == 0 || tableData[5].length == 0) {
                invalid = true;
            }

            if (tableData.length >= 11) {
                //console.log(tableData);
                let arrayOfThisRow = {
                    SRRId: $('#SRRId').val(), SRRSubId: tableData[1],
                    OriginCategoryId: tableData[2], CategoryId: tableData[3],
                    OriginProductId: tableData[4], ProductId: tableData[5],
                    CurrentStock1: tableData[9].replace(/\,/g, ''),
                    CurrentStock2: tableData[10].replace(/\,/g, ''),
                    SRRQuantity: tableData[11].replace(/\,/g, ''),
                    FloorStock: tableData[12].replace(/\,/g, ''),
                    RequiredDate: $('#RequiredDate_' + (rn + 1000).toString().slice(-2)).val(), // '18-Jul-2020', //tableData[13],
                    NetQuantity: tableData[14].replace(/\,/g, ''),
                    BrandId: $('#BrandId_' + (rn + 1000).toString().slice(-2)).val(),
                    UnitId: tableData[16], Status: 1,
                    Remarks: '', RowNo: eval(tableData[0])
                };
                console.log(arrayOfThisRow);
                //console.log($('#BrandId_' + (rn + 1000).toString().slice(-2)).val())
                SRRSubView.push(arrayOfThisRow);
            }
        }).get();

        if (invalid == true) {
            alert('Some item has no selected product or requistion quantity or quantity unit.');
            return;
        }

        //tbl = $('table#plandetails').find('tbody tr').map(function () {
        //    rn = 0;
        //    let tableData = $(this).find('td').map(function () {
        //        return $(this).html();
        //    }).get();

        //    if (eval(tableData[14].replace(/\,/g, '')) == 0) {
        //        invalid = true;
        //    }

        //    if (tableData.length >= 11) {
        //        let arrayOfThisRow = {
        //            SRRId: $('#SRRId').val(), SRRPlanId: tableData[1].replace(/\,/g, ''),
        //            PlanId: tableData[2], BookingId: tableData[3],
        //            BookingSubId: tableData[4], ProductId: tableData[5],
        //            Quantity: tableData[14].replace(/\,/g, ''),
        //            UnitId: tableData[16], Status: 1,
        //            Remarks: '', RowNo: eval(tableData[0])
        //        };
        //        console.log(arrayOfThisRow);
        //        SRRPlanView.push(arrayOfThisRow);
        //    }
        //}).get();

        //if (invalid == true) {
        //    alert('Some plan has no quantity specified.');
        //    return;
        //}

        //alert(JSON.stringify({ srrView: SRRView, srrSubView: SRRSubView, srrPlanView: SRRPlanView }));
        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ srrView: SRRView, srrSubView: SRRSubView, srrPlanView: SRRPlanView, type: Prefix }),
            success: function (msg) {
                //$('#APVSub').html(msg);
                //$('#tableContent').val($('#tblCWFV tbody').html());
                //$('table#tblCWFV tbody').html(msg);
                alert(msg);

                if (msg != 'Duplicate SRR No.')
                    window.location = '@Url.Action("Create")';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Save failed. try later.');
            }
        });
    });
    </script>
}

@section CSS {
    <style>
        th {
            position: sticky;
            top: 0;
        }
    </style>
}
