﻿@model InventoryMS.Models.SPSRRMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        New :: Issue Requisiton (Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> SRR</a></li>
        <li class="active">New</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("Index")">Issue List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.SRRId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRNo, "Req. #", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.SRRNo, "StringWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.SRRNo, null, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.SRRDate, "Req Date", new { @class = "col-common col-sm-12 control-label" })
                                </div>
                                <div class="col-sm-3 offset-left-1">
                                    @Html.EditorFor(model => model.SRRDate, "DateTimeWOL", new { @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.SRRDate, null, new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="form-group">
                                    @Html.LabelFor(model => model.SRRId, "Unit", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("Factory", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Issue For", new { @class = "col-common col-sm-3 control-label" })
                                <div id="itype" class="col-sm-9">
                                    @Html.DropDownList("IssueType", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "ITypeChange(this.value)" })
                                </div>
                                <div id="bom" style="display: none;">
                                    @Html.LabelFor(model => model.SRRId, "BOM No", new { @class = "col-common col-sm-2 control-label" })
                                    <div class="col-sm-3">
                                        @Html.DropDownList("BOMNo", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Issue To", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("Store", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Remarks, "MultilineText", new { rows = 4 })
                        </div>


                        <div class="col-md-12" style="margin-top: 15px;">
                            <h4 class="form-section" style="margin-bottom: 5px !important"><i class="ft-list"></i> Schedule Details</h4>
                            <div class="form-group row" style="margin-top: -35px; margin-bottom: 0.8rem !important;">
                                @Html.LabelFor(model => model.DepartmenttId, "Booking No", new { @class = "col-common col-sm-7 label-control" })
                                <div id="schlist" class="col-sm-5 controls">
                                    @Html.DropDownList("BookingId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "DODetails(this.value)" })
                                </div>
                            </div>

                            <table id="schdetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; display: block; max-height: 210px; overflow-y: scroll;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 4%;">
                                            SL #
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            Booking Id
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            Product Id
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Plan Date
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Customer
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Sales Rep
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Booking No
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Product
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Bal Qty
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Req. Qty
                                        </th>
                                        <th style="text-align: center; width: 8%; display: none;">
                                            Plan Id
                                        </th>
                                        <th style="text-align: center; width: 8%; display: none;">
                                            Bal Qty
                                        </th>
                                        <th style="text-align: center; width: 5%;">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@Html.Action("RowTemplate", new { id = 0 })*@
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12" style="margin-top: 15px;">
                            <h4 class="form-section" style="margin-bottom: 5px !important"><i class="ft-list"></i> Item Details For Program</h4>
                            <div class="form-group row" style="margin-top: -35px; margin-bottom: 0.7rem !important;">
                                <div class="col-sm-7 controls">
                                </div>
                                <div class="col-sm-5 controls">
                                    <button type="button" id="btnAddAll" class="btn btn-dark" style="padding: 0px; width: 100%; background-color: #64a71a; border-color: #5d9c18;" onclick="addtoprogram_list(0)"><i class="fa ft-arrow-down-right"></i> Add All</button>
                                </div>
                            </div>

                            <table id="progdetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; display: block; max-height: 210px; overflow-y: scroll;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 4%;">
                                            SL #
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            DO Id
                                        </th>
                                        <th style="text-align: center; display: none;">
                                            Product Id
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Customer
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Destination
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Sales Ref.
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Regoin
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Transport
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            DO No
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            DO Date
                                        </th>
                                        <th style="text-align: center; width: 15%;">
                                            Product
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Bal Qty
                                        </th>
                                        <th style="text-align: center; width: 8%; display: none;">
                                            Id
                                        </th>
                                        <th style="text-align: center; width: 8%; display: none;">
                                            Bal Qty
                                        </th>
                                        <th style="text-align: center; width: 5%;">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@Html.Action("ProgramTemplate")*@
                                </tbody>
                            </table>
                            <div class="form-group row">
                                <div class="col-sm-7">

                                </div>
                                <div class="col-sm-5" style="margin-top: 10px !important;">
                                    <div class="form-group row">
                                        @Html.Label("", "Total Quantity :", new { @class = "col-common col-sm-7 label-control" })
                                        @Html.Label("", "0.00", new { @id = "totqty", @class = "col-common col-sm-5 label-control", @style = "padding-right: 15px !important;" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte"><a href="#">Details</a></span>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    @*<div id="divDT">
                                        @Html.Action("DetailsTemplate")
                                    </div>*@

                                    <table id="tblDT" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="display: none;">
                                                    Category Id
                                                </th>
                                                <th style="display: none;">
                                                    Product Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Category
                                                </th>
                                                <th style="text-align: center;">
                                                    Item Name
                                                </th>
                                                <th style="text-align: center;">
                                                    Req Qty
                                                </th>
                                                <th style="display: none;">
                                                    Unit Id
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="display: none;">
                                                    PLE Sub Id
                                                </th>
                                                <th style="display: none;">
                                                    LC Sub Id
                                                </th>
                                                <th>
                                                    <a title="" data-toggle="tooltip" data-original-title="Add Product" onclick="itemEntry(this);"><i class="glyphicon glyphicon-plus-sign" style="color: white; cursor: pointer;"></i><span style="color: white; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            <tr>
                                                <td colspan="11"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input id="btnSave" type="button" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();

        function ITypeChange(e){
            if (e == 38) {
                $('#itype').addClass('col-sm-4');
                $('#itype').removeClass('col-sm-9');
                $('#bom').show();
            }
            else {
                $('#itype').addClass('col-sm-9');
                $('#itype').removeClass('col-sm-4');
                $('#bom').hide();
            }
        }

        function getLC(e) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("LCList")",
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#lclist').html(data);
                    $('#lclist .select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    //$('#pld').attr('style', 'display: block');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function LCDetails(e) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LotList")',
                data: JSON.stringify({ id: $('#LCFileId').val(), type: "edit" }),
                success: function (data) {
                    $('#lot').html(data);

                    $('#lot select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LCDetails")',
                data: JSON.stringify({ id: e }),
                success: function (data) {

                    $('#LCDate').val(data.lcdate);
                    $('#SupplierName').val(data.supname);
                    $('#SupplierId').val(data.supid);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            //table.clear().draw();

            //    $('#totalqty').html('0.000');
        };

        function SRRDetails(e) {
            //return;
            @*$.ajax({
                type: "POST",
                //datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LotDetails")',
                data: JSON.stringify({ id: e }),
                success: function (data) {
                    $('#ShipmentDate').datepicker('setDate', getJsonDate(data.sd));
                    $('#BLDate').datepicker('setDate', getJsonDate(data.bl));
                    $('#PortArivalDate').datepicker('setDate', getJsonDate(data.pe));
                    $('#StoreArivalDate').datepicker('setDate', getJsonDate(data.se));
                    $('#DocArrivalAtBankDate').datepicker('setDate', getJsonDate(data.dab));
                    //if (data.ll == 0)
                    //$('#LotIssuedDate').datepicker('setDate', getJsonDate(data.lrd));
                    //else {
                    //$('#LotIssuedDate').datepicker({
                    //    format: 'dd-M-yyyy',
                    //    autoclose: true
                    //});
                    $('#LotIssuedDate').datepicker('setDate', getJsonDate(data.lrd));
                    //$("#LotIssuedDate").datepicker("remove");
                    //}
                    $('#FactoryETA').datepicker('setDate', getJsonDate(data.fe));
                    $('#CurrentLocation').val(data.cl);
                    $('#IsLastLot').bootstrapSwitch('state', (data.ll == 1 ? true : false));
                    $('#IsLotIssued').bootstrapSwitch('state', (data.sr == 1 ? true : false));
                    $('#Remarks').val(data.rm);
                    $('#plno').html(data.plno);

                    $('.date').each(function () {
                        if ($(this).val() == '01-Jan-1900') {
                            $(this).datepicker('setDate', getJsonDate(data.ct));
                            $(this).val('');
                        }
                    });*@

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SRRDetails")',
                data: JSON.stringify({ id: 7948, facid: 5 }),
                success: function (data) {
                    //table.destroy();

                    $('#tblbody').html(data);

                    //$('#LotDate').val($('#portdate').val());

                    //$('#totalqty').html($('#TQty').val());

                    //toTable();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            //        },
            //        error: function (jqXHR, textStatus, errorThrown) {
            //            alert(JSON.stringify(jqXHR));
            //        }
            //    });
        };

        $('#btnSave').click(function () {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });


            if ($('#tblDT>tbody>tr').length <= 1) {
                alert('No details information.');
                return;
            }

            var isValid = true, ctl;
            $('[data-val="true"]').not('#divDT [data-val="true"], [type=hidden]').each(function () {
                if ($(this).val() == '') {
                    //alert($(this).attr('data-val-required'));
                    if (ctl == null)
                        ctl = $(this);
                    $(this).closest('.form-group').addClass('has-error');
                    $(this).closest('.form-group').find('.field-validation-valid').html($(this).attr('data-val-required'));
                    $(this).closest('.form-group').find('.field-validation-valid').addClass('field-validation-error');
                    $(this).closest('.form-group').find('.field-validation-valid').removeClass('field-validation-valid');
                    //return;

                    isValid = false;
                }
            });

            if (!isValid) {
                ctl.focus();
                return;
            }

            var IssueView = {
                FactoryId: $('#FactoryId').val(), SupplierId: $('#SupplierId').val(),
                IssueNo: $('#IssueNo').val(), IssueDate: $('#IssueDate').val(), LCNo: $('#LCNo').val(),
                LCDate: $('#LCDate').val(), Remarks: $('#Remarks').val()
            }, IssueSubView = [], rn = 0;

            var tbl = $('table#tblDT').find('tbody tr').map(function () {
                rn = 0;
                var tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (tableData.length >= 11) {
                    var arrayOfThisRow1 = {
                        ProductId: tableData[2], LCQuantity: tableData[4].replace(/\,/g, ''),
                        IssueQuantity: tableData[7].replace(/\,/g, ''), QuantityUnitId: tableData[6],
                        ImportPriceFC: tableData[8].replace(/\,/g, ''), CurrencyId: tableData[10],
                        LandedPriceBDT: tableData[11].replace(/\,/g, ''), Remarks: '', RowNo: eval(tableData[0])
                    };
                    //alert(arrayOfThisRow);
                    IssueSubView.push(arrayOfThisRow1);
                }
            }).get();

            //alert(JSON.stringify({ IssueView: IssueView, IssueSubView: IssueSubView }));
            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ IssueView: IssueView, IssueSubView: IssueSubView }),
                success: function (msg) {
                    //$('#APVSub').html(msg);
                    //$('#tableContent').val($('#tblCWFV tbody').html());
                    //$('table#tblCWFV tbody').html(msg);
                    alert(msg);

                    if (msg != 'Duplicate Issue No.')
                        window.location = '@Url.Action("Create")';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert('Save failed. try later.');
                }
            });
        });
    </script>
}

@section CSS {

}

