﻿@model InventoryMS.Models.SPSRRMain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SRRMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SRRNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SRRNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SRRDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SRRDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmenttId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmenttId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisionUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
