﻿@model IEnumerable<InventoryMS.Models.PlanDetails>

@{int RowNo = 0;}
@foreach (var item in Model.OrderBy(c => c.ProductName).ThenBy(c => c.ProductName.Length))
{
    RowNo++;
    <tr>
        <td style="text-align: center; width: 4%;">@RowNo.ToString("000")</td>
        <td style="text-align: center; display: none;">@item.BookingId</td>
        <td style="text-align: center; display: none;">@item.ProductId</td>
        <td style="text-align: left; width: 32%;">@item.PaperCombination</td>
        <td style="text-align: left; width: 28%;">@item.Measurement</td>
        <td style="text-align: left; width: 15%;">@item.ProductName</td>
        <td style="text-align: right; width: 7%;">@item.RequistionQty.ToString("##,##0.00")</td>
        <td style="text-align: left; width: 5%;">PC(S)</td>
        <td style="text-align: center; width: 6%; display: none;">
            <a id="btnAdd" class="edit" title="" data-toggle="tooltip" data-original-title="Status">
                <i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i>
            </a>
        </td>
        <td style="text-align: center; width: 3%; display: none;">
            <a id="btnAdd" class="edit" title="" data-toggle="tooltip" data-original-title="Add" onclick="addtorequistion(this);">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </td>
    </tr>
}