﻿@model IEnumerable<InventoryMS.Models.SPSRRMain>
@using InventoryMS.Models

@{
    ViewBag.Title = Html.DisplayNameForModel();

    ProductCubeEntities db = new ProductCubeEntities();
    InventoryCubeEntities dbInv = new InventoryCubeEntities();
}

<section class="content-header">
    <h1>
        Queued Requisition List For Transfer/Loan/Exchange/Sales(Store)
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> Queued</a></li>
        <li class="active"> Issue Requisition</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">General Infomation</h3>
                    <div class="btn-group">

                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">
                                    Issue Req. No
                                </th>
                                <th style="text-align: center;">
                                    Issue Req. Date
                                </th>
                                <th style="text-align: center;">
                                    Appicant
                                </th>
                                <th style="text-align: center;">
                                    Source From
                                </th>
                                <th style="text-align: center;">
                                    Requisition Type
                                </th>
                                <th style="text-align: center;">
                                    Prepared By
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td>
                                        <a href="@Url.Action("TransferApproval", new { id = item.SRRId })">@Html.DisplayFor(modelItem => item.SRRNo)</a>
                                    </td>
                                    <td>
                                        @item.SRRDate.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @db.Factories.Find(item.FactoryId).FactoryName
                                    </td>
                                    <td>
                                        @db.Factories.Find(item.ReferenceId).FactoryName
                                    </td>
                                    <td>
                                        @dbInv.Custom_Type.Find(item.SRRTypeId).ShortName
                                    </td>
                                    <td>
                                        @dbInv.Sys_User_Name.Find(item.EntryUserId).UserName (@dbInv.Sys_User_Name.Find(item.EntryUserId).UserTitle)
                                    </td>
                                    <td style="text-align: center">
                                        <a href="@Url.Action("TransferApproval", new { id = item.SRRId })" title="" data-toggle="tooltip" data-original-title="Approval"><i class="glyphicon glyphicon-forward"></i></a>
                                        @*@if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "QREdit"))
                                        {
                                            <a href="@Url.Action("QREdit", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        @if (InventoryMS.Models.clsMain.IsPermitted("Requisition", "Delete"))
                                        {
                                            <a href="@Url.Action("Delete", new { id = item.PRId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        }*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}





