﻿@model IEnumerable<InventoryMS.Models.SRRSubView>

@{
    int RowNo = 0;
    var db = new InventoryMS.Models.ProductCubeEntities();
}
@foreach (var item in Model.OrderBy(c => c.CategoryName).ThenBy(c => c.CategoryName.Length))
{
    RowNo = item.RowNo.Value;
    <tr>
        <td style="text-align: center; width: 5%;">@RowNo.ToString("000")</td>
        <td style="text-align: center; display: none;">@item.SRRSubId</td>
        <td style="text-align: center; display: none;">@item.OriginCategoryId</td>
        <td style="text-align: center; display: none;">@item.OriginCategoryId</td>
        <td style="text-align: center; display: none;">@item.OriginProductId</td>
        <td style="text-align: center; display: none;">@item.OriginProductId</td>
        @*@if (item.OriginCategoryId == 0) { 
            <td style="text-align: left; width: 18%;">@Html.DropDownList("CategoryId_" + @RowNo.ToString("00"), (SelectList)ViewBag.Category, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "GetProductList(this.value, this)" })</td>
        }
        else {
            <td style="text-align: left; width: 18%;">@Html.DropDownList("CategoryId_" + @RowNo.ToString("00"), new SelectList(db.ItemCategories.Where(c => c.StageLevel == 4), "CategoryId", "CategoryName", item.OriginCategoryId), string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "GetProductList(this.value, this)" })</td>
        }*@
        <td style="text-align: left; width: 18%;">@Html.DropDownList("CategoryId_" + @RowNo.ToString("00"), (SelectList)ViewBag.Category, "ALL", new { @class = "form-control select catlist", @style = "width: 100%;", @onchange = "GetProductList(this.value, this)" })</td>
        <td style="text-align: left; width: 24%;">@Html.DropDownList("ProductId_" + @RowNo.ToString("00"), (SelectList)ViewBag.Product, string.Empty, new { @class = "form-control select", @style = "width: 100%;", @onchange = "GetProductDetails(this.value, this)" })</td>
        <td style="text-align: left; width: 8%; display: none;">@Html.DropDownList("BrandId_" + @RowNo.ToString("00"), (SelectList)ViewBag.Brand, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })</td>
        <td style="text-align: right; width: 10%;">@item.CurrentStock1.Value.ToString("##,##0.00")</td>
        <td style="text-align: right; width: 8%; @(item.IssueType != 65 ? "display: none;" : "")">@item.CurrentStock2.Value.ToString("##,##0.00")</td>
        <td style="text-align: right; width: 9%;" ondblclick="setQty(this, 4, true);">@item.SRRQuantity.Value.ToString("##,##0.00")</td>
        <td style="text-align: right; width: 9%; display: none; @(item.IssueType != 59 ? "display: none;" : "")">@item.FloorStock.Value.ToString("##,##0.00")</td>
        <td style="text-align: left; width: 12%;">@Html.Editor("RequiredDate_" + @RowNo.ToString("00"), "DateTimeWOL")</td>
        <td style="text-align: right; width: 7%; display: none; @(item.IssueType != 38 ? "display: none;" : "")">@item.NetQuantity.Value.ToString("##,##0.00")</td>
        <td style="text-align: right; width: 6%; @(item.IssueType != 61 ? "display: none;" : "")">0.00</td>
        <td style="text-align: left; width: 5%; display: none;">0</td>
        <td style="text-align: center; width: 5%;"></td>
        <td style="text-align: center; width: 5%;">
            <a id="btnDel" class="del" title="" data-toggle="tooltip" data-original-title="Delete" onclick="delrow(this);"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

@*<script>
    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });
</script>*@