﻿@model IEnumerable<InventoryMS.Models.SPSRRSub>

@{
    int RowNo = 0;
    var dbProd = new InventoryMS.Models.ProductCubeEntities();
    var db = new InventoryMS.Models.InventoryCubeEntities();
}
@foreach (var item in Model.OrderBy(c => c.RowNo))
{
    RowNo = item.RowNo;
    var product = dbProd.ItemInfoes.Find(item.ProductId);
    var unit = dbProd.viewQuantityUnits.Where(c => c.QuantityUnitId == item.UnitId).First();
    <tr>
        <td style="text-align: center; width: 5%;">@RowNo.ToString("000")</td>
        <td style="text-align: center; width: 5%; display: none;">@item.SRRSubId</td>
        <td style="text-align: left; width: 30%;">@product.ItemName</td>
        <td style="text-align: right; width: 12%;">@item.CurrentStock1.ToString("##,##0.0000")</td>
        <td style="text-align: right; width: 12%;">@item.CurrentStock2.ToString("##,##0.0000")</td>
        <td style="text-align: right; width: 12%;">@item.QueueQuantity.ToString("##,##0.0000")</td>
        <td style="text-align: right; width: 12%;" ondblclick="setQty(this, 4);">@item.SRRQuantity.ToString("##,##0.0000")</td>
        <td style="text-align: center; width: 5%;">@unit.QuantityUnit</td>
        <td style="text-align: right; width: 12%; display: none;">@item.FloorStock.ToString("##,##0.0000")</td>
        <td style="text-align: center; width: 12%;">@item.RequiredDate.ToString("dd-MMM-yyyy")</td>
    </tr>
}

@*<script>
    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });
</script>*@