﻿@model InventoryMS.Models.SPSRRMain
@using InventoryMS.Models

@{
    ViewBag.Title = Html.DisplayNameForModel();

    ProductCubeEntities dbProd = new ProductCubeEntities();
    InventoryCubeEntities db = new InventoryCubeEntities();
}

<section class="content-header">
    <h1>
        Approval :: Requisiton For Transfer/Loan/Exchange/Sales
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> SRR</a></li>
        <li class="active">Transfer</li>
    </ol>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-success">
                    <!-- .box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">General Infomation</h3>
                        <div class="btn-group">
                            <a class="btn btnsm btn-default" href="@Url.Action("QueuedTransferRequest")">Queued Requisition List</a><button class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-4">
                            @Html.HiddenFor(model => model.SRRId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRNo, "Req. #", new { @class = "col-common col-sm-5 control-label" })
                                <div class="col-sm-7">
                                    @Html.DisplayFor(model => model.SRRNo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Material Type", new { @class = "col-common col-sm-5 control-label" })
                                <div class="col-sm-7">
                                    @dbProd.CustomTypes.Find(Model.MaterialTypeId).TypeName
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Applicant Unit", new { @class = "col-common col-sm-5 control-label" })
                                <div class="col-sm-7">
                                    @dbProd.Factories.Find(Model.FactoryId).FactoryName
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Req. Type", new { @class = "col-common col-sm-5 control-label" })
                                <div class="col-sm-7">
                                    @db.Custom_Type.Find(Model.SRRTypeId).TypeName
                                </div>
                            </div>

                            <div id="transfer_div" class="form-group">
                                @Html.LabelFor(model => model.ReferenceId, "Source", new { @class = "col-common col-sm-5 control-label" })
                                <div class="col-sm-7">
                                    @dbProd.Factories.Find(Model.ReferenceId).FactoryName
                                </div>
                            </div>

                            <div id="issuer" class="form-group">
                                @Html.LabelFor(model => model.SRRId, "Purpose", new { @class = "col-common col-sm-5 control-label" })
                                <div class="col-sm-7">
                                    @Html.DisplayFor(model => model.Purpose)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SRRDate, "Req Date", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Model.SRRDate.ToString("dd-MMM-yyyy")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, "Remarks", new { @class = "col-common col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DisplayFor(model => model.Remarks)
                                </div>
                            </div>
                        </div>

                        @*<a id="plan_info">Plan Details</a>*@

                        <div class="col-md-12" style="padding-right: 5px;">
                            <div class="box box-danger direct-chat-danger">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username username_lte">
                                            <a href="#">Raw Material Details</a>
                                            @*<a id="plan_info" class="pull-right" style="text-decoration: underline; padding-right: 10px; cursor: pointer; color: red;">Plan Details</a>*@
                                        </span>
                                        <div class="form-group row" @*style="margin-top: -23px; margin-bottom: 0rem !important;"*@>
                                            <div class="col-sm-9">
                                            </div>
                                            <div class="col-sm-3 pull-right">
                                                @*<button type="button" id="btnRefresh" class="btn btn-block btn-success btn-lg" style="padding: 0px; width: 100%; background-color: #64a71a; border-color: #5d9c18;" onclick="refresh()"><i class="fa fa-fw fa-refresh"></i> Refresh</button>*@
                                                @*<a id="plan_info">Plan Details</a>*@
                                            </div>
                                        </div>
                                    </div><!-- /.user-block -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="proddetails" class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    SL #
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Sub ID
                                                </th>
                                                <th style="text-align: center;">
                                                    Product
                                                </th>
                                                <th style="text-align: center;">
                                                    Applicant Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Source Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Req Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Approved Qty
                                                </th>
                                                <th style="text-align: center;">
                                                    Unit
                                                </th>
                                                <th style="text-align: center; display: none;">
                                                    Floor Stock
                                                </th>
                                                <th style="text-align: center;">
                                                    Required Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblpbody">
                                            @if (Model.SPSRRSubs == null || Model.SPSRRSubs.Count == 0)
                                            {
                                                @*@Html.Action("RowTemplate");*@
                                            }
                                            else
                                            {
                                                @Html.Action("RowTemplate", new { requisitionSub = Model.SPSRRSubs });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @if (Model.ApprovedType == 1)
                        {
                            <h4 class="modal-title" style="text-align: center !important; color: red;">Requistion already approved.</h4>
                        }
                        else if (Model.ApprovedType > 0)
                        {
                            <h4 class="modal-title" style="text-align: center !important; color: red;">Requistion already disapproved.</h4>
                        }
                        else //if (clsMain.IsActionEnabled("Requisition", "Approval"))
                        {
                            <button type="button" id="btnApprove" class="btn btn-success pull-right"><i class="fa fa-check"></i> Approve</button>
                            <button type="button" id="btnDispprove" class="btn btn-success pull-right" style="margin-right: 5px;"><i class="fa fa-times"></i> Disapprove</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        function setQty(t, dn) {
            dn = dn || 0;
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    if (parseFloat($(t).parent().children().eq(5).html().replace(/\,/g, '')) >= parseFloat($(this).val().replace(/\,/g, ''))) {
                        var newContent = parseFloat($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        newContent = newContent.split(".");
                        newContent[1] = newContent[1].replace(/\,/g, '');
                        newContent = newContent.join(".");
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");
                    }
                    else {
                        alert('Invalid quantity.');
                        e.preventDefault();
                    }
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        $('#btnDispprove').click(function () {
            //$('#DisapprovedReason').attr('required', true);

            ApprovalOrDisapproval('disapproved', 2)
        });

        $('#btnApprove').click(function () {
            //$('#DisapprovedReason').removeAttr('required');

            ApprovalOrDisapproval('approved', 1)
        });

        function ApprovalOrDisapproval(type, type_id) {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if (confirm('Are you sure want to ' + type + '?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            let SRRSubView = [];

            rn = 0;
            let invalid = true;
            var tbl = $('table#proddetails').find('tbody tr').map(function () {
                rn = rn + 1;
                let tableData = $(this).find('td').map(function () {
                    return $(this).html();
                }).get();

                if (eval(tableData[6].replace(/\,/g, '')) > 0) {
                    invalid = false;
                }

                if (tableData.length >= 6) {
                    //console.log(tableData);
                    let arrayOfThisRow = {
                        SRRId: $('#SRRId').val(),
                        SRRSubId: tableData[1],
                        SRRQuantity: tableData[6].replace(/\,/g, '')
                    };
                    //console.log(arrayOfThisRow);
                    //console.log($('#BrandId_' + (rn + 1000).toString().slice(-2)).val())
                    SRRSubView.push(arrayOfThisRow);
                }
            }).get();

            if (invalid == true && type_id == 1) {
                alert('No item has approved quantity.');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("TransferApprovalSave")',
                data: JSON.stringify({ id: $('#SRRId').val(), srrSubs: SRRSubView, apvtype: type_id }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alert_main_div').removeClass('alert-success alert-danger');
                        $('#alert_main_div').addClass('alert-danger');
                        $('#asummary_main').html('!!!Error!!!')
                        $('#atext_main').html('Save failed due to "' + msg.message + '".');
                        $('#btn_alert_main').attr('onclick', '');

                        $('#alert_main').modal('show');
                    }
                    else {
                        $('#alert_main_div').removeClass('alert-success alert-danger');
                        $('#alert_main_div').addClass('alert-success');
                        $('#asummary_main').html('Success!!')
                        $('#atext_main').html(msg.message);
                        $('#btn_alert_main').attr('onclick', 'window.location = "@Url.Action("QueuedTransferRequest")"');

                        $('#alert_main').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        };
    </script>
}

@section CSS {
    <style>
        th {
            position: sticky;
            top: 0;
        }
    </style>
}


