.form-group {
    margin-bottom: 2px !important;
}
.control-label {
    margin-top: 1.5px !important;
    margin-bottom: 3.5px !important;
}
input, textarea{
	text-transform: uppercase;
}
.ccnormal{
	text-transform: none !important;
}
.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 0px !important;
  padding: 0px 0px 7px 0px !important;
  background: #20590a !important;
  color: white !important;
}
.btn-group{
	float: right;
    margin-top: -2px;
    margin-bottom: -8px;
}
.dropdown-menu {
	/*left:auto !important;
    right: 0 !important;*/
    /*left:auto;
    right: 0;*/
	min-width: 100px !important;
}
.login-logo {
    background: url(../theme/images/a.jpg) center;
    width: 100%;
}

.login-logo a {
    width: 500px;
    display: block;
    text-align: center;
    vertical-align: middle;
    /*background: url(../theme/images/logo.png) no-repeat 0 0;*/
}
.login-logo a {
    height: 100px;
    margin: 0px;
}
.fpass{
     margin-left: -53px;
}
.lb-rg{
    text-align: right;
}
.lb-lt{
    text-align: left;
}
.lb-rg-md{
    text-align: right;
    padding-top: 0px;
    display: table;
    vertical-align: middle;
}
.lb-lt-md{
    text-align: left !important;
    padding-top: 0px;
    display: table;
    vertical-align: middle;
}
.col-common{
	padding-left: 1px !important;
	padding-right: 4px !important;
}
.col-table{
	padding-left: 1px !important;
	padding-right: 1px !important;
}
.table-primary thead th {
    border-color: #20590a !important;
    background-color: #20590a;
    color: #fff;
    font-size: 14px;
	/*border-top: 2px solid #3c8dbc !important;*/
}
.table{
	margin-bottom: 0px !important;
}
.modal {
  /*z-index: 10001 !important;*/
}
#content{
    margin-top: 111px;
    margin-bottom: 49px;
    margin-left: 0px;
    min-height: 274px;
    padding: 0px 75px;
}
.content-wrapper{
    /*margin-left: 0px !important;*/
}
.table-no-border > thead > tr > th, .table-no-border > tbody > tr > th, .table-no-border > tfoot > tr > th, .table-no-border > thead > tr > td, .table-no-border > tbody > tr > td, .table-no-border > tfoot > tr > td {
    border-top: 0px solid #f4f4f4 !important;
}

.table > thead > tr > th {
    /*padding: 2px !important;*/
    vertical-align: middle !important;
}
.required
{
    /*content: "*";*/
    font-weight: bold;
    color: red; 
}
/*.col-1 {
  background: #1a2226;
  color: white;
}*/

th.dt-center { text-align: center; padding: 0px !important; }

/*td.dt-center { text-align: center; padding: 0px !important; }*/

.form-group.has-error .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #dd4b39;
    border-radius: 0;
    padding: 1px 5px;
    height: 25px;
}

.form-group.has-error .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #dd4b39;
}

.select2-selection__clear {
    margin-right: 6px !important;
    margin-top: 1px !important;
}

#context-back
{
    display:none !important;
}


/*==================================new================================*/
#main-header .header-navbar.navbar-dark.navbar-border {
    border-bottom: 1px solid #8596B5 !important;
}
#main-header .bg-blue-grey.bg-lighten-1 {
    background-color: #00a65a !important;
}
#main-header .header-navbar.navbar-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
#main-header .header-navbar {
    min-height: 3.5rem !important;
}
#main-header .bg-blue-grey {
    /*background-color: #607D8B !important;*/
}
#main-header .navbar-dark {
    background: #1D2B36 !important;
}
#main-header .header-navbar {
    padding: 0px !important;
    min-height: 4.57rem !important;
    font-family: "Muli", Georgia, "Times New Roman", Times, serif !important;
    transition: 300ms ease all !important;
}
@media (min-width: 768px) {
    #main-header .navbar-expand-md {
        flex-flow: row nowrap !important;
        justify-content: flex-start !important;
    }
}

#main-header .navbar {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0.5rem 1rem !important;
}

#main-header .header-navbar .navbar-wrapper {
    width: 100% !important;
}

#main-header .header-navbar.navbar-brand-center .navbar-header {
    width: 192px;
    position: absolute;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, 0);
    z-index: 999;
}
#main-header .header-navbar .navbar-header {
    height: 100%;
    width: 240px;
    height: 4.57rem;
    float: left;
    position: relative;
    padding: 0rem 0.85rem;
    transition: 300ms ease all;
}
#main-header .header-navbar {
    padding: 0px;
    min-height: 4.57rem;
    font-family: "Muli", Georgia, "Times New Roman", Times, serif;
    transition: 300ms ease all;
}
#main-header .nav {
    border-radius: 0.25rem;
}
#main-header .flex-row {
    flex-direction: row !important;
}
#main-header .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#main-header .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#main-header .header-navbar .nav-item + .nav-item {
    margin-left: 0rem;
}
#main-header .navbar-dark .navbar-nav li {
    line-height: 1;
}
#main-header .header-navbar .navbar-header .navbar-brand {
    padding: 5px 0px;
    margin-right: 0;
}
#main-header .header-navbar .navbar-header .navbar-brand {
    padding: 14px 0px;
    margin-right: 0;
}
#main-header .navbar-dark .navbar-brand {
    color: #fff;
}
#main-header .navbar-brand {
    display: inline-block;
    padding-top: 0.4275rem;
    padding-bottom: 0.4275rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    line-height: inherit;
    white-space: nowrap;
}
#main-header .header-navbar .navbar-header .navbar-brand .brand-logo {
    width: 36px;
}

#main-header img {
    vertical-align: middle;
    border-style: none;
    display: initial !important;
}
#main-header .header-navbar .navbar-header .navbar-brand .brand-text {
    display: inline;
    padding-left: 6px;
    font-weight: 500;
    vertical-align: middle;
}
#main-header .navbar-dark .navbar-brand .brand-text {
    color: #FFFFFF !important;
}

.skin-green .main-header .navbar {
    background-color: #008d4c !important;
    margin-left: 0px !important;
    text-align: center !important;
}
.main-header .logo {
    display: inline !important;
    float: none !important;
    width: auto !important;
}
#header{
    vertical-align: initial !important;    
    color: white !important;
    display: inline !important;
}
/*==================================new================================*/

@media print {
    #topnav {
        display: none;
        margin: 0px;
        padding: 0px;
    }
}

.container-fluid {
    /*width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width:95%;*/
    padding-left: 75px;
    padding-right: 75px;
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 60px;
  background: #ffffff;
  box-shadow: 0 0 18px 0 rgba(67, 89, 102, 0.1); }
  #topnav .has-submenu.active a {
    color: #71b6f9; }
    #topnav .has-submenu.active a i {
      color: #71b6f9; }
  #topnav .has-submenu.active .submenu li.active > a {
    color: #71b6f9;
  }
  #topnav .topbar-main {
    background: #435966;
  }
    #topnav .topbar-main .logo {
      color: #ffffff !important;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 58px;
      text-transform: uppercase;
      float: left;
    }
    
    .skin-green .main-header .logo:hover {
      background-color: #008d4c !important;
    }
    #topnav .topbar-main .logo-small {
      display: none; }
    #topnav .topbar-main .badge-topbar {
      position: absolute;
      top: 7px;
      right: 7px;
      z-index: 99;
    }
    #topnav .topbar-main .nav > li > a {
      height: 36px;
      width: 36px;
      padding: 0;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      margin: 12px 8px;
      color: rgba(255, 255, 255, 0.7);
    }
      #topnav .topbar-main .nav > li > a:focus, #topnav .topbar-main .nav > li > a:hover {
        background-color: rgba(67, 89, 102, 0.1);
        color: #435966; }
    #topnav .topbar-main .dropdown-menu-lg .list-group {
      margin-bottom: 0; }
    #topnav .topbar-main .dropdown-menu-lg .list-group-item {
      border: none;
      padding: 10px 20px; }
    #topnav .topbar-main .dropdown-menu-lg .media-heading {
      margin-bottom: 0; }
    #topnav .topbar-main .dropdown-menu-lg .media-body p {
      color: #828282; }
    #topnav .topbar-main .navbar-nav {
      margin: 0; }
    #topnav .topbar-main .topbar-right-menu li {
      float: left; }
  #topnav .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer; }
    #topnav .navbar-toggle:hover {
      background-color: transparent; }
      #topnav .navbar-toggle:hover span {
        background-color: #ffffff; }
    #topnav .navbar-toggle:focus {
      background-color: transparent; }
      #topnav .navbar-toggle:focus span {
        background-color: #ffffff; }
    #topnav .navbar-toggle .lines {
      width: 25px;
      display: block;
      position: relative;
      margin: 10px 10px 0 0;
      padding-top: 13px;
      height: 44px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    #topnav .navbar-toggle span {
      height: 2px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      display: block;
      margin-bottom: 5px;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease; }
  #topnav .navbar-toggle.open span {
    position: absolute; }
    #topnav .navbar-toggle.open span:first-child {
      top: 18px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    #topnav .navbar-toggle.open span:nth-child(2) {
      visibility: hidden; }
    #topnav .navbar-toggle.open span:last-child {
      width: 100%;
      top: 18px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  #topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
  #topnav .navigation-menu > li {
    display: inline-block;
    position: relative; }
  #topnav .navigation-menu > li > a {
    display: block;
    /*color: #435966;*/
    color: white;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px; 
    text-align: center;
  }
    #topnav .navigation-menu > li > a:hover {
      color: #71b6f9; }
    #topnav .navigation-menu > li > a:focus {
      color: #71b6f9; }
    #topnav .navigation-menu > li > a:active {
      color: #71b6f9; }
    #topnav .navigation-menu > li > a i {
        display: block !important;
      /*font-size: 16px;*/
      font-size: 1.75rem;
      margin-right: 5px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      vertical-align: text-top; }
  #topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:focus {
    background-color: transparent; }

/*
  Responsive Menu
*/
@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    padding-top: 13px;
    padding-bottom: 14px; }
  #topnav .navigation-menu > li:first-of-type > a {
    padding-left: 14px;
    padding-right: 14px;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0; }
  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px; }
  #topnav .navigation-menu > li:hover a {
    color: #71b6f9;
    /*background-color: #84da2d;*/
  }
    #topnav .navigation-menu > li:hover a i {
        color: #71b6f9; }
  #topnav .navigation-menu > li > ul > li.has-submenu:active > a,
  #topnav .navigation-menu > li > ul > li.has-submenu:hover > a {
    color: #71b6f9;
  }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border: 1px solid #e7e7e7;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff; }
  #topnav .navigation-menu > li:last-child .submenu {
    position: absolute;
    top: 100%;
    left: auto !important;
    right: 0 !important;
    z-index: 1000;
    border: 1px solid #e7e7e7;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff; }
  #topnav .navigation-menu > li .submenu-right {
    position: absolute;
    top: 100%;
    left: auto !important;
    right: 0 !important;
    z-index: 1000;
    border: 1px solid #e7e7e7;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff; }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto; }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 260px;
    display: inline-block;
    vertical-align: top; }
  #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 18px; }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-left: 10px;
    margin-top: -1px; }
  #topnav .navigation-menu > li .submenu li {
    position: relative; }
  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 8px 25px;
    clear: both;
    white-space: nowrap;
    font-size: 15px;
    color: #435966;
    -webkit-transition: all .1s ease;
    transition: all .1s ease; }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: white;
    background-color: #222d32;
  }
  #topnav .navigation-menu > li .submenu li span {
    display: block;
    padding: 8px 25px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #435966; }
  #topnav .navbar-toggle {
    display: none; }

  #topnav #navigation {
    display: block !important; }
  #navigation{
    float: right;
  }
}
@media (max-width: 991px) {
  .wrapper {
    padding-top: 60px; }

  .container {
    width: auto !important; }

  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
    text-align: left; }
  #topnav .navigation-menu > li {
    display: block; }
  #topnav .navigation-menu > li > a {
    /*color: #435966;*/
    color: #b8c7ce;
    padding: 15px; }
    #topnav .navigation-menu > li > a i {
      display: block;
      margin-right: 10px;
      margin-bottom: 0;
      vertical-align: inherit;
      text-align: center;
    }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px; }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0; }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    position: relative;
    padding: 7px 20px;
    color: #435966; }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #71b6f9; }
  #topnav .navigation-menu > li .submenu li.has-submenu > a:after {
    content: "\F140";
    font-family: "Material Design Icons";
    position: absolute;
    right: 30px; }
  #topnav .navigation-menu > li .submenu.open {
    display: block; }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none; }
  #topnav .navigation-menu > li .submenu .submenu.open {
    display: block; }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul {
    list-style: none;
    padding-left: 0; }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
    display: block;
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #435966; }
  #topnav .navigation-menu > li.has-submenu.open > a {
    color: #71b6f9; }
  #topnav .navbar-header {
    float: left; }

  #navigation {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff; }

  #navigation.open {
    display: block;
    overflow-y: auto; }

  #topnav .has-submenu.active a {
    color: #71b6f9; }
    #topnav .has-submenu.active a:active, #topnav .has-submenu.active a:focus, #topnav .has-submenu.active a i {
      color: #71b6f9; } }
@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0; }

  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
    margin-right: 0; }

  .navbar-toggle {
    display: block; } }
.topbar-custom {
  border-radius: 0;
  margin-bottom: 0; }
  .topbar-custom .nav-link {
    padding: 0;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.6); }
  .topbar-custom .dropdown-toggle:after {
    content: initial; }
  .topbar-custom .menu-left {
    overflow: hidden; }
  .offset-left-1 {
    padding-left: 1px !important;
}
  .offset-left {
    padding-left: 0px !important;
}
  .offset-right-1 {
    padding-right: 1px !important;
}
  .offset-right {
    padding-right: 0px !important;
}

.form-control.date {
    background-color: transparent !important;
}

/* Footer */
/*.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  text-align: left !important;
  padding: 20px 0;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  left: 0; }*/
